<section class="pisos-slider pure-u-1">

  <div class="h2-container pure-u-22-24">

    <h2>{% literal texts, 'location-nuestros-pisos-en', L %} {{ location | translate ('Name', L) | safe }}</h2>

    <button class="button-map-mobile pure-u-5-24">
      <img src="/assets/icons/map.png">
      <p>{% literal texts, 'location-ver-mapa', L %}</p>
    </button>

    <div class="calendar pure-u-1-1">
      <div class="reservas_form_div pure-u-1 pure-u-lg-1-2">           
      <form id="reservas_form" name="form_multi" method="GET">
        <button class="date-button">
          <label class="labels">{% literal texts, 'dates-entrada', L %}</label>
          <input type="text" id="in" onfocus="(this.type='date')" class="inputs" name="in" placeholder="02/06/2023"/>
        </button>   
        <button class="date-button">
          <label class="labels">{% literal texts, 'dates-salida', L %}</label>
          <input type="text" id="out" onfocus="(this.type='date')" class="inputs" name="out" placeholder="02/09/2023"/>
        </button>
      </form>
      </div>
    </div>

  </div>       

  <div class="carousel desktop">
    <div class="splide" id="sliderFlats" aria-label="Slider">           
      <div class="splide__track">

        <div class="splide__arrows arrows">
          <button type="button" class="arrow-nav splide__arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track">               
            <i class="icon-corchete-left"></i>
          </button>
          <button type="button" class="arrow-nav splide__arrow splide__arrow--next"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track">               
            <i class="icon-corchete-right"></i>
          </button>
        </div>  

        <ul class="splide__list carousel-main-list">

          {% for b in buildings %}
          {% if location.id == b.District.Location.id %}
          <li class="splide__slide main-slide">
            <div class="card-contain">
              <div class="card shadow desktop">

                <div class="ratio desktop">
                  <a href="flat.html">
                    {% image
                        constants.SERVER + "/wopi/files/Marketing/Media_building/" + b.Photos[0].id +"/Image/contents?access_token=" + token,
                        b.Name, b.Name, "card-img-top",
                        [800], ""
                    %}
                    <h3>{{b.Name}}</h3>
                  </a>
                </div>

                <div class="card-body d-flex flex-column">
                  <a href="flat.html">

                    <div class="flex-grow-1">
                        <p>{{ b | translate ('Description', L) | safe }}</p>
                    </div>

                    <div class="types">

                      <!-- Habitacion-compartida -->
                      <div class="room-type">
                        <img src="/assets/img/icono__hab_habitacion_compartida.svg">
                        <h4>{% literal texts, 'type-habitacion-compartida', L %}</h4>
                        <p>{% literal texts, 'price-desde', L %} XXX€/{% literal texts, 'price-mes', L %}</p>                           
                      </div>

                      <!-- Habitacion-individual -->
                      <div class="room-type">
                        <img src="/assets/img/icono__hab_habitacion_individual.svg">
                        <h4>{% literal texts, 'type-habitacion-individual', L %}</h4>
                        <p>{% literal texts, 'price-desde', L %} XXX€/{% literal texts, 'price-mes', L %}</p>
                        <!--
                        <div class="text-green"><p>SOLO QUEDAN 2 HABITACIONES</p></div>                           
                        -->
                      </div>

                      <!-- Apartamento-privado -->
                      <div class="room-type">
                        <img src="/assets/img/icono__hab_apartamento_privado.svg">
                        <h4>{% literal texts, 'type-apartamento-privado', L %}</h4>
                        <button class="btn-secondary green-button">{% literal texts, 'price-mas', L %}</button>
                      </div>

                    </div>

                  </a>

                  <div class="carousel-mini">
                    <div class="splide mini" id="sliderMini" aria-label="SliderMini">           
                      <div class="splide__track"> 
                        <div class="splide__arrows arrows-mini">
                          <button type="button" class="arrow-mini splide__arrow splide__arrow--prev"
                              type="button"
                              aria-label="Previous slide"
                              aria-controls="splide01-track">               
                              <em class="icon-corchete-left"></em>
                          </button>
                          <button type="button" class="arrow-mini splide__arrow splide__arrow--next"
                              type="button"
                              aria-label="Next slide"
                              aria-controls="splide01-track">               
                              <em class="icon-corchete-right"></em>
                          </button>
                        </div>         
                        <ul class="splide__list list-mini">
                          {% for s in b.Services %}
                          <li class="splide__slide">
                            <div class="card shadow">
                              <div class="ratio carousel-ratio">
                                {% svg 
                                  constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Service.Images[0].id +"/Icon/contents?access_token=" + token,
                                  s.Name
                                %}
                                <p>{{s.Service|translate('Name', L)}}</p>
                              </div>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}

        </ul>          

      </div>
    </div>        
  </div>

  <div class="pisos mobile pure-u-1">
    <div class="piso-contain pure-u-1">
      {% for b in buildings %}
      <div class="piso-main pure-u-1">

        <div class="img pure-u-1">
          {% image
              constants.SERVER + "/wopi/files/Marketing/Media_building/" + b.Photos[0].id +"/Image/contents?access_token=" + token,
              b.Name, b.Name, "card-img-top",
              [800], ""
          %}
        </div>

        <div class="piso pure-u-1">
          <h3>{{b.Name}}</h3>               
          <div class="options pure-u-1">                
            <div class="type pure-u-22-24">
              <div class="img-container pure-u-2-24">
                <img src="/assets/img/icono__hab_habitacion_individual.svg">
              </div>
              <div class="h4-container pure-u-12-24">
                <h4>{% literal texts, 'type-habitacion-individual', L %}</h4>
              </div>
              <div class="p-container pure-u-8-24">
                <span>{% literal texts, 'price-desde', L %}<span>
                <p>XXX€/{% literal texts, 'price-mes', L %}</p>
              </div>
            </div>
            <div class="type pure-u-22-24">
              <div class="img-container pure-u-2-24">
                <img src="/assets/img/icono__hab_habitacion_compartida.svg">
              </div>
              <div class="h4-container pure-u-12-24">
              <h4>{% literal texts, 'type-habitacion-compartida', L %}</h4>
              </div>
              <div class="p-container pure-u-8-24">
              <span>{% literal texts, 'price-desde', L %}<span>
              <p>XXX€/{% literal texts, 'price-mes', L %}</p>
              </div>                       
            </div>
            <div class="type pure-u-22-24">
              <div class="img-container pure-u-2-24">
                <img src="/assets/img/icono__hab_apartamento_privado.svg">
              </div>
              <div class="h4-container pure-u-12-24">
              <h4>{% literal texts, 'type-apartamento-privado', L %}</h4>
              </div>
              <div class="button-container pure-u-8-24">
              <button class="btn-secondary green-button">{% literal texts, 'price-mas', L %}</button>
              </div>
            </div>
          </div>
          <ul class="services-list pure-u-1">
            <li>
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </li>
            <li>
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </li>
            <li>
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </li>
            <li>
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </li>
            <li>
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </li>
          </ul>                
        </div>

      </div>
      {% endfor %}
    </div>  
  </div>

</section>

<!-- Sliders -->
{% block footer %}
{% set script %}
// Slider
new Splide('#sliderMini', {
   type: 'loop',
   gap: '2em',
   perPage: 4,
   breakpoints: {
      1400: { perPage: 3 },
    },
}).mount();
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}