<!-- Additional HEAD content -->
{% block head %}
<link rel="stylesheet" href="/assets/css/location.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

<!-- Main -->
<main class="location">
  <section class="location">
    <div class="container-main">
    {% include 'shared/sections/location/first.html.njk' %}
    {% include 'shared/sections/location/flat.html.njk' %}
    </div> 
  </section>
  <section class="map"><div class="map" id="map"></div></section>
  {% include 'shared/sections/location/services.html.njk' %}
</main>

<!-- Scripts -->
{% set script %}
{% include "shared/js/map.js" %}
var map = createMap("map", 41.3933, 2.1377, 16);
var markerArray = [];
{% for b in buildings-%}
{%-if b.District.Location.Name == location.Name-%}
{{map}}
markerArray.push(putMarker(
  map, 
  {{b.Lat_lon.slice(1,-1).split(',')[0]}}, 
  {{b.Lat_lon.slice(1,-1).split(',')[1]}},
   `<div class="popup">
      <img src="/assets/img/pisos/napoles.png">
      <div class="info">
        <div class="address">{{b.Name}}</div>
        <div class="from">desde</div>
        <div class="price">XXX€/mes</div>
      </div>
    </div>`
  ));
{%-endif-%}
{%-endfor-%}
if (markerArray.length > 0) {
  var group = L.featureGroup(markerArray).addTo(map);
  map.fitBounds(group.getBounds());
}
{% endset %}<script>{{ script | jsmin | safe }}</script>

<script>
new Splide('#sliderFlats', { type: 'loop', gap: '10em' ,focus: 'center', padding: '5rem' }).mount();
</script>