<section class="all-locations pure-u-1 {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}" >
  <div class="locations-container pure-u-1">
   {% if site == 'vanguard' %}
    <!-- Title -->
    <div class="text-container pure-u-1 ">
      <h1 class="head1 title-where">
        {% literal texts, 'home-localizaciones-titulo', L %}
      </h1>
    </div>
    {% else %}
    <!-- Title -->
    <div class="text-container cotown pure-u-1 ">
      <h1 class="head1 title-where">
        {% literal texts, 'home-localizaciones-titulo', L %}
      </h1>
    </div>
    {% endif %}
    
    <section class="locations-list pure-u-1">
      <div class="list-container pure-u-1">

        {% for l in locations %}

        {% set rooms = false %}
        {% set flats = false %}
        {% set residences = buildings | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'eq', 3) | length > 0 %}
        {% for b in buildings | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'lt', 3) %}
          {% set ra = b.Resources | find('Sale_type', 'eq', 'ambos') | length %}
          {% set rp = b.Resources | find('Sale_type', 'eq', 'plazas') | length  %}
          {% set rc = b.Resources | find('Sale_type', 'eq', 'completo') | length  %}
          {% if ra > 0 or rp > 0 %}{% set rooms = true %}{% endif %}
          {% if ra > 0 or rc > 0 %}{% set flats = true %}{% endif %}
        {% endfor %}

        {% if rooms or flats or residences %}
        <div class="location pure-u-1">

          <!-- Location -->
          <div class="img-text pure-u-1">
            <div class="img-cont pure-u-1 pure-u-lg-1-3">
              <div class="img pure-u-1">
                {% for i in l.Images | find('Image_type', 'eq', 'principal') %}
                {% if loop.index == 1 %}
                {% image
                  constants.SERVER + "/wopi/files/Marketing/Media_location/" + i.id +"/Image/contents?access_token=" + token,
                  L, l.Name, l.Name, l.Name + '-' + i.id | slugify, "",
                  [800], ""
                %}
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="text-content pure-u-1 pure-u-lg-22-24">
              <h2 class="head2 location-title">{{l | translate('Name', L)}}</h2>
              <p class="body1">{{l.Texts[0] | translate('Description', L)}}</p>
            </div>
          </div>

          <!-- Typologies -->
          <div class="types pure-u-1">         
            <div class="type-list pure-u-1">

              {% if rooms %}
              <a class="primary" href="{{root}}{{langs[L].folder}}/{{langs[L].pages['rooms'].url}}-{{l | translate('Name', L) | slugify}}.html">
                <img class="img" src="{{root}}/assets/img/corner.svg"></img>
                <div class="label-content">
                  <img class="icon" alt="" src="{{root}}/assets/img/icono__tipo_piso_compartido.svg"></img>
                  {% if site == 'vanguard' %}
                  {% else %}
                    <div class="mini-border"></div>
                  {% endif %}                  
                  <p>{% literal texts, 'home-pisazos-piso', L %}<br>{% literal texts, 'home-pisazos-compartido', L %}</p>
                </div>
              </a>
              {% endif %}
              
              {% if flats %}
              <a class="button-primary" href="{{root}}{{langs[L].folder}}/{{langs[L].pages['flats'].url}}-{{l | translate('Name', L) | slugify}}.html">
                <img class="img" src="{{root}}/assets/img/corner.svg"></img>
                <div class="label-content">
                  <img class="icon" alt="" src="{{root}}/assets/img/icono__tipo_apartamento_privado.svg"></img>
                  {% if site == 'vanguard' %}
                  {% else %}
                    <div class="mini-border"></div>
                  {% endif %}                  
                  <p>{% literal texts, 'home-pisazos-apartamento', L %}<br>{% literal texts, 'home-pisazos-privado', L %}</p>
                </div>
              </a>
              {% endif %}

              {% if residences %}
              {% set b = buildings | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'eq', 3) | first %}
              <a class="button-primary" href="{{root}}{{langs[L].folder}}/{{b.Name | slugify}}.html">
                <img class="img" src="{{root}}/assets/img/corner.svg"></img>
                <div class="label-content">
                  <img class="icon" alt="" src="{{root}}/assets/img/icono__tipo_residencia_universitaria.svg"></img>
                  <p>{% literal texts, 'home-pisazos-residencia', L %}<br>{% literal texts, 'home-pisazos-universitaria', L %}</p>
                </div>
              </a>
              {% endif %}
  
            </div>
          </div>

        </div>
        {% endif %}
        {% endfor %}

      </div>
    </section>    
  </div>

</section>