---
date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page

pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

permalink: "/{{langs[L].folder}}/{{url.faqs[L]}}.html"
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
    {% for b in faqs %}
    <h2>{{ b.Name }}</h2>
    <ul>
      {%- for d in b.Questions %}
        <li><h3>{{ d.Question }}<h3></li>
        <ul><li>{{ d.Response | markdown | safe }}</li></ul>
      {%- endfor %}
    </ul>    
    {% endfor %}
</body>

</html>
