---
permalink: "json/index.json"
---
{%-set comma = 0-%}
[
{% for item in faqs %}{%-for subitem in item.Questions-%}
{%-if comma > 0-%}
,
{% endif-%}
{"url":"{{ subitem.id }}","question":"{{ subitem.Question }}"}
{%-set comma = 1-%}
{%-endfor-%}{% endfor %}
]