---
date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page

pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

permalink: "/{{langs[L].folder}}/{{url.locations[L]}}.html"
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
    <!-- Multilanguage labels -->
    <h1>{{text.titulo[L]}}</h1>

    <!-- Markdown in texts -->
    <p>{{text.texto[L] | markdown | safe}}</p>

    <!-- GraphQL data -->
    {% for b in locations %}
    {% image 
        constants.SERVER + "/wopi/files/Marketing/Media_location/" + b.Image[0].id +"/Image/contents?access_token=" + token, 
        b | translate('Name', L),
        "(min-width: 30em) 50vw, 100vw", 
        b | translate('Name', L) | lower
    %}  
    <p>{{ b | translate('Name', L) }}</p>
    {% endfor %}
</body>

</html>
