---
date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page

pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

permalink: "/{{langs[L].folder}}/{{url.locations[L]}}.html"
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
    <!-- Multilanguage labels -->
    <h1>{{text.titulo[l]}}</h1>

    {% image "https://experis.flows.ninja/wopi/files/Marketing/Media_building/1/Image/contents?access_token="+token, "Imagen", "(min-width: 30em) 50vw, 100vw", "building" %}
    
    <!-- Markdown in texts -->
    <p>{{text.texto[L] | markdown | safe}}</p>

    <!-- GraphQL data -->
    {% for b in locations %}
    <p>{{ b.Name_en }}</p>
    <ul>
      {%- for d in b.Districts %}
        <li>{{ d.Name }}</li>
      {%- endfor %}
    </ul>    
    {% endfor %}
</body>

</html>
