---
date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page

pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

permalink: "/{{langs[L].folder}}/texts.html"
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
    <p>{{ texts['BODY'][L] | markdown | safe }}</p>
</body>

</html>
