<section class="cotownity cotown">
  <div class="container-cotownity cotown pure-g">
    <div class="container-img pure-u-1">
      <div class="left">
        <div class="redes-contain">
          <div class="insta-fb">
            <em class="icon-instagram"></em>
            <em class="icon-facebook"></em>
          </div>
        </div>
        <div class="head2">{{ literal('home-cotownity-titulo', L) }}</div>
        <div class="head2 title-feel">{{ literal('home-cotownity-hashtag', L) }}</div>
      </div>
      {{ image(images['cotownity'], alt='community') }}
    </div>

    <!-- Widget instagram -->
    <div class="container-widget">
      <div class="widget">
        {{ literal('home-cotownity-tag', L) }}
      </div>
    </div>
  </div>
</section>

<section class="cotownity-mobile">
  <div class="container-cotownity cotown pure-g">
    <div class="container-img pure-u-1">
      <div class="left">
        <div class="redes-contain">
          <div class="insta-fb">
            <em class="icon-instagram"></em>
            <em class="icon-facebook"></em>
          </div>
        </div>
        <div class="head2">{{ literal('home-cotownity-titulo', L) }}</div>
        <div class="head2 title-feel">{{ literal('home-cotownity-hashtag', L) }}</div>
      </div>
      {{ image(images['cotownity'], alt='community') }}
    </div>
  </div>
  {{ literal('home-cotownity-tag-mobile', L) }}
</section>
