<section class="locations cotown">

  <div class="text-container">
    <h2 class="head2 title cotown">
      {{ literal('home-localizaciones-titulo', L) }}
    </h2>
  </div>

  <div class="cotown carousel splide-locations splide" role="group">
    <div class="splide__track">
      <ul class="splide__list">
        {% for l in locations %}
        <li class="splide__slide">
          <a href="{{ root }}{{ langs[L].folder }}/{{ langs[L].pages['rooms'].url }}-{{ l | translate('Name', L) | slugify }}.html">
          <div class="img">
            {{ image(l.image, alt=l.Name) }}
            <div class="text-slide">
              <h5 class="head5 img-title">{{ l.Name }}</h5>
              <div class="line"></div>
            </div>
          </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</section>
