<section class="main-header pure-g">

  <!-- Formulario -->
  <div class="left cotown pure-u-lg-5-24">
    <div class="text-container desktop">
      <p class="head1 pure-u-1">{{ literal('home-bienvenido', L) }}</p>
    </div>
    <div class="basic-searcher pure-u-1">
      <label class="label">{{ literal('home-bienvenido-donde', L) }}:</label>
      <select id="city" name="city" class="pure-u-1" onchange="get_types(this.value);" required>
        <option value="" disabled selected>{{ literal('home-donde-seleccionar', L) }}</option>
        {% for l in locations %}
        <option value="{{ l.id }}">{{ l | translate('Name', L) }}</option>
        {% endfor %}
      </select>
      <select style="display:none;" id="type" name="type" class="pure-u-1" onchange="sessionStorage.setItem('path_type', this.value);" required></select>
      <div class="calendar pure-u-1">
        <div class="pure-u-1">
          <label class="label" for="from">{{ literal('home-bienvenido-cuando', L) }}:</label>
          <div class="date">
            <span onclick="open_calendar();">
            <input class="input" type="text" id="dates" name="dates"
                  placeholder="{{ literal('cal-seleccionar-fechas', L) }}"
                  required>
            <em class="icon-calendar"></em>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="button-search">
      <a href="#" onclick="go();">
      <button class="btn-text search desktop cotown"><em class="icon-search"></em>{{ literal('button-buscar', L) }}</button>
      <button class="btn-secondary search mobile"><em class="icon-search"></em>{{ literal('button-buscar', L) }}</button>
      </a>
    </div>
    <div class="sello-cotown pure-u-1">
      <img class="img-sello" alt="sello" src="{{ root }}/assets/img/sello.svg">
    </div>
  </div>

  <div id="video" class="video cotown featured-bg-image">
    <div class="text-container mobile pure-u-1-2">
      <h1 class="head1 pure-u-1">{{ literal('home-bienvenido', L) }}</h1>
      <div class="sello-cotown pure-u-1">
        <img class="img-sello" alt="sello" src="{{ root }}/assets/img/sello.svg">
      </div>
    </div>
    <div class="video-home">
      <!-- Image -->
      {{ image(images['home'], alt='home') }}
      <!-- Promo -->
      {% set rent_pct = promos | map(attribute='Value_rent_pct') | map('float') | min if promos else 0.0 %}
      {% set fee_pct = promos | map(attribute='Value_fee_pct') | map('float') | min if promos else 0.0 %}
      {% if rent_pct < 0 %}
      <div class="sticker sticker-primary animated">
        <span class="line1">{{ literal('promo-upto', L) }} {{ rent_pct | round(1) }}% {{ literal('promo-discount', L) }}</span>
        <span class="line2">{{ literal('promo-rent', L) }}</span>
      </div>
      {% endif %}
      {% if fee_pct < 0 %}
      <div class="sticker sticker-secondary animated">
        <span class="line1">{{ literal('promo-upto', L) }} {{ fee_pct | round(1) }}% {{ literal('promo-discount', L) }}</span>
        <span class="line2">{{ literal('promo-fee', L) }}</span>
      </div>
      {% endif %}
    </div>
  </div>

</section>

<!-- Calendar -->
{% include 'sections/common/calendar.html' %}

<script>
// Types
const types = [
{% for l in locations %}
{
  id: {{ l.id }},
  city: "{{ l | translate('Name', L) }}",
  type: "Piso compartido",
  link: "{{ root }}{{ langs[L].folder }}/{{ langs[L].pages.rooms.url }}-{{ l | translate('Name', L) | slugify }}.html",
  value: "{{ literal('home-pisazos-piso', L) }} {{ literal('home-pisazos-compartido', L) }}"
},
{
  id: {{ l.id }},
  city: "{{ l | translate('Name', L) }}",
  type: "Apartamento privado",
  link: "{{ root }}{{ langs[L].folder }}/{{ langs[L].pages.flats.url }}-{{ l | translate('Name', L) | slugify }}.html",
  value: "{{ literal('home-pisazos-apartamento', L) }} {{ literal('home-pisazos-privado', L) }}"
},
{% endfor %}
];

// Link
function go() {
  city = sessionStorage.getItem("book_city_id") || "";
  if (city === "")
    document.getElementById("city").classList.add("input-error");
  checkin = sessionStorage.getItem('book_checkin') || "";
  if (checkin === "")
    document.getElementById("dates").classList.add("input-error");
  if (city != "" && checkin != "") {
    location.href = document.getElementById("type").value;
  }
}

// Get accomodation types by city
function get_types(value) {

  // Empty list
  list = document.getElementById("type");
  list.innerHTML = "";

  // Get city
  if (!value) return;
  city = document.getElementById("city")
  city.value = value;
  city.classList.remove("input-error")
  sessionStorage.setItem("book_city_id", value);

  // Fill building list
  for (var i = 0; i < types.length; i++) {
    if (types[i].id == value) {
      var opt = document.createElement("option");
      opt.value = types[i].link;
      opt.text = types[i].value;
      list.add(opt);
    }
  }
  sessionStorage.setItem("path_type", document.getElementById("type").value);
}

// When calendar closes
window.addEventListener("calendar", function(e) {
  document.getElementById("dates").value = format_dates(e.detail.checkin, e.detail.checkout, "{{ L }}");
  document.getElementById("dates").classList.remove("input-error");
});

// Get data from session
get_types(sessionStorage.getItem("book_city_id"));
document.getElementById("type").value  = sessionStorage.getItem("path_type");
checkin  = sessionStorage.getItem("book_checkin");
checkout = sessionStorage.getItem("book_checkout");
document.getElementById("dates").value = format_dates(checkin, checkout, "{{ L }}");
</script>
