.servicios {
    margin: 3em 0 4em;
    width: 100%;
    text-align: center;
}
.servicios .servicios-container {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 2em 6em;
}
.servicios .text-container .title {
    text-align: center;
    text-transform: uppercase;
}
.servicios .servicios-container .services-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.servicios .servicios-container .services-cards .card {
    width: calc(33% - 32px);
    margin: 1em 0;
    padding: 1em;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.servicios .servicios-container .services-cards .card:hover {
    background-color: var(--white-background);
}
.servicios .servicios-container .services-cards .card img,
.servicios .servicios-container .services-cards .card svg {
    width: 100px;
}
.servicios .servicios-container .services-cards .card p,
.servicios .servicios-container .services-cards .card h3 {
    margin-bottom: 0;
}
.servicios .servicios-container .services-cards .card p.bold,
.servicios .servicios-container .services-cards .card h3.bold {
    font-weight: 700;
    font-size: var(--fs-large);
    line-height: 26px;
    min-height: 2em;
    margin: 0;
}
.servicios .servicios-container .services-cards .card p.text {
    font-weight: var(--regular);
    font-size: var(--fs-xx-small);
}
.servicios.cotown {
    margin: 3em 0 4em;
    width: 100%;
    text-align: center;
    padding: 40px 0 0;
    background-color: var(--new-bg);
}
.servicios.cotown .text-container .title {
    text-transform: none;
}
.servicios.cotown .servicios-container .services-cards {
    justify-content: flex-start;
    align-items: flex-start;
}
.servicios.cotown .servicios-container .services-cards .card {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
}
.servicios.cotown .servicios-container .services-cards .card p.bold,
.servicios.cotown .servicios-container .services-cards .card h3.bold {
    margin: 1.5em 0 0;
    min-height: 1.5em;
    text-align: left;
    font-weight: var(--semibold);
    text-transform: uppercase;
    margin-bottom: 0.5em;
    min-height: 52px;
}
.servicios.cotown .servicios-container .services-cards .card p.text {
    margin: 0;
    text-align: left;
    font-weight: var(--regular);
    font-size: var(--fs-xx-small);
}
@media only screen and (max-width: 63.99em) {
	.servicios .text-container .title,
    .opinions .text-container .title {
        text-align: left;
        padding: 0 0.5em 0.2em;
    }
	.servicios.cotown {
        background-color: var(--white);
    }
	.servicios.cotown .servicios-container {
        padding: 1em;
    }
	.servicios.cotown .servicios-container .services-cards .card {
        width: calc(50% - 32px);
        align-items: center;
    }
	.servicios .servicios-container .services-cards .card img, .servicios .servicios-container .services-cards .card svg {
        width: 60px;
    }
	.servicios.cotown .servicios-container .services-cards .card p.bold,
    .servicios.cotown .servicios-container .services-cards .card h3.bold {
        font-size: var(--fs-xx-small);
        line-height: 1.2;
        text-align: center;
        margin-bottom: 0.5em;
    }
	.servicios.cotown .servicios-container .services-cards .card p.text {
        font-size: var(--fs-xx-small);
        line-height: 1.2;
        text-align: center;

    }
}
@media only screen and (max-width: 47.99em) {
	.servicios .servicios-container .services-cards .card {
        width: calc(100% - 32px);
    }
}
