<div class="carousel-mini">
    <div class="splide mini" id="sliderMini" aria-label="SliderMini">            
    <div class="splide__track">  
        <div class="splide__arrows arrows-mini">
        <button type="button" class="arrow-mini splide__arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track">                
            <em class="icon-corchete-left"></em>
        </button>
        <button type="button" class="arrow-mini splide__arrow splide__arrow--next"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track">                
            <em class="icon-corchete-right"></em>
        </button>
        </div>          
        <ul class="splide__list list-mini">
        <li class="splide__slide">
            <div class="card shadow">
            <div class="ratio carousel-ratio">
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </div>
            </div>
        </li>
        <li class="splide__slide">
            <div class="card shadow">
            <div class="ratio carousel-ratio">
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </div>
            </div>
        </li>
        <li class="splide__slide">
            <div class="card shadow">
            <div class="ratio carousel-ratio">
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </div>
            </div>
        </li>
        <li class="splide__slide">
            <div class="card shadow">
            <div class="ratio carousel-ratio">
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </div>
            </div>
        </li>
        <li class="splide__slide">
            <div class="card shadow">
            <div class="ratio carousel-ratio">
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </div>
            </div>
        </li> 
        <li class="splide__slide">
            <div class="card shadow">
            <div class="ratio carousel-ratio">
                <img src="/assets/icons/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                <p>2 habitaciones con cama doble</p>
            </div>
            </div>
        </li> 
        </ul>
    </div>
    </div>
</div> 

