<!-- Additional CSS -->
{% block css %}
<link rel="stylesheet" href="/assets/css/location.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<style>#map { width:100%; height: 600px; }</style>
<link rel="stylesheet" href="/assets/css/splide.min.css" />
{% endblock %}

<!-- Main -->
<main class="home">
  <section class="location">
    <div class="container-main">
      
      <section class="first-contain">         

        <h1>{{location | translate('Name', L)}}</h1>

        <div id="video" class="video-loc">

          <div class="video featured-bg-image">
            <video playsinline="true" width="100%" style="object-fit: cover;" autoplay="true" muted="true" loop="true" preload="auto" controls="1">Sorry, your browser doesn't support embedded videos.<source type="video/mp4" src="https://cotown.com/wp-content/uploads/2022/11/pexels-lazar-krstić-10801859-online-video-cutter.com_.mp4"></video>
          </div>

          <div class="description text">
              <p>{{location | translate('Description', L)}}</p>
              <div class="expansion">
                <input type="checkbox" class="tab" id="tab1" tabindex="0"/>
                <div class="content">
                  <p>{{location | translate('Details', L)}}</p>
                </div>
                <label name="tab" for="tab1" tabindex="-1" class="tab_lab" role="tab">
                  <span class="open-close-icon"><em class="icon-CorcheteDown"></em></span>
                  <p><span class="more">Leer más</span></p>
                  <p><span class="less">Leer menos</span></p>
                </label>
              </div>
          </div>

        </div>

      </section>

      <section class="pisos-slider pure-u-1">         
        <h2>NUESTROS PISAZOS<br>EN BARCELONA</h2>
        <div class="carousel">
        <div class="splide" id="slider" aria-label="Slider" data-splide='{"type":"loop","perPage":3, "padding":"20%", "focus":"center"}'>            
          <div class="splide__track">  
            <div class="splide__arrows arrows">
              <button type="button" class="arrow-nav splide__arrow splide__arrow--prev"
                type="button"
                aria-label="Previous slide"
                aria-controls="splide01-track">                
                <i class="icon-CorcheteLeft"></i>
              </button>
              <button type="button" class="arrow-nav splide__arrow splide__arrow--next"
                type="button"
                aria-label="Next slide"
                aria-controls="splide01-track">                
                <i class="icon-CorcheteRight"></i>
              </button>
            </div>          
            <ul class="splide__list carousel-list">
              <li class="splide__slide prueba1">
                <div class="card shadow ">
                    <div class="ratio">
                      <img src=".//src/assets/img/pisos/napoles-slider.png" class="card-img-top" loading="lazy" alt="napoles">
                      <h3>NÀPOLES</h3>
                    </div>
                   <div class="card-body d-flex flex-column flex-md-row">
                        <div class="flex-grow-1">
                            <p>La definición de un ciudadano con suerte cobra sentido.</p>
                        </div>
                        <div class="types">
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/shared-room.png">
                            <h4>HABITACIÓN CONPARTIDA</h4>
                            <p>Desde XXX€/mes</p>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/individual-room.png">
                            <h4>HABITACIÓN INDIVIDUAL</h4>
                            <p>Desde XXX€/mes</p>
                            <div class="text-green"><p>SOLO QUEDAN 2 HABITACIONES</p></div>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/llaves.png">
                            <h4>APARTEMENTO CONPARTIDA</h4>  
                            <button class="btn-secondary green-button">Ver más</button>
                          </div>
                        </div>
                    </div>
                </div>
              </li>
              <li class="splide__slide prueba2">
                <div class="card shadow ">
                    <div class="ratio">
                        <img src=".//src/assets/img/pisos/napoles-slider.png" class="card-img-top" loading="lazy" alt="napoles">
                        <h3>NÀPOLES</h3>
                    </div>
                   <div class="card-body d-flex flex-column flex-md-row">
                        <div class="flex-grow-1">
                            <p>La definición de un ciudadano con suerte cobra sentido.</p>
                        </div>
                        <div class="types">
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/shared-room.png">
                            <h4>HABITACIÓN CONPARTIDA</h4>
                            <p>Desde XXX€/mes</p>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/individual-room.png">
                            <h4>HABITACIÓN INDIVIDUAL</h4>
                            <p>Desde XXX€/mes</p>
                            <div class="text-green"><p>SOLO QUEDAN 2 HABITACIONES</p></div>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/llaves.png">
                            <h4>APARTEMENTO CONPARTIDA</h4>  
                            <button class="btn-secondary green-button">Ver más</button>
                          </div>
                        </div>
                    </div>
                </div>              
              </li>
              <li class="splide__slide prueba 3">
                <div class="card shadow ">
                    <div class="ratio">
                        <img src=".//src/assets/img/pisos/napoles-slider.png" class="card-img-top" loading="lazy" alt="napoles">
                        <h3>NÀPOLES</h3>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="flex-grow-1">
                            <p>La definición de un ciudadano con suerte cobra sentido.</p>
                        </div>
                        <!-- CAROUSEL INTERNO -->
                        <div class="carousel-mini">
                          <div class="splide mini" id="sliderMini" aria-label="SliderMini">            
                            <div class="splide__track">  
                              <div class="splide__arrows arrows-mini">
                                <button type="button" class="arrow-mini splide__arrow splide__arrow--prev"
                                  type="button"
                                  aria-label="Previous slide"
                                  aria-controls="splide01-track">                
                                  <i class="icon-CorcheteLeft"></i>
                                </button>
                                <button type="button" class="arrow-mini splide__arrow splide__arrow--next"
                                  type="button"
                                  aria-label="Next slide"
                                  aria-controls="splide01-track">                
                                  <i class="icon-CorcheteRight"></i>
                                </button>
                              </div>          
                              <ul class="splide__list carousel-mini">
                                <li class="splide__slide">
                                  <div class="card shadow">
                                    <div class="ratio carousel-ratio">
                                      <img src=".//src/assets/images/icons-green/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                                      <p>2 habitaciones con cama doble</p>
                                    </div>
                                  </div>
                                </li>
                                <li class="splide__slide">
                                  <div class="card shadow">
                                    <div class="ratio carousel-ratio">
                                      <img src=".//src/assets/images/icons-green/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                                      <p>2 habitaciones con cama doble</p>
                                    </div>
                                  </div>
                                </li>
                                <li class="splide__slide">
                                  <div class="card shadow">
                                    <div class="ratio carousel-ratio">
                                      <img src=".//src/assets/images/icons-green/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                                      <p>2 habitaciones con cama doble</p>
                                    </div>
                                  </div>
                                </li>
                                <li class="splide__slide">
                                  <div class="card shadow">
                                    <div class="ratio carousel-ratio">
                                      <img src=".//src/assets/images/icons-green/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                                      <p>2 habitaciones con cama doble</p>
                                    </div>
                                  </div>
                                </li>
                                <li class="splide__slide">
                                  <div class="card shadow">
                                    <div class="ratio carousel-ratio">
                                      <img src=".//src/assets/images/icons-green/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                                      <p>2 habitaciones con cama doble</p>
                                    </div>
                                  </div>
                                </li> 
                                <li class="splide__slide">
                                  <div class="card shadow">
                                    <div class="ratio carousel-ratio">
                                      <img src=".//src/assets/images/icons-green/bed.svg" class="carousel-img-top" loading="lazy" alt="bed">
                                      <p>2 habitaciones con cama doble</p>
                                    </div>
                                  </div>
                                </li> 
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="types">
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/shared-room.png">
                            <h4>HABITACIÓN CONPARTIDA</h4>
                            <p>Desde XXX€/mes</p>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/individual-room.png">
                            <h4>HABITACIÓN INDIVIDUAL</h4>
                            <p>Desde XXX€/mes</p>
                            <div class="text-green"><p>SOLO QUEDAN 2 HABITACIONES</p></div>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/llaves.png">
                            <h4>APARTEMENTO CONPARTIDA</h4>  
                            <button class="btn-secondary green-button">Ver más</button>
                          </div>
                        </div>
                    </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="card shadow ">
                    <div class="ratio">
                        <img src=".//src/assets/img/pisos/napoles-slider.png" class="card-img-top" loading="lazy" alt="napoles">
                        <h3>NÀPOLES</h3>
                    </div>
                    <div class="card-body d-flex flex-column flex-md-row">
                        <div class="flex-grow-1">
                            <p>La definición de un ciudadano con suerte cobra sentido.</p>
                        </div>
                        <div class="types">
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/shared-room.png">
                            <h4>HABITACIÓN CONPARTIDA</h4>
                            <p>Desde XXX€/mes</p>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/individual-room.png">
                            <h4>HABITACIÓN INDIVIDUAL</h4>
                            <p>Desde XXX€/mes</p>
                            <div class="text-green"><p>SOLO QUEDAN 2 HABITACIONES</p></div>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/llaves.png">
                            <h4>APARTEMENTO CONPARTIDA</h4>  
                            <button class="btn-secondary green-button">Ver más</button>
                          </div>
                        </div>
                    </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="card shadow ">
                    <div class="ratio">
                        <img src=".//src/assets/img/pisos/napoles-slider.png" class="card-img-top" loading="lazy" alt="napoles">
                        <h3>NÀPOLES</h3>
                    </div>
                    <div class="card-body d-flex flex-column flex-md-row">
                        <div class="flex-grow-1">
                            <p>La definición de un ciudadano con suerte cobra sentido.</p>
                        </div>
                        <div class="types">
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/shared-room.png">
                            <h4>HABITACIÓN CONPARTIDA</h4>
                            <p>Desde XXX€/mes</p>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/individual-room.png">
                            <h4>HABITACIÓN INDIVIDUAL</h4>
                            <p>Desde XXX€/mes</p>
                            <div class="text-green"><p>SOLO QUEDAN 2 HABITACIONES</p></div>                            
                          </div>
                          <div class="room-type">
                            <img src=".//src/assets/images/icons-green/llaves.png">
                            <h4>APARTEMENTO CONPARTIDA</h4>  
                            <button class="btn-secondary green-button">Ver más</button>
                          </div>
                        </div>
                    </div>
                </div>
              </li>
            </ul>           
          </div>
        </div>
         

      </div>
    </div> 
    
    <div id="map"></div>

    <section class="necesidades">
      <div class="contain pure-u-1 pure-g">
        <div class="title pure-u-1 pure-u-lg-1-2">
          <h2>YA HEMOS PENSADO EN TODO LO QUE NECESITAS</h2>
        </div>
        <div class="text pure-u-1 pure-u-lg-1-2">
          <p>
          Y WI-FI, camas súper cómodas, servicio de mantenimiento...
          Todo lo necesario para que saques el máximo partido
          de tu estancia en Barcelona. 
          </p>
        </div>
        <div class="grid pure-u-1 pure-u-lg-3-4 pure-g">
          <div class="necesidad pure-u-1 pure-u-lg-11-24">
            <img src=".//src/assets/images/icons-green/bed.svg" alt="bed">
            <div class="p-title pure-u-11-12">
             <p>24h de asistencia en emergencias</p>
            </div>
            <div class="p-text pure-u-23-24">
             <p>No somos Nicole Kidman en Moulin Rouge, pero «pase lo que pase» estamos las 24h para cualquier urgencia.</p>
            </div>
          </div>
          <div class="necesidad pure-u-1 pure-u-lg-11-24">
            <img src=".//src/assets/images/icons-green/bed.svg" alt="bed">
            <div class="p-title pure-u-11-12">
             <p>24h de asistencia en emergencias</p>
            </div>
            <div class="p-text pure-u-23-24">
             <p>No somos Nicole Kidman en Moulin Rouge, pero «pase lo que pase» estamos las 24h para cualquier urgencia.</p>
            </div>
          </div>
          <div class="necesidad pure-u-1 pure-u-lg-11-24">
            <img src=".//src/assets/images/icons-green/bed.svg" alt="bed">
            <div class="p-title pure-u-11-12">
             <p>24h de asistencia en emergencias</p>
            </div>
            <div class="p-text pure-u-23-24">
             <p>No somos Nicole Kidman en Moulin Rouge, pero «pase lo que pase» estamos las 24h para cualquier urgencia.</p>
            </div>
          </div>
          <div class="necesidad pure-u-1 pure-u-lg-11-24">
            <img src=".//src/assets/images/icons-green/bed.svg" alt="bed">
            <div class="p-title pure-u-11-12">
             <p>24h de asistencia en emergencias</p>
            </div>
            <div class="p-text pure-u-23-24">
             <p>No somos Nicole Kidman en Moulin Rouge, pero «pase lo que pase» estamos las 24h para cualquier urgencia.</p>
            </div>
          </div>
          <div class="necesidad pure-u-1 pure-u-lg-11-24">
            <img src=".//src/assets/images/icons-green/bed.svg" alt="bed">
            <div class="p-title pure-u-11-12">
             <p>24h de asistencia en emergencias</p>
            </div>
            <div class="p-text pure-u-23-24">
             <p>No somos Nicole Kidman en Moulin Rouge, pero «pase lo que pase» estamos las 24h para cualquier urgencia.</p>
            </div>
          </div>
          <div class="necesidad pure-u-1 pure-u-lg-11-24">
            <img src=".//src/assets/images/icons-green/bed.svg" alt="bed">
            <div class="p-title pure-u-11-12">
             <p>24h de asistencia en emergencias</p>
            </div>
            <div class="p-text pure-u-23-24">
             <p>No somos Nicole Kidman en Moulin Rouge, pero «pase lo que pase» estamos las 24h para cualquier urgencia.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </section>
</main>



<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
{% set script %}
{% include "js/map.js" %}
var map = createMap("map", 41.3933, 2.1377, 16);
var markerArray = [];
{%-for l in buildings-%}
{%-if l.Name == location.Name-%}
{%-for d in l.districts-%}
{% for b in d.buildings-%}
{{map}}
markerArray.push(putMarker(map, {{b.Lat_lon.slice(1,-1).split(',')[0]}}, {{b.Lat_lon.slice(1,-1).split(',')[1]}}));
{%-endfor-%}
{%-endfor-%}
{%-endif-%}
{%-endfor-%}
var group = L.featureGroup(markerArray).addTo(map);
map.fitBounds(group.getBounds());
{% endset %}
<script>{{ script | jsmin | safe }}</script>
<!-- SLIDER -->
<script src="/includes/js/splide.min.js"></script>
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '#splide' );
    splide.mount();
  } );
</script>
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '#sliderMini',{
      type   : 'loop',
      perPage: 3,
    } );
    splide.mount();
  } );
</script>

   
