<!-- Additional CSS -->
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9/dist/leaflet.css" />
<style>#map { height: 600px; }</style>
{% endblock %}

<!-- Main -->
<main class="home">

  <div class="container-main">
    <h1>{{location | translate('Name', L)}}</h1>
  </div>

  <div id="map"></div>

</main>

<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  var map = L.map('map').setView([41.3933, 2.1377], 16);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
    maxZoom: 18,
  }).addTo(map);
  var markerArray = [];
  {%-for l in buildings-%}
  {%-if l.Name == location.Name-%}
  {%-for d in l.districts-%}
  {% for b in d.buildings-%}
  markerArray.push(L.marker([{{b.Lat_lon.slice(1,-1).split(',')[0]}}, {{b.Lat_lon.slice(1,-1).split(',')[1]}}]).addTo(map));
  {%-endfor-%}
  {%-endfor-%}
  {%-endif-%}
  {%-endfor-%}
  var group = L.featureGroup(markerArray).addTo(map);
  map.fitBounds(group.getBounds());
</script>
