<section class="first-contain pure-u-lg-7-12">
<div class="title-big home">
    <!--$$
    <h2 class="h2-big">¿QUE ES COTOWN?</h2>
    <p class="text">
    Si has llegado hasta aquí es porque te mueres por saber qué es COTOWN.Cotown llega al mercado para
    revolucionar el concepto de Coliving en España. Pero, sobre todo, brindar la oportunidad a los futuros
    cotowners, tanto nómadas digitales internacionales como jóvenes profesionales nacionales, de ser
    «ciudadanos con suerte».
    </p>
    <p class="text">
    Desde la crew de COTOWN, nos proponemos cubrir y dar apoyo a esta nueva necesidad de vivienda temporal
    para impulsar la optimización de los espacios dentro de los pisos y transformarlos en un hogar moderno,
    tecnológico y adaptable a cualquier circunstancia. El 100% de nuestra energía está dedicada a hacer que te
    sientas como en casa, rollo ¿ese protagonista de película de Netflix con un pisazo en el centro de una
    ciudad muy molona? Pues ese.
    <span class="bold"> ¡Bienvenid@!</span>
    </p>
    -->
    <h2 class="h2-big">{% literal texts, 'home-que-es-cotown-title', L %}</h2>
    <div class="text">{% literal texts, 'home-que-es-cotown-text', L, true %}</div>
</div>
</section>
