<section class="pisos">
<h2 class="twelve columns">ELIGE TU PISAZO</h2>
<div class="pisos-imgs twelve columns">
    <div class="pisos-container">
    <div class="img-container">
        <div class="img apartm"></div>
        <h3 class="img-title1">
        <span>APARTAMENTO</span>
        <div class="subrayado"></div>
        </h3>
        <h3 class="img-title2">
        <span>PRIVADO</span>
        <div class="subrayado"></div>
        </h3>
    </div>
    <div class="img-container">
        <div class="img piso"> </div>
        <h3 class="img-title1">
        <span>PISO</span>
        <div class="subrayado"></div>
        </h3>
        <h3 class="img-title2">
        <span>COMPARTIDO</span>
        <div class="subrayado"></div>
        </h3>
    </div>
    </div>
</section>
