<section class="pisos">
    <div class="text-container">
        <h2 class="twelve columns">ELIGE TU PISAZO</h2>
    </div>
    <div class="pisos-imgs">
        <div class="pisos-container">
            <div class="img-container">
                <div class="img-apartm">
                    <div class="img">
                        <img src=".//src/assets/img/apartm.png">
                    </div>
                    <div class="img-title1">
                        <span>APARTAMENTO</span>
                        <div class="subrayado"></div>
                    </div>
                    <div class="img-title2">                    
                        <span>PRIVADO</span>
                        <div class="subrayado"></div>
                    </div>
                </div>
            </div>
            <div class="img-container">
                <div class="img-piso">
                    <div class="img">
                        <img src=".//src/assets/img/piso.png">
                    </div>
                
                    <div class="img-title1">
                        <span>PISO</span>
                        <div class="subrayado"></div>
                    </div>
                    
                    <div class="img-title2">
                        <span>COMPARTIDO</span>
                        <div class="subrayado"></div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
