<section class="locations">

  <div class="text-container">
    <h2 class="title twelve columns">
      {% literal texts, 'home-donde-quieres-vivir-title', L %}
    </h2>
  </div>

  <div class="carousel splide-locations splide" role="group">
    <div class="splide__track">
      <ul class="splide__list">
        {% for l in locations %}
        <li class="splide__slide">
          <a href="{{langs[L].folder}}/{{l | translate('Name', L) | ascii}}.html">
          <div class="img">
            {% image 
              constants.SERVER + "/wopi/files/Marketing/Media_location/" + l.Image[0].id +"/Image/contents?access_token=" + token, 
              l.Name, l.Name|slug, "",
              [800], ""
            %}
            <h3 class="img-title">{{l.Name}}</h3>
          </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</section>
