<section class="locations">
<h2 class="h2-where">{% literal texts, 'home-donde-quieres-vivirº', L %}</h2>
<div class="carousel">

    <div class="carousel-locations">
        <!--
        {% for loc in locations %}
            <div class="img-container">
                <div class="img mad">
                </div>
                <h3 class="img-title">{{loc.Name}}</h3>
            </div>
        {% endfor %}
        -->
        <div class="img-container">
            <div class="img mad">
            </div>
            <h3 class="img-title">Madrid</h3>
        </div>
        <div class="img-container">
            <div class="img barc">
            </div>
            <h3 class="img-title">BARCELONA</h3>
        </div>
        <div class="img-container">
            <div class="img val">
            </div>
            <h3 class="img-title">VALENCIA</h3>
        </div>
        <div class="img-container">
            <div class="img bilb">
            </div>
            <h3 class="img-title">BILBAO</h3>
        </div>
        <div class="img-container">
            <div class="img mad">
            </div>
            <h3 class="img-title">Madrid</h3>
        </div>
    </div>

    <ul class="arrows">
        <li class="arrow-locations">
            <em class="icon-CorcheteLeft center"></em>
        </li>
        <li class="arrow-locations">
            <em class="icon-CorcheteRight center"></em>
        </li>
    </ul>
    <div class="dots">
        <div class="dot"></div>
        <div class="dot active"></div>
    </div>

</div>
</section>
