<section class="main-header pure-g">

  <div class="left pure-u-1-4">

    <div class="text-container">
      <h1 class="pure-u-1">BIENVENIDO COTOWNER!</h1>
    </div>

    <div class="basic-searcher pure-u-1-1">

      <label class="label ">Quiero vivir en:</label>
      <select class="pure-u-1-1">
        <option></option>
        <option>Barcelona</option>
        <option>Valencia</option>
        <option>Bilbao</option>
      </select>

      <div class="calendar pure-u-1-1">
        <div class="from pure-u-1-2">
        <label class="label" for="from">Desde:</label>
        <input class="input pure-u-11-12" type="date" id="start" name="trip-from">
        </div>
        <div class="to pure-u-1-2">
        <label class="label" for="to">Hasta:</label>
        <input class="input pure-u-11-12" type="date" id="start" name="trip-to">
        </div>
      </div>

    </div>

    <div class="button-search">
      <button class="btn-primary">Encuentráme piso</button>
    </div>

  </div>

  <div id="video" class="video featured-bg-image">
    <div class="video-home">
    <video playsinline="true" width="100%" style="object-fit: cover;" autoplay="true" muted="true" loop="true" preload="auto" controls="1">Sorry, your browser doesn't support embedded videos.<source type="video/mp4" src="https://cotown.com/wp-content/uploads/2023/02/0W0A7742-2-1-1.mp4"></video>
    </div>
  </div>          

</section>
