<section class="main-header pure-g">
<div class="left pure-u-1-4">
    <h1 class="pure-u-1">BIENVENIDO COTOWNER!</h1>
    <div class="basic-searcher pure-u-1-1">
    <label class="label ">Quiero vivir en:</label>
    <select class="pure-u-1-1">
        <option></option>
        <option>Barcelona</option>
        <option>Valencia</option>
        <option>Bilbao</option>
    </select>
    <div class="calendar pure-u-1-1">
        <div class="from pure-u-1-2">
        <label class="label" for="from">Desde:</label>
        <input class="input pure-u-11-12" type="date" id="start" name="trip-from">
        </div>
        <div class="to pure-u-1-2">
        <label class="label" for="to">Hasta:</label>
        <input class="input pure-u-11-12" type="date" id="start" name="trip-to">
        </div>
    </div>
    </div>
    <div class="button-search">
    <button class="btn-primary">Encuentráme piso</button>
    </div>
</div>
<div id="video" class="video featured-bg-image">
    <div href="http://www.youtube.com/embed/EVpyXNiHVbE?autoplay=1" class="video-home">
    <em class="icon-ArrowRight center"></em>
    </div>
</div>          
</section>
