<section class="partners">
<div class="text-container">
<h2 class="title twelve columns">
    NUESTROS PARTNERS
</h2>
</div>
<div class="banner-partners">
    <div class="contain">
    <div class="img">
    </div>
    <div class="img">
    </div>
    <div class="img">
    </div>
    <div class="img">
    </div>
    </div>
    <div class="contain">
    <div class="img">
    </div>
    <div class="img">
    </div>
    <div class="img">
    </div>
    <div class="img">
    </div>
    </div>

</div>
</section>
