<section class="partners">

  <div class="text-container">
    <h2 class="title twelve columns">
      {% literal texts, 'home-nuestros-partners', L %}
    </h2>
  </div>

  <div class="banner-partners">
    <div class="contain">
      <div class="img">
      <img src="/assets/img/partners/01-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/02-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/03-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/04-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/05-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/06-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/07-partner.png">
      </div>
    </div>

    <div class="contain">  
      <div class="img">
      <img src="/assets/img/partners/01-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/02-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/03-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/04-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/05-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/06-partner.png">
      </div>
      <div class="img">
      <img src="/assets/img/partners/07-partner.png">
      </div>
    </div>

  </div>

</section>
