<section class="partners">

  <div class="text-container">
    <h2 class="title twelve columns">
      {% literal texts, 'home-nuestros-partners', L %}
    </h2>
  </div>

  <div class="splide-partners splide" role="group">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="img splide__slide">
          <img src="/assets/img/partners/01-partner.png">
        </li>
        <li class="img splide__slide">
          <img src="/assets/img/partners/02-partner.png">
        </li>
        <li class="img splide__slide">
          <img src="/assets/img/partners/03-partner.png">
        </li>
        <li class="img splide__slide">
          <img src="/assets/img/partners/04-partner.png">
        </li>
        <li class="img splide__slide">
          <img src="/assets/img/partners/05-partner.png">
        </li>
        <li class="img splide__slide">
          <img src="/assets/img/partners/06-partner.png">
        </li>
      </ul>
    </div>
  </div>

</section>
