<section class="opinions">
<h2 class="title">
    QUE DICEN DE NOSOTROS
</h2>
<h2 class="title turquoise">
    NUESTROS COTOWNERS
</h2>
<div class="carousel">
    <div class="carousel-opinions">
    <div class="card">
        <div class="avatar">
        <img class="img" alt="avatar" src="/assets/img/cotownity-big.png">
        </div>
        <div class="opinion">
        <div class="title-info">
            <p class="name bold">Siscu Bates1</p>
            <p class="date">DD/MM/AAAA</p>
        </div>
        <h3 class="comillas">“</h3>
        <ul class="stars">
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star no-active"></em></li>
        </ul>
        </div>
        <p class="text">
        Lorem ipsum dolor sit amet, coansectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="card">
        <div class="avatar">
        <img class="img" alt="avatar" src="/assets/img/cotownity-big.png">
        </div>
        <div class="opinion">
        <div class="title-info">
            <p class="name bold">Siscu Bates1</p>
            <p class="date">DD/MM/AAAA</p>
        </div>
        <h3 class="comillas">“</h3>
        <ul class="stars">
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star no-active"></em></li>
        </ul>
        </div>
        <p class="text">
        Lorem ipsum dolor sit amet, coansectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="card">
        <div class="avatar">
        <img class="img" alt="avatar" src="/assets/img/cotownity-big.png">
        </div>
        <div class="opinion">
        <div class="title-info">
            <p class="name bold">Siscu Bates1</p>
            <p class="date">DD/MM/AAAA</p>
        </div>
        <h3 class="comillas">“</h3>
        <ul class="stars">
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star no-active"></em></li>
        </ul>
        </div>
        <p class="text">
        Lorem ipsum dolor sit amet, coansectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="card">
        <div class="avatar">
        <img class="img" alt="avatar" src="/assets/img/cotownity-big.png">
        </div>
        <div class="opinion">
        <div class="title-info">
            <p class="name bold">Siscu Bates1</p>
            <p class="date">DD/MM/AAAA</p>
        </div>
        <h3 class="comillas">“</h3>
        <ul class="stars">
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star no-active"></em></li>
        </ul>
        </div>
        <p class="text">
        Lorem ipsum dolor sit amet, coansectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="card">
        <div class="avatar">
        <img class="img" alt="avatar" src="/assets/img/cotownity-big.png">
        </div>
        <div class="opinion">
        <div class="title-info">
            <p class="name bold">Siscu Bates1</p>
            <p class="date">DD/MM/AAAA</p>
        </div>
        <h3 class="comillas">“</h3>
        <ul class="stars">
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star"></em></li>
            <li class="star"><em class="icon-star no-active"></em></li>
        </ul>
        </div>
        <p class="text">
        Lorem ipsum dolor sit amet, coansectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
        </p>
    </div>

    </div>
    <ul class="arrows">
    <li class="arrow-opinions">
        <em class="icon-CorcheteLeft center"></em>
    </li>
    <li class="arrow-opinions">
        <em class="icon-CorcheteRight center"></em>
    </li>
    </ul>
    <div class="dots">
    <div class="dot"></div>
    <div class="dot active"></div>
    <div class="dot"></div>
    </div>
</div>
</section>
