<!-- Google Tag Manager -->
{% set script %}{% include "js/gtm.js" %}{% endset %}<script>{{ script | jsmin | safe }}</script>

<!-- Title -->
<title>{{title}}</title>

<!-- General -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="..."/>
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="{{description}}" />

<!-- Facebook -->
<meta property="og:url" content="https://cotown.com{{langs[L].folder}}"/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Cotown" />
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:locale" content="{{langs[L].locale}}" />
<meta property="og:updated_time" content="{{page.date}}" />
<meta property="og:image" content="..."/>

<!-- Links -->
<link rel="alternate" hreflang="es" href="https://cotown.com{{langs.es.folder}}" />
<link rel="alternate" hreflang="en" href="https://cotown.com{{langs.en.folder}}" />
<link rel="alternate" hreflang="x-default" href="https://cotown.com{{langs.es.folder}}" />
<link rel="canonical" href="https://cotown.com{{langs[L].folder}}" />
<link rel="shortlink" href="https://cotown.com{{langs[L].folder}}" />
<link rel="shortcut icon" href="..." type="image/x-icon" />

<!-- Styles -->
{% set css %}{% include "css/skeleton.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>
{% set css %}{% include "css/base.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>
