<header>

<section class="container-header first pure-g">
    <div class="turquoise-line pure-u-1 pure-u-lg-1-2">

        <div class="left-content 1-box">
            {% for b in banners %}
            {% if loop.index == 1 %}
            <h1 class="spot">{{b | translate('Text', L)}}</h1>
            <div class="know">
                <a href="{{b.Link}}"><button class="btn-primary">{% literal texts, 'literal-descubrir', L %}</button></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <!--
        <div class="left-content 1-box">
            <h1 class="spot">NUEVA APERTURA EN MADRID, ENTRA Y DESCÚBRELA</h1>
            <div class="know">
                <button class="btn-primary">DESCUBRIR</button>
            </div>
        </div>
        -->
        
        <div class="right-content 1-box">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">

                    <li class="icons-header pure-menu-item">
                        <a href="#" class="pure-menu-link"><em class="icon-Search"></em></a>
                        <a href="#" class="pure-menu-link"><em class="icon-WhatsappPrimary"></em></a>
                    </li>

                    <li class="lang pure-menu-item">
                        <div class="select-container">
                            {% if L == 'es' %}
                            <label class="selected-option" for="options">
                                <em class="icon-CorcheteDown"></em>
                                <span class="select-value">Español (ES)</span>
                            </label>
                            <div data-toggle="collapsed" class="options">
                                <a href="{{alt.en}}"><div class="option">English (UK)</div></a>
                            </div>
                            {% else%}
                            <label class="selected-option" for="options">
                                <em class="icon-CorcheteDown"></em>
                                <span class="select-value">English (EN)</span>
                            </label>
                            <div data-toggle="collapsed" class="options">
                                <a href ="{{alt.es}}"><div class="option">Español (ES)</div></a>
                            </div>
                            {% endif %}
                        </div>
                    </li>

                    <li class="pure-menu-item private-container">
                        <button class="private">
                            <em class="icon-log-in"></em>
                            <p class="private-area">Área privada</p>
                        </button>
                    </li>

                    <li class="pure-menu-item">
                        <div class="booking">
                            <button class="btn-primary">RESERVAR</button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</section>

<section class="container-header second pure-g">
    <div class="black-line custom-wrapper pure-g" id="blackMenu">

        <div class="left-nav pure-u-7-8 pure-u-md-1-3">
            <div class="booking pure-u-sm-1-3">
            <button class="btn-secondary">{% literal texts, 'literal-reservar', L %}</button>
            </div>
            <div class="logo pure-u-1-3">
            <a href="/">
                <h1 class="h1-logo"><span class="turquoise">C</span>OTOWN<span class="turquoise">.</span></h1>
            </a>
            </div>
            <div class="lang pure-u-sm-1-3">
            <img class="lang-img" alt="esde ser Cotowner" src="/assets/img/es.png"></img>
            </div>
            <a href="#" class="custom-toggle" id="menuToggle"><em class="icon-Piso"></em></a>
        </div>

        <div class="right-nav pure-u-1-1 pure-menu pure-menu-horizontal custom-can-transform">
            <ul class="black-menu pure-menu-list">
            <li class="locations-dropdown pure-menu-item">
                <div class="locations-container">
                <label class="locations-label">
                    <span class="loc"><a href="{{langs[L].folder}}/{{langs[L].pages['locations'].url}}.html">{{langs[L].pages['locations'].title}}</a></span>
                    <em class="change-value icon icon-CorcheteDown" for="options"></em>
                </label>
                <div data-toggle="close" class="options-loc">
                    {% for l in locations %}
                    <div class="option-loc"><a href="{{langs[L].folder}}/{{l | translate('Name', L) | ascii}}.html">{{l | translate('Name', L)}}</a></div>
                    {% endfor %}
                    <!--  
                    <div class="option-loc"><a href="#locations">Barcelona</a></div>
                    <div class="option-loc"><a href="#locations">Valencia</a></div>
                    <div class="option-loc"><a href="#locations">Bilbao</a></div>
                    -->
                </div>
                </div>
            </li>
            <li class="about"><a href="{{langs[L].folder}}/{{langs[L].pages['about'].url}}.html">{{langs[L].pages['about'].title}}</a></li>
            <li class="advantages"><a href="{{langs[L].folder}}/{{langs[L].pages['advantages'].url}}.html">{{langs[L].pages['advantages'].title}}</a></li>
            <li class="faqs"><a href="{{langs[L].folder}}/{{langs[L].pages['faqs'].url}}.html">{{langs[L].pages['faqs'].title}}</a></li>
            <li class="blog"><a href="{{langs[L].folder}}/{{langs[L].pages['blog'].url}}.html">{{langs[L].pages['blog'].title}}</a></li>
            <li class="contact"><a href="{{langs[L].folder}}/{{langs[L].pages['contact'].url}}.html">{{langs[L].pages['contact'].title}}</a></li>
            </ul>
        </div>

    </div>      
</section>

</header>