---
name: about
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
{% set css %}{% include "shared/css/about.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>
{% endblock %}

<!-- Main -->
<main class="about">
  <div class="container-main">

    <div class="container-main">
      <section class="first-contain about pure-u-1">

        <div class="img pure-u-1 pure-u-lg-10-24">
          {% image
            constants.SERVER + "/wopi/files/Marketing/Media/" + images['conocenos'].id +"/Image/contents?access_token=" + token,
            title, title, "card-img-top", [500], ""
          %}
        </div>

        <div class="title-big pure-u-1 pure-u-lg-16-24">
          {% literal texts, 'about-conocenos', L, true %}
        </div>

      </section>

      <section class="banner">
        <div class="splide-banner splide" role="group">
          <div class="splide__track">
            <ul class="splide__list">
              {% for b in banners %}
              {% if b.Page == 'equipo' %}
              {% for p in (b | translate('Text', L)).split('|') %}
              <li class="splide__slide"><h2>{{p}} |&nbsp;</h2></li>
              {% endfor %}
              {% for p in (b | translate('Text', L)).split('|') %}
              <li class="splide__slide"><h2>{{p}} |&nbsp;</h2></li>
              {% endfor %}
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>

      <section class="members row">
        <div class="grid">

          {% for t in team %}
          <div class="member">
            <div class="img-member">
              <div class="first">
              {% image
                constants.SERVER + "/wopi/files/Marketing/Team/" + t.id +"/Image/contents?access_token=" + token,
                t.Name, t.Name|slug, "img-grid", [300], ""
              %}
              </div>
              <div class="hover">
              {% image
                constants.SERVER + "/wopi/files/Marketing/Team/" + t.id +"/Second_image/contents?access_token=" + token,
                t.Name, (t.Name+' hover')|slug, "img-grid", [300], ""
              %}
              </div>
              <div class="data">
                <p class="name">{{t.Name}}</p>
                <p class="job">{{t | translate('Position', L)}}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </section>

      <section class="form row">

        {% literal texts, 'about-unete', L, true %}

        <div class="form-container pure-g">

          <div class="campo pure-u-1 pure-u-lg-11-24">
            <label class="label">{% literal texts, 'form-nombre', L %}</label>
            <input class="input" type="name" id="name" name="name">
          </div>

          <div class="campo pure-u-1 pure-u-lg-11-24">
            <label class="label">{% literal texts, 'form-apellidos', L %}</label>
            <input class="input" type="name" id="name" name="name">
          </div>

          <div class="campo pure-u-1 pure-u-lg-11-24">
            <label class="label">{% literal texts, 'form-email', L %}</label>
            <input class="input" type="email" id="email" name="email">
          </div>

          <div class="campo number pure-u-1 pure-u-lg-11-24">
            <div class="prefix">
              <label class="label pure-u-1">{% literal texts, 'form-prefijo', L %}</label>
              <select class="select pure-u-1" type="select" id="code" name="code">
                <option>+34</option>
                <option>+34</option>
                <option>+34</option>
              </select>
            </div>
              <div class="num">
              <label class="label pure-u-1">{% literal texts, 'form-telefono', L %}</label>
              <input class="input pure-u-1" type="phone" id="phone" name="phone">
            </div>
          </div>

          <div class="campo add-file">
            <label class="label">{% literal texts, 'form-subir-cv', L %}</label>
            <div class="select">
              <span class="selected">
                <input
                  id="selected"
                  class="input selected"
                  accept=".pdf,application/pdf"
                  type="file"
                  value="Subir CV"
                  aria-label="docu"
                />
                <label class="label btn-primary" for="selected">
                  <span>{% literal texts, 'form-adjuntar', L %}</span>
                </label>
              </span>
              <label class="select-file" for="selected">
                <span>{% literal texts, 'form-subir-cv', L %}</span>
              </label>
            </div>
            <div class="text-ok">
            <p>
            {% literal texts, 'about-ok', L %}
            </p>
            </div>
          </div>

          <button class="btn-secondary">{% literal texts, 'form-enviar-solicitud', L %}</button>

        </div>
      </section>
    </div>

  </div>
</main>

{% block footer %}
{% set script %}
// Slider
new Splide('.splide-banner', {
  type: 'loop',
  autoWidth: true,
  focus: 0,
  perMove: 1,
  drag: 'free',
  arrows: false,
  pagination: false,
  pauseOnHover: false,
  pauseOnFocus: false,
  autoScroll: { speed: 1 }
}).mount( window.splide.Extensions );
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}
