/* COLORS
-------------------------------- */
:root {
    /* // Fonts */
    --title-font: "Oswald", Helvetica, Arial, sans-serif;
    --text-font: "Montserrat", Helvetica, Arial, sans-serif;

    --big-title: 62px;
    --title: 40px;
    --big-subtitle: 36px;
    --subtitle: 28px;
    --icon-redes: 24px;
    --text-title: 20px;
    --tag-title: 18px;
    --mini-title: 16px;
    --text: 14px;

    --btn-header: 14px;

    --bold: 700;
    --semibold: 600;
    --regular: 500;
    --400: 400;
    --light: 300;

    --weight-btn: 300;

     /* Responsive */    
     --resp-big-title: 50px;
     --resp-middle-title: 40px;
     --resp-title: 30px;
     --resp-big-subtitle: 26px;
     --resp-middle-subtitle: 22px;
     --resp-subtitle: 20px;
     --resp-text-title: 18px;
     --resp-tag-title: 16px;
     --resp-mini-title: 14px;
     --resp-text: 12px;

    /* // Main color */
    --primary: #121212;
    --primary-shadow: #c0fff2; 
    --primary-dark: #3C434A;
    --primary-underline: #00bfb294;
    --primary-flats: #121212;
    --new-bg: #F5F1EF;
    --primary-old: #00bfb2;

    --primary-ok: #ffffff;
    --secondary-bg: #121212;

    /* // Background color */
    /*--secondary-header: #121212; */
    --secondary-header: #ffffff;
    --secondary-header-mobile: #121212;
    --primary-background: #F4F4F4;
    --grey-background: #D9D9D9;
    --light-grey-background: #FAFAFA;
    --grey-light-background: #FCFCFC;
    --white-background: #f4f4f4;
    --white-bg-op1: #f4f4f484;
    --white-bg-op2: #f4f4f4b6;
    --footer: #121212;
    --footer-text: #00bfb2;
    --primary-bg: #00bfb266;

    --box-bg: #fffffff0;

    /* PRIVE */
    --prive-bg: #121212;
    --secondary-button-fill: #00bfb2;
    --secondary-button-border: #00bfb2;
    --secondary-button-text: #ffffff;
    --primary-button-fill: #121212;
    --primary-button-border: #ffffff;
    --primary-button-text: #ffffff;
    --primary-flats-text: #ffffff;

    /* Locations boxes hover */
    --location-label-bg: rgba(37, 186, 209, 0.2);

    /* // Text color */
    --primary-text: #ffffff; 
    --second-header-text: #000000;
    --secondary-text-header: #000000;
    --home-box-text: #000000;
    --box-text: #000000;

    --white: #ffffff;
    --black: #000000;
    --black-op: #00000080;

    /* // Secondary color */
    --grey-light: #3c434a;
    --grey-dark: #30363b;
    --grey-light: #d1d1d1;
    --grey-light-dark: #a7a7a7;
    --blue: #384289;
    --blue-dark: #2d356e;
    --purple: #ab92e1;
    --purple-dark: #8975b4;
    --yellow: #ecf166;
    --yellow-dark: #bdc152;
    --grey-advise: #77889A;

    /* // Header border */
    --border-header: 2px solid #D1D1D1;
    --border-bottom: 1px solid #D1D1D1;
    --h2-border: 2px 0 #00BFB2, -2px 0 #00BFB2, 0 2px #00BFB2, 0 -2px #00BFB2,
        1px 1px #00BFB2, -1px -1px #00BFB2, 1px -1px #00BFB2, -1px 1px #fff;

    /* // Feedback color */
    --green-success-light: #e3f2e0;
    --green-success: #8dc881;
    --green-success-dark: #459a33;
    --yellow-warning-light: #f8f3d8;
    --yellow-warning: #e2ca64;
    --yellow-warning-dark: #c9a81c;
    --red-error-light: #FF5555;
    --red-error: #FF0000;
    --red-error-dark: #CC0000;

    --shadow: rgba(22, 22, 22, 0.06);
    --shadow-soft: rgba(2, 0, 2, 15%);
    --shadow-medium: rgba(8, 0, 4, 15%);
    --shadow-strong: rgba(16, 0, 8, 20%);

    /* Border radius boxes */
    --radius-1: 0; 
    --radius-2: 0;
    --radius-3: 0;
    --left-top: 0;
    --slider-cards: 0;
    --slider-cards-small: 0;

    /* BACKGROUN EN BANNER NUESTROS PISAZOS */
    --banner-bg1: rgb(0, 96, 89);
    --banner-bg2: linear-gradient(90deg, rgba(0, 96, 89, 1) 0%, rgba(0, 191, 178, 1) 67%, rgba(0, 115, 107, 1) 100%);

    /* POSICIONES EN LOCATIONS */
    --align-title: center;

}

/* SVG Fill colours */
.svg_base { fill: #363434; }
.svg_accent { fill: #00bfb2; }
.svg_line { stroke: #363434; }