.first .first-contain .first-slider .splide__slide img {
  width: 100%;
  height: auto;
}

.first .first-slider .splide__slide img, .rooms .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.last {

}
.last h2 {
  text-transform: uppercase;
}
.last h2 span {
  color: var(--turquoise-light);
}