/* GENERAL 
-------------------------------- */

.title {
    padding: 1em 100px 0;
    font-size: 78px;
    text-align: center;
}
p.subtitle {
    font-size: 30px;
    margin-top: 0;
}

/* MAIN 
-------------------------------- */

.main-header {
    position: relative;
    flex-flow: row nowrap;
    justify-content: stretch;
}
.main-header .left {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: left;
    background-color: var(--turquoise-light);
    padding: 4em 4em 6em;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    z-index: 1;
    order: 1;
}
.main-header .left .text-container h1 {
    font-size: 78px;
    line-height:80px;
    margin: 0 0 0.5em;
}
.main-header .left .basic-searcher label {
    font-size: 22px;
    line-height: 150%;
}
.main-header .left .basic-searcher select {
    height: 40px;
    margin-bottom: 0.5em;
    color: var(--black);
    border: 1.5px solid #D1D1D1;
    border-radius: 4px;  
    padding-top: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    background-image: url(./../img/corchete-down.svg); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.main-header .left .basic-searcher select:focus {
    border: 0px solid transparent;
    outline: 0
}
.main-header .left .basic-searcher select::-ms-expand {
display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}
.main-header .left .basic-searcher select option {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--black);
}
.main-header .left .basic-searcher input {
    height: 40px;
    margin: 0 0 0.5em 0;
    color: var(--black);
    border: 1.5px solid #D1D1D1;
    border-radius: 4px;  
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 0 0.2em 0 0.5em;
}
.main-header .left .basic-searcher .calendar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: left;
}

.main-header .left .button-search {
    margin-top: 1.5em;
}
.main-header .video {
    position: relative;
    top: 0;
    left: 20%;
    height: fit-content;    
    min-width: 80%;
    text-align: center;
    vertical-align: middle;
    order: 2;
}
.main-header .video .video-home {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 100%;
}

/* BLOQUE 1 HOME 
-------------------------------- */

main .container-main .first-contain .title-big.home {
    padding: 2em 14%;
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: left;
    margin: 4em auto 0;
}
main .container-main .first-contain .text p {
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}

/* LOCALIZACIONES 
-------------------------------- */

.locations {
    margin: 2em 0 4em;
    width: 100%;
}
.locations .img {
    width: 100%;
    overflow: hidden;
}
.locations .title {
    text-align: left;
}
.locations h3 {
    position: absolute!important;
    bottom: 0;
    left: 0.3em;
    color: var(--white);
    font-weight: 400;
    font-size: 78px;
    margin: 0;
    line-height: 1;
}
.locations .img:hover h3 {
    color: var(--turquoise-light);
}
.locations .img img {
    width:100%;
    height:360px;
    object-fit: cover;
}
.locations .img:hover img {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: transform .25s ease-in-out;    
    -moz-transition: transform .25s ease-in-out;    
    -ms-transition: transform .25s ease-in-out;    
    -o-transition: transform .25s ease-in-out;    
    transition: transform .25s ease-in-out;    
}

/* PISOS 
-------------------------------- */

.pisos {
    margin: 2em 0 4em;
    text-align: center;
}
.pisos .container .img-container .img {
    height: 60vh;
    margin-right: 1em;
    margin-bottom: 0;
    overflow: hidden;
    cursor: pointer;
}
.pisos .container .img-container .last {
    margin-right: 0 !important;
}
.pisos .container .img-container .img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pisos .container .img-container:hover img {
    transform: scale(1.20);
    -webkit-transform: scale(1.20);
    filter: contrast(1.2);
    transition: transform .25s ease-in-out;    
}
.pisos .container .img-container .img-title1,
.pisos .container .img-container .img-title2 {
    color: var(--white);
    font-family: "Bebas Neue", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 78px;
    position: absolute;
    margin: 0 1em 0 0.3em;  
    line-height: 78px;
    text-align: left;
    width: fit-content;   
    cursor: pointer;
}
.pisos .container .img-container span {
    z-index: 20;
    position: relative;
    display: inline-block;
    text-shadow: 0px 7px 14px rgba(0, 0, 0, 0.15);
}
.pisos .container .img-container .img-title1 span {
    top: -180px;
}
.pisos .container .img-container .img-title2 span {
    top: -110px;
}
.pisos .container .img-container .subrayado {
    z-index: 18;
    background-color: var(--turquoise-light);
    position: absolute;
    width: 0%;
    height: 0.8rem;
}
.pisos .container .img-container .img-title1 .subrayado {
    bottom: 188px;
}
.pisos .container .img-container .img-title2 .subrayado {
    bottom: 118px;
}
.pisos .container .img-container:hover > .img-title1 .subrayado, 
.pisos .container .img-container:hover > .img-title2 .subrayado {    
    width: 100%;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;    
}


    /* SERVICIOS 
-------------------------------- */

.servicios {
    margin: 3em 0 4em;
    width: 100%;
    text-align: center;
}
.servicios .servicios-container {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 2em 4em;
}
.servicios .servicios-container .services-cards {    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.servicios .servicios-container .services-cards .card {
    width: calc(33% - 32px);
    margin: 1em 0;
    padding: 1em;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.servicios .servicios-container .services-cards .card:hover {
    background-color: var(--white-background);
}
.servicios .servicios-container .services-cards .card img {
    width: 100px;
}
.servicios .servicios-container .services-cards .card p {
    margin-bottom: 0;
    
}
.servicios .servicios-container .services-cards .card p.bold {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
}
.servicios .servicios-container .services-cards .card p.text {
    font-weight: 500;
    font-size: 16px;
    padding: 0 2rem;
}

/* COTOWNITY 
-------------------------------- */

.cotownity {
    position: relative;
    margin: 6em 0 4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.cotownity .container-cotownity  {
    padding-left: 14em;
}
.cotownity .container-cotownity .contain-bg {
    background-color: var(--white-background);
    padding: 2em 0;
    width: 82vw;
    height: 860px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 18px;
}
.cotownity .container-cotownity .contain-bg .title-bg {
    width: 100%;
    padding-left: 42px
}
.cotownity .container-cotownity .contain-bg .title-bg h2 {
    font-weight: 400;
    font-size: 78px;
    margin-bottom: 0;
    line-height: 1;
}
.cotownity .container-cotownity .contain-bg .img-small {
    position: relative;
    width: 46%;
    height: 400px;
}
.cotownity .container-cotownity .contain-bg .img-small img.small {
    width: 100%;
    position: absolute;
    left: -4em;
}
.cotownity .container-cotownity .contain-bg .img-big {
    position: relative;    
    width: 52%;
    height: 600px;
}
.cotownity .container-cotownity .contain-bg .img-big img.big {
    width: 108%;
    position: absolute;
    left: -4em;
    top: -6em;
}
.cotownity .feeling {
    position: absolute;
    bottom: 10.5em;
}
.cotownity .feeling .title-feel {
    width: 80%;
    background-color: var(--turquoise-light);
    color: var(--white);
    padding: 0.15em 0.8em 0 2em;
    font-weight: 400;
    font-size: 78px;
}
.cotownity .last-contain {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
}
.cotownity .insta-fb {
    width: 33%;
    padding: 1em 2em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5em;
    
}
.cotownity .insta-fb em{
    font-size: 80px;
    color: var(--turquoise-light);
}
.cotownity .carousel-cotownity {
    width: 100%;
    position: relative;
    align-items: end;
}
.cotownity .carousel-cotownity .contain {
    position: absolute;
    top: 0;
    left: 42.4em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1em 2em 1em 0.9em;
    transition: all .5s ease;
    transform: translateX(0%);
}
.cotownity .carousel-cotownity .contain .img {
    background-color: var(--turquoise-light);
    width: calc(150% / 6 - 2em);
    height: 196px;
}
.cotownity .carousel-cotownity .arrows {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    padding: 0 1em 0 0;
    position: relative;
    top: 12em;
}
.cotownity .carousel-cotownity .arrows .arrow {
    cursor: pointer;
}
.cotownity .carousel-cotownity .arrows .arrow em {
    width: 36px;
    font-size: 36px;
    padding: 1em;
    color: var(--turquoise-light);
}
.cotownity .carousel-cotownity .arrows .arrow .dots {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 40px;
}
.cotownity .carousel-cotownity .arrows .arrow .dots .dot {
    background-color: var(--grey-light);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.cotownity .carousel-cotownity .arrows .arrow .dots .dot.active {
    background-color: var(--turquoise-light);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* CAROUSEL PARTNERS 
-------------------------------- */
.partners {
    width: 100%;
    margin: 3em 0 4em;
}
.partners .img img {
    width:100%;
    height:100%;
    object-fit: contain;
}

/* OPINIONS CAROUSEL 
-------------------------------- */

.opinions {
    width: 100%;
    margin: 3em 0 4em;
}
.opinions .text-container .title {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
}
.opinions .text-container .title.turquoise {
    padding-top: 0;
    color: var(--turquoise-light);
}
.opinions .slide  {
    height: fit-content;
    padding: 2em 1.5em 2em;
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.6em;
}
.opinions .slide .avatar img {
    border-radius: 50%;
    width: 95px;
    height: 95px;
    margin: 0 auto;
}
.opinions .slide .opinion {
    width: calc(100% - 108px);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1em;
}
.opinions .slide .title-info {
    margin-right: 16px;
    width: calc(100% - 44px);
}
.opinions .slide p.bold {
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
}
.opinions .slide p.date {
    font-size: 16px;
    margin: 0px;
    color: var(--grey-light);
    line-height: 20px;
}
.opinions .slide .opinion h3.comillas {
    color: var(--turquoise-light);
    font-size: 80px;
    margin: 0;
    line-height: 40px;
}
.opinions .slide .opinion ul.stars {
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.2em;
    padding: 0.5em 0 0;
}
.opinions .slide .opinion ul.stars li em.icon-star {
    color: var(--turquoise-light);
    font-size: 18px;
    margin: 0;
}
.opinions .slide .opinion ul.stars li em.icon-star.no-active {
    color: var(--grey-light);    
}
.opinions .slide p.text {
    font-size: 16px;
    line-height: 26px;
    margin: 0px;
}

/* RESPONSIVE
-------------------------------- */

@media only screen and (min-width: 1024px) {
    .main-header .video .text-container.mobile {
        display: none;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .main-header .left .text-container h1 {
        font-size: 70px;
    }
}


/* TABLET */
@media only screen and (max-width: 1023.9px) {

/* GENERAL */
.title {
    padding: 1em 40px 0;
    font-size: 48px;
    text-align: left;
}
p.subtitle {
    padding: 0 40px 0;
    font-size: 18px;
    text-align: left;
    margin: 0;
}

/* SECCIÓN MAIN */ 
.main-header {
    flex-flow: row wrap;
}
.main-header .left {
    order: 2;
    position: relative;
    width: 100%;
    margin: -5px 0;
    padding: 1em 1em 2em;
}
.main-header .left .text-container.desktop {
    display: none;    
}
.main-header .video .text-container.mobile {
    position: absolute;
    top: 1em;
    left: 1em;
}
.main-header .video .text-container.mobile h1 {
    color: var(--white);
    font-weight: 400;
    font-size: 54px;
    line-height: 100%;
    text-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: left;

}
.main-header .video {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    order: 1;
}

/* LOCALIZACIONES */
.locations h3 {
    font-size: 50px;
}

/* PISOS */
.pisos .container .img-container .img {
    margin-bottom: 8px;
}

.cotownity .container-cotownity {
    padding-left: 0;
}
.cotownity .container-cotownity .contain-bg {
    background-color: var(--white);
    padding: 2em 0 ;
    width: 100%;
}
.cotownity .container-cotownity .contain-bg .title-bg h2 {
    font-size: 40px;
    width: 100%;
}
.cotownity .container-cotownity .contain-bg .img-small, .cotownity .container-cotownity .contain-bg .img-big  {
    display: none;
}
.cotownity .feeling .title-feel {
    display: none;
}

}

/* MOVIL */
@media only screen and (max-width: 767px) {   
    .servicios .servicios-container .services-cards .card {
        width: calc(100% - 32px);
    }
    .cotownity .container-cotownity {
        padding-left: 0!important;
    }
}