<!-- Main -->
<main class="post">
  <div class="container-main">
    <section class="post-content pure-u-20-24">
        <h3>{{post | translate('Title', L)}}</h3>
        {% image 
        constants.SERVER + "/wopi/files/Marketing/Post/" + post.id +"/Image/contents?access_token=" + token, 
        post.Title, post.Title, "img-loc",
          [800], ""
        %}
        <div class="text pure-u-18-24">
          <p>{{post.Publish_date}}</p>
          {% for t in p.Tags %}
          <p>{{t.Tag | translate('Name', L)}}</p>
          {% endfor %}
          <p>{{post | translate('Content', L) | markdown | safe }}</p>
        </div>       
    </section>
    <section class="like-content pure-u-22-24">
      <div class="like pure-u-22-24 pure-u-lg-1-2">
        <div class="text pure-u-22-24 pure-u-lg-11-24">
          <h3>¿te ha gustado?</h3>
          <p>Comparte este artículo</p>
        </div>
        <div class="redes pure-u-22-24 pure-u-lg-11-24">
          <a href="{{globals.rrss.wh}}" rel="noopener, noreferrer" target="_blank"><em class="icon-whatsapp-primary"></em></a>
          <a href="{{globals.rrss.fb}}" rel="noopener, noreferrer" target="_blank"><em class="icon-facebook-primary"></em></a>
          <a href="{{globals.rrss.ig}}" rel="noopener, noreferrer" target="_blank"><em class="icon-instagram-primary"></em></a>
          <a href="{{globals.rrss.tk}}" rel="noopener, noreferrer" target="_blank"><em class="icon-tiktok-primary"></em></a>
        </div>
      </div>    
    </section>
  </div>
</main>
