<div class="footer-logo">
    <img class="img-logo" alt="logo" src="/assets/img/vanguard-white.svg">
     <!-- <span class="turquoise">V</span>ANGUARD<span class="turquoise">.</span> -->
</div>          
