<div class="footer-logo">
    <div class="logo-container">
        <div class="group">
            <img alt="Cotowngroup" src="{{root}}/assets/img/cotowngroup.png">
        </div>
        <div class="brands">
            <img alt="Cotown" src="{{root}}/assets/img/cotown.svg">
            <img alt="Vanguard" src="{{root}}/assets/img/vanguard.svg">
        </div>
    </div>
</div>
