$icomoon-font-family: "cotown" !default;
$icomoon-font-path: "fonts" !default;

$icon-Piso: "\e900";
$icon-User: "\e901";
$icon-Close: "\e902";
$icon-Search: "\e903";
$icon-Loading: "\e96e";
$icon-Writte: "\e904";
$icon-wifi: "\e905";
$icon-CloseRound: "\e906";
$icon-Picture: "\e907";
$icon-Trash: "\e96b";
$icon-Meh: "\e927";
$icon-CheckboxOff: "\e91c";
$icon-CheckboxOn: "\e91d";
$icon-ArrowRight: "\e90f";
$icon-ArrowLeft: "\e90c";
$icon-CorcheteDown: "\e908";
$icon-CorcheteUp: "\e909";
$icon-CorcheteLeft: "\e90a";
$icon-CorcheteRight: "\e90b";
$icon-Arrow-Left: "\e90d";
$icon-ArrowLeftHover: "\e90e";
$icon-Arrow-Right: "\e910";
$icon-ArrowRightHover: "\e911";
$icon-Bath-path1: "\e912";
$icon-Bath-path2: "\e913";
$icon-Cajafuerte-path1: "\e914";
$icon-Cajafuerte-path2: "\e915";
$icon-Cajafuerte-path3: "\e916";
$icon-Cama-path1: "\e917";
$icon-Cama-path2: "\e918";
$icon-Cama-path3: "\e919";
$icon-Cama-path4: "\e91a";
$icon-Cama-path5: "\e91b";
$icon-Telefono-path1: "\e92f";
$icon-Telefono-path2: "\e930";
$icon-Telefono-path3: "\e931";
$icon-Telefono-path4: "\e932";
$icon-Telefono-path5: "\e933";
$icon-Conserge-path1: "\e934";
$icon-Conserge-path2: "\e935";
$icon-Conserge-path3: "\e936";
$icon-Conserge-path4: "\e937";
$icon-Conserge-path5: "\e938";
$icon-Ocupado-path1: "\e93a";
$icon-Ocupado-path2: "\e93b";
$icon-Ocupado-path3: "\e93c";
$icon-Ocupado-path4: "\e93d";
$icon-Llaves-path1: "\e93e";
$icon-Llaves-path2: "\e93f";
$icon-Llaves-path3: "\e940";
$icon-Llaves-path4: "\e941";
$icon-Nevera-path1: "\e942";
$icon-Nevera-path2: "\e943";
$icon-Nevera-path3: "\e944";
$icon-Limpieza-path1: "\e945";
$icon-Limpieza-path2: "\e946";
$icon-Limpieza-path3: "\e947";
$icon-Limpieza-path4: "\e948";
$icon-Limpieza-path5: "\e949";
$icon-Limpieza-path6: "\e94a";
$icon-Lavadora-path1: "\e94b";
$icon-Lavadora-path2: "\e94c";
$icon-Lavadora-path3: "\e94d";
$icon-Lavadora-path4: "\e94e";
$icon-Lavadora-path5: "\e94f";
$icon-Lavadora-path6: "\e950";
$icon-Lavadora-path7: "\e951";
$icon-Lavadora-path8: "\e952";
$icon-Equipaje-path1: "\e953";
$icon-Equipaje-path2: "\e954";
$icon-Escaleras-down-path1: "\e955";
$icon-Escaleras-down-path2: "\e956";
$icon-Escaleras-up-path1: "\e957";
$icon-Escaleras-up-path2: "\e958";
$icon-Extintor-path1: "\e959";
$icon-Extintor-path2: "\e95a";
$icon-Air-conditioner-path1: "\e95b";
$icon-Air-conditioner-path2: "\e95c";
$icon-Air-conditioner-path3: "\e95d";
$icon-Air-conditioner-path4: "\e95e";
$icon-Air-conditioner-path5: "\e95f";
$icon-Air-conditioner-path6: "\e960";
$icon-Air-conditioner-path7: "\e961";
$icon-Air-conditioner-path8: "\e962";
$icon-noun-restaurant-3352371-1: "\e963";
$icon-noun-gym-5627577-1: "\e964";
$icon-FacebookPrimary: "\e965";
$icon-FacebookSecondary: "\e966";
$icon-InstagramPrimary: "\e967";
$icon-InstagramSecondary: "\e968";
$icon-TiktokPrimary: "\e969";
$icon-TiktokSecondary: "\e96a";
$icon-WhatsappPrimary: "\e96c";
$icon-WhatsappSecondary: "\e96d";

