---
name: about
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

<!-- Main -->
<main class="home">
  <div class="container-main"> 

    <div class="container-main">
      <section class="first-contain about pure-u-1">    

        <div class="img pure-u-1 pure-u-lg-10-24">
          <img src="/assets/img/about.png" class="card-img-top" loading="lazy" alt="napoles">
        </div>

        <div class="title-big pure-u-1 pure-u-lg-16-24">
          {% literal texts, 'about-conocenos', L, true %}
        </div>

        <!--$$
        <div class="title-big">
          <h2 class="h2-big">¡conócenos!</h2>
          <p class="text">
            Si has llegado hasta aquí es porque te mueres por saber quién está detrás de este proyecto. Pues sí, somos Cotown, un equipo con mucha ilusión e ideas de bombero dispuesto a crear nuevas tendencias, porque ¿para qué seguirlas? 
          </p>
          <p class="text">
            El 100% de nuestra energía está dedicada a hacer que te sientas como un auténtico “ciudadano con suerte”; ese protagonista de película de Netflix con un pisazo en el centro de una ciudad muy molona.                
          </p>
          <p class="text">
            Ok, pero ¿qué es Cotown? Es un proyecto hecho a medida para todas aquellas personas que decidan teletrabajar o impulsar su propio proyecto personal en ciudades como Barcelona, Valencia, Bilbao o Madrid y quieran alojarse en un lugar donde no echen de menos su hogar, porque ya estarán en él. No nos van las etiquetas y nos adaptamos al momento de vida de cualquier persona. Lo importante para ser un buen Cotowner es querer disfrutar de las nuevas experiencias y vivirlas como si no hubiera un mañana.
          </p>
          <p class="text">
            Por eso, te presentamos a la crew que está detrás de esta fantástica locura. 
          </p>
          <p class="text bold">
            ¡Vamos!
          </p>
        </div>
        -->

      </section>

      <section class="banner">
        <div class="splide-banner splide" role="group">
          <div class="splide__track">
            <ul class="splide__list">        
              <li class="splide__slide">
                <h2>
                creativos |
                </h2>
              </li>
              <li class="splide__slide">
                <h2>
                cuentas |
                creativos |
                development |
                lorem ipsum dolor sit |  
                </h2>
              </li>
              <li class="splide__slide">
                <h2>
                cuentas |
                creativos |
                development |
                lorem ipsum dolor sit |  
                </h2>
              </li>
              <li class="splide__slide">
                <h2>
                cuentas |
                creativos |
                development |
                lorem ipsum dolor sit |  
                </h2>
              </li>                   
            </ul>
          </div>
        </div>     
      </section>

      <section class="members row">
        <div class="grid">

          {% for t in team %}
          <div class="member">
            <div class="img-member">
              <div class="first">
              {% image 
                constants.SERVER + "/wopi/files/Marketing/Team/" + t.id +"/Image/contents?access_token=" + token, 
                t.Name, t.Name|slug, "img-grid",
                [300], ""
              %}
              </div>
              <div class="hover">
                 <img src="/assets/img/member.png" class="img-member" loading="lazy" alt="napoles">           
              </div>
              <div class="data">
                <p class="name">{{t.Name}}</p>
                <p class="job">{{t | translate('Position', L)}}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </section>

      <section class="form row">
        <h2 class="title">            
          ¡ÚNETE AL EQUIPO COTOWN!
        </h2>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
        <div class="form-container">
          <div class="campo">
            <label class="label">Nombre y apellidos</label>                  
            <input class="input" type="name" id="name" name="name">
          </div>
          <div class="campo">
            <label class="label">Email</label>                  
            <input class="input" type="email" id="email" name="email">
          </div>
          <div class="campo">
            <label class="label">Teléfono móvil</label>                  
            <input class="input" type="phone" id="phone" name="phone">
          </div>
          <div class="campo">
            <label class="label">Otros</label>                  
            <input class="input" type="other" id="other" name="other">
          </div>
          <div class="campo">
            <label class="label" >Otros2</label>                  
            <input class="input" type="other2" id="other2" name="other2">
          </div>

          <div class="campo add-file">
            <label class="label">Subir CV</label>
            <div class="select">                  
              <span class="selected">                    
                <input
                  id="selected"
                  class="input selected"                    
                  accept=".pdf,application/pdf"
                  type="file"
                  value="Subir CV"
                  aria-label="docu"
                />
                <label class="label btn-primary" for="selected">
                  <span>Adjuntar archivo</span>
                </label>                
              </span>
              <label class="select-file" for="selected">
                <span>Subir CV</span>
              </label>
            </div>               
            <div class="text-ok">
              ¡Excelente! Hemos recibido tu CV y lo estaremos revisando cuidadosamente. Si tu perfil coincide con nuestras necesities y requisitos, nos pondremos en contacto contigo para programar una entrevista. ¡Gracias por tu interés en unirte a nuestro equipo!
            </div>
          </div> 
          <button class="btn-secondary">Enviar solicitud</button>
        </div>
      </section>
    </div>

  </div>
</main>

<script>
  new Splide('.splide-banner', {
    type: 'loop',
    focus: 0,
    perMove: 1,
    drag: 'free',
    arrows: false,
    pagination: false,
    pauseOnHover: false,
    pauseOnFocus: false,
    autoScroll: { speed: 1 }
  }).mount( window.splide.Extensions );
</script>