---
name: about
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional CSS -->
{% block css %}
{% endblock %}

<!-- Main -->
<main class="home">
  <div class="container-main"> 

    <h1>Team</h1>
    {% for t in team %}
    <div>{{t | translate('Name', L)}}</div>
    <div>{{t | translate('Position', L)}}</div>
    <div>
      {% image 
          constants.SERVER + "/wopi/files/Marketing/Team/" + t.id +"/Image/contents?access_token=" + token, 
          t.Name, t.Name|slug, "",
          [200], ""
      %}
      {% image 
          constants.SERVER + "/wopi/files/Marketing/Team/" + t.id +"/Second_image/contents?access_token=" + token, 
          t.Name, t.Name|slug, "",
          [200], ""
      %}
    </div>
   <hr> 
    {% endfor %}

  </div>
</main>