---
name: contact
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true  

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

<!-- Main -->
<main class="contact">
  <div class="container-main pure-u-1">
    <section class="first-contact pure-u-1">
      <h1>CONTACTO</h1>
    </section>   
    <section class="contact-main pure-u-1">        
      <h2>OFICINAS ESPAÑA</h2>
      {% for o in offices %}
      <div class="img-content pure-u-22-24 pure-u-lg-1">

        <div class="img-city pure-u-1-8">      
          <img class="img" alt="city" src="/assets/img/barcelona.svg">
        </div>

        <div class="contact-content pure-u-23-24 pure-u-lg-5-6">

          <div class="text-location pure-u-1 pure-u-lg-15-24"> 
            <h3>{{o.Location}}</h3>
            <p>C / Beethoven 15, 7ª planta. 08021 Barcelona, España.</p>
            <p>
              <em class="icon-envelope"></em>
              <span>info@cotown.com</span>
            </p>
            <p>
              <em class="icon-call"></em>
              <span>+34 XXX XXX XXX</span>
            </p>
          </div>

          <div class="pure-u-1 pure-u-lg-8-24">
            <div class="pure-u-1" style="width:100%;height:320px;" id="map-{{o.id}}"></div>
          </div>
          
        </div>
      </div>
      {% endfor %}
    </section>
    <section class="form">
      <h2 class="title">            
        Si tienes cualquier duda, contáctanos
      </h2>
      
      <div class="form-container pure-g">        
        <div class="campo pure-u-1 pure-u-lg-1-2">
          <label class="label">Nombre</label>                  
          <input class="input" type="name" id="name" name="name">
        </div>
        <div class="campo pure-u-1 pure-u-lg-1-2">
          <label class="label">Apellidos</label>                  
          <input class="input" type="name" id="name" name="name">
        </div> 
        <div class="campo pure-u-1 pure-u-lg-1-2">
          <label class="label">Correo electrónico</label>                  
          <input class="input" type="email" id="email" name="email">
        </div>         
        <div class="campo pure-u-1 pure-u-lg-1-2">
          <label class="label">Empresa</label>                  
          <input class="input" type="company" id="company" name="company">
        </div>
        <div class="campo coment pure-u-1">
          <label class="label">Mensaje</label>
          <textarea type="textarea" id="textarea" name="textarea" rows="4" cols="50">
          </textarea>
        </div>
        
        <div class="text-ok">
          <p>¡Genial! Tu formulario ha sido enviado con éxito. Gracias por tu información, la estaremos revisando lo antes posible. Si es necesario, nos pondremos en contacto contigo. ¡Que tengas un buen día!</p>
        </div>

        <button class="btn-secondary">Enviar</button>

        
      </div>
      
    </section>
  </div>
</main>

{% block footer %}
{% set script %}{% include "shared/js/map.js" %}{% endset %}<script>{{ script | jsmin | safe }}</script>
<script>
  var mp, lt, ln;
  {% for o in offices-%}
  lt = {{o.Lat_lon.slice(1,-1).split(',')[0]}};
  ln = {{o.Lat_lon.slice(1,-1).split(',')[1]}};
  mp = createMap("map-{{o.id}}", lt, ln, 13);
  putMarker(mp, lt, ln);
  {%-endfor %}
</script>
{% endblock %}
