---
name: contact
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

<!-- Main -->
<main class="contact">
  <div class="container-main">

    {% for o in offices %}
    <p>{{o.Location}}</p>
    <div style="width:400px;height:300px;" id="map-{{o.id}}">
    </div>
    {% endfor %}

  </div>
</main>

{% set script %}{% include "shared/js/map.js" %}{% endset %}<script>{{ script | jsmin | safe }}</script>
<script>
  var mp, lt, ln;
  {% for o in offices-%}
  lt = {{o.Lat_lon.slice(1,-1).split(',')[0]}};
  ln = {{o.Lat_lon.slice(1,-1).split(',')[1]}};
  mp = createMap("map-{{o.id}}", lt, ln, 13);
  putMarker(mp, lt, ln);
  {%-endfor %}
</script>

