---
name: data-security
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional CSS -->
{% block css %}
<link rel="stylesheet" href="/assets/css/others.css">
{% endblock %}

<!-- Main -->
<main class="home">

  <div class="container-main">

    {% literal texts, 'legal-seguridad-y-datos', L, true %}

    <!--
    <div class="h1">
    </div>
    <div class="p">
    </div>
    <table class="pure-table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Caducidad</th>
            <th>Finalidad</th>
            <th>Propias/terceros</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Analítica</td>
            <td>Persistente</td>
            <td>Para determinar nuevas sesiones/visitas</td>
            <td>Tercero (Google analytics)</td>
        </tr>        
    </tbody>
    </table>
    -->
    
  </div>

</main>