---
name: faqs
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional CSS -->
{% block css %}
{% endblock %}

<!-- Main -->
<main class="home">
  <div class="container-main">

    <!--$
    <section class="first-contain row">         
      <div class="title-big">            
        <h2 class="h2-big">FAQS</h2>
        <p class="text">
          Si has llegado hasta aquí es porque te mueres por saber quién está detrás de este proyecto. Pues sí, somos Cotown, un equipo con mucha ilusión e ideas de bombero dispuesto a crear nuevas tendencias, porque ¿para qué seguirlas? 
          El 100% de nuestra energía está dedicada a hacer que te sientas como un auténtico “ciudadano con suerte”; ese protagonista de película de Netflix con un pisazo en el centro de una ciudad muy molona.
        </p>
        <p class="text">
          Ok, pero ¿qué es Cotown? Es un proyecto hecho a medida para todas aquellas personas que decidan teletrabajar o impulsar su propio proyecto personal en ciudades como Barcelona, Valencia, Bilbao o Madrid y quieran alojarse en un lugar donde no echen de menos su hogar, porque ya estarán en él. No nos van las etiquetas y nos adaptamos al momento de vida de cualquier persona. Lo importante para ser un buen Cotowner es querer disfrutar de las nuevas experiencias y vivirlas como si no hubiera un mañana.
          Por eso, te presentamos a la crew que está detrás de esta fantástica locura. 
          <span class="bold"> ¡Vamos!</span>
        </p>
      </div>
    </section>
    -->

    <section>
    {% for f in faqs %}
    <h1>{{f | translate('Name', L) }}</h1>
    {% for q in f.Questions %}
    <h2>{{q | translate('Question', L)}}</h2>
    <div>{{q | translate('Response', L) | markdown | safe }}</div>
    {% endfor %}
    {% endfor %}
    </section>

  </div>
</main>