---
name: index
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    description: "{{langs[L].pages[name].description}}"
permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Video -->
{% include 'sections/home/video.html.njk' %}

<!-- Que es Cotown -->
{% include 'sections/home/whatis.html.njk' %}

<!-- Donde quieres vivir -->
{% include 'sections/home/where.html.njk' %}

<!-- Elige tu pizaso -->
{% include 'sections/home/choose.html.njk' %}

<!-- Servicios -->
{% include 'sections/home/services.html.njk' %}

<!-- Instagram -->
{% include 'sections/home/instagram.html.njk' %}

<!-- Partners -->
{% include 'sections/home/partners.html.njk' %}

<!-- Testimonios -->
{% include 'sections/home/testimonials.html.njk' %}