---
name: locations
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional CSS -->
{% block head %}
<link rel="stylesheet" href="/assets/css/locations.css">
{% endblock %}

<!-- Main -->
<main class="locations">
  <div class="container-main">

    <!-- main -->
    {% include 'sections/locations/locations.html.njk' %}
    
    <!-- services -->
    {% include 'sections/locations/services.html.njk' %}

  </div>
</main>

<!-- Iconos chat -->
<section class="iconos-chat">
  <div class="spoty"><em class="icon-spoty"></em></div>
  <div class="chat"><em class="icon-chat"></em></div>
</section>