---
name: location
eleventyComputed:
    L: "es"
    title: "{{post | translate('Title', L)}}"
    alt:
      es: "{{langs.es.folder}}/{{post | translate('Slug', 'es') | ascii}}.html"
      en: "{{langs.en.folder}}/{{post | translate('Slug', 'en') | ascii}}.html"
    description: "{{post | translate('Title', L)}}"
    permalink: "{{langs[L].folder}}/{{post | translate('Slug', L) | ascii}}.html"
layout: layouts/base.html
pagination:
    data: posts
    size: 1
    alias: post
    addAllPagesToCollections: true   

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
{% include 'sections/post/post.html.njk' %}
