---
name: privacy
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional CSS -->
{% block css %}
<link rel="stylesheet" href="/assets/css/legals.css">
{% endblock %}

<!-- Main -->
<main class="main">
  <div class="container-main">

    <div style="width: 60%; margin: 100px auto 100px auto;">
    {% literal texts, 'privacidad-text', L, true %}
    </div>

  </div>
</main>