---
name: test
permalink: "rooms.html"
---
{{place_types['D_STA'] | translate('Description', 'en')}}

{% set building = 1 %}

<!-- Individuales --> 
{% for r in rooms %}
{% if r.id == building %}

    <h1>{{r.Name}}</h1>

    {% for p in r.Place_types %}
    {% if p.Code[0] == 'I' %}
    
        <h2>{{p.Name}}</h2>
        {% set min = 9999 %}
        {% for f in p.Flat_types %}
            {% if f.Rent_long < min %}
                {% set min = f.Rent_long %}
            {% endif %}
        {% endfor %}
        <p>Desde {{min}}</p>

        {% for f in p.Flat_types %}
            <h3>{{f.Name}}</h3>
            <p>Desde {{f.Rent_long}}</p>
        {% endfor %}

    {% endif %}
    {% endfor %}

{% endif %}
{% endfor %}
