---
eleventyComputed:
    title: "Test"
    alt:
      es: "{{langs.es.folder}}/page.html"
      en: "{{langs.en.folder}}/page.html"
    description: "Test"
    permalink: "{{langs[L].folder}}/page.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
Test