<section class="pisos-slider rooms pure-u-1 {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">

  <div class="h2-container pure-u-1">

    <div class="h2-contain pure-u-1 {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
      
      {% if site == 'vanguard' %}
      <div class="title-container vanguard pure-u-1 pure-u-lg-1-2">
        <h2 class="vanguard pure-u-20-24">{% literal texts, 'rooms-nuestros-pisos-compartidos', L %}</h2>
        <!-- See map button (mobile) -->
        <a href="#mapanchor" class="map-button pure-u-4-24">
          <button class="button-map-mobile pure-u-1">
            <img src="{{root}}/assets/img/icono__serv_mapa.svg">
            <p>{% literal texts, 'location-ver-mapa', L %}</p>
          </button>
        </a>
      </div>
      {% else %}
      <div class="title-container cotown pure-u-1 pure-u-lg-18-24">
        <h2 class="loc-title cotown">{{location | translate('Name', L)}}.</h2>
        <h2 class="desc-title cotown">{% literal texts, 'rooms-nuestros-pisos-compartidos', L %}.</h2>
      </div>
      <!-- See map button (mobile) -->
      <a href="#mapanchor" class="map-button pure-u-4-24">
        <button class="button-map-mobile pure-u-1">
          <img src="{{root}}/assets/img/icono__serv_mapa.svg">
          <p>{% literal texts, 'location-ver-mapa', L %}</p>
        </button>
      </a>
      {% endif %}

      
      
      <!-- Dates -->
      <section id="selected-dates" class="dates hidden pure-u-22-24 {% if site == 'vanguard' %} vanguard pure-u-lg-1-2 {% else %} cotown pure-u-lg-6-24 {% endif %}">
        <div class="calendar pure-u-1">
          <div class="reservas pure-u-1">
            <div class="button-calendar" onclick="go_check();">
              <div class="checkin pure-u-1-2"> 
                <p class="label">{% literal texts, 'dates-entrada', L %}</p>
                <p id="checkin" class="dates"></p>
              </div> 
              <div class="checkout pure-u-1-2"> 
                <p class="label">{% literal texts, 'dates-salida', L %}</p>
                <p id="checkout" class="dates"></p>
              </div> 
            </div>        
          </div>
        </div>
      </section>
      
    </div>

  </div>

  <!-- Desktop: slider -->
  <div class="carousel desktop {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
    <div class="splide" id="sliderFlats" aria-label="Slider">
      <div class="splide__track">

        <!-- Slider arrows -->
        <div class="splide__arrows arrows">
          <button type="button" class="arrow-nav splide__arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track">
            <i class="icon-corchete-left"></i>
          </button>
          <button type="button" class="arrow-nav splide__arrow splide__arrow--next"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track">
            <i class="icon-corchete-right"></i>
          </button>
        </div>

        <!-- Slider -->
        <ul class="splide__list carousel-main-list">

          {% for b in buildings | find('District.Location.id', 'eq', location.id) | find('Building_type_id', 'lt', 3) %}
          {% set ra = b.Resources | find('Sale_type', 'eq', 'ambos') | length %}
          {% set rp = b.Resources | find('Sale_type', 'eq', 'plazas') | length  %}
          {% if ra > 0 or rp > 0 %}
          <li class="splide__slide main-slide">
            <div class="card-contain {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
              <div class="card shadow desktop">

                <!-- Photo -->
                <div class="ratio desktop">
                  <a href="{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html">
                    {% for photo in b.Photos | find('Image_type', 'eq', 'habitacion') %}
                    {% if loop.index == 1 %}
                    {% image
                        constants.SERVER + "/wopi/files/Marketing/Media_building/" + photo.id +"/Image/contents?access_token=" + token,
                        b.Name, b.Name + '-' + photo.id | slugify, "card-img-top",
                        [800], ""
                    %}
                    {% endif %}
                    {% endfor %}
                    {% if site == 'vanguard' %}
                      <h3>{{b.Name}}</h3>
                    {% else %}
                    {% endif %}
                  </a>
                </div>

                <div class="card-body d-flex flex-column">

                  <!-- Name -->
                  
                  <div class="flex-grow-1">
                    {% if site == 'vanguard' %}                     
                    {% else %}
                    <h3>{{b.Name}}</h3>
                    {% endif %}
                    <p>{{ b | translate ('Description', L) | safe }}</p>
                  </div>

                  <!-- Place types -->
                  <div class="types">

                    {% set minI = 99999 %}
                    {% set minD = 99999 %}
                    {% set minF = 99999 %}
                    {% for r in rooms | find('id', 'eq', b.id) %}
                    {% for p in r.Place_types %}
                    {% for f in p.Flat_types %}
                      {% if p.Code[0] == 'I' and minI > f.Rent_long %}
                        {% set minI = f.Rent_long %}
                      {% endif %}
                      {% if p.Code[0] == 'D' and minD > f.Rent_long %}
                        {% set minD = f.Rent_long %}
                      {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                    {% for r in flats | find('id', 'eq', b.id) %}
                    {% for f in r.Flat_subtypes %}
                      {% if minF > f.Rent_long %}
                        {% set minF = f.Rent_long %}
                      {% endif %}
                    {% endfor %}
                    {% endfor %}

                    <!-- Habitacion-individual -->
                    {% if minI < 99999 %}
                    <div class="room-type {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
                      <a href="{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html#I">
                      <img src="{{root}}/assets/img/icono__hab_habitacion_individual.svg">
                      <h4>{% literal texts, 'type-habitacion-individual', L %}</h4>
                      {% if site == 'vanguard' %}
                       <button class="btn-secondary green-button">{% literal texts, 'price-mas', L %}</button>                     
                      {% else %}
                      {% endif %}                     
                      <p>{% literal texts, 'price-desde', L %} {{minI|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
                      {% if site == 'vanguard' %}
                      {% else %}
                      <button class="btn-secondary green-button">{% literal texts, 'price-mas', L %}</button> 
                      {% endif %}
                      </a>
                      <div id="{{b.id}}_I" class="pure-u-1 text-red"><p></p></div>
                    </div>
                    {% endif %}

                    <!-- Habitacion-compartida -->
                    {% if minD < 99999 %}
                    <div class="room-type {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
                      <a href="{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html#D">
                        <img src="{{root}}/assets/img/icono__hab_habitacion_compartida.svg">
                        <h4>{% literal texts, 'type-habitacion-compartida', L %}</h4>
                        {% if site == 'vanguard' %}
                        <button class="btn-secondary green-button">{% literal texts, 'price-mas', L %}</button>                 
                        {% else %}
                        {% endif %}                     
                        <p>{% literal texts, 'price-desde', L %} {{minD|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
                        {% if site == 'vanguard' %}
                        {% else %}
                        <button class="btn-secondary green-button">{% literal texts, 'price-mas', L %}</button>
                        {% endif %}                      
                      </a>
                      <div id="{{b.id}}_D" class="pure-u-1 text-red"><p></p></div>
                    </div>
                    {% endif %}

                    <!-- Apartamento-privado -->
                    {% if minF < 99999 %}
                    <div class="room-type {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
                      <img src="{{root}}/assets/img/icono__hab_apartamento_privado.svg">
                      <h4>{% literal texts, 'type-apartamento-privado', L %}</h4>
                      <a href="{{root}}{{langs[L].folder}}/{{langs[L].pages['flats'].url}}-{{b.Name | slugify}}.html">
                        {% if site == 'vanguard' %}
                        <button class="btn-secondary green-button">{% literal texts, 'price-mas', L %}</button>
                        {% endif %}
                        <p>&nbsp;</p>
                        <!--?
                        <p>{% literal texts, 'price-desde', L %} {{minF|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
                        -->
                        {% if site == 'cotown' %}
                        <button class="btn-secondary green-button">{% literal texts, 'price-mas', L %}</button>
                        {% endif %}  
                      </a>
                      <div id="{{b.id}}_F" class="pure-u-1 text-red"><p></p></div>
                    </div>
                    {% endif %}

                  </div>

                  <!-- Internal slider -->
                  <div class="carousel-mini">
                    <div class="splide mini" id="sliderMini_{{b.id}}" aria-label="sliderMini_{{b.id}}">
                      <div class="splide__track">

                        <!-- Arrows -->
                        <div class="splide__arrows arrows-mini">
                          <button type="button" class="arrow-mini splide__arrow splide__arrow--prev"
                              type="button"
                              aria-label="Previous slide"
                              aria-controls="splide01-track">
                              <em class="icon-corchete-left"></em>
                          </button>
                          <button type="button" class="arrow-mini splide__arrow splide__arrow--next"
                              type="button"
                              aria-label="Next slide"
                              aria-controls="splide01-track">
                              <em class="icon-corchete-right"></em>
                          </button>
                        </div>

                        <!-- Slider -->
                        <ul class="splide__list list-mini">
                          {% for s in b.Services %}
                          <li class="splide__slide">
                            <div class="card shadow">
                              <div class="ratio carousel-ratio">
                                {% svg
                                  constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Service.Images[0].id +"/Icon/contents?access_token=" + token,
                                  s.Service.Name
                                %}
                                <p>{{s.Service|translate('Name', L)}}</p>
                              </div>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>

                      </div>
                    </div>
                  </div>

                  <!-- ver más -->
                  <!--
                  <div class="price">
                    <button class="btn-text" click="showMore()">Ver más</button>
                  </div>
                  -->

                </div>

              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}

        </ul>

      </div>
    </div>
  </div>

  <!-- Mobile: column -->
  <div class="pisos mobile pure-u-1 {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
    <div class="piso-contain pure-u-1">
      {% for b in buildings | find('District.Location.id', 'eq', location.id) | find('Building_type_id', 'lt', 3) %}
      {% set ra = b.Resources | find('Sale_type', 'eq', 'ambos') | length %}
      {% set rp = b.Resources | find('Sale_type', 'eq', 'plazas') | length  %}
      {% if ra > 0 or rp > 0 %}
      <div class="piso-main pure-u-1">

        <!-- Photo -->
        <a href="{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html">
        <div class="img pure-u-1">
          {% for photo in b.Photos | find('Image_type', 'eq', 'habitacion') %}
          {% if loop.index == 1 %}
          {% image
              constants.SERVER + "/wopi/files/Marketing/Media_building/" + photo.id +"/Image/contents?access_token=" + token,
              b.Name, b.Name + '-' + photo.id | slugify, "card-img-top",
              [800], ""
          %}
          {% endif %}
          {% endfor %}
        </div>
        </a>

        <div class="piso pure-u-1">

          <a href="{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html">
            <h3>{{b.Name}}</h3>
          </a>

          {% set minI = 99999 %}
          {% set minD = 99999 %}
          {% for r in rooms | find('id', 'eq', b.id) %}
          {% for p in r.Place_types %}
          {% for f in p.Flat_types %}
            {% if p.Code[0] == 'I' and minI > f.Rent_long %}
              {% set minI = f.Rent_long %}
            {% endif %}
            {% if p.Code[0] == 'D' and minD > f.Rent_long %}
              {% set minD = f.Rent_long %}
            {% endif %}
          {% endfor %}
          {% endfor %}
          {% endfor %}

          <!-- Place types -->
          <div class="options pure-u-1">

            <!-- Habitacion individual -->
            {% if minI < 99999 %}
            <div class="type pure-u-22-24" onclick="location.href='{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html#I'">
              <div class="img-container pure-u-3-24">
                <img src="{{root}}/assets/img/icono__hab_habitacion_individual.svg">
              </div>
              <div class="h4-container pure-u-10-24 pure-u-lg-1-2">
                <h4>{% literal texts, 'type-habitacion-individual', L %}</h4>
                <div id="{{b.id}}_I" class="pure-u-1 text-red"><p></p></div>
              </div>
              <div class="p-container pure-u-9-24 pure-u-lg-7-24">
                <span>{% literal texts, 'price-desde', L %}<span>
                <p>{{minI|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
                <button 
                  class="btn-secondary green-button" 
                  onclick="location.href='{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html#I'">
                  {% literal texts, 'price-mas', L %}
                </button>
              </div>
            </div>
            {% endif %}

            <!-- Habitacion compartida -->
            {% if minD < 99999 %}
            <div class="type pure-u-22-24" onclick="location.href='{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html#D'">
              <div class="img-container pure-u-3-24">
                <img src="{{root}}/assets/img/icono__hab_habitacion_compartida.svg">
              </div>
              <div class="h4-container pure-u-10-24 pure-u-lg-1-2">
                <h4>{% literal texts, 'type-habitacion-compartida', L %}</h4>                
                <div id="{{b.id}}_D" class="pure-u-1 text-red"><p></p></div>
              </div>
              <div class="p-container pure-u-9-24 pure-u-lg-7-24">
                <span>{% literal texts, 'price-desde', L %}<span>
                <p>{{minD|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
                <button 
                  class="btn-secondary green-button" 
                  onclick="location.href='{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html#D'">
                  {% literal texts, 'price-mas', L %}
                </button>
              </div>
            </div>
            {% endif %}

            <!-- Apartamento privado -->
            {% if flats | find('id', 'eq', b.id) | length > 0 %}
            <div class="type pure-u-22-24">
              <div class="img-container pure-u-3-24">
                <img src="{{root}}/assets/img/icono__hab_apartamento_privado.svg">
              </div>
              <div class="h4-container pure-u-10-24 pure-u-lg-1-2">
                <h4>{% literal texts, 'type-apartamento-privado', L %}</h4> 
                <div id="{{b.id}}_F" class="pure-u-1 text-red"><p></p></div>
              </div>              
              <div class="button-container pure-u-9-24 pure-u-lg-7-24">
                <button 
                  class="btn-secondary green-button" 
                  onclick="location.href='{{root}}{{langs[L].folder}}/{{langs[L].pages['flats'].url}}-{{b.Name | slugify}}.html'">
                  {% literal texts, 'price-mas', L %}
                </button>
              </div>
            </div>
            {% endif %}
          </div>

          <!-- Services -->
          <div class="services-list {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
            <div class="splide mini" id="sliderMiniMobile_{{b.id}}" aria-label="sliderMiniMobile_{{b.id}}">
              <div class="splide__track">
                <ul class="splide__list list-mini">
                  {% for s in b.Services %}
                  <li class="splide__slide">
                    {% svg
                      constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Service.Images[0].id +"/Icon/contents?access_token=" + token,
                      s.Service.Name
                    %}
                    <p>{{s.Service|translate('Name', L)}}</p>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

</section>