<!-- Additional HEAD content -->
{% block head %}
{% set css %}
{% include "shared/css/location.css" %}
{% include "shared/css/leaflet/leaflet.css" %}
{% endset %}<style>{{ css | cssmin | safe }}</style>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

<!-- Main -->
<main class="location">

  <section class="location">
    <div class="container-main">

    <!-- First -->
    {% include 'shared/sections/location/first.html.njk' %}

    <!-- Buildings -->
    {% include 'shared/sections/location/flats/buildings.html.njk' %}

    </div>
  </section>

  <!-- Map -->
  <anchor class="anchor" id="mapanchor"></anchor> 
  <section class="map">

    <!-- Map -->
    <div class="map" id="map"></div>

    <!-- Popups -->
    {% for b in buildings | find('District.Location.id', 'eq', location.id) | find('Building_type_id', 'lt', 3) %}

    {% set min = 9999 %}
    {% for r in flats | find('id', 'eq', b.id) %}
    {% for f in r.Flat_types %}
      {% if min > f.Rent_long %}
        {% set min = f.Rent_long %}
      {% endif %}
    {% endfor %}
    {% endfor %}

    <div id="{{b.id}}" style="display: none;">
      <div class="mappopup" onclick="location.href='{{langs[L].folder}}/{{b.Name|ascii}}.html';">
        {% image
          constants.SERVER + "/wopi/files/Marketing/Media_building/" + b.Photos[0].id +"/Image/contents?access_token=" + token,
          b.Name, b.Name, "",
          [200], ""
        %}
        <div class="info">
          <div class="address">{{b.Name}}</div>
          <div class="from">{% literal texts, 'price-desde', L %}</div>
          <div class="price">{{min}}€/{% literal texts, 'price-mes', L %}</div>
        </div>
      </div>
    </div>
    {% endfor %}

  </section>

  <!-- Photos -->
  {% include 'shared/sections/location/photos.html.njk' %}

  <!-- Services -->
  {% include 'shared/sections/location/services.html.njk' %}

</main>

<!-- Scripts -->
{% block footer %}
{% set script %}
{% include "shared/js/map.js" %}

// Map
var map = createMap("map", 41.3933, 2.1377, 16);
var markerArray = [];
{% for b in buildings | find('District.Location.id', 'eq', location.id) | find('Building_type_id', 'lt', 3) %}
markerArray.push(putMarker(
  map,
  {{b.Lat_lon.slice(1,-1).split(',')[0]}},
  {{b.Lat_lon.slice(1,-1).split(',')[1]}},
  document.getElementById("{{b.id}}").innerHTML
));
{% endfor %}
if (markerArray.length > 0) {
  var group = L.featureGroup(markerArray).addTo(map);
  map.fitBounds(group.getBounds());
}

// Slider
new Splide(".splide-gallery", {
  type: 'slide',
  fixedWidth: '320px',
  fixedHeight: '180px',
  gap: '15px',
  padding: { left: '20vw', right: '10vw' },
}).mount();
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}
