<!-- Additional HEAD content -->
{% block head %}
<!--
{% set css %}
{% include "shared/css/location-prive.css" %}
{% include "shared/css/leaflet.css" %}
{% endset %}<style>{{ css | cssmin | safe }}</style>
-->
<link rel="stylesheet" href="{{root}}/assets/css/location-prive.css">
<link rel="stylesheet" href="{{root}}/assets/css/leaflet.css">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

<!-- Main -->
<main class="location">

  <section class="location">
    <div class="container-main">

    <!-- First -->
    {% include 'shared/sections/location/first.html.njk' %}

    <!-- Buildings -->
    {% include 'shared/sections/location/flats/buildings.html.njk' %}

    </div>
  </section>

  <!-- Map -->
  <anchor class="anchor" id="mapanchor"></anchor> 
  <section class="map">

    <!-- Map -->
    <div class="map" id="map"></div>

    <!-- Popups -->
    {% for b in buildings | find('District.Location.id', 'eq', location.id) | find('Building_type_id', 'lt', 3) %}

    {% set min = 99999 %}
    {% for r in flats | find('id', 'eq', b.id) %}
    {% for f in r.Flat_subtypes %}
      {% if min > f.Rent_long %}
        {% set min = f.Rent_long %}
      {% endif %}
    {% endfor %}
    {% endfor %} 

    {% if flats | find('id', 'eq', b.id) | length > 0 %}
    <div id="marker_{{b.id}}" style="display: none;">
      <div class="mappopup" onclick="location.href='{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{b.Name | slugify}}.html';">
        {% for photo in b.Photos | find ('Image_type', 'eq', 'piso')%}
        {% if loop.index == 1 %}
        {% image
          constants.SERVER + "/wopi/files/Marketing/Media_building/" + photo.id  +"/Image/contents?access_token=" + token,
          b.Name, b.Name + '-' + photo.id | slugify, "",
          [200], ""
        %}
        {% endif %}
        {% endfor %}
        <div class="info">
          <div class="address">{{b.Name}}</div>
          <div class="from">{% literal texts, 'price-desde', L %}</div>
          <div class="price">{{min}} €/{% literal texts, 'price-mes', L %}</div>
        </div>
      </div>
    </div>
    {% endif %}

    {% endfor %}

  </section>

  <!-- Photos -->
  {% include 'shared/sections/location/photos.html.njk' %}

  <!-- Services -->
  {% include 'shared/sections/location/services.html.njk' %}

</main>

<!-- Scripts -->
{% block footer %}
{% set script %}
{% include "shared/js/map.js" %}

// Map
var map = createMap("map", 41.3933, 2.1377, 16);
var markerArray = [];
{% for b in buildings | find('District.Location.id', 'eq', location.id) | find('Building_type_id', 'lt', 3) %}
{% if flats | find('id', 'eq', b.id) | length > 0 %}
markerArray.push(putMarker(
  map,
  {{b.Lat_lon.slice(1,-1).split(',')[0]}},
  {{b.Lat_lon.slice(1,-1).split(',')[1]}},
  document.getElementById("marker_{{b.id}}").innerHTML
));
{% endif %}
{% endfor %}
if (markerArray.length > 0) {
  var group = L.featureGroup(markerArray).addTo(map);
  map.fitBounds(group.getBounds());
}

// Slider
new Splide(".splide-gallery", {
  type: 'slide',
  fixedWidth: '320px',
  fixedHeight: '180px',
  gap: '15px',
  padding: { left: '20vw', right: '10vw' },
}).mount();

// Sliders
{% for b in buildings | find('District.Location.id', 'eq', location.id) | find('Building_type_id', 'lt', 3) %}
{% if flats | find('id', 'eq', b.id) | length > 0 %}
new Splide('#sliderMini_{{b.id}}', { type: 'loop', pagination: false, perMove: 1, perPage: 7 }).mount();
{% endif %}
{% endfor %}
{% for b in buildings | find('District.Location.id', 'eq', location.id) | find('Building_type_id', 'lt', 3) %}
{% if flats | find('id', 'eq', b.id) | length > 0 %}
new Splide('#sliderMiniMobile_{{b.id}}', { type: 'loop', gap: '16px', arrows: false, pagination: false, perMove: 1, perPage: 4 }).mount();
{% endif %}
{% endfor %}
new Splide('#sliderFlats', {
  type: 'loop',
  gap: '50px',
  focus: 'center',
  padding: '25%',
  breakpoints: {
    1279: { padding: '10%' },
    1399: { padding: '15%' },
    1599: { padding: '20%' },
  },
}).mount();

{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}