.cotownity {
    position: relative;
}
.cotownity .container-cotownity .coral {
    height: 100%;
    padding: 0 0 0 2em;
    background: var(--background-light-coral, #FFF5F7);
}
.cotownity .container-cotownity .left {
    height: 100%;
    padding-left: 6em;
}
.cotownity .container-cotownity .left .coral .fs-x-large {
    padding: 1em 0;
    text-transform: uppercase;
    text-align: start;
}
.cotownity .container-cotownity.cotown .left .fs-x-large {
    padding: 1em 0;
    text-align: left;
}
.cotownity .container-cotownity .left img {
    position: relative;
    left: -80px;
    width: 30vw;
    object-fit: cover;
    object-position: center center;
}
.cotownity .container-cotownity .right {
    height: 100%;
    background: var(--background-light-coral, #FFF5F7);
}
.cotownity .container-cotownity .widget {
    padding: 1em 2em 1em 0;
}
.cotownity-mobile {
    display: none;
}
.cotownity .last-contain {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: flex-end;
    padding: 5em 0 1em 0;
}
.cotownity .insta-fb {
    width: 33%;
    padding: 1em 2em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5em;
}
.cotownity .insta-fb em {
    font-size: var(--fs-hero);
    color: var(--primary);
}
.cotownity .feeling {
    position: relative;
    bottom: 240px;
    width: 100%
}
.cotownity .feeling .title-feel {
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 14px 25px 10px 0;
    width: 90%;
    text-align: right;
    text-transform: uppercase;
}
.cotownity .feeling.cotown .title-feel {
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 14px 25px 10px 0;
    width: 90%;
    text-align: right;
}
.cotownity .text-container .fs-x-large {
    text-transform: uppercase;
    text-align: center;
}
.cotownity.cotown {
    background-color: var(--white);    
}
.cotownity.cotown .container-cotownity {  
    width: 100%;
    height: 100%;
}
.cotownity.cotown .container-cotownity .container-img {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto 1em;      
}
.cotownity.cotown .container-cotownity .container-img .left {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    padding: 2em 2em 5em;
    background-color: var(--white-bg-op2);
}
.cotownity.cotown .container-cotownity .container-img .left .fs-x-large {
    width: 180px;
    padding: 0;
    text-align: left;
    text-transform: none;
    margin: 1em 0 0;
}
.cotownity.cotown .container-cotownity .container-img .left .redes-contain {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: flex-end;
    padding: 0;
}
.cotownity.cotown .container-cotownity .container-img .left .insta-fb {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    gap: 4px;
}
.cotownity.cotown .container-cotownity .container-img .left .insta-fb em.icon-instagram {
    font-size: var(--fs-medium);
    color: var(--primary-old);
}
.cotownity.cotown .container-cotownity .container-img .left .insta-fb em.icon-facebook {
    font-size: var(--fs-medium);
    color: var(--primary-old);
}
.cotownity.cotown .container-cotownity .container-img .left .title-feel {
    color: var(--primary-old);
    text-transform: lowercase;
    margin: 0;
}
.cotownity.cotown .container-cotownity .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.cotownity.cotown .container-widget {
    width: 100%;
}
.cotownity.cotown .container-widget .widget {
    padding: 0 0;
}
@media only screen and (max-width: 63.99em) {
	.cotownity {
        display: none;
    }
	.cotownity-mobile {
        display: block;
    }
	.cotownity-mobile .container-cotownity .container-img {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0 auto;      
    }
	.cotownity-mobile .container-cotownity .container-img .left {
        position: absolute;
        bottom: 4px;
        left: 0;
        width: fit-content;
        height: fit-content;
        padding: 0.5em 0.5em 1em 1em;
        background-color: var(--white-bg-op2);
    }
	.cotownity-mobile .container-cotownity .container-img .left .fs-x-large {
        width: 30vw;
        padding: 0;
        text-align: left;
        text-transform: none;
        margin: 1em 0 0;
    }
	.cotownity-mobile .container-cotownity .container-img .left .redes-contain {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
        align-items: flex-end;
        padding: 0;
    }
	.cotownity-mobile .container-cotownity .container-img .left .insta-fb {
        width: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        gap: 4px;
    }
	.cotownity-mobile .container-cotownity .container-img .left .insta-fb em.icon-instagram {
        font-size: var(--fs-medium);
        color: var(--primary-old);
    }
	.cotownity-mobile .container-cotownity .container-img .left .insta-fb em.icon-facebook {
        font-size: var(--fs-medium);
        color: var(--primary-old);
    }
	.cotownity-mobile .container-cotownity .container-img .left .title-feel {
        color: var(--primary-old);
        text-transform: lowercase;
        margin: 0;
    }
	.cotownity-mobile .container-cotownity .container-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
	.cotownity-mobile .container-cotownity.cotown .container-img .left {
        width: 50%;
    }
	.cotownity-mobile .container-cotownity.cotown .container-img .left .fs-x-large {
        width: 100%;
    }
	.cotownity-mobile .container-cotownity.cotown .container-img .left .title-feel {
        text-transform: lowercase;
        margin: 0.5em 0 0;
    }
}
