{% set feed %}<script defer async src="https://cdn.trustindex.io/loader-feed.js?{{ cfg.trustindex_feed }}"></script>{% endset %}

<section class="cotownity {{ site }}">
  {% if site == 'vanguard' %}
    <div class="container-cotownity pure-g">
      <div class="pure-u-1">
        <div class="text-container">
          <h2 class="text-xx-large title">{{ literal('home-cotownity-titulo', L) }}</h2>
        </div>
        <div class="widget">
          {{ feed }}
        </div>
      </div>
    </div>
  {% else %}
    <div class="container-cotownity cotown pure-g">
      <div class="container-img pure-u-1">
        <div class="left">
          <div class="redes-contain">
            <div class="insta-fb">
              <em class="icon-instagram"></em>
              <em class="icon-facebook"></em>
            </div>
          </div>
          <div class="text-xx-large">{{ literal('home-cotownity-titulo', L) }}</div>
          <div class="text-large title-feel">{{ literal('home-cotownity-hashtag', L) }}</div>
        </div>
        {{ image(images['cotownity'], alt='community') }}
      </div>

      <!-- Widget instagram -->
      <div class="container-widget">
        <div class="widget">
          {{ feed }}
        </div>
      </div>
    </div>
  {% endif %}
</section>

<section class="cotownity-mobile">
  {% if site == 'vanguard' %}
    <div class="coral">
      <div class="text-xx-large">{{ literal('home-cotownity-titulo', L) }}</div>
    </div>
    {{ feed }}
  {% else %}
    <div class="container-cotownity cotown pure-g">
      <div class="container-img pure-u-1">
        <div class="left">
          <div class="redes-contain">
            <div class="insta-fb">
              <em class="icon-instagram"></em>
              <em class="icon-facebook"></em>
            </div>
          </div>
          <div class="text-xx-large">{{ literal('home-cotownity-titulo', L) }}</div>
          <div class="text-large title-feel">{{ literal('home-cotownity-hashtag', L) }}</div>
        </div>
        {{ image(images['cotownity'], alt='community') }}
      </div>
    </div>
    {{ feed }}
  {% endif %}
</section>
