<!-- Menú (logo + navegación, horizontal en escritorio / deslizante en móvil)
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="section-menu pure-g">
  <div class="nav-bar custom-wrapper pure-g {{ site }}" id="navMenu">

    <!-- Barra: hamburguesa (móvil) + logo -->
    <div class="menu-brand pure-u-1 pure-u-lg-6-24">

      <div class="pure-menu pure-u-1-3">
        <a href="#" id="menuToggle" class="menu-toggle" type="button" onclick="showMobileMenu()">
          <em class="icon-flat"></em>
        </a>
      </div>

      {% if site == 'vanguard' %}
      <div class="brand-logo pure-u-1-3">
        <a class="desktop" href="{{ root }}{{ langs[L].folder }}/">
          <img class="brand-logo-img" alt="logo" src="{{ root }}/assets/img/vanguard-coral.svg">
        </a>
        <a class="mobile" href="{{ root }}{{ langs[L].folder }}/">
          <img class="brand-logo-img" alt="logo" src="{{ root }}/assets/img/vanguard.svg">
        </a>
      </div>
      {% else %}
      <div class="brand-logo pure-u-1">
        <a class="desktop" href="{{ root }}{{ langs[L].folder }}/">
          <div class="text-x-large"><img class="brand-logo-img cotown" alt="Cotown" src="{{ root }}/assets/img/cotown-logo-black.svg"></div>
        </a>
        <a class="mobile" href="{{ root }}{{ langs[L].folder }}/">
          <div class="text-x-large"><img class="brand-logo-img cotown" alt="Cotown" src="{{ root }}/assets/img/cotown-logo-black.svg"></div>
        </a>
      </div>
      {% endif %}

    </div>

    <!-- Panel de navegación (desplegable en móvil) -->
    <div class="menu-nav pure-u-1 pure-u-xl-16-24 pure-u-lg-18-24 pure-menu pure-menu-horizontal custom-can-transform" id="menu-panel">

      <!-- Cabecera del panel (móvil) -->
      <div class="menu-mobile-head pure-u-1" id="menu-mobile-head">
        <div class="menu-mobile-title pure-u-5-24">
          <p>Menu</p>
        </div>
        <div class="brand-logo pure-u-11-24">
          <a href="{{ root }}{{ langs[L].folder }}/">
            {% if site == 'vanguard' %}
            <img class="brand-logo-img" alt="logo" src="{{ root }}/assets/img/vanguard.svg">
            {% else %}
            <img class="brand-logo-img" alt="logo" src="{{ root }}/assets/img/cotown-logo-black.svg">
            {% endif %}
          </a>
        </div>
        <div class="menu-mobile-close pure-u-5-24">
          <a type="button" onclick="hideMobileMenu()"><em class="icon-close"></em></a>
        </div>
      </div>

      <!-- Cuenta + idioma (móvil) -->
      <div class="menu-mobile-account pure-u-1">
        <div class="menu-account">
          <span><em class="icon-user"></em></span>
          <a href="https://www.cotowngroup.com/customer">
          <p>{{ literal('button-area-privada', L) }}</p>
          </a>
        </div>
        <div class="menu-lang">
          <div class="lang-select-mobile">
            {% if L == 'es' %}
            <label class="lang-current-mobile">
              <span class="lang-value-mobile">ES</span>
              <em class="icon-corchete-down mobile"></em>
            </label>
            <div data-toggle="collaps" class="lang-list-mobile">
              <a href="{{ alt.en }}"><div class="lang-item-mobile">EN</div></a>
            </div>
            {% else %}
            <label class="lang-current-mobile">
              <span class="lang-value-mobile">EN</span>
              <em class="icon-corchete-down mobile"></em>
            </label>
            <div data-toggle="collaps" class="lang-list-mobile">
              <a href="{{ alt.es }}"><div class="lang-item-mobile">ES</div></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Navegación -->
      <ul class="menu-list pure-menu-list {{ site }}">
        <li class="locations-dropdown pure-menu-item">
          <div class="locations-container">
            <label class="locations-label">
              <a href="{{ root }}{{ langs[L].folder }}/{{ langs[L].pages['locations'].url }}.html">{{ langs[L].pages['locations'].text }}</a>
            </label>
          </div>
        </li>
        <li class="menu-item"><a href="{{ root }}{{ langs[L].folder }}/{{ langs[L].pages['advantages'].url }}.html">{{ langs[L].pages['advantages'].text }}</a></li>
        <li class="menu-item"><a href="{{ root }}{{ langs[L].folder }}/{{ langs[L].pages['faqs'].url }}.html">{{ langs[L].pages['faqs'].text }}</a></li>
        <li class="menu-item"><a href="{{ root }}{{ langs[L].folder }}/{{ langs[L].pages['blog'].url }}.html">{{ langs[L].pages['blog'].text }}</a></li>
        <li class="menu-item"><a href="{{ root }}{{ langs[L].folder }}/{{ langs[L].pages['contact'].url }}.html">{{ langs[L].pages['contact'].text }}</a></li>
      </ul>

      <!-- Redes sociales (móvil) -->
      <div class="menu-mobile-social">
        <div class="menu-social">
          <a href="{{ globals.rrss.wh }}" rel="noopener, noreferrer" target="_blank"><em class="icon-whatsapp"></em></a>
          <a href="{{ globals.rrss.fb }}" rel="noopener, noreferrer" target="_blank"><em class="icon-facebook"></em></a>
          <a href="{{ globals.rrss.in }}" rel="noopener, noreferrer" target="_blank"><em class="icon-linkedin"></em></a>
          <a href="{{ globals.rrss.tk }}" rel="noopener, noreferrer" target="_blank"><em class="icon-tiktok"></em></a>
        </div>
      </div>

    </div>

  </div>
</section>
