---
name: rooms
eleventyComputed:
    L: "en"
    title: "{{langs[L].pages[name].title}} | {{building.Name}}"
    alt:
      es: "{{langs.es.folder}}/{{langs[L].pages[name].url}}-{{building.Name | ascii}}.html"
      en: "{{langs.en.folder}}/{{langs[L].pages[name].url}}-{{building.Name | ascii}}.html"
    description: "{{building | translate('Name',L)|ascii}}"
    permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{building.Name | ascii}}.html"
layout: shared/layouts/base.html
pagination:
    data: buildings
    size: 1
    alias: building
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
{% include 'shared/sections/rooms/main.html.njk' %}