---
name: index
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{root}}{{langs.es.folder}}/"
      en: "{{root}}{{langs.en.folder}}/"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional head content -->
{% block head %}
<!--{% set css %}{% include "shared/css/home.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

<!-- Main -->
<main class="main">
  <div class="container-main">
 
    <!-- Cabecera -->
    {% include 'shared/sections/home/main-header.html.njk' %}

    <!-- ... -->
    {% include 'shared/sections/home/what-is.html.njk' %}

    <!-- Locations -->
    {% include 'shared/sections/home/locations.html.njk' %}

    <!-- Pisos -->
    {% include site + '/sections/home/choose.html.njk' %}

    <!-- Servicios -->
    {% include 'shared/sections/home/services.html.njk' %}

    <!-- Cotownity -->
    {% include 'shared/sections/home/cotownity.html.njk' %}

    <!-- Partners -->
    {% include 'shared/sections/home/partners.html.njk' %}

    <!-- Testimonials -->
    {% include 'shared/sections/home/testimonial.html.njk' %}

  </div>
</main>

{% block footer %}
{% set script %}
// Sliders
new Splide('.splide-partners', {
  type: 'loop',
  fixedWidth: '240px',
  focus: 0,
  perMove: 1,
  drag: 'free',
  arrows: false,
  pagination: false,
  pauseOnHover: false,
  pauseOnFocus: false,
  autoScroll: { speed: 2 }
}).mount( window.splide.Extensions );

new Splide(".splide-locations", {
  type: 'loop',
  height: '360px',
  focus: 0,
  perPage: 3,
  perMove: 1,
  padding: '5em',
  gap: '15px',
  breakpoints: {
    1279: { perPage: 2 },
    1023: { padding: '3em', height: '300px' },
    767: { perPage: 1 },
  },
}).mount();

new Splide(".splide-opinions", {
  type: 'slide',
  focus: 0,
  height: 340,
  perPage: 3,
  perMove: 1,
  padding: '10em',
  gap: '20px',
  breakpoints: {
    1599: { perPage: 2 },
    1023: { perPage: 1 },
    767: { padding: 0 },
  },
}).mount();
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}
