---
name: locations
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
<!--{% set css %}{% include "shared/css/locations.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="/assets/css/locations.css">
{% endblock %}

<!-- Main -->
<main class="locations">
  <div class="container-main">

    <!-- List of locations -->
    {% include 'shared/sections/locations/locations.html.njk' %}

  </div>
</main>