<section class="first-contain pure-u-1">

  <!-- Photo carousel -->
  <section id="image-carousel" class="splide first-slider pure-u-1" aria-label="Beautiful Images">
    <div class="title-button">
      <h1>{{building.Name}}</h1>
      {% if building.Tour %}
      <button class="btn-secondary" onclick="open_tour()">
        {% literal texts, 'rooms-tour-virtual', L %}
      </button>
      {% endif %}
    </div>     
    <div class="splide__track">
      <ul class="splide__list">
        {% for i in building.Photos | find('Image_type', 'eq', 'habitacion') %}
        <li class="splide__slide">
          {% image
            constants.SERVER + "/wopi/files/Marketing/Media_building/" + i.id +"/Image/contents?access_token=" + token,
            building.Name, building.Name + '-' + i.id | slugify, "",
            [1200], ""
          %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <div class="pure-u-1 after-slide">

    <!-- Description -->
    <div class="text-first pure-u-23-24 pure-u-lg-12-24">
    {{ building | translate('Details', L) | markdown | safe }}
    </div>

    <!-- Services -->
    <section class="flat-services pure-u-23-24 pure-u-lg-9-24">
      <div id="splideServices" class="splide splide-services" role="group">
        <div class="splide__track">
          <ul class="splide__list">

            {% for s in services %}
              {% if loop.first %}
              <li class="splide__slide">
              <div class="slide">
              {% endif %}
                <div class="img">
                  {% svg
                    constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Icons[0].id +"/Icon/contents?access_token=" + token,
                    s.Name
                  %}
                </div>
                <p class="title">{{s | translate('Name', L)}}</p>
              {% if loop.last %}
              </div>
              </li>
              {% else %}
              {% if loop.index % 2 == 0%}
              </div>
              </li>
              <li class="splide__slide">
              <div class="slide">
              {% endif %}
              {% endif %}
            {% endfor %}

          </ul>
        </div>
      </div>
    </section>
  
  </div>

  <div class="pure-u-1 after-slide bottom">

    <div class="text-first pure-u-23-24 pure-u-lg-10-24">
      {% if building.Tour %}
      <button class="btn-text">
        <a href="#" onclick="open_tour()">{% literal texts, 'rooms-tour-virtual', L %}</a>
        </button>
      {% endif %}
      <button class="btn-text">
        <a href="#barrio">{% literal texts, 'rooms-tu-barrio', L %}</a>
      </button>
    </div>

    <!-- Calendar -->
    <!-- TODO - Fechas
    <section class="right-calendar pure-u-23-24 pure-u-lg-11-24 ">
      <div class="calendar pure-u-1">
        <div class="reservas_form_div pure-u-1">
          <form id="reservas_form" name="form_multi" method="GET">
            <button class="date-button">
              <label class="labels">Entrada</label>
              <input type="text" id="in" onfocus="(this.type='date')" class="inputs" name="in" placeholder="dd/mm/aaaa"/>
            </button>
            <button class="date-button">
              <label class="labels">Salida</label>
              <input type="text" id="out" onfocus="(this.type='date')" class="inputs" name="out" placeholder="dd/mm/aaaa"/>
            </button>
          </form>
        </div>
      </div>
    </section>
    -->

  </div>

</section>

<div id="tour" class="tour-modal">
	<div class="tour-modal-content">
    <div class="close" onclick="close_tour();">
      <em class="icon-close"></em>
    </div>
    <iframe id="tourframe" width="100%" frameborder="0" allowfullscreen="allowfullscreen">
    </iframe>
  </div>
</div>

{% block footer %}
{% set script %}
function open_tour() {
  document.getElementById("tourframe").src="{{building.Tour}}" 
  document.getElementById("tour").style.display = "block";
}
function close_tour() {
  document.getElementById("tour").style.display = "none";
}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}