header,
main,
footer {
	width: 99.99%;
	min-width: 99.99%;
	display: block;
}
footer section.container-footer {
	color: var(--primary-text);
	background-color: var(--footer);
	padding: 3em 4em 5em;
}
footer .container-footer .contain {
	border-bottom: 1px solid #3c434ab3;
	padding: 0 0 2em;
	align-content: space-between;
}
footer section.container-footer .contain .left .footer-logo .logo-container {
	padding-top: 30px;
	width: fit-content;
	text-align: center;
}
footer section.container-footer .contain .left .footer-logo .logo-container .group {
	border-bottom: 1px solid white;
	padding-bottom: 20px;
}
footer section.container-footer .contain .left .footer-logo .logo-container .group img {
	width: 260px;
}
footer section.container-footer .contain .left .footer-logo .logo-container .brands {
	display: flex;
	justify-content: center;
	align-items: center;
}
footer section.container-footer .contain .left .footer-logo .logo-container .brands img {
	padding: 20px 20px;
	width: 110px;
}
footer section.container-footer .contain .left .redes em {
	margin-right: 2.3rem;
	font-size: var(--fs-x-large);
}
footer section.container-footer .contain .left .redes em:last-of-type {
	margin-right: 0;
}
footer section.container-footer .contain .right .footer-contain ul {
	margin-bottom: 0;
	padding: 0;
}
footer section.container-footer .contain .right .footer-contain ul li {
	display: block;
	padding: 1em 0;
}
footer section.container-footer .contain .right .footer-contain ul li a {
	line-height: 20px;
	color: var(--primary-text);
	text-decoration: none;
	font-weight: 300;
	font-size: var(--fs-small);
}
footer section.container-footer .contain .right .footer-contain ul li.bold a {
	font-weight: 500;
}
footer section.container-footer .footer-info {
	padding-top: 1.5em;
}
footer section.container-footer .footer-info .redes em {
	font-size: var(--fs-x-large);
	padding-right: 1em;
	color: var(--primary-old);
}
footer section.container-footer .footer-info .info-desktop p {
	font-weight: 300;
}
footer section.container-footer .footer-info.mobile {
	display: none;
}
@media only screen and (min-width: 64em) {
	footer .container-footer .contain .right .mobile-listado {
		display: none;
	}
	footer section.container-footer .footer-info .info-desktop {
		font-size: var(--fs-x-small);
		color: var(--white-background);
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
	}
	footer section.container-footer .footer-info .info-desktop p {
		color: var(--white-background);
		margin: 0 0 0 3em;
	}
	footer section.container-footer .footer-info.mobile {
		display: none;
	}
	footer section.container-footer .contain .left .img-logo {
		height: 100px;
	}
}
@media only screen and (min-width: 64em) and (max-width: 79.99em) {
	footer section.container-footer {
		padding: 3em 2em;
	}
	footer section.container-footer .contain .left.pure-u-1-3 {
		width: 26%;
	}
	footer section.container-footer .contain .right.pure-u-2-3 {
		width: 74%;
	}
	footer section.container-footer .footer-info .redes.pure-u-2-5 {
		width: 30%;
	}
	footer section.container-footer .footer-info .redes em {
		font-size: var(--fs-large);
		padding-right: 0.5em;
	}
	footer section.container-footer .info-desktop.pure-u-3-5 {
		width: 70%;
	}
	footer section.container-footer .footer-info .info-desktop {
		font-size: var(--fs-x-small);
	}
	footer section.container-footer .footer-info .info-desktop p {
		margin: 0 0 0 1em;
	}
}
@media only screen and (max-width: 63.99em) {
	footer section.container-footer {
		padding: 2em;
		text-align: center;
	}
	footer section.container-footer .contain {
		padding: 0;
		border-bottom: none;
	}
	footer section.container-footer .contain .left .footer-logo {
		display: flex;
		justify-content: center;
	}
	footer section.container-footer .contain .left {
		width: 100%;
		padding-left: 0;
	}
	footer section.container-footer .contain .left .footer-info.mobile {
		text-align: center;
		margin: 0 0 1em;
		padding: 0;
		display: block;
	}
	footer section.container-footer .contain .left .footer-info.mobile p {
		margin: 0.5em;
		font-weight: 600;
		font-size: var(--fs-x-small);
	}
	footer section.container-footer .contain .footer-info.desktop {
		display: none;
	}
	footer section.container-footer .contain .right .footer-contain {
		display: none;
	}
	footer section.container-footer .contain .right .mobile-listado a {
		line-height: 25px;
		color: var(--primary-text);
		text-decoration: none;
		font-weight: 300;
		font-size: var(--fs-x-small);
	}
	footer section.container-footer .contain .right .mobile-listado {
		margin: 1em 0;
	}
	footer section.container-footer .contain .right,
	footer section.container-footer .footer-info,
	footer section.container-footer .footer-info .redes,
	footer section.container-footer .footer-info .info-desktopp,
	footer section.container-footer .footer-info .redes em {
		width: 100%;
		justify-content: stretch;
		align-content: center;
	}
	footer section.container-footer .footer-info .info-desktop {
		display: none;
		justify-content: stretch;
		align-content: center;
	}
	footer section.container-footer .redes-mobile {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	footer section.container-footer .redes-mobile em {
		font-size: var(--fs-x-large);
		padding-right: 1em;
		color: var(--primary);
	}
	footer section.container-footer .footer-info .redes {
		display: none;
	}
	footer section.container-footer .contain .left .img-logo {
		height: 69px;
	}
	footer .sep {
		padding: 0 5px;
	}
}
