    <!-- Reservas popup -->
    <div id="popupBooking" class="overlay">
      <div class="popup">

        <a class="close" href="#">
          <em class="icon-close"></em>
        </a>

        <div class="content-booking">

          <section>
            <h2>
              {% literal texts, 'home-donde', L %}
            </h2>
            <div class="city-selector">
              <select class="select" type="select" id="city-select" name="city-select">
                <option>{% literal texts, 'home-donde-seleccionar', L %}</option>
                {% for l in locations %}
                <option>{{ l | translate('Name', L)}}</option>
                {% endfor %}
              </select>
              <div class="city-icons">
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="/assets/icons/icono__ciudad_barcelona.svg">
                    <p>BARCELONA</p>
                  </div>                
                </div>
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="/assets/icons/icono__ciudad_valencia.svg">
                    <p>VALENCIA</p>
                  </div>                
                </div>
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="/assets/icons/icono__ciudad_bilbao.svg">
                    <p>BILBAO</p>
                  </div>
                </div>
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="/assets/icons/icono__ciudad_madrid.svg">
                    <p>MADRID</p>
                  </div>                
                </div>     
              </div>
            </div>
          </section>

          <section>
            <h2>
              ¿Qué estás buscando?
            </h2>
            <div class="city-selector">            
              <div class="city-icons">
                 <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="/assets/icons/icono__tipo_piso_compartido.svg">
                    <p>PISO COMPARTIDO</p>
                  </div>                
                </div>
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="/assets/icons/icono__tipo_apartamento_privado.svg">
                    <p>APARTAMENTO PRIVADO</p>
                  </div>                
                </div>
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="/assets/icons/icono__tipo_residencia_universitaria.svg">
                    <p>RESIDENCIA</p>
                  </div>                
                </div>                   
              </div>
            </div>
          </section>

          <section>
            <h2>
              ¿Qué tipo de habitación?
            </h2>
            <div class="city-selector">            
              <div class="city-icons">             
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="/assets/img/icono__hab_habitacion_individual.svg">
                    <p>HABITACIÓN INDIVIDUAL</p>
                  </div>
                </div>
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="/assets/img/icono__hab_habitacion_compartida.svg">
                    <p>HABITACIÓN COMPARTIDA</p>
                  </div>                
                </div>     
              </div>
            </div>
          </section>

          <section>
            <h2>
              ¿Cuándo?
            </h2>
             <!-- CALENDAR -->
            <div class="calendar pure-u-1-1">
              <div class="reservas_form_div pure-u-1 pure-u-lg-1-2">         
                <form id="reservas_form" name="form_multi" method="GET">
                  <button class="date-button">
                    <label class="labels">Entrada</label>
                    <input type="text" id="in" onfocus="(this.type='date')" class="inputs" name="in" placeholder="02/06/2023"/>
                  </button> 
                  <button class="date-button">
                    <label class="labels">Salida</label>
                    <input type="text" id="out" onfocus="(this.type='date')" class="inputs" name="out" placeholder="02/09/2023"/>
                  </button>
                </form>
              </div>
            </div>
          </section>

          <section class="results">
            <button class="btn-secondary">
                Ver Resultados
            </button>
          </section>

        </div>    

      </div>
    </div>

