<div class="popup-container">
	<label class="popup-button" for="login-popup">Login</label>
	<input type="checkbox" id="login-popup">
	<div class="popup">
		<label for="login-popup" class="transparent-label"></label>
		<div class="popup-inner">
			<div class="popup-title">
				<h6>Login</h6>
				<label for="login-popup" class="popup-close-btn">Close</label>
			</div>
			<div class="popup-content">
				<form action="">
					<ul>
						<li>
							<input type="text" placeholder="Username">
						</li>
						<li>
							<input type="password" placeholder="Password">
						</li>
						<li>
							<button type="submit">Log in</button>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>