<header>

<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="container-header first pure-g">
  <div class="turquoise-line pure-u-1-2 pure-u-lg-1">

    <!-- Banner
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="left-content pure-1-2">
      {% for b in banners %}
      {% if loop.index == 1 %}
      <div class="spot">{{b | translate('Text', L)}}</div>
        <a href="{{b.Link}}"><button class="btn-primary">{% literal texts, 'header-descubrir', L %}</button></a>
      {% endif %}
      {% endfor %}
    </div>
     
    <!-- Cabecera
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="right-content pure-1-2">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">

          <li class="icons-header pure-menu-item">
            <!-- Buscador -->
            <a href="#" class="pure-menu-link"><em class="icon-search"></em></a>
            <!-- Whatsapp -->
            <a href="{{globals.rrss.wh}}" class="pure-menu-link"><em class="icon-whatsapp-primary"></em></a>
          </li>

          <!-- Idiomas -->
          <li class="lang pure-menu-item">
            <div class="select-container">
              {% if L == 'es' %}
              <label class="selected-option" for="options">
                <em class="icon-corchete-down"></em>
                <span class="select-value">Español (ES)</span>
              </label>
              <div data-toggle="collapsed" class="options">
                <a href="{{alt.en}}"><div class="option">English (UK)</div></a>
              </div>
              {% else%}
              <label class="selected-option" for="options">
                <em class="icon-corchete-down"></em>
                <span class="select-value">English (EN)</span>
              </label>
              <div data-toggle="collapsed" class="options">
                <a href ="{{alt.es}}"><div class="option">Español (ES)</div></a>
              </div>
              {% endif %}
            </div>
          </li>

          <!-- Area privada -->
          <li class="pure-menu-item private-container">
            <button class="private">
              <em class="icon-log-in"></em>
              <p class="private-area">{% literal texts, 'header-area-privada', L %}</p>
            </button>
          </li>

          <!-- Reservar -->
          <li class="pure-menu-item">
            <div class="booking">            
              <button class="btn-primary">
              <a href="#popupBooking">
              {% literal texts, 'header-reservar', L %}
              </a>
              </button></button>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section>

<!-- Menu Desktop Horizontal y Mobile Vertical
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="container-header second pure-g">
  <div class="black-line custom-wrapper pure-g" id="blackMenu">
    <div class="left-nav pure-u-1 pure-u-lg-6-24">
      <!-- MENU (movil) -->
      <div class="pure-menu pure-u-1-3">     
        <a href="#" id="menuLink" class="menu-link" type="button" onclick="mostrarMenuMobile()">
          <em class="icon-flat"></em>
        </a>
      </div>
      <!-- Logo -->
      {% include site + '/sections/common/header-logo.html.njk' %}

      <!-- Reservar (movil) -->
      <div class="booking pure-u-1-3">
        <button class="btn-primary">
          <a href="#popupBooking">
          {% literal texts, 'header-reservar', L %}
          </a>
        </button>
      </div>
    </div>
  <!-- RESERVAS POPUP -->
    <div id="popupBooking" class="overlay">
      <div class="popup">
        <a class="close" href="#">
          <em class="icon-close"></em>
        </a>
        <div class="content">
          <section>
            <h2>
              ¿En qué ciudad quieres vivir?
            </h2>
            <div class="city-selector">
              <select class="select" type="select" id="city-select" name="city-select">
                <option>Seleccionar Ubicación</option>
                <option>Barcelona</option>
                <option>Valencia</option>
              </select>
              <div class="city-icons">
                <div class="city">
                  <div class="content">
                    <img class="img" alt="city" src="/assets/img/sagrada-familia.svg">
                    <p>BARCELONA</p>
                  </div>                  
                </div>
                <div class="city">
                  <div class="content">
                    <img class="img" alt="city" src="/assets/img/oceanografic.svg">
                    <p>VALENCIA</p>
                  </div>                  
                </div>
                <div class="city">
                  <div class="content">
                    <img class="img" alt="city" src="/assets/img/guggenheim.svg">
                    <p>BILBAO</p>
                  </div>
                </div>
                <div class="city">
                  <div class="content">
                    <img class="img" alt="city" src="/assets/img/puerta-alcala.svg">
                    <p>MADRID</p>
                  </div>                  
                </div>       
              </div>
            </div>
          </section> 
          <section>
            <h2>
              ¿Qué estás buscando?
            </h2>
            <div class="city-selector">              
              <div class="city-icons">
                <div class="city">
                  <div class="content">
                    <img class="img" alt="city" src="/assets/img/sagrada-familia.svg">
                    <p>BARCELONA</p>
                  </div>                  
                </div>
                <div class="city">
                  <div class="content">
                    <img class="img" alt="city" src="/assets/img/oceanografic.svg">
                    <p>VALENCIA</p>
                  </div>                  
                </div>                     
              </div>
            </div>
          </section>
          <section>
            <h2>
              ¿Qué tipo de habitación?
            </h2>
            <div class="city-selector">              
              <div class="city-icons">               
                <div class="city">
                  <div class="content">
                    <img class="img" alt="city" src="/assets/img/guggenheim.svg">
                    <p>BILBAO</p>
                  </div>
                </div>
                <div class="city">
                  <div class="content">
                    <img class="img" alt="city" src="/assets/img/puerta-alcala.svg">
                    <p>MADRID</p>
                  </div>                  
                </div>       
              </div>
            </div>
          </section>
            
            

        </div>      
      </div>
    </div>




    <div class="right-nav pure-u-1-1 pure-u-lg-16-24 pure-menu pure-menu-horizontal custom-can-transform" id="menu">
     
      <!-- Menu -->
      <ul class="black-menu pure-menu-list" id="menu-desplegado">     
        <! ONLY MOBILE -->
        <div class="only-mobile-menu pure-u-1-1" id="only-mobile-menu">
          <div class="only-text pure-u-5-24">
            <p>Menú</p>
          </div>
          <!-- Logo -->
          <div class="logo pure-u-11-24">       
            <a href="{{langs[L].folder}}/">
              <img class="img-logo" alt="logo" src="/assets/shared/img/vanguard-white.svg">
              <!-- <h1><span class="turquoise">C</span>OTOWN<span class="turquoise">.</span></h1> -->
            </a>
          </div>
          <div class="menu-mobile-icons pure-u-5-24">           
              <em class="icon-search"></em>
              <a type="button" onclick="ocultarMenuMobile()"><em class="icon-close"></em></a>
          </div>         
        </div>
        <div class="only-mobile-private pure-u-1-1">
          <div class="area">
            <span><em class="icon-user"></em></span>
            <p>Área privada</p>
          </div>
          <div class="lang-mobile">
            <p>ES</p>
            <em class="icon-corchete-down"></em>
          </div>
        </div>
        <!-- Locations -->
        <li class="locations-dropdown pure-menu-item">
          <div class="locations-container">
            <label class="locations-label">
                <span class="loc"><a href="{{langs[L].folder}}/{{langs[L].pages['locations'].url}}.html">{{langs[L].pages['locations'].title}}</a></span>
                <div class="icons-open-close">
                  <em class="change-value icon icon-corchete-down" for="options"></em>                 
                </div>
            </label>
            <div data-toggle="close" class="options-loc">
                {% for l in locations %}
                <div class="option-loc">
                  <a href="{{langs[L].folder}}/{{l | translate('Name', L) | ascii}}.html">
                  <em class="icon-map-point"></em>
                    {{l | translate('Name', L)}}
                  </a>
                </div>
                {% endfor %}
            </div>
          </div>
        </li>

        <!-- About -->
        <li class="about"><a href="{{langs[L].folder}}/{{langs[L].pages['about'].url}}.html">{{langs[L].pages['about'].title}}</a>
        </li>

        <!-- Advantages -->
        <li class="advantages"><a href="{{langs[L].folder}}/{{langs[L].pages['advantages'].url}}.html">{{langs[L].pages['advantages'].title}}</a>
        </li>

        <!-- Faqs -->
        <li class="faqs"><a href="{{langs[L].folder}}/{{langs[L].pages['faqs'].url}}.html">{{langs[L].pages['faqs'].title}}</a>
        </li>

        <!-- Blog -->
        <li class="blog"><a href="{{langs[L].folder}}/{{langs[L].pages['blog'].url}}.html">{{langs[L].pages['blog'].title}}</a>
        </li>

        <!-- Contact -->
        <li class="contact"><a href="{{langs[L].folder}}/{{langs[L].pages['contact'].url}}.html">{{langs[L].pages['contact'].title}}</a>
        </li>
   
       <!-- MOBILE MENU BOTÓN BOOKING -->

        <li class="only-menu-mobile pure-menu-item">
          <div class="booking pure-u-1">
            <button class="btn-secondary">Encuentra mi nuevo hogar
            <em class="icon-house"></em>
            </button>
          </div>
         
          <div class="redes-mobile">
            <a href="{{globals.rrss.wh}}" rel="noopener, noreferrer" target="_blank"><em class="icon-whatsapp-primary"></em></a>
            <a href="{{globals.rrss.fb}}" rel="noopener, noreferrer" target="_blank"><em class="icon-facebook-primary"></em></a>
            <a href="{{globals.rrss.in}}" rel="noopener, noreferrer" target="_blank"><em class="icon-linkedin"></em></a>
            <a href="{{globals.rrss.tk}}" rel="noopener, noreferrer" target="_blank"><em class="icon-tiktok-primary"></em></a>
          </div>
        </li>


      </ul>

    </div>
  </div>     
</section>

</header>

<!-- TODO: Mover a footer? -->
<script>

// TODO: Cambiar, es JQuery
//$(document).ready(main);

function mostrarMenuMobile() {
    document.getElementById('menu-desplegado').style.position = 'absolute';
    document.getElementById('only-mobile-menu').style.position = 'fixed';
}

function ocultarMenuMobile() {
    document.getElementById('menu-desplegado').style.position = 'static';
    document.getElementById('only-mobile-menu').style.position = 'static';
}
</script>