---
name: search
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    description: "{{langs[L].pages[name].description}}"
permalink: "{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true   

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<h1>Buscador</h1>
<input type="search" id="search-input" placeholder="Buscar..." />
<ul id="search-results"></ul>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>const L="{{L}}";</script>
{% set script %}{% include "js/search.js" %}{% endset %}<script>{{ script | jsmin | safe }}</script>