<!DOCTYPE html>
<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<!-- Head -->
<head>
{% include 'sections/common/head.html.njk' %}
</head>

<!-- Body -->
<body>

<!-- Header -->
{% include 'sections/common/header.html.njk' %}

<!-- Content -->
<main>
{{ content | safe }}
</main>

<!-- Footer -->
{% include 'sections/common/footer.html.njk' %}

</body>
</html>