---
name: about
eleventyComputed:
    title: "{{langs[L].pages[name][site].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name][site].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}  
<!--{% set css %}{% include "shared/css/about.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="{{root}}/assets/css/about.css">
{% endblock %}

<!-- Main -->
<main class="about {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}>
  <div class="container-main">
    {% if site == 'vanguard' %}
    <section class="first-contain about pure-g">
      <div class="title-big pure-u-1">
        {% literal texts, 'about-conocenos', L, true %}
      </div>
    </section>
    {% else %}
    <section class="first-contain about cotown pure-g">
      <div class="title-big pure-u-1">
        {% literal texts, 'about-conocenos', L, true %}
      </div>
    </section>
    {% endif %}

    <!-- NO APARECE
    <section class="banner">
      <div class="splide-banner splide" role="group">
        <div class="splide__track">
          <ul class="splide__list">
            {% for b in banners | find('Page', 'eq', 'equipo') %}
            {% for p in (b | translate('Text', L)).split('|') %}
            <li class="splide__slide"><h2>{{p}} |&nbsp;</h2></li>
            {% endfor %}
            {% for p in (b | translate('Text', L)).split('|') %}
            <li class="splide__slide"><h2>{{p}} |&nbsp;</h2></li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    -->
    <section class="members row">
      <div class="grid">

        {% for t in team %}
        <div class="member">
          <div class="img-member">
            <div class="first">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Team/" + t.id +"/Image/contents?access_token=" + token,
              t.Name, t.Name + '-' + t.id | slugify, "img-grid", [600], ""
            %}
            </div>
            <div class="data">
              <p class="name">{{t.Name}}</p>
              <p class="job">{{t | translate('Position', L)}}</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </section>
    <section class="form {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">

      {% literal texts, 'about-unete', L, true %}

      <form id="form" enctype="multipart/form-data" onsubmit="post(event)">
      <div class="form-container pure-g">

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-nombre', L %}</label>
          <input class="input" type="name" id="firstName" name="firstName" placeholder="{% literal texts, 'form-nombre', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-apellidos', L %}</label>
          <input class="input" type="name" id="lastName" name="lastName" placeholder="{% literal texts, 'form-apellidos', L %}" required>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-email', L %}</label>
          <input class="input" type="email" id="email" name="email" placeholder="{% literal texts, 'form-email', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-telefono', L %}</label>
          <input class="input" type="text" id="phone" name="phone" placeholder="{% literal texts, 'form-telefono', L %}">
          </div>
        </div>

        <div class="campo coment pure-u-1">
          <label class="label">{% literal texts, 'form-mensaje', L %}</label>
          <textarea type="textarea" id="181" name="181" rows="5" cols="40"></textarea>
        </div>

        <div class="campo add-file">
          <label class="label">{% literal texts, 'form-subir-cv', L %}</label>
          <div class="select">
            <span class="selected">
              <input class="input selected" id="file" type="file" value="{% literal texts, 'form-subir-cv', L %}"/>              
              <label class="label btn-primary" for="selected">
                <span>{% literal texts, 'form-adjuntar', L %}
                 {% if site == 'vanguard' %}
               {% else %}
              <em class="icon-corchete-down"></em>
              {% endif %}
                </span>
              </label>
            </span>
            <label class="select-file" for="selected">
            </label>
          </div>
          <div class="text-ok">
          <p>
          {% literal texts, 'about-ok', L %}
          </p>
          </div>
        </div>

        <div class="pure-u-1">
          <div class="campo checkbox">
            <input id="accept" name="accept" type="checkbox" required/>
            <label for="accept" class="pure-checkbox">{% literal texts, 'form-rgpd', L %}
            </label>
          </div>
        </div>

        <div id="div-ok" class="text-ok pure-u-1">
          {% literal texts, 'contact-ok', L, true %}
        </div>

        <div id="div-send" class="pure-u-1">
          <input type="hidden" id="listid" name="listid" value="31"/>
          <input type="hidden" id="185" name="185" value="Web"/>
          <input type="hidden" id="186" name="186" value="{% if siteid==1 %}VSH{% else %}Cotown{% endif %}"/>
          <input type="hidden" id="188" name="188" value="B2C"/>
          <input type="hidden" id="190" name="190" value="CV"/>
          <button class="btn-secondary">{% literal texts, 'form-enviar', L %}</button>
        </div>

      </div>
      </form>

    </section>

  </div>
</main>

{% block footer %}
{% set script %}
// Slider
new Splide('.splide-banner', {
  type: 'loop',
  autoWidth: true,
  focus: 0,
  perMove: 1,
  drag: 'free',
  arrows: false,
  pagination: false,
  pauseOnHover: false,
  pauseOnFocus: false,
  autoScroll: { speed: 1 }
}).mount( window.splide.Extensions );
{% include "shared/js/ac.js" %}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}
