---
name: advantages
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
<!--{% set css %}{% include "shared/css/advantages.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="/assets/css/advantages.css">
{% endblock %}

<!-- Main -->
<main class="advantages">
  <div class="container-main">

    <section class="first-contain pure-u-1">
      <div class="img-right pure-u-1">
        <img class="img" alt="advantage" src="{{root}}/assets/img/advantages-logo.svg">
      </div>
      <div class="title-big advantages pure-u-22-24">
        <div class="h1-big pure-u-1 pure-u-lg-5-12 pure-u-xl-7-12">
          {% literal texts, 'advantages-titulo', L, true %}
        </div>
        <div class="text pure-u-1 pure-u-lg-7-12 pure-u-xl-5-12">
          {% literal texts, 'advantages-texto', L, true %}
        </div>
      </div>
    </section>

    <section class="banner">
      <div class="splide-banner splide" role="group">
        <div class="splide__track">
          <ul class="splide__list">
            {% for b in banners | find('Page', 'eq', 'ventajas') %}
            {% for p in (b | translate('Text', L)).split('|') %}
            <li class="splide__slide"><h2>{{p}} |&nbsp;</h2></li>
            {% endfor %}
            {% for p in (b | translate('Text', L)).split('|') %}
            <li class="splide__slide"><h2>{{p}} |&nbsp;</h2></li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <section class="container-advantages">
      <div class="grid">
        {% for a in advantages %}
        <div class="promo-contain">
          <div class="ar-16-9 over">
            <div class="img1">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Advantages/" + a.id +"/Image/contents?access_token=" + token,
              a.Name, a.Name + '-' + a.id | slugify, "img1 ar-target", [600], ""
            %}
            </div>
            <div class="img2">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Advantages/" + a.id +"/Second_image/contents?access_token=" + token,
              a.Name, a.Name + '-' + a.id | slugify + '-hover', "img2", [600], ""
            %}
            </div>
          </div>
        </div>
        {% endfor %}
        <!--
        <div class="button-more">
        <button class="more btn-secondary" click="showMore()">Ver más ventajas</button>
        </div>
        -->
      </div>
    </section>

    <section class="form">

      {% literal texts, 'advantages-si-eres-empresa', L, true %}
     
      <form id="form" onsubmit="post(event)">
      <div class="form-container pure-g">

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-nombre', L %}</label>
          <input class="input" type="name" id="firstName" name="firstName" placeholder="{% literal texts, 'form-nombre', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-apellidos', L %}</label>
          <input class="input" type="name" id="lastName" name="lastName" placeholder="{% literal texts, 'form-apellidos', L %}" required>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-email', L %}</label>
          <input class="input" type="email" id="email" name="email" placeholder="{% literal texts, 'form-email', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-telefono', L %}</label>
          <input class="input" type="text" id="phone" name="phone" placeholder="{% literal texts, 'form-telefono', L %}" required>
          </div>
        </div>

        <div class="pure-u-1">
          <div class="campo">
          <label class="label">{% literal texts, 'form-empresa', L %}</label>
          <input class="input" type="text" id="27" name="27" placeholder="{% literal texts, 'form-empresa', L %}" required>
          </div>
        </div>

        <div class="campo coment pure-u-1">
          <label class="label">{% literal texts, 'form-mensaje', L %}</label>
          <textarea type="textarea" id="181" name="181" rows="5" cols="40"></textarea>
        </div>

        <div class="pure-u-1">
          <div class="campo checkbox">
            <input id="accept" name="accept" type="checkbox" required/>
            <label for="accept" class="pure-checkbox">{% literal texts, 'form-rgpd', L %}
            </label>
          </div>
        </div>

        <div id="div-ok" class="text-ok pure-u-1">
          {% literal texts, 'contact-ok', L, true %}
        </div>

        <div id="div-send" class="pure-u-1">
          <input type="hidden" id="listid" name="listid" value="30"/>
          <button class="btn-secondary">{% literal texts, 'form-enviar', L %}</button>
          <div id="overlay">
            <div id="spinner"></div>
          </div>
        </div>

      </div>
      </form>

    </section>

  </div>
</main>

{% block footer %}
{% set script %}
// Slider
new Splide('.splide-banner', {
  type: 'loop',
  autoWidth: true,
  focus: 0,
  perMove: 1,
  drag: 'free',
  arrows: false,
  pagination: false,
  pauseOnHover: false,
  pauseOnFocus: false,
  autoScroll: { speed: 1 }
}).mount( window.splide.Extensions );
{% include "shared/js/ac.js" %}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}