---
name: calendar
permalink: "misc/calendar-{{L}}.html"
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: false
---
{% include 'shared/sections/common/calendar.html.njk' %}