---
name: contact
eleventyComputed:
    title: "{{langs[L].pages[name][site].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name][site].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
<!--
{% set css %}
{% include "shared/css/contact.css" %}
{% include "shared/css/leaflet.css" %}
{% endset %}<style>{{ css | cssmin | safe }}</style>
-->
<link rel="stylesheet" href="{{root}}/assets/css/contact.css">
<link rel="stylesheet" href="{{root}}/assets/css/leaflet.css">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

<!-- Main -->
<main class="contact {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
  <div class="container-main">

    <section class="first-contact">    
      {% if site == 'vanguard' %}
        <div class="title-big">       
          <div class="bigh">
            <h1 class="head1">{% literal texts, 'contact-titulo', L %}</h1>
          </div>
        </div>
      {% else %}
        <div class="img-contact pure-u-1">
          {% image
              constants.SERVER + "/wopi/files/Marketing/Media/" + images['faqs'].id +"/Image/contents?access_token=" + token,
              L, "FAQs", "FAQs", "FAQs", "img-contact", [auto], ""
          %}
        </div>
        <div class="title-big desktop pure-u-9-24 pure-u-lg-1-6">       
          <div class="feeling cotown">
            <h2 class="head2 title-feel">{% literal texts, 'home-cotownity-hashtag', L %}</h2>
          </div>          
          <div class="bigh">
            <h1 class="head1">
              {% literal texts, 'contact-titulo', L %}
              {% literal texts, 'contact-oficinas', L %}
            </h1> 
          </div>
          <h2 class="head2">Barcelona</h2>
        </div>       
      {% endif %}

      <!-- MOBILE -->
      {% if site == 'vanguard' %}
      {% else %}    
      <div class="title-big mobile pure-u-1">       
        <div class="bigh">
          <h1 class="head1">{% literal texts, 'contact-titulo', L %}</h1>
        </div>
      </div>
      {% endif %}
      
    </section>

    <section class="contact-main">
      {% if site == 'vanguard' %}
      <h2 class="head2">{% literal texts, 'contact-oficinas', L %}</h2>
      {% else %}
      {% endif %} 
      {% for o in offices %}
      <div class="img-content">

        <div class="img-city pure-u-1-8">
          <div class="office">
          {% svg
             constants.SERVER + "/wopi/files/Geo/Office/" + o.id +"/Image/contents?access_token=" + token,
             o.Location
          %}
          </div>
        </div>

        <div class="contact-content pure-u-1 pure-u-lg-5-6">
          <div class="text-location pure-u-1 pure-u-lg-14-24">
            <h3 class="head3">{{o.Location}}</h3>
            <p>{{o.Address}}</p>
            {% if o.Email %}
            <p>
              <em class="icon-envelope"></em>
              <span><a href="mailto:{{o.Email}}" target="_blank">{{o.Email}}</a></span>
            </p>
            {% endif %}
            {% if o.Phone != '' %}
            <p>
              <em class="icon-call"></em>
              <span><a href="tel:{{o.Phone}}" target="_blank">{{o.Phone}}</a></span>
            </p>
            {% endif %}
          </div>
          <div class="map pure-u-1 pure-u-lg-10-24">
            <div class="pure-u-1" style="width:99%;height:320px;" id="map-{{o.id}}"></div>
          </div>
        </div>

      </div>
      {% endfor %}
    </section>

    <section class="form {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
      <h2 class="head2 title">
        {% literal texts, 'contact-contactanos', L %}
      </h2>      
      <form id="form" onsubmit="post(event)">
        <div class="form-container pure-g">
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="campo">
            <label class="label">{% literal texts, 'form-nombre', L %}</label>
            <input class="input" type="name" id="firstName" name="firstName" placeholder="{% literal texts, 'form-nombre', L %}" required>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="campo">
            <label class="label">{% literal texts, 'form-apellidos', L %}</label>
            <input class="input" type="name" id="lastName" name="lastName" placeholder="{% literal texts, 'form-apellidos', L %}" required>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="campo">
            <label class="label">{% literal texts, 'form-email', L %}</label>
            <input class="input" type="email" id="email" name="email" placeholder="{% literal texts, 'form-email', L %}" required>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="campo">
            <label class="label">{% literal texts, 'form-telefono', L %}</label>
            <input class="input" type="text" id="phone" name="phone" placeholder="{% literal texts, 'form-telefono', L %}">
            </div>
          </div>
          <div class="campo coment pure-u-1">
            <label class="label">{% literal texts, 'form-mensaje', L %}</label>
            <textarea type="textarea" id="181" name="181" rows="5" cols="40"></textarea>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="campo">
            <label class="label">{% literal texts, 'language', L %}</label>
            <select class="select" type="select" id="5" name="5" required>
              {% if L == 'es' %}
              <option value="ES">Español</option>
              <option value="EN">Inglés</option>
              {%else%}
              <option value="EN">English</option>
              <option value="ES">Spanish</option>
              {% endif %}
            </select>
            </div>
          </div>
          <div class="pure-u-1">
            <div class="campo checkbox">
              <input id="accept" name="accept" type="checkbox" required/>
              <label for="accept" class="pure-checkbox">{% literal texts, 'form-rgpd', L %}
              </label>
            </div>
          </div>
          <div id="div-ok" class="text-ok pure-u-1">
            {% literal texts, 'contact-ok', L, true %}
          </div>
          <div id="div-send" class="pure-u-1">
            <input type="hidden" id="listid" name="listid" value="29"/>
            <input type="hidden" id="185" name="185" value="Web"/>
            <input type="hidden" id="186" name="186" value="{% if siteid==1 %}VSH{% else %}Cotown{% endif %}"/>
            <input type="hidden" id="188" name="188" value="B2C"/>
            <input type="hidden" id="190" name="190" value="Contacto"/>
            <button class="btn-secondary">{% literal texts, 'form-enviar', L %}</button>
          </div>
        </div>
      </form>
    </section>

  </div>
</main>

{% block footer %}
{% set script %}
{% include "shared/js/map.js" %}
var mp, lt, ln;
{% for o in offices-%}
lt = {{o.Lat_lon.slice(1,-1).split(',')[0]}};
ln = {{o.Lat_lon.slice(1,-1).split(',')[1]}};
mp = createMap("map-{{o.id}}", lt, ln, 13);
putMarker(mp, lt, ln);
{%-endfor %}
{% include "shared/js/ac.js" %}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}
