---
name: info
eleventyComputed:
    title: "{{langs[L].pages[name][site].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name][site].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
<!--{% set css %}{% include "shared/css/contact.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="{{root}}/assets/css/contact.css">
{% endblock %}

<!-- Main -->
<main class="contact info {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
  <div class="container-main">

    <section class="first-contact">
      <h1>{% literal texts, 'book-titulo', L %}</h1>
    </section>

    <section class="form {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">

      <p class="title">{% literal texts, 'book-texto', L %}</p>

      <form id="form" onsubmit="post(event)">
      <div class="form-container pure-g">

        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="campo">
          <label class="label">{% literal texts, 'form-nombre', L %}</label>
          <input class="input" type="name" id="firstName" name="firstName" placeholder="{% literal texts, 'form-nombre', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="campo">
          <label class="label">{% literal texts, 'form-apellidos', L %}</label>
          <input class="input" type="name" id="lastName" name="lastName" placeholder="{% literal texts, 'form-apellidos', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-email', L %}</label>
          <input class="input" type="email" id="email" name="email" placeholder="{% literal texts, 'form-email', L %}" required>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="campo">
          <label class="label">{% literal texts, 'form-telefono', L %}</label>
          <input class="input" type="text" id="phone" name="phone" placeholder="{% literal texts, 'form-telefono', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="campo">
          <label class="label">{% literal texts, 'form-edad', L %}</label>
          <select class="select" type="select" id="1" name="1" required>
            <option value="" disabled selected>{% literal texts, 'form-edad', L %}</option>
            <option value="18-24">18-24</option>
            <option value="25-34">25-34</option>
            <option value="35-44">35-44</option>
            <option value="+44">+44</option>
          </select>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-nacionalidad', L %}</label>
          <select class="select" type="select" id="3" name="3" required>
            <option value="" disabled selected>{% literal texts, 'form-nacionalidad', L %}</option>
            {% if L == 'es' %}
            {% for c in countries | sort(false, false, 'Name') %}
              <option value="{{c.Name}}">{{c.Name}}</option>
            {% endfor %}
            {% else %}
            {% for c in countries | sort(false, false, 'Name_en') %}
              <option value="{{c.Name}}">{{c.Name_en}}</option>
            {% endfor %}
            {% endif %}
          </select>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="campo">
          <label class="label">{% literal texts, 'form-desde', L %}</label>
          <input class="input" type="date" id="96" name="96" required oninput="validate();">
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="campo">
          <label class="label">{% literal texts, 'form-hasta', L %}</label>
          <input class="input" type="date" id="97" name="97" required oninput="validate();">
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-motivo', L %}</label>
          <select class="select" type="select" id="98" name="98" required>
            <option value="" disabled selected>{% literal texts, 'form-motivo', L %}</option>
            {% for r in reasons %}
              <option value="{{r.Name}}">{{r | translate('Name', L)}}</option>
            {% endfor %}
          </select>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-ciudad', L %}</label>
          <select class="select" type="select" id="101" name="101" required onchange="get_buildings(this.value);">
            <option value="" disabled selected>{% literal texts, 'form-ciudad', L %}</option>
            {% for l in locations %}
            {% if buildings | find('District.Location.id', 'eq', l.id) | length > 0 %}
              <option value="{{l.Name}}">{{l | translate('Name', L)}}</option>
            {% endif %}
            {% endfor %}
          </select>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-edificio', L %}</label>
          <select class="select" type="select" id="100" name="100" onchange="get_types(this.value);" required>
            <option value="" disabled selected>{% literal texts, 'form-edificio', L %}</option>
          </select>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-tipologia', L %}</label>
          <select class="select" type="select" id="99" name="99" required>
          </select>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <div class="campo">
          <label class="label">{% literal texts, 'form-presupuesto', L %}</label>
          <select class="select" type="select" id="95-min" name="95-min" onchange="budget();" required>
            {% for i in range(400, 2200, 100) -%}
            <option value="{{i}}"{% if i == 600 %} selected{% endif %}>{{i}} €/{% literal texts, 'price-mes', L %}</option>
            {% endfor %}
          </select>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
          <div class="campo">
          <label class="label">&nbsp;</label>
          <select class="select" type="select" id="95-max" name="95-max" onchange="budget();" required>
            {% for i in range(400, 2200, 100) -%}
            <option value="{{i}}"{% if i == 900 %} selected{% endif %}>{{i}} €/{% literal texts, 'price-mes', L %}</option>
            {% endfor %}
          </select>
          </div>
        </div>
        <input type="hidden" id="95" name="95" value="400 - 1300">

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'language', L %}</label>
          <select class="select" type="select" id="5" name="5" required>
            {% if L == 'es' %}
            <option value="ES">Español</option>
            <option value="EN">Inglés</option>
            {%else%}
            <option value="EN">English</option>
            <option value="ES">Spanish</option>
            {% endif %}
          </select>
          </div>
        </div>

        <div class="pure-u-1">
          <div class="campo checkbox">
            <input id="accept" name="accept" type="checkbox" required/>
            <label for="accept" class="pure-checkbox">{% literal texts, 'form-rgpd', L %}
            </label>
          </div>
        </div>

        <div id="div-ok" class="text-ok pure-u-1">
          {% literal texts, 'book-ok', L, true %}
        </div>

        <div id="div-send" class="pure-u-1">
          <input type="hidden" id="listid" name="listid" value="27"/>
          <input type="hidden" id="185" name="185" value="Web"/>
          <input type="hidden" id="186" name="186" value="{% if siteid==1 %}VSH{% else %}Cotown{% endif %}"/>
          <input type="hidden" id="188" name="188" value="B2C"/>
          <button class="btn-secondary">{% literal texts, 'form-enviar', L %}</button>
        </div>

      </div>
      </form>

    </section>

  </div>
</main>

{% block footer %}
{% set script %}
// Buildings list
var buildings = [
{% for b in buildings | find('Building_type_id', 'lt', 4)-%}
{city:'{{b.District.Location.Name}}',building_id:{{b.id}},building:'{{b.Name}}'},
{% endfor-%}
];

// Room types list
var room_types = [
{% for b in buildings | find('Building_type_id', 'lt', 4)-%}
{% set r = rooms | find('id', 'eq', b.id) | first-%}
{% for p in r.Place_types-%}
{building_id:{{b.id}},building:'{{b.Name}}',code:'{{place_types[p.Code].Code}}',name:'{{place_types[p.Code] | translate('Name', L)}}'},
{% endfor-%}
{% set r = flats | find('id', 'eq', b.id) | first-%}
{% for p in r.Flat_subtypes-%}
{building_id:{{b.id}},building:'{{b.Name}}',code:'{{flat_subtypes[p.Code].Code}}',name:'{{flat_subtypes[p.Code] | translate('Name', L)}}'},
{% endfor-%}
{% endfor-%}
];

// Populate buildings select
function get_buildings(value) {

  // Empty list
  list = document.getElementById("100");
  list.innerHTML = "";

  // Get city
  if (value)
    sessionStorage.setItem('city', value);
  else
    value = document.getElementById('101').value

  // Fill building listid
  for (var i = 0; i < buildings.length; i++) {
    if (buildings[i].city == value) {
      var opt = document.createElement("option");
      opt.value = buildings[i].building;
      opt.text = buildings[i].building;
      if (buildings[i].city == '') {
        buildings.disabled = true;
      }
      list.add(opt);
    }
  }
  get_types(null);

}

// Populate typology select
function get_types(value) {

  // Empty list
  list = document.getElementById("99");
  list.innerHTML = "";

  // Get building
  if (value)
    sessionStorage.setItem('building', value);
  else
    value = document.getElementById('100').value;

  // Fill typology listid
  for (var i = 0; i < room_types.length; i++) {
    if (room_types[i].building == value) {
      var opt = document.createElement("option");
      opt.value = room_types[i].code;
      opt.text = room_types[i].name;
      list.add(opt);
    }
  }
}

// Budget change
function budget() {
  min = parseInt(document.getElementById('95-min').value);
  max = parseInt(document.getElementById('95-max').value);
  if (min > max) {
    min = max;
    document.getElementById('95-min').value = min;
  }
  document.getElementById('95').value = min + ' - ' + max;
}

// Numero de meses entre dos fechas
function months(fin, fout) {
  f1 = new Date(fin);
  f2 = new Date(fout);
  f2.setDate(f2.getDate() + 1)
  const meses = (f2.getFullYear() - f1.getFullYear()) * 12 + (f2.getMonth() - f1.getMonth());
  if (meses < 1 || meses > 11) return false;
  if (meses == 1 && f2.getDate() < f1.getDate()) return false;
  if (meses == 11 && f2.getDate() > f1.getDate()) return false;
  return true;
}

// Post
function validate() {
  fin = document.getElementById('96');
  fout = document.getElementById('97');
  if (!months(fin.value, fout.value)) {
    fin.setCustomValidity("{{texts['cal-error'][L]}}");
  } else {
    fin.setCustomValidity("");
  }
};

// Load
document.getElementById('96').value  = sessionStorage.getItem('book_checkin');
document.getElementById('97').value  = sessionStorage.getItem('book_checkout');
document.getElementById('101').value = sessionStorage.getItem('city');
get_buildings(null);
document.getElementById('100').value = sessionStorage.getItem('building');
get_types(null);
document.getElementById('99').value = sessionStorage.getItem('book_type');
{% include "shared/js/ac.js" %}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}
