---
name: visit
eleventyComputed:
    title: "{{langs[L].pages[name][site].title|safe}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name][site].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
<!--{% set css %}{% include "shared/css/contact.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="{{root}}/assets/css/contact.css">
{% endblock %}

<!-- Main -->
<main class="contact visit {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
  <div class="container-main">

    <section class="first-contact">
      <h1 class="head1">{% literal texts, 'visita-titulo', L %}</h1>
    </section>

    <section class="form {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">

      <p class="title">{% literal texts, 'visita-texto', L %}</p>

      <form id="form" onsubmit="post(event)">
      <div class="form-container pure-g">

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-nombre', L %}</label>
          <input class="input" type="name" id="first_name" name="first_name" placeholder="{% literal texts, 'form-nombre', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-apellidos', L %}</label>
          <input class="input" type="name" id="last_name" name="last_name" placeholder="{% literal texts, 'form-apellidos', L %}" required>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-email', L %}</label>
          <input class="input" type="email" id="email" name="email" placeholder="{% literal texts, 'form-email', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-telefono', L %}</label>
          <input class="input" type="text" id="phone" name="phone" placeholder="{% literal texts, 'form-telefono', L %}" required>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-ciudad', L %}</label>
          <select class="select" type="select" id="city" name="city" required onchange="get_buildings();">
            <option value="" disabled selected>{% literal texts, 'form-ciudad', L %}</option>
            {% for l in locations %}
              <option value="{{l.Name}}">{{l | translate('Name', L)}}</option>
            {% endfor %}
          </select>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-edificio', L %}</label>
          <select class="select" type="select" id="building" name="building" required>
            <option value="" disabled selected>{% literal texts, 'form-edificio', L %}</option>
          </select>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="campo">
          <label class="label">{% literal texts, 'form-fecha', L %}</label>
          <input class="input" type="date" id="date_visit" name="date_visit" required>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'language', L %}</label>
          <select class="select" type="select" id="language" name="language" required>
            {% if L == 'es' %}
            <option value="es">Español</option>
            <option value="en">Inglés</option>
            {%else%}
            <option value="en">English</option>
            <option value="es">Spanish</option>
            {% endif %}
          </select>
          </div>
        </div>

        <div class="pure-u-1">
          <div class="campo checkbox">
            <input id="accept" name="accept" type="checkbox" required/>
            <label for="accept" class="pure-checkbox">{% literal texts, 'form-rgpd', L %}
            </label>
          </div>
        </div>

        {% include 'shared/sections/common/honeypot.html.njk' %}

        <div id="div-ok" class="text-ok pure-u-1">
          {% literal texts, 'book-ok', L, true %}
        </div>

        <div id="div-send" class="pure-u-1">
          <input type="hidden" id="brand" name="brand" value="{% if siteid==1 %}VSH{% else %}Cotown{% endif %}"/>
          <input type="hidden" id="web" name="web" value="{% if siteid==1 %}VSH{% else %}Cotown{% endif %}"/>
          <input type="hidden" id="form" name="form" value="Formulario Visita"/>
          <button class="btn-secondary">{% literal texts, 'form-enviar', L %}</button>
        </div>

      </div>
      </form>

    </section>

  </div>
</main>

{% block footer %}
{% set script %}
// Buildings list
var buildings = [
{% for b in buildings | find('Building_type_id', 'lt', 4)-%}
{city:'{{b.District.Location.Name}}',code:'{{b.Code}}',building:'{{b.Name}}'},
{% endfor-%}
];

// Populate buildings select
function get_buildings(value) {

  // Empty list
  list = document.getElementById("building");
  list.innerHTML = "";

  // Get city
  if (value)
    sessionStorage.setItem('city', value);
  else
    value = document.getElementById('city').value

  // Fill building listid
  for (var i = 0; i < buildings.length; i++) {
    if (buildings[i].city == value) {
      var opt = document.createElement("option");
      opt.value = buildings[i].code;
      opt.text = buildings[i].building;
      if (buildings[i].city == '') {
        buildings.disabled = true;
      }
      list.add(opt);
    }
  }
}

// Load
document.getElementById('city').value = sessionStorage.getItem('city');
get_buildings(null);
document.getElementById('building').value = sessionStorage.getItem('building');
{% include "shared/js/pipedrive.js" %}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}
