---
name: visit
eleventyComputed:
    title: "{{langs[L].pages[name][site].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name][site].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
<!--{% set css %}{% include "shared/css/contact.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

<!-- Main -->
<main class="contact">
  <div class="container-main">

    <section class="first-contact">
      <h1>{% literal texts, 'visita-titulo', L %}</h1>
    </section>

    <section class="form">

      <p class="title">{% literal texts, 'visita-texto', L %}</p>

      <form id="form" onsubmit="post(event)">
      <div class="form-container pure-g">

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-nombre', L %}</label>
          <input class="input" type="name" id="firstName" name="firstName" placeholder="{% literal texts, 'form-nombre', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-apellidos', L %}</label>
          <input class="input" type="name" id="lastName" name="lastName" placeholder="{% literal texts, 'form-apellidos', L %}" required>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-email', L %}</label>
          <input class="input" type="email" id="email" name="email" placeholder="{% literal texts, 'form-email', L %}" required>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-telefono', L %}</label>
          <input class="input" type="text" id="phone" name="phone" placeholder="{% literal texts, 'form-telefono', L %}" required>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-ciudad', L %}</label>
          <select class="select" type="select" id="101" name="101" required onchange="get_buildings();">
            <option value="" disabled selected>{% literal texts, 'form-ciudad', L %}</option>
            {% for l in locations %}
              <option value="{{l.Name}}">{{l | translate('Name', L)}}</option>
            {% endfor %}
          </select>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="campo">
          <label class="label">{% literal texts, 'form-edificio', L %}</label>
          <select class="select" type="select" id="100" name="100" required>
            <option value="" disabled selected>{% literal texts, 'form-edificio', L %}</option>
          </select>
          </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="campo">
          <label class="label">{% literal texts, 'form-fecha', L %}</label>
          <input class="input" type="date" id="180" name="180" required>
          </div>
        </div>

        <div class="pure-u-1">
          <div class="campo checkbox">
            <input id="accept" name="accept" type="checkbox" required/>
            <label for="accept" class="pure-checkbox">{% literal texts, 'form-rgpd', L %}
            </label>
          </div>
        </div>

        <div id="div-ok" class="text-ok pure-u-1">
          {% literal texts, 'book-ok', L, true %}
        </div>

        <div id="div-send" class="pure-u-1">
          <!--
          <input type="hidden" id="listid" name="listid" value="28"/>
          -->
          <input type="hidden" id="185" name="185" value="Web"/>
          <input type="hidden" id="186" name="186" value="{% if siteid==1 %}VSH{% else %}Cotown{% endif %}"/>
          <input type="hidden" id="188" name="188" value="B2C"/>
          <button class="btn-secondary">{% literal texts, 'form-enviar', L %}</button>
          <div id="overlay">
            <div id="spinner"></div>
          </div>
        </div>

      </div>
      </form>

    </section>

  </div>
</main>

{% block footer %}
{% set script %}
// Buildings list
var buildings = [
{% for b in buildings | find('Building_type_id', 'lt', 4)-%}
{city:'{{b.District.Location.Name}}',building:'{{b.Name}}'},
{% endfor-%}
];

// Populate buildings select
function get_buildings(value) {

  // Empty list
  list = document.getElementById("100");
  list.innerHTML = "";

  // Get city
  if (value)
    sessionStorage.setItem('city', value);
  else
    value = document.getElementById('101').value

  // Fill building listid
  for (var i = 0; i < buildings.length; i++) {
    if (buildings[i].city == value) {
      var opt = document.createElement("option");
      opt.value = buildings[i].building;
      opt.text = buildings[i].building;
      if (buildings[i].city == '') {
        buildings.disabled = true;
      }
      list.add(opt);
    }
  }
}

// Load
document.getElementById('101').value = sessionStorage.getItem('city');
get_buildings(null);
document.getElementById('100').value = sessionStorage.getItem('building');
{% include "shared/js/ac.js" %}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}
