<section class="cotownity">
<div class="container-cotownity ">
    <div class="contain-bg">
    <div class="title-bg">
        <h2 class="title">
        ÚNETE A NUESTRA
        </h2>
        <h2 class="title">
        COTOWNITY
        </h2>
    </div>
    <div class="img-small">
        <img class="small" alt="cotownity-small" src="/assets/img/cotownity-small.png">
    </div>
    <div class="img-big">
        <img class="big" alt="cotownity-big" src="/assets/img/cotownity-big.png">
    </div>
    <div class="carousel-cotownity">           
        <div class="contain">
            <div class="img">
            </div>
            <div class="img">
            </div>
            <div class="img">
            </div>
            <div class="img">
            </div>
            <div class="img">
            </div>
            <div class="img">
            </div>
            <div class="img">
            </div>
        </div>
        <ul class="arrows">
            <li class="arrow">
            <em class="icon-arrow-left center"></em>
            </li>
            <li class=" arrow">
            <div class="dots">
                <div class="dot"></div>
                <div class="dot active"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            </li>
            <li class="arrow">
            <em class="icon-arrow-right center"></em>
            </li>
        </ul>
    </div>
    </div>
</div>
<div class="feeling">
    <h2 class="title-feel">#feeling local</h2>
</div>
<div class="last-contain">
    <div class="insta-fb">
    <em class="icon-instagram"></em>
    <em class="icon-facebook"></em>
    </div>
</div>
</section>
