<section class="first-contain pure-u-1">
    <div class="title-big home pure-u-1-1">
    
        <div class="h2-big pure-u-1 pure-u-lg-5-12">
        <h2>{% literal texts, 'home-que-es-cotown-titulo', L %}</h2>
        </div>
        <div class="text pure-u-1 pure-u-lg-7-12">{% literal texts, 'home-que-es-cotown-texto', L, true %}</div>  

    <!--$$
        <div class="h2-big pure-u-1 pure-u-lg-5-12">
            <h2>¿QUE ES COTOWN?</h2>
        </div>
        <div class="text pure-u-1 pure-u-lg-7-12">
            Si has llegado hasta aquí es porque te mueres por saber qué es COTOWN.Cotown llega al mercado para
            revolucionar el concepto de Coliving en España. Pero, sobre todo, brindar la oportunidad a los futuros
            cotowners, tanto nómadas digitales internacionales como jóvenes profesionales nacionales, de ser
            «ciudadanos con suerte».
            <br>
            Desde la crew de COTOWN, nos proponemos cubrir y dar apoyo a esta nueva necesidad de vivienda temporal
            para impulsar la optimización de los espacios dentro de los pisos y transformarlos en un hogar moderno,
            tecnológico y adaptable a cualquier circunstancia. El 100% de nuestra energía está dedicada a hacer que te
            sientas como en casa, rollo ¿ese protagonista de película de Netflix con un pisazo en el centro de una
            ciudad muy molona? Pues ese.
            <span class="bold"> ¡Bienvenid@!</span>
        </div>
        -->
    </div>
</section>



<!--$$
<h2 class="h2-big">¿QUE ES COTOWN?</h2>
<p class="text">
Si has llegado hasta aquí es porque te mueres por saber qué es COTOWN.Cotown llega al mercado para
revolucionar el concepto de Coliving en España. Pero, sobre todo, brindar la oportunidad a los futuros
cotowners, tanto nómadas digitales internacionales como jóvenes profesionales nacionales, de ser
«ciudadanos con suerte».
</p>
<p class="text">
Desde la crew de COTOWN, nos proponemos cubrir y dar apoyo a esta nueva necesidad de vivienda temporal
para impulsar la optimización de los espacios dentro de los pisos y transformarlos en un hogar moderno,
tecnológico y adaptable a cualquier circunstancia. El 100% de nuestra energía está dedicada a hacer que te
sientas como en casa, rollo ¿ese protagonista de película de Netflix con un pisazo en el centro de una
ciudad muy molona? Pues ese.
<span class="bold"> ¡Bienvenid@!</span>
</p>
-->