<section class="main-header pure-g">
  <!-- Formulario -->
  <div class="left pure-u-1-5">

    <div class="text-container desktop">
      <h1 class="pure-u-1">{% literal texts, 'home-bienvenido', L %}</h1>
    </div>

    <div class="basic-searcher pure-u-1-1">

      <label class="label">{% literal texts, 'home-bienvenido-donde', L %}</label>
      <select class="pure-u-1-1">
        <option></option>
        {% for l in locations %}
        <option>{{ l | translate('Name', L)}}</option>
        {% endfor %}
      </select>

      <label class="label">{% literal texts, 'home-bienvenido-tipo', L %}</label>
      <select class="pure-u-1-1">
        <option></option>
        <option>Apartamento privado</option>
        <option>Residencia universitaria</option>
        <option>Piso compartido</option>
      </select>

      <div class="calendar pure-u-1-1">
        <div class="pure-u-1-1">
          <label class="label" for="from">Cuándo</label>
          <input class="input pure-u-23-24" type="date" id="start" name="trip-from">
        </div>
      </div>
    </div>

    <div class="button-search">
      <button class="btn-primary search desktop"><em class="icon-search"></em>Buscar</button>
      <button class="btn-secondary search mobile"><em class="icon-search"></em>Buscar</button>
    </div>

  </div>

  <div id="video" class="video featured-bg-image">
    <div class="text-container mobile pure-u-1-3">
      <h1 class="pure-u-1">{% literal texts, 'home-bienvenido', L %}</h1>
    </div>
    <div class="video-home">
      <!-- Image-->
      {% image
          constants.SERVER + "/wopi/files/Marketing/Media/" + images['home'].id +"/Image/contents?access_token=" + token,
          "home", "home", "",
          [1280], ""
      %}
      <!-- Video -->
      <!--
      <video playsinline="true" width="100%" style="object-fit: cover;" autoplay="true" muted="true" loop="true" preload="auto" controls="1">
        Sorry, your browser doesn't support embedded videos.
        <source type="video/mp4" src="https://cotown.com/wp-content/uploads/2023/02/0W0A7742-2-1-1.mp4">
      </video>
      -->
    </div>
  </div>  

</section>
