<section class="servicios">

  <div class="text-container">
    <h2 class="title">{% literal texts, 'home-servicios-titulo', L %}</h2>
    <p class="subtitle">{% literal texts, 'home-servicios-texto', L %}</p>
  </div>

  <div class="servicios-container">
    <div class="services-cards">

      {% for s in services %}
      <div class="card">
        {% svg constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Icons[0].id +"/Icon/contents?access_token=" + token %}
        <!--
        {% image
            constants.SERVER + "/wopi/files/Building/Building_service_type/" + s.id +"/Icon/contents?access_token=" + token,
            s.Name, s.Name|slug, "",
            [100], ""
        %}
        -->
        <p class="bold">{{s | translate('Name', L)}}</p>
        <p class="text">{{s | translate('Description', L)}}</p>
      </div>
      {% endfor %}

    </div>
  </div>

</section>