@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2kgkoy');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?2kgkoy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?2kgkoy') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?2kgkoy') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?2kgkoy##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Piso {
  &:before {
    content: $icon-Piso;     
    color: #00bfb2;
  }
}
.icon-User {
  &:before {
    content: $icon-User; 
  }
}
.icon-Close {
  &:before {
    content: $icon-Close; 
  }
}
.icon-Search {
  &:before {
    content: $icon-Search; 
  }
}
.icon-Loading {
  &:before {
    content: $icon-Loading; 
  }
}
.icon-Writte {
  &:before {
    content: $icon-Writte; 
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi; 
  }
}
.icon-CloseRound {
  &:before {
    content: $icon-CloseRound; 
  }
}
.icon-Picture {
  &:before {
    content: $icon-Picture; 
  }
}
.icon-Trash {
  &:before {
    content: $icon-Trash; 
  }
}
.icon-Meh {
  &:before {
    content: $icon-Meh; 
  }
}
.icon-CheckboxOff {
  &:before {
    content: $icon-CheckboxOff; 
  }
}
.icon-CheckboxOn {
  &:before {
    content: $icon-CheckboxOn; 
  }
}
.icon-ArrowRight {
  &:before {
    content: $icon-ArrowRight; 
  }
}
.icon-ArrowLeft {
  &:before {
    content: $icon-ArrowLeft; 
  }
}
.icon-CorcheteDown {
  &:before {
    content: $icon-CorcheteDown; 
  }
}
.icon-CorcheteUp {
  &:before {
    content: $icon-CorcheteUp; 
  }
}
.icon-CorcheteLeft {
  &:before {
    content: $icon-CorcheteLeft; 
  }
}
.icon-CorcheteRight {
  &:before {
    content: $icon-CorcheteRight; 
  }
}
.icon-Arrow-Left {
  &:before {
    content: $icon-Arrow-Left; 
  }
}
.icon-ArrowLeftHover {
  &:before {
    content: $icon-ArrowLeftHover; 
  }
}
.icon-Arrow-Right {
  &:before {
    content: $icon-Arrow-Right; 
  }
}
.icon-ArrowRightHover {
  &:before {
    content: $icon-ArrowRightHover; 
  }
}
.icon-Bath .path1 {
  &:before {
    content: $icon-Bath-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Bath .path2 {
  &:before {
    content: $icon-Bath-path2;  
    margin-left: -0.7197265625em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Cajafuerte .path1 {
  &:before {
    content: $icon-Cajafuerte-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Cajafuerte .path2 {
  &:before {
    content: $icon-Cajafuerte-path2;  
    margin-left: -0.7197265625em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Cajafuerte .path3 {
  &:before {
    content: $icon-Cajafuerte-path3;  
    margin-left: -0.7197265625em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Cama .path1 {
  &:before {
    content: $icon-Cama-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Cama .path2 {
  &:before {
    content: $icon-Cama-path2;  
    margin-left: -1.080078125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Cama .path3 {
  &:before {
    content: $icon-Cama-path3;  
    margin-left: -1.080078125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Cama .path4 {
  &:before {
    content: $icon-Cama-path4;  
    margin-left: -1.080078125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Cama .path5 {
  &:before {
    content: $icon-Cama-path5;  
    margin-left: -1.080078125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Telefono .path1 {
  &:before {
    content: $icon-Telefono-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Telefono .path2 {
  &:before {
    content: $icon-Telefono-path2;  
    margin-left: -1.0400390625em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Telefono .path3 {
  &:before {
    content: $icon-Telefono-path3;  
    margin-left: -1.0400390625em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Telefono .path4 {
  &:before {
    content: $icon-Telefono-path4;  
    margin-left: -1.0400390625em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Telefono .path5 {
  &:before {
    content: $icon-Telefono-path5;  
    margin-left: -1.0400390625em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Conserge .path1 {
  &:before {
    content: $icon-Conserge-path1;  
    color: rgb(0, 191, 178);
  }
}
.icon-Conserge .path2 {
  &:before {
    content: $icon-Conserge-path2;  
    margin-left: -0.9599609375em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Conserge .path3 {
  &:before {
    content: $icon-Conserge-path3;  
    margin-left: -0.9599609375em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Conserge .path4 {
  &:before {
    content: $icon-Conserge-path4;  
    margin-left: -0.9599609375em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Conserge .path5 {
  &:before {
    content: $icon-Conserge-path5;  
    margin-left: -0.9599609375em;  
    color: rgb(54, 52, 52);
  }
}
.icon-Ocupado .path1 {
  &:before {
    content: $icon-Ocupado-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Ocupado .path2 {
  &:before {
    content: $icon-Ocupado-path2;  
    margin-left: -0.5361328125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Ocupado .path3 {
  &:before {
    content: $icon-Ocupado-path3;  
    margin-left: -0.5361328125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Ocupado .path4 {
  &:before {
    content: $icon-Ocupado-path4;  
    margin-left: -0.5361328125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Llaves .path1 {
  &:before {
    content: $icon-Llaves-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Llaves .path2 {
  &:before {
    content: $icon-Llaves-path2;  
    margin-left: -1.115234375em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Llaves .path3 {
  &:before {
    content: $icon-Llaves-path3;  
    margin-left: -1.115234375em;  
    color: rgb(54, 52, 52);
  }
}
.icon-Llaves .path4 {
  &:before {
    content: $icon-Llaves-path4;  
    margin-left: -1.115234375em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Nevera .path1 {
  &:before {
    content: $icon-Nevera-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Nevera .path2 {
  &:before {
    content: $icon-Nevera-path2;  
    margin-left: -0.654296875em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Nevera .path3 {
  &:before {
    content: $icon-Nevera-path3;  
    margin-left: -0.654296875em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Limpieza .path1 {
  &:before {
    content: $icon-Limpieza-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Limpieza .path2 {
  &:before {
    content: $icon-Limpieza-path2;  
    margin-left: -1em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Limpieza .path3 {
  &:before {
    content: $icon-Limpieza-path3;  
    margin-left: -1em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Limpieza .path4 {
  &:before {
    content: $icon-Limpieza-path4;  
    margin-left: -1em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Limpieza .path5 {
  &:before {
    content: $icon-Limpieza-path5;  
    margin-left: -1em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Limpieza .path6 {
  &:before {
    content: $icon-Limpieza-path6;  
    margin-left: -1em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Lavadora .path1 {
  &:before {
    content: $icon-Lavadora-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Lavadora .path2 {
  &:before {
    content: $icon-Lavadora-path2;  
    margin-left: -0.8798828125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Lavadora .path3 {
  &:before {
    content: $icon-Lavadora-path3;  
    margin-left: -0.8798828125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Lavadora .path4 {
  &:before {
    content: $icon-Lavadora-path4;  
    margin-left: -0.8798828125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Lavadora .path5 {
  &:before {
    content: $icon-Lavadora-path5;  
    margin-left: -0.8798828125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Lavadora .path6 {
  &:before {
    content: $icon-Lavadora-path6;  
    margin-left: -0.8798828125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Lavadora .path7 {
  &:before {
    content: $icon-Lavadora-path7;  
    margin-left: -0.8798828125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Lavadora .path8 {
  &:before {
    content: $icon-Lavadora-path8;  
    margin-left: -0.8798828125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Equipaje .path1 {
  &:before {
    content: $icon-Equipaje-path1;  
    color: rgb(0, 191, 178);
  }
}
.icon-Equipaje .path2 {
  &:before {
    content: $icon-Equipaje-path2;  
    margin-left: -1em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Escaleras-down .path1 {
  &:before {
    content: $icon-Escaleras-down-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Escaleras-down .path2 {
  &:before {
    content: $icon-Escaleras-down-path2;  
    margin-left: -1.080078125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Escaleras-up .path1 {
  &:before {
    content: $icon-Escaleras-up-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Escaleras-up .path2 {
  &:before {
    content: $icon-Escaleras-up-path2;  
    margin-left: -1em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Extintor .path1 {
  &:before {
    content: $icon-Extintor-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Extintor .path2 {
  &:before {
    content: $icon-Extintor-path2;  
    margin-left: -0.6669921875em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Air-conditioner .path1 {
  &:before {
    content: $icon-Air-conditioner-path1;  
    color: rgb(48, 54, 59);
  }
}
.icon-Air-conditioner .path2 {
  &:before {
    content: $icon-Air-conditioner-path2;  
    margin-left: -1.423828125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Air-conditioner .path3 {
  &:before {
    content: $icon-Air-conditioner-path3;  
    margin-left: -1.423828125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Air-conditioner .path4 {
  &:before {
    content: $icon-Air-conditioner-path4;  
    margin-left: -1.423828125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Air-conditioner .path5 {
  &:before {
    content: $icon-Air-conditioner-path5;  
    margin-left: -1.423828125em;  
    color: rgb(48, 54, 59);
  }
}
.icon-Air-conditioner .path6 {
  &:before {
    content: $icon-Air-conditioner-path6;  
    margin-left: -1.423828125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Air-conditioner .path7 {
  &:before {
    content: $icon-Air-conditioner-path7;  
    margin-left: -1.423828125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-Air-conditioner .path8 {
  &:before {
    content: $icon-Air-conditioner-path8;  
    margin-left: -1.423828125em;  
    color: rgb(0, 191, 178);
  }
}
.icon-noun-restaurant-3352371-1 {
  &:before {
    content: $icon-noun-restaurant-3352371-1; 
  }
}
.icon-noun-gym-5627577-1 {
  &:before {
    content: $icon-noun-gym-5627577-1; 
  }
}
.icon-FacebookPrimary {
  &:before {
    content: $icon-FacebookPrimary;     
    color: #00bfb2;
  }
}
.icon-FacebookSecondary {
  &:before {
    content: $icon-FacebookSecondary;     
    color: #00736b;
  }
}
.icon-InstagramPrimary {
  &:before {
    content: $icon-InstagramPrimary;     
    color: #00bfb2;
  }
}
.icon-InstagramSecondary {
  &:before {
    content: $icon-InstagramSecondary;     
    color: #00736b;
  }
}
.icon-TiktokPrimary {
  &:before {
    content: $icon-TiktokPrimary;     
    color: #00bfb2;
  }
}
.icon-TiktokSecondary {
  &:before {
    content: $icon-TiktokSecondary;     
    color: #00736b;
  }
}
.icon-WhatsappPrimary {
  &:before {
    content: $icon-WhatsappPrimary;     
    color: #00bfb2;
  }
}
.icon-WhatsappSecondary {
  &:before {
    content: $icon-WhatsappSecondary;     
    color: #00736b;
  }
}

