<section class="locations {{ site }}">

  <div class="text-container">
    <h2 class="fs-xx-large title {{ 'cotown' if site == 'cotown' else '' }}">
      {{ literal('home-localizaciones-titulo', L) }}
    </h2>
  </div>

  <div class="{{ 'cotown ' if site == 'cotown' }}carousel splide-locations splide" role="group">
    <div class="splide__track">
      <ul class="splide__list">
        {% for l in locations %}
        <li class="splide__slide">
          {% if site == 'cotown' or l.Name != 'Valencia' %}
          <a href="{{ root }}{{ langs[L].folder }}/{{ langs[L].pages['rooms'].url }}-{{ l | translate('Name', L) | slugify }}.html">
          {% else %}
          <a href="{{ root }}{{ langs[L].folder }}/facultades.html">
          {% endif %}
          <div class="img">
            {{ image(l.image, alt=l.Name) }}
            {% if site == 'vanguard' %}
            <h3 class="fs-large img-title">{{ l.Name }}</h3>
            {% else %}
            <div class="text-slide">
              <h5 class="fs-medium img-title">{{ l.Name }}</h5>
              <div class="line"></div>
            </div>
            {% endif %}
          </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</section>
