.locations {
    margin: 2em 0 4em;
    width: 100%;
}
.locations .img {
    width: 100%;
    overflow: hidden;
}
.locations .text-container .title {
    text-align: center;
    padding: 1.5em 0 0 74px;
}
.locations .carousel .text-large {
    position: absolute !important;
    bottom: 0;
    left: 0.3em;
    color: var(--white);
    margin: 0;
    text-transform: uppercase;
}
.locations .carousel .img:hover .text-large {
    color: var(--primary);
}
.locations .img img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.locations .img:hover img {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}
.locations.cotown {
    margin: 2em 0;
}
.locations .text-container .title.cotown {
    text-align: left;
    padding: 1.5em 0 0 74px;
}
.locations .cotown .img {
    height: 400px;
}
.locations .cotown .img img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.locations .cotown .img:hover {
    max-height: 360px !important;
    height: 360px;
    overflow: hidden;
}
.locations .cotown .img:hover img {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}
.locations .carousel.cotown .splide__track ul {
    padding: 0 0 60px;
}
.locations .carousel.cotown .splide__track ul li {
    margin-right: 0 !important;
    position: relative;
    height: 420px !important;
}
.locations .carousel.cotown .splide__track ul li a {
    margin-right: 0 !important;
    position: relative;
}
.location .cotown .text-slide {
    align-self: center;
    width: 100%;
    padding-top: 4px;
}
.locations .carousel.cotown .text-slide .text-medium {
    text-align: center;
    color: var(--black);
    margin: 0;
    padding-top: 0.4em;
}
.locations .carousel.cotown .text-slide .line {
    height: 2px;
    width: 30px;
    margin: 0 auto;
    padding: 0 auto;
    align-self: center;
    border-bottom: 2px solid var(--primary-underline);
}
.locations .cotown .img:hover .text-slide {
    position: absolute;
    bottom: 0px;
    left: 0%;
    background-color: white;
    width: 100%;
}
@media only screen and (max-width: 63.99em) {
	.locations .text-container .title {
        text-align: left;
        padding: 0 0.5em 0.2em;
    }
	.locations .text-container .title.cotown {
        text-align: left;
        padding: 0em 0 0.8em 24px;
    }
	.locations.cotown {
        margin: 0;
    }
	.locations.cotown .carousel.cotown .splide__pagination {
        bottom: 3.5em;
    }
	.locations.cotown .carousel.cotown .splide__pagination__page {
        top: 0;
        width: 8px;
        height: 8px;
    }
}
