.popup h2 {
    margin-top: 0;
    color: #333;
}
/* .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.popup .close:hover {
    color: var(--primary);
} */
.content-booking {
    background: #fff;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.content-booking::-webkit-scrollbar {
    display: none;
}
.content-booking section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.content-booking section.results {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 2em 0 4em;
}
.content-booking section h2 {
    width: 100%;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    margin-top: 1em;
}
.content-booking section .city-selector {
    width: 98%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.content-booking section .city-selector select {
    width: 50%;
    border: 1.5px solid #d1d1d1;
    border-radius: 12px;
    padding: 4px 24px;
    outline-offset: 0;
    outline: -webkit-focus-ring-color auto 0;
    height: 100px;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: var(--grey-light);
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--black);
}
.content-booking section .city-selector select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url("..//img/br_down.png") white no-repeat 95% !important; /* !important used for overriding all other customisations */
    background: url("..//img/br_down.png") white no-repeat calc(100% - 30px) !important; /* Better placement regardless of input width */
}
.content-booking section .city-selector .city-icons {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    gap: 1em;
}
.content-booking section .city-selector .city-icons .city {
    width: 24%;
}
.content-booking section .city-selector .city-icons .city .content-selector{
    width: 60%;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.content-booking section .city-selector .city-icons .city .content-selector:hover,
.content-booking section .city-selector .city-icons .city .content-selector:active,
.content-booking section .city-selector .city-icons .city .content-selector:focus-visible,
.content-booking section .city-selector .city-icons .city .content-selector:focus-visible {
    transform: scale(1.1);
    background-color: var(--primary-bg);
    border-radius: 16px;
}
.content-booking section .city-selector .city-icons .city img {
    order:1;
}
.content-booking section .city-selector .city-icons .city p {
    order:2;
}



.tabs-container {
width: 100%;
margin: 0.5em 0;
padding: 0;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: flex-start;
}
.tabs-container .header-tabs {
width: 100%;
margin: 0;
padding: 0;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: flex-start;
}
.tabs-container .header-tabs .left,
.tabs-container .header-tabs .center,
.tabs-container .header-tabs .right {
width: 33%;
margin: 0;
padding: 0;
display: flex;
flex-flow: row wrap;
}
button.back {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center;
background-color: transparent;
}
button.back em {
font-size: 20px;
margin: 0 6px;
}
button.back p {
margin-bottom: 0;
}
.tabs-container .header-tabs .left {
justify-content: flex-start;
align-items: flex-start;
}
.tabs-container .header-tabs .left button.back {
justify-content: flex-start;
align-items: center;
}
.tabs-container .header-tabs .center {
justify-content: center;
align-items: center;
}
.tabs-container .header-tabs .center img.img-logo {
height: 50px;
}
.tabs-container .header-tabs .right {
justify-content: flex-end;
align-items: flex-start;
}
.tabs-container .header-tabs .right button.back {
justify-content: flex-end;
align-items: center;
}
.tabs-container .nav-booking {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--grey-dark);
    margin: 0 auto;
}
.tabs-container .nav-booking ul.pure-menu-list {
    width: 92%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0;
    list-style: none;
}
.tabs-container .nav-booking ul.pure-menu-list li {
    width: 25%;
    display: inline;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.15px;
    margin: 0;
    cursor: pointer;
}
.tabs-container .nav-booking ul.pure-menu-list li.checked {
    background-color: var(--white);
    color: var(--grey-dark);
}
.tabs-container .nav-booking ul.pure-menu-list li label.label {
    width: 100%;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.15px;
    height: 20px;
    border: 1px solid var(--grey-dark);
    margin: 0;
    color: var(--white);
    padding: 16px 0 16px 1em;
}
.tabs-container .nav-booking ul.pure-menu-list li label.label a {    
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.15px;
    text-decoration: none;
}
.tabs-container .nav-booking ul.pure-menu-list li.checked label.label a {
    color: var(--grey-dark);
}
.tabs-container .nav-booking ul.pure-menu-list li label.label a .label-mobile {
    display: none;
}

/** MAIN **/

.tab-panels, .main-booking {
    background-color: var(--white);
    width: 100%;
    padding: 30px 0;
}

.main-booking .main-contain .panel-container {
    width: 92%;
    padding: 30px 4%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.main-booking .main-contain .panel-container .left {
    width: 52%;
}
.main-booking .main-contain .panel-container .left .error-message p {
    color: var(--red-error-light);
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; 
}
.main-booking .main-contain .panel-container .left h2 {
width: 100%;
font-size: 64px;
font-weight: 400;
line-height: 100%;
letter-spacing: -1.92px;
}
.main-booking .main-contain .panel-container .left form {
    width: 100%;
}
.main-booking .main-contain .panel-container .left form select {
width: 100%;
font-size: 18px;
font-weight: 400;
line-height: 150%;
color: var(--grey-light);
border: 1px solid var(--grey-light);
border-radius: 6px;
padding: 16px 24px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; 
background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important; 
}

.main-booking .main-contain .panel-container .left form select option {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--grey-light);
}
.tabset .tab-panels .tab-panel .left form h3 {
    font-family: var(--text-font);
    font-size: 26px;
    font-weight: 600;
    line-height: 124%;
    text-transform: none;
    margin: 1em 0;
}
.main-booking .main-contain .panel-container .left form .background {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-light);
    border-radius: 8px;
    margin: 0 0 10px;
}
.main-booking .main-contain .panel-container .left form .background em {
    margin: 24px 12px 24px 24px;
    width: 32px;
}
.main-booking .main-contain .panel-container .left form .background input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 5%;
    width: 30%;
    height: 32px;
}
.main-booking .main-contain .panel-container .left form .background label {
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
}
.main-booking .main-contain .panel-container .left form .background em.checkmark {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid var(--grey-dark);
}
.main-booking .main-contain .panel-container .left form .background:hover input~em.checkmark {
    height: 10px;
    width: 10px;
    border: 6px solid var(--primary);
}  
.main-booking .main-contain .panel-container .left form .background input:checked~em.checkmark {
    height: 10px;
    width: 10px;
    border: 6px solid var(--primary);
}

.main-booking .main-contain .panel-container .left form .background em:after {
    top: 9px;
}
.main-booking .main-contain .panel-container .left form .inputs-container {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 0 0 10px;
    gap: 14px;
}
.main-booking .main-contain .panel-container .left form .inputs-container .dates {
    width: 48%;
}
.main-booking .main-contain .panel-container .left form .inputs-container .dates label {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%
}
.main-booking .main-contain .panel-container .left form .inputs-container .dates input {
    width: 84%;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--grey-light);
    border: 1px solid var(--grey-light);
    border-radius: 6px;
    padding: 8px 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) white no-repeat 98.5% !important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) white no-repeat calc(100% - 10px) !important;
}

.main-booking .main-contain .panel-container .left form .next {
    width: 90%;
}

.main-booking .main-contain .panel-container .left form .next button {
    width: 100%;
    justify-content: center;
    margin: 2em 0;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 28px;
}

.main-booking .main-contain .panel-container .right {
    width: 38%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.main-booking .main-contain .panel-container .right .img-big {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    object-fit: contain;
}
.main-booking .main-contain .panel-container .right .img-big img {
    width: 100%;    
}





/* SEGUNDA TAB */
/* LEFT */
.main-booking .main-contain .panel-container .left.tab2 {
    width: 60%;
}
.main-booking .main-contain .panel-container .left.tab2 .description {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    object-fit: contain;
    padding: 0 0 0 80px;
}
.main-booking .main-contain .panel-container .left.tab2 .description .img {
    max-width: 280px;
    position: absolute;
    left: 0;
    flex-shrink: 0;
}
.main-booking .main-contain .panel-container .left.tab2 .description .img img.mini {
    align-self: center;
    vertical-align: middle;
    max-width: 280px;
    height: 200px;
    padding: 20px 0;
}
.main-booking .main-contain .panel-container .left.tab2 .description .desc-container {
    width: 60%;
    background-color: var(--primary-light);
    padding: 2em 1em 1em 196px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc {   
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
.main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.first .desc {
    width: 60%;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.44px;
}
.main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.first .price {
    font-size: 30px;
    font-weight: 700;
    line-height: 70%;
}
.main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.first .price span {
    font-size: 16px;
    font-weight: 400;
}
.main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.second p {
    width: 60%;
    font-size: 22px;
    font-weight: 400;
}
.main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.third {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}
.main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.third button {
    position: absolute;
    right: 0;
    top: -6px;
    font-size: 16px;
    letter-spacing: -0.15px;
}
.main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.third button em {
    font-size: 18px;
    margin-left: 16px;
}
/* EXPANSION PANEL */
.expansion {
    padding: 0;
    position: relative;
    height: fit-content;
    width: 100%;
}
.content {
    height: auto;
    max-height: 0;
    max-width: 100%;
    position: relative;
    top: -20px;
    overflow: hidden;
    transform: translateY(20px);
    transition: all 180ms ease-in-out 0ms; 
}
.content p {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
}
.expansion input[class^="expan"]:checked ~ .content {
    max-height: 360px;
    height: fit-content;
    transition: all 200ms ease-in-out 0ms;
}
.expansion input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    margin: 0;
    padding: 0;
}
.expansion input[class^="expan"]{   
    width: 220px;
    height: 24px;
    position: absolute;
    background-color: transparent;
    left: 0;
    top: 3px;
}
.expansion input[class^="expan"]:hover{
    cursor: pointer;
}
.expansion .open-close-icon {
    margin-right: 6px;
}
.expansion .open-close-icon em::before {    
    transition: transform 150ms ease-in-out 0ms;
}
.expansion input[class^="expan"]:checked ~ label .open-close-icon em::before {
    content:"\e90d";
    transition: transform 150ms ease-in-out 0ms;
}
.expansion label.tab_lab {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;   
    align-items: flex-start;  
    width: 220px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}
.expansion label.tab_lab  p {
    text-decoration: underline;
    margin: 0;
    line-height: 24.376px;
} 
.expansion label[class^="expan"]:hover{
    cursor: pointer;
}
.expansion label p.more {
    display: block;
}
.expansion input[class^="expan"]:checked ~ label p.more {
    display: none;
}
.expansion label p.less  {
    display: none;
}
.expansion input[class^="expan"]:checked ~ label p.less {
    display: block;
}
/* RIGHT */
.main-booking .main-contain .panel-container .right.tab2 {
    width: 38%;
}
.main-booking .main-contain .panel-container .right.tab2 .resume {
    width: 80%;
    display: flex;
    padding: 24px 36px 40px 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border: 1.5px solid var(--secondary-01-grisclaro, #D1D1D1);
    background: var(--background-pure-white, #FFF);
    box-shadow: 0px 20px 30px 0px rgba(22, 22, 22, 0.06);
}
.main-booking .main-contain .panel-container .right.tab2 .resume h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.6px;
    text-transform: none;
    margin: 0;
}
.main-booking .main-contain .panel-container .right.tab2 .resume p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}
.main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0.5rem;
    border-bottom: var(--border-bottom);
}
.main-booking .main-contain .panel-container .right.tab2 .resume .dates {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit p,  .main-booking .main-contain .panel-container .right.tab2 .resume .dates p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}
.main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit h4, .main-booking .main-contain .panel-container .right.tab2 .resume .dates h4  {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
}
.main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit button.btn-text {
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}
.main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit button.btn-text p {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 33px */
    letter-spacing: -0.44px;
    text-decoration: underline;
}
.main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit button.btn-text em {
    font-size: 14px;
    margin-right: 4px;
}






/* TERCERA TAB */

/* LEFT */
.main-booking .main-contain .panel-container .left.tab3 h2 {
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
}
.main-booking .main-contain .panel-container .left.tab3 form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.main-booking .main-contain .panel-container .left.tab3 form h3 {
    font-size: 26px;
    font-weight: 700;
    text-transform: none;
    margin: 0 0 16px;
}
.main-booking .main-contain .panel-container .left.tab3 form p {
    font-size: 20px;    
    font-weight: 400;
    line-height: 150%;
}
.main-booking .main-contain .panel-container .left.tab3 form .campo {
    width: 100%;
}
.main-booking .main-contain .panel-container .left.tab3 form .campo label.label {
    font-size: 14px;
    font-weight: 800;
    margin-left: 0
}
.main-booking .main-contain .panel-container .left.tab3 form .campo input.input {
    width: 90%;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--grey-light);
    border: 1px solid var(--grey-light);
    border-radius: 6px;
    padding: 14px 24px;
    margin-bottom: 30px;
}
.main-booking .main-contain .panel-container .left.tab3 form .campo.psw input.input {
    margin-bottom: 10px;
}
.main-booking .main-contain .panel-container .left.tab3 form p.advise {
    font-size: 16px;    
    font-weight: 400;
    line-height: 150%;
}
.main-booking .main-contain .panel-container .left.tab3 form .data1 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.main-booking .main-contain .panel-container .left.tab3 form .data1 .campo  {
    width: 46%;    
}
.main-booking .main-contain .panel-container .left.tab3 form .data2 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.main-booking .main-contain .panel-container .left.tab3 form .data2 .campo.code {
    width: 22%;    
}
.main-booking .main-contain .panel-container .left.tab3 form .data2 .campo.code label {
    font-size: 14px;
    font-weight: 800;
    margin-left: 0; 
}
.main-booking .main-contain .panel-container .left.tab3 form .data2 .campo.code select {
    width: 100%;
    line-height: 124%;    
}
.main-booking .main-contain .panel-container .left.tab3 form .data2 .campo.phone {
    width: 72%;   
}
.main-booking .main-contain .panel-container .left.tab3 form .data2 .campo.phone input.input {
    width: 60%;   
}
.main-booking .main-contain .panel-container .left.tab3 form .campo .dates input {
    width: 44%;  
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--grey-light);
    border: 1px solid var(--grey-light);
    border-radius: 6px;
    padding: 14px 24px;
    margin-bottom: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) white no-repeat 98.5% !important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) white no-repeat calc(100% - 10px) !important;
}
.main-booking .main-contain .panel-container .left.tab3 form .data3 .campo  {
    width: 50%;    
}
.main-booking .main-contain .panel-container .left.tab3 form .data3 .campo.motive  {
    width: 100%;    
}
.main-booking .main-contain .panel-container .left.tab3 form .data3 .campo select {
    width: 100%;
    margin-bottom: 30px;
}
.main-booking .main-contain .panel-container .left form .book button {
    width: 100%;
    justify-content: center;
    margin: 0 0 2em;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 28px;
}

/* RIGHT */
.main-booking .main-contain .panel-container .right.tab3 {
    width: 38%;
}
.main-booking .main-contain .panel-container .right.tab3 .resume h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.6px;
    text-transform: none;
    margin: 0;
}
.main-booking .main-contain .panel-container .right.tab3 .resume {
    display: flex;
    padding: 24px 36px 40px 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border: 1.5px solid var(--secondary-01-grisclaro, #D1D1D1);
    background: var(--background-pure-white, #FFF);
    box-shadow: 0px 20px 30px 0px rgba(22, 22, 22, 0.06);
}
.main-booking .main-contain .panel-container .right.tab3 .resume p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0.5rem;
    border-bottom: var(--border-bottom);
}
.main-booking .main-contain .panel-container .right.tab3 .resume .dates {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit p,  .main-booking .main-contain .panel-container .right.tab3 .resume .dates p, .main-booking .main-contain .panel-container .right.tab3 .resume .type-resume p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit h4, .main-booking .main-contain .panel-container .right.tab3 .resume .dates h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .dates .in h4, .main-booking .main-contain .panel-container .right.tab3 .resume .dates .out h4 {
    margin: 0.5rem 0 0;
    
}
.main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit button.btn-text {
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit button.btn-text p {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 33px */
    letter-spacing: -0.44px;
    text-decoration: underline;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit button.btn-text em {
    font-size: 14px;
    margin-right: 4px;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .type-resume {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
    padding: 1rem 0;
    border-top: var(--border-bottom);
    border-bottom: var(--border-bottom);
}
.main-booking .main-contain .panel-container .right.tab3 .resume .type-resume h4 {
    width: 60%;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .breakdown {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    border-bottom: var(--border-bottom);
    padding: 0 0 1rem;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .breakdown p {
    text-transform: none!important;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .breakdown h4 {
    margin: 0 0 0.5rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .breakdown .prices, .main-booking .main-contain .panel-container .right.tab3 .resume .breakdown .total {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .breakdown .total p {
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
}
.main-booking .main-contain .panel-container .right.tab3 .resume .renta {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.main-booking .main-contain .panel-container .right.tab3 .resume p.advise {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--grey-advise);
    text-transform: none!important;
}








/* RESPONSIVE */
@media only screen and (min-width: 1024px) and (max-width: 1279.9px) {
    .tabs-container .nav-booking ul.pure-menu-list {
        width: 100%;
    }
    .tabs-container .nav-booking ul.pure-menu-list li {              
        font-size: 14px;
        font-weight: 600;
        padding: 0;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container {
        padding: 1.5em 1em 1em 134px;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .img img.mini {
        height: 160px;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.first .desc {
        width: 70%;
        font-size: 20px;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.second p {
        width: 70%;
        font-size: 20px;
    }
    .expansion label.tab_lab {
        width: 180px;
        font-size: 14px;
    }
    .expansion .open-close-icon em::before {
        font-size: 22px;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume {
        padding: 24px 24px 30px 24px;
    }    
    .main-booking .main-contain .panel-container .right.tab3 .resume h3 {
        font-size: 22px;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit h4, .main-booking .main-contain .panel-container .right.tab3 .resume .dates h4, .main-booking .main-contain .panel-container .right.tab3 .resume h4, .main-booking .main-contain .panel-container .right.tab3 .resume .dates h4, .main-booking .main-contain .panel-container .right.tab3 .resume .breakdown .total p {
        font-size: 18px;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume p, .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit p, .main-booking .main-contain .panel-container .right.tab3 .resume .dates p, .main-booking .main-contain .panel-container .right.tab3 .resume .type-resume p {
        letter-spacing: -0.2px;
    }
}

/* MOBILE */
@media only screen and (max-width: 1023.9px) {
    .tabs-container {
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    .tabs-container .header-tabs {
        z-index: 0;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .tabs-container .nav-booking {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .tabs-container .nav-booking ul.pure-menu-list {
        width: 98%;
        height: 48px;
        padding: 10px 0 10px;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        position: relative;
    }
    .tabs-container .nav-booking ul.pure-menu-list li {
        background-color: var(--grey-dark);
        color: var(--white);
        z-index: 1;
        padding: 0;
        width: 100%; 
        color: var(--white);
        visibility: hidden;
        position: absolute;
    }
    .tabs-container .nav-booking ul.pure-menu-list li.checked {
        visibility: visible;
        color: var(--white);
        background-color: var(--grey-dark);
        z-index: 2;
    }
    .tabs-container .nav-booking ul.pure-menu-list li label.label {
        width: 94%;        
        padding: 0 2%;
        border: 0;
    }

    .tabs-container .nav-booking ul.pure-menu-list li label.label a {    
        color: var(--white);
        font-size: 16px;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: -0.15px;
        text-decoration: none;
    }

    .tabs-container .nav-booking ul.pure-menu-list li.checked label.label a {
        color: var(--white);
    }
    .tabs-container .nav-booking ul.pure-menu-list li label.label a span {
        display: none;
    }

    .tabs-container .nav-booking ul.pure-menu-list li label.label a .label-mobile {
        display: flex;
        width: 100%;
    }

    .tabs-container .nav-booking ul.pure-menu-list li label.label .label-mobile {
        width: 94%;
        margin-left: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .tabs-container .nav-booking ul.pure-menu-list li label.label .label-mobile em.icon-corchete-left {        
        display: block;
        font-size: 28px;
        margin-top: -4px
    }    
    .tabs-container .nav-booking ul.pure-menu-list li label.label .label-mobile em.icon-close {        
        display: block;
        font-size: 16px;
    }
    
    .main-booking .main-contain {
        padding: 1% 0;
        width: 100%;
    }
    .main-booking .main-contain .panel-container {
        width: 94%;
        padding: 0 2% 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .main-booking .main-contain .panel-container .left .error-message p {
        font-size: 14px;
        letter-spacing: 0.14px; 
    }

    .main-booking .main-contain .panel-container .left {
        width: 100%;
    }
    
  
    .main-booking .main-contain .panel-container .left form .background label {
        width: 80%;
        font-size: 14px;
        margin-bottom: 0;
    }    
    .main-booking .main-contain .panel-container .left form select {
        width: 100%;    
        font-size: 14px;        
        padding: 8px 12px;
    }
    .main-booking .main-contain .panel-container .left h2 {
        text-align: left;
        margin-top: 0.6em;
        font-size: 32px!important;
    }
    .main-booking .main-contain .panel-container .left form h3 {
        font-size: 17px;
        margin-top: 20px;
    }
    .main-booking .main-contain .panel-container .left form label.label1 {
        display: none;
    }
    .main-booking .main-contain .panel-container .left form select.select1 {
        margin-top: 20px;
    }
    
    .main-booking .main-contain .panel-container .left form .background em {
        margin: 14px 12px;
    }
    .main-booking .main-contain .panel-container .left.tab2 {
        width: 100%;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description {
        width: 100%;
        padding: 1rem 0;
        flex-flow: row wrap;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .img {
        max-height: 300px;
        height: auto;
        min-height: 280px;
        width: 100%;
        max-width: 100%;
        position: static;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .img img.mini {
        max-height: 300px;
        height: auto;
        min-height: 280px;
        width: 100%;
        max-width: 100%;
        padding: 0;
        object-fit: cover;
        object-position: 0 0;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container {
        width: 100%;
        padding: 1rem;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.first .desc {
        width: 70%;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 6px;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.first p {
        margin-bottom: 0;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.first .price {
        font-size: 25px;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.first .price span {
        font-size: 14px;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.second p {
        font-size: 14px;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.third button {
        font-size: 15px;
        top: -12px;
    }
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.third button.btn-secondary {
        height: 40px;
    }  
    .main-booking .main-contain .panel-container .left.tab2 .description .desc-container .secc.third button em {
        display: none;
    }
    .expansion label.tab_lab {
        width: 180px;
        font-size: 14px;
        line-height: 20px;
    }
    .expansion .open-close-icon em::before {
        font-size: 18px;
    }
    .main-booking .main-contain .panel-container .right {
        width: 100%;
    }
    .main-booking .main-contain .panel-container .left form .background {
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--grey-light);
    }
    .main-booking .main-contain .panel-container .left form .inputs-container .dates {
        width: 100%;
    }
    .main-booking .main-contain .panel-container .left form .inputs-container .dates label {
        display: none;
    }
    .main-booking .main-contain .panel-container .left form .inputs-container .dates input {
        width: 96%;
    }
    .main-booking .main-contain .panel-container .left form .inputs-container .dates:last-of-type {
        display: none;
    }
    .main-booking .main-contain .panel-container .left form .next {
        width: 100%;
    }
    .main-booking .main-contain .panel-container .left form .next button {
        font-size: 14px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .main-booking .main-contain .panel-container .left.tab2 {
        width: 100%;
    }
    .main-booking .main-contain .panel-container .right.tab2 {
        width: 100%;
    }
    .main-booking .main-contain .panel-container .left .description {
        width: 100%;
        flex-flow: row wrap;      
    }
    .main-booking .main-contain .panel-container .left .description .img {
        width: 100%;
        top: 0;
        height: 200px;
        object-fit: cover;
        overflow: hidden;
    }    
    .main-booking .main-contain .panel-container .left .description .img img {
        width: 100%;
    }
    .main-booking .main-contain .panel-container .left .description .desc-container {
        width: 100%;
        background-color: var(--primary-light);
        border-radius: 0 0 16px 16px;
        padding: 1em;
    }
    .main-booking .main-contain .panel-container .left .description .desc-container .secc {   
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
    }
    .main-booking .main-contain .panel-container .left .description .desc-container .secc.third {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
    }

    /* RIGHT */
    .main-booking .main-contain .panel-container .right.tab2 {
        width: 100%;
        margin-top: 10px;
        border-top: var(--border-header);
        padding-top: 20px;
    }
    .main-booking .main-contain .panel-container .right.tab2 .resume {
        width: 100%;
        padding: 1rem;
    }
    .main-booking .main-contain .panel-container .right.tab2 .resume h3 {
        font-size: 17px;
    }
    .main-booking .main-contain .panel-container .right.tab2 .resume p {
        font-size: 11px;
    }
    .main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0.5rem;
        border-bottom: var(--border-bottom);
    }
    .main-booking .main-contain .panel-container .right.tab2 .resume .dates {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }
    .main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit p,  .main-booking .main-contain .panel-container .right.tab2 .resume .dates p {
        font-size: 11px;
    }
    .main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit h4, .main-booking .main-contain .panel-container .right.tab2 .resume .dates h4  {
        font-size: 14px;
    }
    .main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit button.btn-text p {
        font-size: 12px;
    }
    .main-booking .main-contain .panel-container .right.tab2 .resume .resume-edit button.btn-text em {
        font-size: 10px;
        margin-right: 4px;
    }

    /* TERCERA TAB */

    /* LEFT */
    .main-booking .main-contain .panel-container .left.tab3 { 
        width: 100%;
    }
    .main-booking .main-contain .panel-container .left.tab3 h2 {
        font-size: 32px!important;
    }
    .main-booking .main-contain .panel-container .left.tab3 form h3 {
        font-size: 17px;
        margin-top: 20px;
    }
    .main-booking .main-contain .panel-container .left.tab3 form p {
        font-size: 14px;    
    }
    .main-booking .main-contain .panel-container .left.tab3 form .campo {
        width: 100%;
    }
    .main-booking .main-contain .panel-container .left.tab3 form .campo label.label, .main-booking .main-contain .panel-container .left.tab3 form .data3 .campo label, .main-booking .main-contain .panel-container .left.tab3 form .data2 .campo.code label,.main-booking .main-contain .panel-container .left.tab3 form .campo .dates label {
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 150%;
    }
    .main-booking .main-contain .panel-container .left.tab3 form .campo input.input {
        width: 94%;
        font-size: 14px; 
        padding: 10px 12px;
    }
    .main-booking .main-contain .panel-container .left.tab3 form .campo.psw input.input {
        margin-bottom: 10px;
    }
    .main-booking .main-contain .panel-container .left.tab3 form p.advise {
        font-size: 12px;    
    }
    .main-booking .main-contain .panel-container .left.tab3 form .next button {
        font-size: 14px;
        padding: 16px 26px;
    }
    .main-booking .main-contain .panel-container .left.tab3 form h3.record {
        border-top: 1px solid var(--grey-light);
        padding: 1rem 0 0
    }
    .main-booking .main-contain .panel-container .left.tab3 form .data1 {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .main-booking .main-contain .panel-container .left.tab3 form .data1 .campo  {
        width: 100%;    
    }
 
    .main-booking .main-contain .panel-container .left.tab3 form .data2 {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .main-booking .main-contain .panel-container .left.tab3 form .data2 .campo.code {
        width: 22%;    
    }   
    .main-booking .main-contain .panel-container .left.tab3 form .data2 .campo.code select {
        width: 100%;
        padding: 12px;
    }
    .main-booking .main-contain .panel-container .left.tab3 form .data2 .campo.phone input.input {
        width: 90%;   
    }
    .main-booking .main-contain .panel-container .left.tab3 form .campo .dates input {
        width: 94%;  
        font-size: 16px;        
        padding: 12px;       
    }
    .main-booking .main-contain .panel-container .left.tab3 form .data3 .campo  {
        width: 100%;    
    }
    .main-booking .main-contain .panel-container .left.tab3 form .data3 .campo.motive  {
        width: 100%;    
    }
    .main-booking .main-contain .panel-container .left.tab3 form .data3 .campo select {
        font-size: 16px;        
        padding: 12px;
    }
    .main-booking .main-contain .panel-container .left form .book button {
        font-size: 14px;
        padding: 16px 26px;
        margin: 0;
    }

    /* RIGHT */
    
    .main-booking .main-contain .panel-container .right.tab3 {
        width: 100%;
        margin-top: 10px;
        border-top: var(--border-header);
        padding-top: 20px;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume {
        width: 100%;
        padding: 1rem;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume h3 {
        font-size: 17px;        
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume p {       
        font-size: 11px;        
    } 
    .main-booking .main-contain .panel-container .right.tab3 .resume .dates {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit p,  .main-booking .main-contain .panel-container .right.tab3 .resume .dates p {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 1.28px;
        text-transform: uppercase;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit h4, .main-booking .main-contain .panel-container .right.tab3 .resume .dates h4  {
        margin: 0;
        font-size: 22px;
        font-weight: 700;
        line-height: 124%;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit button.btn-text {
        background-color: transparent;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit button.btn-text p {
        font-size: 16px;
        font-weight: 700;
        line-height: 150%; /* 33px */
        letter-spacing: -0.44px;
        text-decoration: underline;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit button.btn-text em {
        font-size: 14px;
        margin-right: 4px;
    }

    .main-booking .main-contain .panel-container .right.tab3 .resume h3 {
        font-size: 17px;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit h4, .main-booking .main-contain .panel-container .right.tab3 .resume .dates h4, .main-booking .main-contain .panel-container .right.tab3 .resume h4, .main-booking .main-contain .panel-container .right.tab3 .resume .dates h4, .main-booking .main-contain .panel-container .right.tab3 .resume .type-resume h4, .main-booking .main-contain .panel-container .right.tab3 .resume .breakdown .total p, .main-booking .main-contain .panel-container .right.tab3 .resume .breakdown h4 {
        font-size: 14px;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume p, .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit p, .main-booking .main-contain .panel-container .right.tab3 .resume .dates p, .main-booking .main-contain .panel-container .right.tab3 .resume .type-resume p {
        font-size: 11px;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit button.btn-text p {
        font-size: 12px;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume .resume-edit button.btn-text em {
        font-size: 10px;
        margin-right: 4px;
    }
    .main-booking .main-contain .panel-container .right.tab3 .resume p.advise {
        font-size: 10px;
        line-height: 14px;
    }
}