<footer>

<section class="container-footer">

  <div class="contain pure-g">

      <!-- Logo e info -->
      <div class="left pure-u-2-5">
        <div class="footer-logo">
          <div class="logo-container">
            <div class="group">
              <img alt="Cotowngroup" src="{{ root }}/assets/img/cotowngroup.png">
            </div>
            <div class="brands">
              <img alt="Cotown" src="{{ root }}/assets/img/cotown.svg">
              <img alt="Vanguard" src="{{ root }}/assets/img/vanguard.svg">
            </div>
          </div>
        </div>
        <div class="footer-info mobile">
          <div class="info">
            {% for o in offices %}
            {% if loop.first %}
            <p>{{ o.Address }}</p>
            <a href="tel:{{ o.Phones }}" target="_blank"><p>{{ o.Phones }}</p></a>
            <p>{{ o.Email }}</p>
            {% endif %}
            {% endfor %}
          </div>
          <div style="text-align:center;">
            <img style="padding-left:20px;width:40px;" src="{{ root }}/assets/img/gptw.png">
          </div>
        </div>
      </div>

      <div class="right pure-u-3-5">

        <!-- Links desktop -->
        <div class="footer-contain pure-g ">
          <div class="pure-u-7-24">
            <ul>
              <li class="bold"><a href="{{ langs[L].pages['locations'].url }}.html">{{ langs[L].pages['locations'].text }}</a></li>
              <li class="bold"><a href="{{ langs[L].pages['advantages'].url }}.html">{{ langs[L].pages['advantages'].text }}</a></li>
            </ul>
          </div>
          <div class="pure-u-7-24">
            <ul>
              <li class="bold"><a href="{{ langs[L].pages['faqs'].url }}.html">{{ langs[L].pages['faqs'].text }}</a></li>
              <li class="bold"><a href="{{ langs[L].pages['blog'].url }}.html">{{ langs[L].pages['blog'].text }}</a></li>
              <li class="bold"><a href="{{ langs[L].pages['contact'].url }}.html">{{ langs[L].pages['contact'].text }}</a></li>
            </ul>
          </div>
          <div class="pure-u-7-24">
            <ul>
              <li><a href="{{ langs[L].pages['privacy'].url }}.html">{{ langs[L].pages['privacy'].text }}</a></li>
              <li><a href="{{ langs[L].pages['legal'].url }}.html">{{ langs[L].pages['legal'].text }}</a></li>
              <li><a href="{{ langs[L].pages['datasecurity'].url }}.html">{{ langs[L].pages['datasecurity'].text }}</a></li>
            </ul>
          </div>
          <div class="pure-u-3-34" style="display:flex;align-items:center;">
            <img style="padding-left:20px;width:60px;" src="{{ root }}/assets/img/gptw.png">
          </div>

        <!-- Redes sociales movil -->
        <div class="redes-mobile pure-u-1">
          {% for r in rrss %}
          <a href="{{ r.Link }}" rel="noopener, noreferrer" target="_blank"><em class="icon-{{ r.Name }}"></em></a>
          {% endfor %}
        </div>

        <!-- Links movil -->
        <div class="mobile-listado">
            <a href="{{ langs[L].pages['locations'].url }}.html">{{ langs[L].pages['locations'].text }}</a><span class="sep">| </span>
            <a href="{{ langs[L].pages['advantages'].url }}.html">{{ langs[L].pages['advantages'].text }}</a><span class="sep"> | </span>
            <a href="{{ langs[L].pages['faqs'].url }}.html">{{ langs[L].pages['faqs'].text }}</a><span class="sep"> | </span>
            <a href="{{ langs[L].pages['blog'].url }}.html">{{ langs[L].pages['blog'].text }}</a><span class="sep"> | </span>
            <a href="{{ langs[L].pages['contact'].url }}.html">{{ langs[L].pages['contact'].text }}</a><span class="sep"> | </span>
            <a href="{{ langs[L].pages['privacy'].url }}.html">{{ langs[L].pages['privacy'].text }}</a><span class="sep"> | </span>
            <a href="{{ langs[L].pages['legal'].url }}.html">{{ langs[L].pages['legal'].text }}</a><span class="sep"> | </span>
            <a href="{{ langs[L].pages['datasecurity'].url }}.html">{{ langs[L].pages['datasecurity'].text }}</a>
        </div>

      </div>

  </div>

  <div class="footer-info desktop pure-g">

    <!-- Redes sociales -->
    <div class="redes pure-u-2-5">
      {% for r in rrss %}
      <a href="{{ r.Link }}" rel="noopener, noreferrer" target="_blank"><em class="icon-{{ r.Name }}"></em></a>
      {% endfor %}
    </div>

    <!-- Headquarters -->
    <div class="info-desktop pure-u-3-5">
      {% for o in offices %}
      {% if loop.first %}
      <a href="tel:{{ o.Phone }}" target="_blank"><p>{{ o.Phone }}</p></a>
      <p>{{ o.Email }}</p>
      <p>{{ o.Address }}</p>
      {% endif %}
      {% endfor %}
    </div>

  </div>

</section>

</footer>

<script>
{{ asset('js/common.js') }}

// Banner
{% for b in banners | find('Page', 'eq', 'home') %}
{% if loop.first %}
window.onload = function() {
  const item = "banner_{{ b.id }}"
  if (sessionStorage.getItem('banner') != item)
    document.getElementById(item).classList.remove("hidden");
}
{% endif %}
{% endfor %}
function ocultarBannerMobile(item) {
    document.getElementById(item).style.display = 'none';
    document.getElementById(item).classList.add('hidden');
    sessionStorage.setItem('banner', item);
}
</script>
