---
name: booking
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{root}}{{langs.es.folder}}/"
      en: "{{root}}{{langs.en.folder}}/"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/clean.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional head content -->
{% block head %}
<!--{% set css %}{% include "shared/css/booking.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="/assets/css/booking.css">
{% endblock %}

<main class="content-booking">

  <div class="close">
    <button class="back" onclick="window.location.href='/{{data.lang}}';">
      <em class="icon-close"></em>
    </button>
  </div>

  <section>
    <h2>{% literal texts, 'home-donde', L %}</h2>
    <div class="option-selector">
      <div class="option-icons">
        {% for t in typologies %}
        {% set l = locations | find('Name', 'eq', t.Name) | first %}
        {% set i = l.Images | find('Image_type', 'eq', 'icono') | first %}
        <div class="option">
          <div id="{{l.id}}" class="city content-selector" onclick="select_city({{l.id}});">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_location/" + i.id +"/Image/contents?access_token=" + token,
              l.Name, l.Name | slugify, "img",
              [190], ""
            %}
            <p>{{l | translate('Name', L)}}</p>
          </div>
        </div>
        {% endfor %}
      </div>        
    </div>
  </section>

  <section>
    <h2>{% literal texts, 'booking-que-buscas', L %}</h2>
    <div class="option-selector">
      <div class="option-icons">
        <div class="option">
          <div id="pc" class="type content-selector" onclick="select_type('pc');">
            <img class="img" alt="Piso compartido" src="{{root}}/assets/img/icono__tipo_piso_compartido.svg">
            <p>{% literal texts, 'home-pisazos-piso', L %} {% literal texts, 'home-pisazos-compartido', L %}</p>
          </div>
        </div>
        <div class="option">
          <div id="ap" class="type content-selector" onclick="select_type('ap');">
            <img class="img" alt="Apartamento privado" src="{{root}}/assets/img/icono__tipo_apartamento_privado.svg">
            <p>{% literal texts, 'home-pisazos-apartamento', L %} {% literal texts, 'home-pisazos-privado', L %}</p>
          </div>
        </div>
        <div class="option">
          <div id="rs" class="type content-selector" onclick="select_type('rs');">
            <img class="img" alt="Residencia universitaria" src="{{root}}/assets/img/icono__tipo_residencia_universitaria.svg">
            <p>{% literal texts, 'home-pisazos-residencia', L %} {% literal texts, 'home-pisazos-universitaria', L %}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="roomtype">
    <h2>{% literal texts, 'booking-tipo', L %}</h2>
    <div class="option-selector">
      <div class="option-icons">
        <div class="option">
          <div id="ind" class="room content-selector" onclick="select_room('ind');">
            <img class="img" alt="city" src="{{root}}/assets/img/icono__hab_habitacion_individual.svg">
            <p>{% literal texts, 'booking-individual', L %}</p>
          </div>
        </div>
        <div class="option">
          <div id="sha" class="room content-selector" onclick="select_room('sha');">
            <img class="img" alt="city" src="{{root}}/assets/img/icono__hab_habitacion_compartida.svg">
            <p>{% literal texts, 'booking-compartida', L %}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>{% literal texts, 'booking-cuando', L %}</h2>
    <div class="calendar pure-u-1">
      <div class="reservas_form" id="reservas_form" name="form_multi" method="GET">
        <button class="date-button">
          <label class="labels">{% literal texts, 'cal-seleccionar-fechas', L %}</label>
          <input type="text" id="book_dates" name="book_dates" 
            onchange="validate();" 
            onclick="open_calendar('book_dates');" 
            class="inputs" placeholder="{% literal texts, 'booking-formato-fecha', L %}"/>
        </button>            
      </div>
    </div>
  </section>

  <section class="results">
    <form id="book_form" action="/booking/2" method="post">
      <input type="hidden" id="lang" name="lang" value="{{L}}">
      <input type="hidden" id="segment" name="segment" value="{{siteid}}">
      <input type="hidden" id="book_city_id" name="book_city_id" value="">
      <input type="hidden" id="book_acom" name="book_acom" value="">
      <input type="hidden" id="book_room" name="book_room" value="">
      <input type="hidden" id="book_checkin" name="book_checkin" value="">
      <input type="hidden" id="book_checkout" name="book_checkout" value="">
      <button id="book_button" class="btn-secondary" onclick="booking()" disabled>
        {% literal texts, 'booking-resultados', L %}
      </button>
    </form>
  </section>

</main>

<!-- Calendar-->
{% include 'shared/sections/common/calendar.html.njk' %}

{% block footer %}
{% set script %}
const typologies={{typologies|dump|safe}};

// Reset
set_field("book_city_id", "");
set_field("book_acom", "");
set_field("book_room", "");
set_field("book_checkin", localStorage.getItem("book_checkin"));
set_field("book_checkout", localStorage.getItem("book_checkout"));
set_field("book_dates", localStorage.getItem("book_dates"));

function get_field(field) {
  return document.getElementById(field).value;
}

function set_field(field, value) {
  localStorage.setItem(field, value);
  document.getElementById(field).value = value;
}

function booking() {
  document.getElementById("book_form").submit();
}

function validate(event) {
  document.getElementById("book_button").disabled = 
  !(
    (get_field("book_city_id")) && 
    (get_field("book_acom")) && 
    (get_field("book_room") || get_field("book_acom") == 'ap') && 
    (get_field("book_checkin") && get_field("book_checkout"))
  )
}

function select_city(id) {
  // Select city
  document.querySelectorAll("div.city").forEach(elem => elem.classList.remove("active"));
  document.querySelectorAll("div.type").forEach(elem => elem.classList.remove("active"));
  document.querySelectorAll("div.room").forEach(elem => elem.classList.remove("active"));
  document.getElementById(id).classList.add("active");
  set_field("book_city_id", id)

  // Private apartment
  document.getElementById("roomtype").style.display = "block";

  // Hide non available typologies
  document.querySelectorAll("div.type").forEach(elem => elem.style.display = "none");
  localStorage.setItem("book_acom", null);
  for (let l of typologies) {
    if (l.id == get_field("book_city_id")) {
      for (let t of l.Sale_types) {
        el = document.getElementById(t.Sale_type);
        if (el)
          el.style.display = "block";
      }
    }
  }
  validate();
}

function select_type(id) {
  // Select type
  document.querySelectorAll("div.type").forEach(elem => elem.classList.remove("active"));
  document.querySelectorAll("div.room").forEach(elem => elem.classList.remove("active"));
  document.getElementById(id).classList.add("active");
  set_field("book_acom", id)
  set_field("book_room", null)
  
  // Private apartment
  document.getElementById("roomtype").style.display = (id == "ap") ? "none" : "block";

  // Hide rooms
  document.querySelectorAll("div.room").forEach(elem => elem.style.display = "none");
  for (let l of typologies) {
    if (l.id == get_field("book_city_id")) {
      for (let t of l.Sale_types) {
        if (t.Sale_type == id) {
          for (let r of t.Room_types) {
            el = document.getElementById(r.Room_type);
            if (el)
              el.style.display = "block";
          }
        }
      }
    }
  }
  validate();
}

function select_room(id) {
  // Select type
  document.querySelectorAll("div.room").forEach(elem => elem.classList.remove("active"));
  document.getElementById(id).classList.add("active");
  set_field("book_room", id)
  validate();
}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}