---
name: rooms
eleventyComputed:
    L: "es"
    title: "{{langs[L].pages[name][site].title}}"
    city: "{{location | translate('Name', L)}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}-{{location | translate('Name', 'es') | slugify}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}-{{location | translate('Name', 'en') | slugify}}.html"
    description: "{{langs[L].pages[name][site].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{location | translate('Name', L) | slugify}}.html"
layout: shared/layouts/base.html
pagination:
    data: locationsrooms
    size: 1
    alias: location
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
{% include 'shared/sections/location/rooms/main.html.njk' %}