---
name: flats
eleventyComputed:
    L: "es"
    title: "{{langs[L].pages[name].title}} | {{building.Name}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}-{{building.Name | slugify}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}-{{building.Name | slugify}}.html"
    description: "{{langs[L].pages[name].title}} | {{building | translate('Name',L) | slugify}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{building.Name | slugify}}.html"
layout: shared/layouts/base.html
pagination:
    data: buildings
    size: 1
    alias: building
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
{% include 'shared/sections/building/flats/main.html.njk' %}