---
name: residences
eleventyComputed:
    L: "es"
    title: "{{building.Name}}"
    alt:
      es: "{{langs.es.folder}}/{{building.Name | slugify}}.html"
      en: "{{langs.en.folder}}/{{building.Name | slugify}}.html"
    description: "{{building | translate('Name',L) | slugify}}"
    permalink: "{{langs[L].folder}}/{{building.Name | slugify}}.html"
layout: shared/layouts/base.html
pagination:
    data: buildings
    size: 1
    alias: building
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
{% include 'shared/sections/building/residence/main.html.njk' %}