.pisos.vanguard {
    margin: 2em 0 4em;
    text-align: center;
}
.pisos.vanguard .text-container .title {
    margin: 0;
    text-transform: uppercase;
}
.pisos.vanguard .container .img-container {
    position: relative;
}
.pisos.vanguard .container .img-container .img {
    height: 60vh;
    margin-right: 1em;
    margin-bottom: 0;
    overflow: hidden;
    cursor: pointer;
}
.pisos.vanguard .container .img-container .last {
    margin-right: 0 !important;
}
.pisos.vanguard .container .img-container .img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pisos.vanguard .container .img-container:hover img {
    transform: scale(1.20);
    -webkit-transform: scale(1.20);
    filter: contrast(1.2);
    transition: transform .25s ease-in-out;
}
.pisos.vanguard .container .img-container h3 {
    top: -200px;
    font-weight: 400;
    z-index: 20;
    position: relative;
    display: inline-block;
    text-shadow: 0px 7px 14px rgba(0, 0, 0, 0.15);
    font-family: var(--title-font);
    line-height: 1.05em;
    margin-left: 10px;
}
.pisos .container .img-container .subrayado {
    z-index: 18;
    background-color: var(--primary);
    position: absolute;
    width: 0%;
    height: 0.8rem;
}
.pisos.cotown .text-container .title {
    text-align: left;
    padding-left: 74px;

}
.pisos.cotown .container .img-container {
    position: relative;
}
.pisos.cotown .container .img-container .img.cotown {
    height: 60vh;
    overflow: hidden;
    cursor: pointer;
    margin-right: 0;
    margin-bottom: 0;    
}
.pisos.cotown .container .img-container .img.cotown img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pisos.cotown .container .img-container:hover img {
    transform: scale(1.20);
    -webkit-transform: scale(1.20);
    filter: contrast(1.2);
    transition: transform .25s ease-in-out;
}
.pisos.cotown .container .img-container .img-title.cotown {
    z-index: 20;
    position: absolute;
    display: inline-block;
    font-family: var(--title-font);
    background-color: var(--white-bg-op2);
    bottom: 0;
    right: 0;
    text-align: center;
    min-width: 160px;
    padding: 120px 30px 30px;
}
.pisos.cotown .container .img-container .img-title.cotown .fs-large {
    color: var(--black);
    text-align: start;
    margin: 0;
}
.pisos .container .img-container .img-title {
    color: var(--primary-text);
    font-family: var(--title-font);
    font-weight: 400;
    position: absolute;
    margin: 0 1em 0 0.3em;
    font-size: var(--fs-xx-large);
    line-height: 46px;
    text-align: left;
    width: fit-content;
    cursor: pointer;
}
@media only screen and (min-width: 64em) {
	.pisos .container .img-container h3 {
        font-size: var(--fs-hero);
    }
}
@media only screen and (max-width: 63.99em) {
	.pisos.vanguard .text-container .title {
        text-align: left;
        padding: 0 0.5em 0.2em;
    }
	.pisos .container .img-container .img {
        margin-bottom: 8px;
        margin-right: 0;
    }
	.pisos .container .img-container h3 {
        top: -134px;
    }
	.pisos.cotown .text-container .title {
        text-align: left;
        padding: 0 0 0.5em 24px;
    }
	.pisos.cotown .container .img-container .img-title.cotown.second {
        left: 0;
        max-width: fit-content;
    }
}
