<section class="servicios">

  <div class="text-container">
    <h2 class="title">
      {% literal texts, 'home-servicios-titulo', L %}
    </h2>
    <p class="subtitle">
      {% literal texts, 'home-servicios-texto', L %}
    </p>
  </div>

  <div class="carousel splide splide-services" role="group">
    <div class="splide__track">
      <ul class="splide__list">

        {% for s in services %}
        <li class="splide__slide">
          <div class="slide">
            <div class="img">
              {% svg
                 constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Icons[0].id +"/Icon/contents?access_token=" + token,
                 s.Name
              %}
            </div>
          <h3 class="title">{{s | translate('Name', L)}}</h3>
          <p class="text">{{s | translate('Description', L)}}</p>
          </div>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>

</section>