/* === home.css === */
.title {
    text-align: center;
}
.title.cotown {
    text-align: left;
}
p.subtitle {
    font-size: var(--fs-x-large);
    margin-top: 0;
}
.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (min-width: 64em) {
	p.subtitle {
        font-size: var(--fs-medium);
    }
}
@media only screen and (max-width: 63.99em) {
	.title {
        padding: 0 40px;
        text-align: left;
    }
	p.subtitle {
        padding: 0 20px 0;
        font-size: var(--fs-small);
        text-align: left;
        margin: 0;
    }
	.text-container .title {
        padding: 0 0.5em 0.2em;
    }
}

/* === main-header.css === */
.main-header {
    position: relative;
    flex-flow: row nowrap;
    justify-content: stretch;
}
.main-header .left {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--box-bg);
    border-radius: var(--radius-1);
    padding: 3em 4em;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--box-text);
    z-index: 1;
    order: 1;
}
.main-header .left.cotown {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--box-bg);
    border-radius: var(--radius-1);
    padding: 3em 4em;
    position: absolute;
    top: 100px;
    left: 0;
    color: var(--box-text);
    z-index: 1;
    order: 1;
}
.main-header .left .text-container .fs-hero {
    margin: 0 0 0.5em;
}
.main-header .left.cotown .text-container .fs-hero {
    margin: 0 0 0.5em;
}
.main-header .left .basic-searcher label {
    font-size: var(--fs-small);
    font-weight: var(--semibold);
    line-height: 150%;
}
.main-header .left .basic-searcher select {
    height: 42px;
    margin-bottom: 0.5em;
    color: var(--black);
    border: 1px solid #d1d1d1;
    border-radius: var(--radius-3);
    padding: 0 16px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    background-image: url(/assets/img/corchete-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: var(--fs-small);
}
.main-header .left.cotown .basic-searcher select {
    height: 42px;
    margin-bottom: 1em;
    color: var(--primary-dark);
    border: 0px;
    border-bottom: 1px solid var(--black);
    border-radius: 0;
    padding: 0 16px;
    box-shadow: none;
    background-color: transparent;
    background-image: url(/assets/img/corchete-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: var(--fs-small);
}
.main-header .left .basic-searcher input.input-error,
.main-header .left .basic-searcher select.input-error {
    border: 2px dotted red;
    color: red;
}
.main-header .left .basic-searcher select.input-error option {
    color: black;
}
.input-error::placeholder {
    color: red;
}
.input-error::-ms-input-placeholder {
    color: red;
}
.input-error::-webkit-input-placeholder {
    color: red;
}
.input-error::-moz-input-placeholder {
    color: red;
}
.main-header .left .basic-searcher select:focus {
    border: 0px solid transparent;
    outline: 0
}
.main-header .left .basic-searcher select::-ms-expand {
    display: none;
    /*Evita que se muestre la flecha por defecto en versiones de IE*/
}
.main-header .left .basic-searcher select option {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--black);
}
.main-header .left .basic-searcher input {
    height: 40px;
    margin: 0 0 0.5em 0;
    color: var(--black);
    background: var(--white);
    border: 1px solid #d1d1d1;
    border-radius: var(--radius-3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 0 4px 0 16px;
    width: calc(100% - 23px);
    font-size: var(--fs-small);
}
.main-header .left.cotown .basic-searcher input {
    height: 40px;
    margin: 0 0 0.5em 0;
    color: var(--primary-dark);
    background: transparent;
    border: 0px;
    border-bottom: 1px solid var(--black);
    border-radius: var(--radius-3);
    box-shadow: none;
    padding: 0 4px 0 16px;
    width: calc(100% - 23px);
    font-size: var(--fs-xx-small);
}
.main-header .left .basic-searcher .date {
    position: relative;
}
.main-header .left .basic-searcher .date em {
    position: absolute;
    color: var(--black);
    top: 0;
    right: 10px;
    transform: translateY(12px);
    font-size: var(--fs-small);
}
.main-header .left .basic-searcher .calendar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.main-header .left .button-search {
    margin-top: 1em;
}
.main-header .left .button-search button.btn-text {
    font-size: var(--fs-small);
}
.main-header .left .button-search button.btn-text.cotown {
    font-weight: var(--semibold);
}
.main-header .left.cotown .button-search button.btn-text em.icon-search {
    margin-right: 8px;
}
.main-header .left.cotown .sello-cotown {
	position: relative;
    height: 4em;
    width: 100%;
	align-items: end;
}
.main-header .left.cotown .sello-cotown img.img-sello {
    position: absolute;
    top: -34px;
    right: -125px;
    width: 130px;
}
.main-header .video {
    position: relative;
    top: 0;
    left: 20%;
    height: fit-content;
    width: 80%;
    text-align: center;
    vertical-align: middle;
    order: 2;
}
.main-header .video.cotown {
    position: relative;
    top: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    order: 2;
}
.main-header .video .video-home {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.main-header .video .video-home img {
    object-fit: contain;
    width: 100%;
}
@media only screen and (min-width: 64em) and (max-width: 79.99em) {
	.main-header .left {
        padding: 2em;
    }
	.main-header .left .text-container.desktop {
        padding-right: 2em;
    }
	.main-header .left .basic-searcher select {
        margin-bottom: 0.1em;
    }
}
@media only screen and (min-width: 64em) {
	.main-header .video .text-container.mobile {
        display: none;
    }
	.main-header .left .button-search button.search.mobile {
        display: none;
    }
}
@media only screen and (max-width: 63.99em) {
	.main-header {
        flex-flow: row wrap;
    }
	.main-header .left {
        order: 2;
        position: relative;
        width: 100%;
        margin: -5px 0;
        padding: 1em 1em 3em;
        color: var(--black);
        background-color: var(--primary-background);
        border-radius: 0;
    }
	.main-header .left .button-search {
        width: 100%;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        height: 0;
    }
	.main-header .left .basic-searcher label {
        font-size: var(--fs-medium);
        font-weight: 600;
    }
	.main-header .left .basic-searcher select {
        font-size: var(--fs-x-small);
    }
	.main-header .left .basic-searcher input {
        font-size: var(--fs-x-small);
    }
	.main-header .left .button-search button.search.desktop {
        display: none;
    }
	.main-header .left .button-search button.search.mobile {
        position: relative;
        top: 15px;
        width: 90%;
        height: 46px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
	.main-header .left .button-search button.search.mobile em {
        display: none;
    }
	.main-header .left .text-container.desktop {
        display: none;
    }
	.main-header .video.vanguard .text-container.mobile {
        position: absolute;
        top: 0.5em;
        left: 1em;
    }
	.main-header .video.vanguard .text-container.mobile .fs-hero {
        color: var(--primary-text);
        text-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        text-align: left;
    }
	.main-header .video {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
        order: 1;
    }
	.main-header .video.cotown {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
        order: 1;
    }
	.main-header .video.cotown .text-container.mobile {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2em 0 2em 2em;
        background-color: var(--box-bg);        
    }
	.main-header .video.cotown .text-container.mobile .fs-hero {
        color: var(--black);
        text-align: left;
        margin: 0;
    }
	.main-header .left.cotown {
        order: 2;
        position: relative;
        top: 0;
        width: 100%;
        padding: 1em 1em 1.5em;
        color: var(--black);
        background-color: var(--primary-background);
        border-radius: 0;
    }
	.main-header .video.cotown .text-container.mobile .sello-cotown {
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: flex-end;
    }
	.main-header .video.cotown .text-container.mobile .sello-cotown img.img-sello {
        position: absolute;
        bottom: -16px;
        right: -40px;
        width: 80px;
    }
	.main-header .left.cotown .basic-searcher label {
        font-size: var(--fs-xx-small);
        font-weight: var(--semibold);
    }
	.main-header .left.cotown .basic-searcher select {
        font-size: var(--fs-xx-small);
        font-weight: var(--regular);
    }
	.main-header .left.cotown .button-search {
        height: fit-content;
    }
	.main-header .left.cotown .button-search a {
        width: 100%;
        height: fit-content;
    }
	.main-header .left.cotown .button-search button.search.mobile {
        position: static;
        width: 100%;
        height: 40px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-size: var(--fs-xx-small);
        color: var(--primary);
        box-shadow: none;
        border: 1px solid var(--primary);
        background-color: var(--primary-background);
        padding: 0;
        margin: 1em 0 0;        
    }
	.main-header .left.cotown .sello-cotown {
        display: none;
    }
}

/* === what-is.css === */
main .container-main .first-contain.home {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
main .container-main .first-contain.home.cotown {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--new-bg);
    top: -5px;
    position: relative;
    padding-bottom: 2em;
}
main .container-main .first-contain.home .title-big.home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 6em auto 2em;
}
main .container-main .first-contain.home .title-big.home .text {
    font-size: var(--fs-x-large);
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 0.5em;
    text-align: left;
}
main .container-main .first-contain.home .text {
    padding: 0 0.5em;
}
main .container-main .first-contain.home .text p {
    font-weight: var(--regular);
    font-size: var(--fs-xx-small);
    line-height: 1.3;
}
main .container-main .first-contain.home.cotown .text p {
    font-weight: var(--light);
}
@media only screen and (max-width: 63.99em) {
	main .container-main .first-contain.home .title-big.home {
        margin: 4em auto 2em
    }
	main .container-main .first-contain.home .title-big.home .bigh .fs-x-large {
        text-align: left;
    }
	main .container-main .first-contain.home .title-big.home p {
        font-size: var(--fs-xx-small);
        line-height: 30px;
        margin: 0 0 0.5em;
        text-align: left;
    }
	main .container-main .first-contain.home.cotown {
        background-color: var(--white);
    }
	main .container-main .first-contain.home.cotown .title-big.home {
        margin: 4em auto 0;
    }
	main .container-main .first-contain.home.cotown .title-big.home .bigh.cotown .fs-hero {
        width: 100%;
    }
	main .container-main .first-contain.home.cotown .title-big.home .text {
        padding: 0;
    }
	main .container-main .first-contain.home.cotown .title-big.home p {
        font-size: var(--fs-xx-small);
        font-weight: var(--regular);
        line-height: 1.5;
        margin: 0 0 0.5em;
        text-align: left;
    }
}

/* === locations.css === */
.locations {
    margin: 2em 0 4em;
    width: 100%;
}
.locations .img {
    width: 100%;
    overflow: hidden;
}
.locations .text-container .title {
    text-align: center;
    padding: 1.5em 0 0 74px;
}
.locations .carousel .fs-large {
    position: absolute !important;
    bottom: 0;
    left: 0.3em;
    color: var(--white);
    margin: 0;
    text-transform: uppercase;
}
.locations .carousel .img:hover .fs-large {
    color: var(--primary);
}
.locations .img img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.locations .img:hover img {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}
.locations.cotown {
    margin: 2em 0;
}
.locations .text-container .title.cotown {
    text-align: left;
    padding: 1.5em 0 0 74px;
}
.locations .cotown .img {
    height: 400px;
}
.locations .cotown .img img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.locations .cotown .img:hover {
    max-height: 360px !important;
    height: 360px;
    overflow: hidden;
}
.locations .cotown .img:hover img {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}
.locations .carousel.cotown .splide__track ul {
    padding: 0 0 60px;
}
.locations .carousel.cotown .splide__track ul li {
    margin-right: 0 !important;
    position: relative;
    height: 420px !important;
}
.locations .carousel.cotown .splide__track ul li a {
    margin-right: 0 !important;
    position: relative;
}
.location .cotown .text-slide {
    align-self: center;
    width: 100%;
    padding-top: 4px;
}
.locations .carousel.cotown .text-slide .fs-medium {
    text-align: center;
    color: var(--black);
    margin: 0;
    padding-top: 0.4em;
}
.locations .carousel.cotown .text-slide .line {
    height: 2px;
    width: 30px;
    margin: 0 auto;
    padding: 0 auto;
    align-self: center;
    border-bottom: 2px solid var(--primary-underline);
}
.locations .cotown .img:hover .text-slide {
    position: absolute;
    bottom: 0px;
    left: 0%;
    background-color: white;
    width: 100%;
}
@media only screen and (max-width: 63.99em) {
	.locations .text-container .title {
        text-align: left;
        padding: 0 0.5em 0.2em;
    }
	.locations .text-container .title.cotown {
        text-align: left;
        padding: 0em 0 0.8em 24px;
    }
	.locations.cotown {
        margin: 0;
    }
}

/* === choose.css === */
.pisos.vanguard {
    margin: 2em 0 4em;
    text-align: center;
}
.pisos.vanguard .text-container .title {
    margin: 0;
    text-transform: uppercase;
}
.pisos.vanguard .container .img-container {
    position: relative;
}
.pisos.vanguard .container .img-container .img {
    height: 60vh;
    margin-right: 1em;
    margin-bottom: 0;
    overflow: hidden;
    cursor: pointer;
}
.pisos.vanguard .container .img-container .last {
    margin-right: 0 !important;
}
.pisos.vanguard .container .img-container .img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pisos.vanguard .container .img-container:hover img {
    transform: scale(1.20);
    -webkit-transform: scale(1.20);
    filter: contrast(1.2);
    transition: transform .25s ease-in-out;
}
.pisos.vanguard .container .img-container h3 {
    top: -200px;
    font-weight: 400;
    z-index: 20;
    position: relative;
    display: inline-block;
    text-shadow: 0px 7px 14px rgba(0, 0, 0, 0.15);
    font-family: var(--title-font);
    line-height: 1.05em;
    margin-left: 10px;
}
.pisos.cotown .text-container .title {
    text-align: left;
    padding-left: 74px;

}
.pisos.cotown .container .img-container {
    position: relative;
}
.pisos.cotown .container .img-container .img.cotown {
    height: 60vh;
    overflow: hidden;
    cursor: pointer;
    margin-right: 0;
    margin-bottom: 0;    
}
.pisos.cotown .container .img-container .img.cotown img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pisos.cotown .container .img-container:hover img {
    transform: scale(1.20);
    -webkit-transform: scale(1.20);
    filter: contrast(1.2);
    transition: transform .25s ease-in-out;
}
.pisos.cotown .container .img-container .img-title.cotown {
    z-index: 20;
    position: absolute;
    display: inline-block;
    font-family: var(--title-font);
    background-color: var(--white-bg-op2);
    bottom: 0;
    right: 0;
    text-align: center;
    min-width: 160px;
    padding: 120px 30px 30px;
}
.pisos.cotown .container .img-container .img-title.cotown .fs-large {
    color: var(--black);
    text-align: start;
    margin: 0;
}
.pisos .container .img-container .img-title {
    color: var(--primary-text);
    font-family: var(--title-font);
    font-weight: 400;
    position: absolute;
    margin: 0 1em 0 0.3em;
    font-size: var(--fs-xx-large);
    line-height: 46px;
    text-align: left;
    width: fit-content;
    cursor: pointer;
}
@media only screen and (min-width: 64em) {
	.pisos .container .img-container h3 {
        font-size: var(--fs-hero);
    }
}
@media only screen and (max-width: 63.99em) {
	.pisos.vanguard .text-container .title {
        text-align: left;
        padding: 0 0.5em 0.2em;
    }
	.pisos .container .img-container .img {
        margin-bottom: 8px;
        margin-right: 0;
    }
	.pisos .container .img-container h3 {
        top: -134px;
    }
	.pisos.cotown .text-container .title {
        text-align: left;
        padding: 0 0 0.5em 24px;
    }
	.pisos.cotown .container .img-container .img-title.cotown.second {
        left: 0;
        max-width: fit-content;
    }
}

/* === services.css === */
.servicios {
    margin: 3em 0 4em;
    width: 100%;
    text-align: center;
}
.servicios .servicios-container {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 2em 6em;
}
.servicios .text-container .title {
    text-align: center;
    text-transform: uppercase;
}
.servicios .servicios-container .services-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.servicios .servicios-container .services-cards .card {
    width: calc(33% - 32px);
    margin: 1em 0;
    padding: 1em;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.servicios .servicios-container .services-cards .card:hover {
    background-color: var(--white-background);
}
.servicios .servicios-container .services-cards .card img,
.servicios .servicios-container .services-cards .card svg {
    width: 100px;
}
.servicios .servicios-container .services-cards .card p,
.servicios .servicios-container .services-cards .card h3 {
    margin-bottom: 0;
}
.servicios .servicios-container .services-cards .card p.bold,
.servicios .servicios-container .services-cards .card h3.bold {
    font-weight: 700;
    font-size: var(--fs-large);
    line-height: 26px;
    min-height: 2em;
    margin: 0;
}
.servicios .servicios-container .services-cards .card p.text {
    font-weight: var(--regular);
    font-size: var(--fs-xx-small);
}
.servicios.cotown {
    margin: 3em 0 4em;
    width: 100%;
    text-align: center;
    padding: 40px 0 0;
    background-color: var(--new-bg);
}
.servicios.cotown .text-container .title {
    text-transform: none;
}
.servicios.cotown .servicios-container .services-cards {
    justify-content: flex-start;
    align-items: flex-start;
}
.servicios.cotown .servicios-container .services-cards .card {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
}
.servicios.cotown .servicios-container .services-cards .card p.bold,
.servicios.cotown .servicios-container .services-cards .card h3.bold {
    margin: 1.5em 0 0;
    min-height: 1.5em;
    text-align: left;
    font-weight: var(--semibold);
    text-transform: uppercase;
    margin-bottom: 0.5em;
    min-height: 52px;
}
.servicios.cotown .servicios-container .services-cards .card p.text {
    margin: 0;
    text-align: left;
    font-weight: var(--regular);
    font-size: var(--fs-xx-small);
}
@media only screen and (max-width: 63.99em) {
	.servicios .text-container .title,
    .opinions .text-container .title {
        text-align: left;
        padding: 0 0.5em 0.2em;
    }
	.servicios.cotown {
        background-color: var(--white);
    }
	.servicios.cotown .servicios-container {
        padding: 1em;
    }
	.servicios.cotown .servicios-container .services-cards .card {
        width: calc(50% - 32px);
        align-items: center;
    }
	.servicios .servicios-container .services-cards .card img, .servicios .servicios-container .services-cards .card svg {
        width: 60px;
    }
	.servicios.cotown .servicios-container .services-cards .card p.bold,
    .servicios.cotown .servicios-container .services-cards .card h3.bold {
        font-size: var(--fs-xx-small);
        line-height: 1.2;
        text-align: center;
        margin-bottom: 0.5em;
    }
	.servicios.cotown .servicios-container .services-cards .card p.text {
        font-size: var(--fs-xx-small);
        line-height: 1.2;
        text-align: center;

    }
}
@media only screen and (max-width: 47.99em) {
	.servicios .servicios-container .services-cards .card {
        width: calc(100% - 32px);
    }
}

/* === cotownity.css === */
.cotownity {
    position: relative;
}
.cotownity .container-cotownity .coral {
    height: 100%;
    padding: 0 0 0 2em;
    background: var(--background-light-coral, #FFF5F7);
}
.cotownity .container-cotownity .left {
    height: 100%;
    padding-left: 6em;
}
.cotownity .container-cotownity .left .coral .fs-x-large {
    padding: 1em 0;
    text-transform: uppercase;
    text-align: start;
}
.cotownity .container-cotownity.cotown .left .fs-x-large {
    padding: 1em 0;
    text-align: left;
}
.cotownity .container-cotownity .left img {
    position: relative;
    left: -80px;
    width: 30vw;
    object-fit: cover;
    object-position: center center;
}
.cotownity .container-cotownity .right {
    height: 100%;
    background: var(--background-light-coral, #FFF5F7);
}
.cotownity .container-cotownity .widget {
    padding: 1em 2em 1em 0;
}
.cotownity-mobile {
    display: none;
}
.cotownity .insta-fb {
    width: 33%;
    padding: 1em 2em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5em;
}
.cotownity .insta-fb em {
    font-size: var(--fs-hero);
    color: var(--primary);
}
.cotownity .text-container .fs-x-large {
    text-transform: uppercase;
    text-align: center;
}
.cotownity.cotown {
    background-color: var(--white);    
}
.cotownity.cotown .container-cotownity {  
    width: 100%;
    height: 100%;
}
.cotownity.cotown .container-cotownity .container-img {
    position: relative;
    height: 100%;
    width: 80%;
    margin: 0 auto 1em;      
}
.cotownity.cotown .container-cotownity .container-img .left {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    padding: 2em 2em 5em;
    background-color: var(--white-bg-op2);
}
.cotownity.cotown .container-cotownity .container-img .left .fs-x-large {
    width: 180px;
    padding: 0;
    text-align: left;
    text-transform: none;
    margin: 1em 0 0;
}
.cotownity.cotown .container-cotownity .container-img .left .redes-contain {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: flex-end;
    padding: 0;
}
.cotownity.cotown .container-cotownity .container-img .left .insta-fb {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    gap: 4px;
}
.cotownity.cotown .container-cotownity .container-img .left .insta-fb em.icon-instagram {
    font-size: var(--fs-medium);
    color: var(--primary-old);
}
.cotownity.cotown .container-cotownity .container-img .left .insta-fb em.icon-facebook {
    font-size: var(--fs-medium);
    color: var(--primary-old);
}
.cotownity.cotown .container-cotownity .container-img .left .title-feel {
    color: var(--primary-old);
    text-transform: lowercase;
    margin: 0;
}
.cotownity.cotown .container-cotownity .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.cotownity.cotown .container-widget {
    width: 100%;
}
.cotownity.cotown .container-widget .widget {
    padding: 0 0;
}
@media only screen and (max-width: 63.99em) {
	.cotownity {
        display: none;
    }
	.cotownity-mobile {
        display: block;
    }
	.cotownity-mobile .container-cotownity .container-img {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0 auto;      
    }
	.cotownity-mobile .container-cotownity .container-img .left {
        position: absolute;
        bottom: 4px;
        left: 0;
        width: fit-content;
        height: fit-content;
        padding: 0.5em 0.5em 1em 1em;
        background-color: var(--white-bg-op2);
    }
	.cotownity-mobile .container-cotownity .container-img .left .fs-x-large {
        width: 30vw;
        padding: 0;
        text-align: left;
        text-transform: none;
        margin: 1em 0 0;
    }
	.cotownity-mobile .container-cotownity .container-img .left .redes-contain {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
        align-items: flex-end;
        padding: 0;
    }
	.cotownity-mobile .container-cotownity .container-img .left .insta-fb {
        width: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        gap: 4px;
    }
	.cotownity-mobile .container-cotownity .container-img .left .insta-fb em.icon-instagram {
        font-size: var(--fs-medium);
        color: var(--primary-old);
    }
	.cotownity-mobile .container-cotownity .container-img .left .insta-fb em.icon-facebook {
        font-size: var(--fs-medium);
        color: var(--primary-old);
    }
	.cotownity-mobile .container-cotownity .container-img .left .title-feel {
        color: var(--primary-old);
        text-transform: lowercase;
        margin: 0;
    }
	.cotownity-mobile .container-cotownity .container-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
	.cotownity-mobile .container-cotownity.cotown .container-img .left {
        width: 50%;
    }
	.cotownity-mobile .container-cotownity.cotown .container-img .left .fs-x-large {
        width: 100%;
    }
	.cotownity-mobile .container-cotownity.cotown .container-img .left .title-feel {
        text-transform: lowercase;
        margin: 0.5em 0 0;
    }
}

/* === partners.css === */
.partners {
    width: 100%;
    margin: 3em 0 4em;
}
.partners .text-container .fs-x-large {
    padding: 1em 0;
    text-transform: uppercase;
    text-align: center;
}
.partners .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.partners.cotown {
    width: 100%;
    margin: 3em 0 0;
    background-color: var(--new-bg);
    padding: 0 0 2em;
}
.partners.cotown .text-container .fs-x-large {
    padding: 1.5em 0 1em 74px;
    text-align: left;
    text-transform: none;
}
@media only screen and (max-width: 63.99em) {
	.partners .text-container .fs-x-large {
        padding: 0 0.8em 0.5em;
    }
	.partners.cotown .text-container {
        padding: 1.5em 0 1em 1.5em;
    }
	.partners.cotown .text-container .fs-x-large {
        padding: 0;
    }
}

/* === testimonial.css === */
.opinions {
    width: 100%;
    margin: 3em 0 0;
    padding-bottom: 3em;
    background-color: var(--primary-background);
}
.opinions.cotown {
    background-color: var(--white);
}
.opinions .text-container {
    padding: 2em 0 0 8em;
}
.opinions.cotown .text-container {
    padding: 1.5em 0 1em 74px;
}
.opinions .text-container .title {
    text-transform: uppercase;
    text-align: left;
}
.opinions.cotown .text-container .title {
    text-align: left;
    text-transform: none;
    padding: 0;
    margin: 0;
}
.opinions .text-container .title.turquoise {
    padding-top: 0;
    color: var(--primary);
    text-transform: uppercase;
}
.opinions .splide__list {
    height: 300px !important;
}
.splide-opinions.splide {
    margin-top: 3em;
}
.opinions .splide__slide {
    height: 280px !important;
}
.opinions.cotown .splide__slide {
    height: 280px !important;
    margin-right: 0 !important;
}
.opinions .slide {
    height: fit-content;
    padding: 2em 1.5em 2em;
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.6em;
}
.opinions.cotown .slide {
    height: fit-content;
    padding: 2em 1.5em 2em;
    background-color: var(--white);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
}
.opinions .slide p.bold {
    font-weight: 700;
    font-size: var(--fs-medium);
    margin: 0px;
}
.opinions.cotown .slide p.bold {
    font-weight: var(--regular);
    font-size: var(--fs-medium);
    margin: 0px;
}
.opinions .slide p.date {
    font-size: var(--fs-x-small);
    margin: 0px;
    color: var(--grey-light);
    line-height: 20px;
}
.opinions.cotown .slide p.date {
    font-size: var(--fs-xx-small);
    font-weight: var(--regular);
    margin: 0px;
    color: var(--primary);
    line-height: 1.5;
}
.opinions .slide p.text {
    font-size: var(--fs-x-small);
    line-height: 26px;
    margin: 1em 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    min-height: 100px;
    width: 100%;
}
.opinions.cotown .slide .mini-border {
    width: 40px;
    height: 1px;
    margin: 1em auto 0;
    background-color: var(--primary-old);
}
@media only screen and (max-width: 63.99em) {
	.opinions .text-container {
        padding: 1em 0 0;
    }
	.splide-opinions.splide {
        margin-top: 1em;
    }
	.opinions.cotown {
        padding-bottom: 0;
    }
	.opinions.cotown .text-container {
        padding: 1.5em 0 1em 1.5em;
    }
	.opinions.cotown .slide p.bold {
        font-weight: var(--regular);
        font-size: var(--fs-small);
        margin: 0px;
    }
	.opinions.cotown .slide p.date {
        font-size: var(--fs-xx-small);        
    }
	.opinions.cotown .slide p.text {
        font-size: var(--fs-xx-small);
        font-weight: var(--400);
        line-height: 1.5;
        margin: 1em 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        min-height: 100px;
        width: 100%;
    }
	.opinions.cotown .slide .mini-border {
        margin: 0em auto 0;
    }
}
