/* === home.css === */
.title {
    text-align: center;
}
.title.cotown {
    text-align: left;
}
@media only screen and (max-width: 63.99em) {
	.title {
        padding: 0 40px;
        text-align: left;
    }
}

/* === main-header.css === */
.input-error::placeholder {
    color: red;
}
.input-error::-ms-input-placeholder {
    color: red;
}
.input-error::-webkit-input-placeholder {
    color: red;
}
.input-error::-moz-input-placeholder {
    color: red;
}

/* === what-is.css === */


/* === locations.css === */
.locations {
    margin: 2em 0 4em;
    width: 100%;
}
.locations .img {
    width: 100%;
    overflow: hidden;
}
.locations .img img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.locations .img:hover img {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}
.locations.cotown {
    margin: 2em 0;
}
.locations .cotown .img {
    height: 400px;
}
.locations .cotown .img img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.locations .cotown .img:hover {
    max-height: 360px !important;
    height: 360px;
    overflow: hidden;
}
.locations .cotown .img:hover img {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}
@media only screen and (max-width: 63.99em) {
	.locations.cotown {
        margin: 0;
    }
}

/* === choose.css === */


/* === services.css === */
.servicios {
    margin: 3em 0 4em;
    width: 100%;
    text-align: center;
}
.servicios.cotown {
    margin: 3em 0 4em;
    width: 100%;
    text-align: center;
    padding: 40px 0 0;
    background-color: var(--new-bg);
}
@media only screen and (max-width: 63.99em) {
	.servicios.cotown {
        background-color: var(--white);
    }
}

/* === cotownity.css === */


/* === partners.css === */


/* === testimonial.css === */
.splide-opinions.splide {
    margin-top: 3em;
}
@media only screen and (max-width: 63.99em) {
	.splide-opinions.splide {
        margin-top: 1em;
    }
}
