---
name: legal
eleventyComputed:
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}.html"
    description: "{{langs[L].pages[name].description}}"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}.html"
layout: shared/layouts/base.html
pagination:
    data: langs
    size: 1
    alias: L
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
<!-- Additional HEAD content -->
{% block head %}
{% set css %}{% include "shared/css/legals.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>
{% endblock %}

<!-- Main -->
<main class="legal">
  <div class="container-main">
    {% literal texts, 'legal-aviso-legal', L, true %}
  </div>
</main>