.partners {
    width: 100%;
    margin: 3em 0 4em;
}
.partners .text-container .text-x-large {
    padding: 1em 0;
    text-transform: uppercase;
    text-align: center;
}
.partners .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.partners.cotown {
    width: 100%;
    margin: 3em 0 0;
    background-color: var(--new-bg);
    padding: 0 0 2em;
}
.partners.cotown .text-container .text-x-large {
    padding: 1.5em 0 1em 74px;
    text-align: left;
    text-transform: none;
}
@media only screen and (max-width: 63.99em) {
	.partners .text-container .text-x-large {
        padding: 0 0.8em 0.5em;
    }
	.partners.cotown .text-container {
        padding: 1.5em 0 1em 1.5em;
    }
	.partners.cotown .text-container .text-x-large {
        padding: 0;
    }
}
