<section class="all-rooms pure-u-1">
    <section class="card-room pure-u-1 pure-u-lg-22-24">
    <!-- LEFT -->
    <div class="left-carousel pure-u-1 pure-u-lg-11-24">
      <section id="main-carousel" class="splide rooms-carousel" aria-label="Gallery">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <img src="/assets/img/cotownity-big.png" alt="">
            </li>
            <li class="splide__slide">
              <img src="/assets/img/cotownity-big.png" alt="">
            </li>
            <li class="splide__slide">
              <img src="/assets/img/cotownity-big.png" alt="">
            </li>
            <li class="splide__slide">
              <img src="/assets/img/cotownity-big.png" alt="">
            </li>
          </ul>
        </div>
      </section>
      <section id="thumbnail-carousel" class="splide" aria-label="Thumbnails">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <img src="/assets/img/cotownity-big.png" alt="">
            </li>
            <li class="splide__slide">
              <img src="/assets/img/cotownity-big.png" alt="">
            </li>
            <li class="splide__slide">
              <img src="/assets/img/cotownity-big.png" alt="">
            </li>
            <li class="splide__slide">
              <img src="/assets/img/cotownity-big.png" alt="">
            </li>
          </ul>
        </div>
      </section>
    </div>
    <!-- RIGHT -->
    <div class="right-data pure-u-11-12 pure-u-lg-11-24">
      <div class="title-favorite pure-u-1">
        <p class="pure-u-7-8">Apartamento privado</p>
        <em class="icon-heart pure-u-1-8"></em>
      </div>
      <div class="text pure-u-1">
        <p>Dicen que “el buen perfume se vende en frasco pequeño” y en este caso es 100% verdad. Esta tipología de habitación no tiene nada que envidiar a las demás ya que posee todo lo necesario para poder dormir, teletrabajar o impulsar el mejor negocio de la historia.<br>
        Escritorio, espacio de almacenaje, cama individual y el espacio suficiente como para crear tu propia república independiente.</p>
      </div>
      <div class="option pure-u-1">
        <p class="persons">
        Apartamento Privado
        </p>
        <p class="bold">
        {% literal texts, 'price-desde', L %} 740€/{% literal texts, 'price-desde', L %}
        </p>
      </div>
      <form class="pure-form">
      <fieldset>
      </fieldset>
      </form>
      <section class="apartment-services pure-u-1">
        <div id="splideApartment" class="splide splide-services" role="group">
          <div class="splide__track">
            <ul class="splide__list">
              {% for s in services %}
              <li class="splide__slide">
                <div class="slide">
                  <div class="img">
                    {% svg
                      constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Icons[0].id +"/Icon/contents?access_token=" + token,
                      s.Name
                    %}
                  </div>
                <p class="title">{{s | translate('Name', L)}}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
      <div class="buttons pure-u-1">
        <button class="btn-secondary">Reservar</button>
        <button class="btn-primary">Agendar Visita</button>
      </div>
    </div>
    <!-- TEXT EXPANSION -->
    <div class="description text pure-u-23-24">
        <div class="expansion pure-u-1">
          <p>Información adicional</p>
          <input type="checkbox" class="tab pure-u-1-2" id="tab1" tabindex="0"/>
          <label name="tab" for="tab1" tabindex="-1" class="tab_lab pure-u-1-2" role="tab">
            <span class="open-close-icon"><em class="icon-corchete-down"></em></span>
          </label>
          <div class="content pure-u-1">
            <p>Se deberá abonar en único pago, una fianza de 900€ o el equivalente a una mensualidad si la renta supera los 900€. Este depósito será devuelto en un plazo máximo de 30 días posterior a la fecha de salida siempre y cuando no haya habido ningún desperfecto en el apartamento. ​Se deberán abonar en un único pago, 375€ en calidad de gastos de gestión de contrato. ​Si necesitas más información acerca de las condiciones de reserva, puedes hacerlo mediante este enlace</p>
          </div>
        </div>
    </div>
  </section>
</section>



