/* ABOUT PAGE
-------------------------------- */
main .container-main .first-contain.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: stretch;
}
main .container-main .first-contain.about .img {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 320px;
    left: 0;
    z-index: 2;
}
main .container-main .first-contain.about .title-big {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;
    margin: 0 0 8em 20%;
    padding: 50px 50px 50px 25%;
    position: relative;
    z-index: 1;
    background-color: var(--primary-background);
}
main .container-main .first-contain.about .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .container-main .first-contain.about .title-big h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
}
main .container-main .first-contain.about .title-big p {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
}


/* TEAM */
main .container-main section.members {
    padding: 2em 4em;
}
main .container-main section.members .grid {
    padding: 0 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
main .container-main section.members .grid .member {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
main .container-main section.members .grid .member .img-member {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    text-align: center;
}
main .container-main section.members .grid .member .img-member:hover .first {
    display: none;
}
main .container-main section.members .grid .member .img-member .hover {
    display: none;
}
main .container-main section.members .grid .member .img-member:hover .hover {
    display: block;
}
main .container-main section.members .grid .member .img-grid {
    width: 100%;
}
main .container-main section.members .grid .member .data {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
main .container-main section.members .grid .member .data p.name {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    width: 100%;
}
main .container-main section.members .grid .member .data p.job {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    width: 100%;
}
main .container-main section.members .grid.show {
    display: none;
}
main .container-main section.members .button-more {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1279.9px) {
    /* TEAM */
    main .container-main section.members {
        padding: 2em 2em;
    }
    main .container-main section.members .grid .member .img-member {
        height: 500px;
    }
}

@media only screen and (max-width: 1023.9px) {
    main .container-main .first-contain.about .img {
        position: static;
    }
    main .container-main .first-contain.about .title-big {
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        align-items: flex-start;
        margin: 2em 0 4em 0;
        padding: 0 2em;
        position: static;
        background-color: var(--white);
    }
    main .container-main section.members {
        padding: 2em 0;
    }
    main .container-main section.members .grid .member {
        width: 50%;
    }

}

@media only screen and (max-width: 767px) {
    main .container-main section.members .grid .member .img-member {
        height: 500px;
    }
}