/* ADVANTAGES PAGE 
-------------------------------- */

main .container-main section.container-advantages {
    padding: 2em 4em;
}
main .container-main section.container-advantages .grid {
    padding: 0 14%;
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
main .container-main section.container-advantages .grid .promo {
    width: calc(25% - 0.8em);
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-light-dark);
    margin: 0 0 2em 0.8em;
}
main .container-main section.container-advantages .grid .promo:hover {
    background-color: var(--primary);
}
main .container-main section.container-advantages .grid .promo .promo-contain {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}
main .container-main section.container-advantages .grid .promo .promo-contain .promo-title {
    font-size: 78px;
    color: var(--primary-text);
    line-height: 1;
    margin: 0;
    opacity: 0;
}
main .container-main section.container-advantages .grid .promo:hover .promo-contain .promo-title  {
    opacity: 1;
}
main .container-main section.container-advantages .grid .promo .promo-contain .promo-text {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-text);
    text-align: center;
    margin: 0;
    opacity: 0;
}
main .container-main section.container-advantages .grid .promo:hover .promo-contain .promo-text {
    opacity: 1;
}
main .container-main section.container-advantages .grid.show {
    display: none;
}
main .container-main section.container-advantages .button-more {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em 0;
}

main .container-main section.container-advantages select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 95% !important; /* !important used for overriding all other customisations */
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 30px) !important; /* Better placement regardless of input width */
}

button.btn-secondary {
    padding: 20px 40px;
}