/* LOCALIZACIONES
-------------------------------- \*/
.locations  {
    width: 100%;
}
.locations .container-main .all-locations { 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}
.locations .container-main .all-locations .left {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 2em 2em 64px;
}
.locations .container-main .all-locations .left .texto-container h1.title-where {
  font-size: 64px;
  margin: 0 0 0.3em;
}
.locations .container-main .all-locations .right {
  display: flex;
  flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}
.tabset .tab-panels {
  border-top: 1px solid var(--grey-light);
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3) {
  display: block;
}

.tabset > label:last-of-type {
  margin-right: 0%;
}
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 0;
  border: 1px solid var(--grey-light);
  border-radius: 0px 11.324px 11.324px 11.324px;
  cursor: pointer;
  width: 25%;
  height: auto;
  margin: 0 8% 2em 0;
}
.tabset > label .label-content {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label .img {
  width: 24px;
}
.tabset > label .icon {
  width: 60px;
}
.tabset > label p {
  font-size: 16px;
  text-align: center;
}
.tabset > label::after {
  content: "";
  display: none;
}

input:focus-visible + label {
  outline: 0px solid transparent;
  border-radius: 0;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: var(--primary);
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  border: var(--primary);
}

.tabset > input:checked + label {
  border: 2px solid var(--primary);
  background-color: var(--location-label-bg);
  color: var(--black);
}
.tab-panel {
  padding: 30px 0;
}

.tab-panel .locations-container .location {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;
  width: 100%;
  margin: 20px 0;
}
.tab-panel .locations-container .location a {
  width: fit-content;
  margin-right: 24px;
}
.tab-panel .locations-container .location .img {
  border-radius: 0px 12px;
  overflow: hidden;
  width: 170px;
  height: 170px;
  object-fit: cover;
  object-position: center center;
}
.tab-panel .locations-container .location .img img {
  width: 100%;
  height: 100%;
}
.tab-panel .locations-container .location .text-content {
  width: calc(100% - 200px);
}
.tab-panel .locations-container .location .text-content h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 124%;
  letter-spacing: -0.6px;
  margin: 0;
}
.tab-panel .locations-container .location .text-content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
.tab-panel .locations-container .location .text-content a {
  color: var(--black);
  text-decoration: none;
}


/* RESPONSIVE
-------------------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1279.9px) {
  .locations .container-main .all-locations .left { 
    padding: 40px 2em 2em 14px;
  }
  .locations .container-main .all-locations .location .text-content h2 {
    font-size: 40px;
  }
  .locations .container-main .all-locations .location .text-content p {
    font-size: 18px;
  }
}
/* TABLET */
@media only screen and (max-width: 1023.9px) {
  .locations {
    margin-top: 2em;
  }
  .locations .container-main .all-locations {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .locations .container-main .all-locations .right {
    display: none;
  }
 
  .locations .container-main .all-locations .left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 1em 2em 1em;
  }
  .tabset > label {
    width: 28%;
    margin: 0 4% 2em 0;
  }
  .tab-panel .locations-container .location {
    flex-flow: row nowrap;
    width: 98%;
  }
  .tab-panel .locations-container .location .img {
    width: 120px;
    height: 120px;
  }
  .tab-panel .locations-container .location {
    flex-flow: row nowrap;
    width: 98%;
  }

  .locations .container-main .all-locations .left .texto-container h1.title-where {
    font-size: 40px;
    line-height: 100%;
  }
  .locations .container-main .all-locations .location { 
  }
  .locations .container-main .all-locations .location div.img .img-loc {
    left: 0;
    width: 100%;
  }
  .locations .container-main .all-locations .location .text-content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .locations .container-main .all-locations .location .text-content h2 {
    font-size: 32px!important;
    line-height: 110%; 
  }
  .locations .container-main .all-locations .location .text-content p {
  font-size: 14px;
  line-height: 150%;
  }
}

/* MOVIL*/
@media only screen and (max-width: 767px) {
}
