/* COLORS 
-------------------------------- */
:root {
    /* // Main color */
    --primary: #00bfb2;
    --primary-regular: #00998b;
    --primary-dark: #00736B;

    /* // Background color */
    --secondary-header: #121212;
    --secondary-header-mobile: #121212;
    --grey-background: #D9D9D9;
    --light-grey-background: #FAFAFA;
    --grey-light-background: #FCFCFC;
    --white-background: #f4f4f4;
    --footer: #121212;
    
    /* // Text color */
    --primary-text: #ffffff;
    --secondary-text-header: #000000;    
    --white: #ffffff;
    --black: #000000;

    
    /* // Secondary color */
    --grey-light: #3c434a;
    --grey-dark: #30363b;
    --grey-light: #d1d1d1;
    --grey-light-dark: #a7a7a7;
    --blue: #384289;
    --blue-dark: #2d356e;
    --purple: #ab92e1;
    --purple-dark: #8975b4;
    --yellow: #ecf166;
    --yellow-dark: #bdc152;     

    /* // Header border */    
    --border-header: 0px;

    --h2-border:2px 0 #00BFB2, -2px 0 #00BFB2, 0 2px #00BFB2, 0 -2px #00BFB2,
    1px 1px #00BFB2, -1px -1px #00BFB2, 1px -1px #00BFB2, -1px 1px #fff;
    
   

    /* // Feedback color */
    --green-success-light: #e3f2e0;
    --green-success: #8dc881;
    --green-success-dark: #459a33;
    --yellow-warning-light: #f8f3d8; 
    --yellow-warning: #e2ca64; 
    --yellow-warning-dark: #c9a81c;
    --red-error-light: #FF5555;
    --red-error: #FF0000;
    --red-error-dark: #CC0000;
    
    --shadow-soft: rgba(2, 0, 2, 15%);
    --shadow-medium: rgba(8, 0, 4, 15%);
    --shadow-strong: rgba(16, 0, 8, 20%);
    /* box-shadow: 2px 3px 12px rgba(16, 0, 8, 20%); */


    /* // border radius boxes */
    --radius-1: 0px 0px;
    --radius-2: 0px;
}
