<section class="all-locations pure-u-1">
  <div class="left pure-u-1 pure-u-lg-12-24">
  
    <!-- Title -->
    <div class="texto-container pure-u-1 ">
      <h1 class="title-where">
        {% literal texts, 'home-localizaciones-titulo', L %}
      </h1>
    </div>

    <!-- Locations list expansion -->
    <section class="locations-list pure-u-1">
      <div class="locations-container pure-u-1">

        {% for l in locations %}

        <!-- Look for matching type resources -->
        {% set show = false %}
        {% for b in buildings | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'lt', 3) %}
          {% set ra = b.Resources | find('Sale_type', 'eq', 'ambos') | length %}
          {% set rp = b.Resources | find('Sale_type', 'eq', 'plazas') | length  %}
          {% set rc = b.Resources | find('Sale_type', 'eq', 'completo') | length  %}
          {% if name == 'rooms' and (ra > 0 or rp > 0) %}{% set show = true %}{% endif %}
          {% if name == 'flats' and (ra > 0 or rc > 0) %}{% set show = true %}{% endif %}
        {% endfor %}
        {% if show %}
          <div class="loc-expansion pure-u-1">
            <div class="location pure-u-1">
              <div class="img-text pure-u-1">
                <div class="pure-u-7-24 pure-u-lg-1-3 img-cont">
                  <div class="img pure-u-1">
                    {% for i in l.Images | find ('Image_type', 'eq', 'principal') %}
                    {% if loop.index == 1 %}
                    {% image
                      constants.SERVER + "/wopi/files/Marketing/Media_location/" + i.id +"/Image/contents?access_token=" + token,
                      l.Name, l.Name + '-' + i.id | slugify, "img-loc",
                      [800], ""
                    %}
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="text-content pure-u-17-24 pure-u-lg-2-3">
                  <h2 class="location-title">{{l | translate('Name', L)}}</h2>
                  <p class="body1">{{l.Texts[0] | translate('Description', L)}}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </section> 
   
  </div>

  <!-- Right photo -->
  <div class="right pure-u-1 pure-u-lg-10-24">
    <div class="img">
      {% image
         constants.SERVER + "/wopi/files/Marketing/Media/" + images['localizaciones'].id +"/Image/contents?access_token=" + token,
         "localizaciones", "localizaciones", "",
         [800], ""
      %}
    </div>
  </div>

</section>

{% block footer %}
{% set script %}
{% include "shared/js/mark.min.js" %}

  // Colapsa todas las preguntas (¿ocultarlas mejor?)
  const cbs = document.querySelectorAll('.tab');
  cbs.forEach((cb) => {
    cb.checked = false;
  });

// Desmarca todo
  var context = document.querySelector(".locations-container");
  var instance = new Mark(context);
  instance.unmark();

  // Marca y expande  
  instance.mark(filter, {
    "each": function(node){
      const input = node.closest('.loc-expansion')
      if (input)
        input.querySelector('.tab').checked = true;
    },
  });
  


{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}