<!-- Header -->
<section class="first-contain pure-u-1">

  <!-- Image -->
  <div class="img-residences pure-u-1">
    {% image
      constants.SERVER + "/wopi/files/Marketing/Media/" + images['residencias'].id +"/Image/contents?access_token=" + token,
      "residencias", "residencias", "img-faqs", 
      [auto], ""
    %}
  </div>

  <!-- Title -->
  <div class="title-big">
    <div class="h1-big">
      <h1>{% literal texts, 'residencias-titulo', L %}</h1>
    </div>
  </div>

  <!-- Filter -->
  <!-- TODO - Fechas
  <div class="search pure-u-22-24">
    <form>
      <form class="search-form pure-u-1">
        <select id="category" class="search-container  pure-u-7-24" onchange="goTag()">
          <option value="" disabled selected>{% literal texts, 'filtrar-ciudad', L %}</option>
          <option value="">{% literal texts, 'filtrar-todas', L %}</option>
          {% for l in locations %}
            {% set b = buildings | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'eq', 3) %}
            {% if b | length > 0 %}
            <option value="{{l | translate('Name', L) | slugify}}">{{l | translate('Name', L)}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </form>
    </form>
  </div>
  -->

</section>

<!-- Content -->
{% for l in locations %}
{% set b = buildings  | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'eq', 3) %}
{% if b | length > 0 %}
<section class="residence-locations pure-u-1">

  <div class="pure-u-1 pure-u-3-24 location">
    <div class="title">
      <img class="img mobile" src="/assets/img/corner.svg"></img>
      <h2>{{l | translate('Name', L)}}</h2>
      <img class="img desktop" src="/assets/img/corner.svg"></img>
    </div>
  </div>

  <div class="pure-u-1 pure-u-lg-21-24">
  {% for b in buildings | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'eq', 3) %}
  <div class="pure-u-1">
    <div class="residence-card">

      <!-- Photo -->
      <a href="{{langs[L].folder}}/{{b.Name | slugify}}.html">
      <div class="img">
        {% image
           constants.SERVER + "/wopi/files/Marketing/Media_building/" + b.Photos[0].id +"/Image/contents?access_token=" + token,
           b.Name, b.Name + '-' + b.Photos[0].id | slugify, "",
           [800], ""
        %}
      </div>
      </a>

      <!-- Title -->
      <div class="card-title">
        <a href="{{langs[L].folder}}/{{b.Name | slugify}}.html">
          <h3>{{b.Name}}</h3>
        </a>
      </div>

      <!-- Price -->
      <!--
      <div class="desde">
        <p>{% literal texts, 'price-desde', L %}</p>
      </div>
      -->
      
      <!-- Types -->
      <div class="types">
        {% for r in rooms  | find('id', 'eq', b.id) %}
        {% for pt in r.Place_types %}
        <div class="pure-u-8-24 pure-u-lg-4-24">
          <div class="type">
            <p>{{place_types[pt.Code] | translate('Name', L)}}</p>
            <p class="price">{{pt.Flat_types[0].Rent_long}} €/{% literal texts, 'price-mes', L %}</p>
          </div>
        </div>
        {% endfor %}
        {% for i in range(r.Place_types, 5) -%}
        <div class="pure-u-8-24 pure-u-lg-4-24">
          &nbsp;
        </div>
        {% endfor %}
        {% endfor %}
      </div>

      <!-- Services -->
      <div class="services">
        {% for s in b.Services %}
        {% if loop.index < 9 %}
        <div class="service pure-u-1-4 pure-u-lg-3-24">
          <div class="icon">
          {% svg
            constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Service.Images[0].id +"/Icon/contents?access_token=" + token,
            s.Service.Name
          %}
          </div>
          <div class="description">{{s.Service|translate('Name', L)}}</div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
  {% endfor %}
  </div>

</section>
  {% endif %}
{% endfor %}
