<!DOCTYPE html>
<html lang="{{ L }}">

<!-- Head -->
<head>
{% include 'common/head/head.html' %}
{% block head %}{% endblock %}
</head>

<!-- Body -->
<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_noscript }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<!-- Header -->
<header>
{% include 'common/header/header.html' %}
{% include 'common/menu/menu.html' %}
</header>

<!-- Content -->
{% block content %}{% endblock %}

<!-- Icono whatsapp -->
<section class="only-mobile iconos-chat">
  {% for r in rrss | find('Name', 'eq', 'whatsapp') %}
  <a href="{{ r.Link }}" rel="noreferrer" target="_blank">
  <div><em class="icon-whatsapp"></em></div>
  </a>
  {% endfor %}
</section>

<!-- Spinner -->
<div id="overlay"><div id="spinner"></div></div>

<!-- Footer -->
{% include 'common/footer/footer.html' %}
{% block footer %}{% endblock %}

<!-- Chatbot (ID por marca) -->
<div style="width: 0; height: 0;" id="VG_OVERLAY_CONTAINER"></div>
<script defer>
  (function() {
    window.VG_CONFIG = {
      ID: "{{ cfg.chatbot }}",
      region: 'na',
      render: 'bottom-right',
      stylesheets: ["https://vg-bunny-cdn.b-cdn.net/vg_live_build/styles.css"],
    }
    var VG_SCRIPT = document.createElement("script");
    VG_SCRIPT.src = "https://vg-bunny-cdn.b-cdn.net/vg_live_build/vg_bundle.js";
    VG_SCRIPT.defer = true;
    document.body.appendChild(VG_SCRIPT);
  })()
</script>

</body>

</html>
