---
name: blog
eleventyComputed:
    L: "es"
    title: "{{langs[L].pages[name].title}}"
    alt:
      es: "{{langs.es.folder}}/blog/{{tag | translate('Name', 'es') | ascii}}.html"
      en: "{{langs.en.folder}}/blog/{{tag | translate('Name', 'en') | ascii}}.html"
    description: "{{langs[L].pages[name].description}} | {{tag | translate('Name', L) | ascii}}"
    permalink: "{{langs[L].folder}}/blog/{{tag | translate('Name', L) | ascii}}.html"
layout: shared/layouts/base.html
pagination:
    data: tags
    size: 1
    alias: tag
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
{% include 'shared/sections/blog/blog.html.njk' %}