<section class="locations">

  <div class="text-container">
    <h2 class="title">
      {% literal texts, 'home-localizaciones-titulo', L %}
    </h2>
  </div>

  <div class="carousel splide-locations splide" role="group">
    <div class="splide__track">
      <ul class="splide__list">
        {% for l in locations %}
        {% if buildings | find('District.Location.id', 'eq', l.id) | length > 0 %}
        <li class="splide__slide">
          <a href="{{langs[L].folder}}/{{langs[L].pages['rooms'].url}}-{{l | translate('Name', L) | slugify}}.html">
          <div class="img">
            {% for i in l.Images | find ('Image_type', 'eq', 'principal') %}
            {% if loop.index == 1 %}
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_location/" + i.id +"/Image/contents?access_token=" + token,
              l.Name, l.Name + '-' + i.id | slugify, "",
              [800], ""
            %}
            {% endif %}
            {% endfor %}
            <h3 class="img-title">{{l.Name}}</h3>
          </div>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

</section>
