<section class="main-header pure-g">

  <!-- Formulario -->
  {% if site == 'vanguard' %}
    <div class="left pure-u-lg-1-4">
      <div class="text-container desktop">
        <h1 class="pure-u-1">{% literal texts, 'home-bienvenido', L %}</h1>
      </div>
      <div class="basic-searcher pure-u-1">

        <label class="label">{% literal texts, 'home-bienvenido-donde', L %}:</label>
        <select id="city" name="city" class="pure-u-1" onchange="get_types(this.value);" required>
          <option value="" disabled selected>{% literal texts, 'home-donde-seleccionar', L %}</option>
          {% for l in locations %}
          {% if buildings | find('District.Location.id', 'eq', l.id) | length > 0 %}
          <option value="{{l.id}}" >{{ l | translate('Name', L)}}</option>
          {% endif %}
          {% endfor %}
        </select>

        <label class="label">{% literal texts, 'home-bienvenido-tipo', L %}:</label>
        <select id="type" name="type" class="pure-u-1" 
                onchange="sessionStorage.setItem('path_type', this.value);" required>
        </select>

        <div class="calendar pure-u-1">
          <div class="pure-u-1">
            <label class="label" for="from">{% literal texts, 'home-bienvenido-cuando', L %}:</label>
            <div class="date">
              <span onclick="open_calendar();">
              <input class="input" type="text" id="dates" name="dates" 
                    placeholder="{% literal texts, 'cal-seleccionar-fechas', L %}"
                    required>
              <em class="icon-calendar"></em>
              </span> 
            </div>
          </div>
        </div>
      </div>
      <div class="button-search">
        <a href="#" onclick="go();">
        <button class="btn-primary search desktop"><em class="icon-search"></em>{% literal texts, 'button-buscar', L %}</button>
        <button class="btn-secondary search mobile"><em class="icon-search"></em>{% literal texts, 'button-buscar', L %}</button>
        </a>
      </div>
    </div>
  {% else %}
    <div class="left cotown pure-u-lg-5-24">
      <div class="text-container desktop">
        <!-- CAMBIAR TRADUCCIONES -->
        <h1 class="pure-u-1">BIENVENIDO
          <span class="pure-u-1">COTOWNER.</span>
        </h1>

        <!-- <h1 class="pure-u-1">{% literal texts, 'home-bienvenido', L %}
        <span class="pure-u-1">{% literal texts, 'home-bienvenido', L %}</span>
        </h1> -->
      </div>
      <div class="basic-searcher pure-u-1">
        <label class="label">{% literal texts, 'home-bienvenido-donde', L %}:</label>
        <select id="city" name="city" class="pure-u-1" onchange="get_types(this.value);" required>
          <option value="" disabled selected>{% literal texts, 'home-donde-seleccionar', L %}</option>
          {% for l in locations %}
          {% if buildings | find('District.Location.id', 'eq', l.id) | length > 0 %}
          <option value="{{l.id}}" >{{ l | translate('Name', L)}}</option>
          {% endif %}
          {% endfor %}
        </select>
        <!-- <label class="label">{% literal texts, 'home-bienvenido-tipo', L %}:</label>
        <select id="type" name="type" class="pure-u-1" 
                onchange="sessionStorage.setItem('path_type', this.value);" required>
        </select>  -->
        <div class="calendar pure-u-1">
          <div class="pure-u-1">
            <label class="label" for="from">{% literal texts, 'home-bienvenido-cuando', L %}:</label>
            <div class="date">
              <span onclick="open_calendar();">
              <input class="input" type="text" id="dates" name="dates" 
                    placeholder="{% literal texts, 'cal-seleccionar-fechas', L %}"
                    required>
              <em class="icon-calendar"></em>
              </span> 
            </div>
          </div>
        </div>
      </div>
      <div class="button-search">
        <a href="#" onclick="go();">
         {% if site == 'vanguard' %}
          <button class="btn-text search desktop"><em class="icon-search"></em>{% literal texts, 'button-buscar', L %}</button>
        {% else %}
          <button class="btn-text search desktop cotown"><em class="icon-search"></em>{% literal texts, 'button-buscar', L %}</button>
        {% endif %}
        <button class="btn-secondary search mobile"><em class="icon-search"></em>{% literal texts, 'button-buscar', L %}</button>
        </a>
      </div>
      <div class="sello-cotown pure-u-1">
        <img class="img-sello" alt="sello" src="{{root}}/assets/img/sello-cotown.png">
      </div>      
    </div>
  {% endif %}

  {% if site == 'vanguard' %}
    <div id="video" class="video vanguard featured-bg-image">
      <div class="text-container mobile pure-u-1-2">
        <h1 class="pure-u-1">{% literal texts, 'home-bienvenido', L %}</h1>
      </div>
      <div class="video-home">
        <!-- Image-->
        {% image
          constants.SERVER + "/wopi/files/Marketing/Media/" + images['home'].id +"/Image/contents?access_token=" + token,
          "home", "home", "",
          [1280], ""
        %}
      </div>
    </div>
  {% else %}
  <div id="video" class="video cotown featured-bg-image">
      <div class="text-container mobile pure-u-1-2">
        <!-- CAMBIAR TRADUCCIONES -->
        <h1 class="pure-u-1">BIENVENIDO
          <span class="pure-u-1">COTOWNER.</span>
        </h1>
        <!-- <h1 class="pure-u-1">{% literal texts, 'home-bienvenido', L %}</h1> -->
        <div class="sello-cotown pure-u-1">
          <img class="img-sello" alt="sello" src="{{root}}/assets/img/sello-cotown.png">
        </div>    
      </div>
      <div class="video-home">
        <!-- Image-->
        {% image
          constants.SERVER + "/wopi/files/Marketing/Media/" + images['home'].id +"/Image/contents?access_token=" + token,
          "home", "home", "",
          [1280], ""
        %}
      </div>
    </div>
  {% endif %}


</section>

<!-- Calendar-->
{% include 'shared/sections/common/calendar.html.njk' %}

{% block footer %}
{% set script %}
// Types
const types = [
{% for l in locations-%}
{% set residence = ""-%}
{% set rs = false-%}
{% set pc = false-%}
{% set ap = false-%}
{% for b in buildings | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'lt', 4)-%}
  {% if b.Building_type_id == 3-%}
    {% set residence = b.Name-%}
    {% set rs = true-%}
  {% else-%}
    {% set ra = b.Resources | find('Sale_type', 'eq', 'ambos') | length > 0-%}
    {% set rp = b.Resources | find('Sale_type', 'eq', 'plazas') | length > 0-%}
    {% set rc = b.Resources | find('Sale_type', 'eq', 'completo') | length > 0-%}
    {% if ra > 0 or rp > 0 %}{% set pc = true %}{% endif-%}
    {% if ra > 0 or rc > 0 %}{% set ap = true %}{% endif-%}
  {% endif-%}
{% endfor-%}
{% if pc %}{ 
  id:{{l.id}}, 
  city: "{{l | translate('Name', L)}}", 
  type: "Piso compartido",
  link: "{{root}}{{langs[L].folder}}/{{langs[L].pages.rooms.url}}-{{l | translate('Name', L) | slugify}}.html",
  value: "{{texts['home-pisazos-piso'][L]}} {{texts['home-pisazos-compartido'][L]}}"
},{% endif-%}
{% if ap %}{
  id:{{l.id}}, 
  city: "{{l | translate('Name', L)}}", 
  type: "Apartamento privado",
  link: "{{root}}{{langs[L].folder}}/{{langs[L].pages.flats.url}}-{{l | translate('Name', L) | slugify}}.html",
  value: "{{texts['home-pisazos-apartamento'][L]}} {{texts['home-pisazos-privado'][L]}}"
},{% endif-%}
{% if rs %}{
  id:{{l.id}}, 
  city: "{{l | translate('Name', L)}}", 
  type: "Residencia universitaria",
  link: "{{root}}{{langs[L].folder}}/{{residence | slugify}}.html", 
  value: "{{texts['home-pisazos-residencia'][L]}} {{texts['home-pisazos-universitaria'][L]}}"
},{% endif-%}
{% endfor-%}
];

// Link
function go() {
  city = sessionStorage.getItem("book_city_id") || "";
  if (city === "") 
    document.getElementById("city").classList.add("input-error");
  checkin = sessionStorage.getItem('book_checkin') || "";
  if (checkin === "") 
    document.getElementById("dates").classList.add("input-error");
  if (city != "" && checkin != "") {
    location.href = document.getElementById("type").value;
  }
}

// Get accomodation types by city
function get_types(value) {

  // Empty list
  list = document.getElementById("type");
  list.innerHTML = "";

  // Get city
  if (!value) return; 
  city = document.getElementById("city")
  city.value = value;
  city.classList.remove("input-error")
  sessionStorage.setItem("book_city_id", value);

  // Fill building listid
  for (var i = 0; i < types.length; i++) {
    if (types[i].id == value) {
      var opt = document.createElement("option");
      opt.value = types[i].link;
      opt.text = types[i].value;
      list.add(opt);
    }
  }
  sessionStorage.setItem("path_type", document.getElementById("type").value);
}

// When calendar closes
window.addEventListener("calendar", function(e) {
  document.getElementById("dates").value = format_dates(e.detail.checkin, e.detail.checkout, "{{L}}");
  document.getElementById("dates").classList.remove("input-error");
});

// Get data from session
get_types(sessionStorage.getItem("book_city_id"));
document.getElementById("type").value  = sessionStorage.getItem("path_type");
checkin  = sessionStorage.getItem("book_checkin");
checkout = sessionStorage.getItem("book_checkout");
document.getElementById("dates").value = format_dates(checkin, checkout, "{{L}}");
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}