<section class="main-header pure-g">

  <!-- Formulario -->
  <div class="left pure-u-lg-1-4">

    <div class="text-container desktop">
      <h1 class="pure-u-1">{% literal texts, 'home-bienvenido', L %}</h1>
    </div>

    <div class="basic-searcher pure-u-1">

      <label class="label">{% literal texts, 'home-bienvenido-donde', L %}:</label>
      <select id="city" name="city" class="pure-u-1" onchange="get_types(this.value);" required>
        <option value="" disabled selected>{% literal texts, 'home-bienvenido-donde', L %}</option>
        {% for l in locations %}
        {% if buildings | find('District.Location.id', 'eq', l.id) | length > 0 %}
        <option>{{ l | translate('Name', L)}}</option>
        {% endif %}
        {% endfor %}
      </select>

      <label class="label">{% literal texts, 'home-bienvenido-tipo', L %}:</label>
      <select id="type" name="type" class="pure-u-1" onchange="localStorage.setItem('type', this.value);" required>
        <option value="" disabled selected>{% literal texts, 'home-bienvenido-tipo', L %}</option>
        <option value="Piso compartido">{% literal texts, 'home-pisazos-piso', L %} {% literal texts, 'home-pisazos-compartido', L %}</option>
        <option value="Apartamento privado">{% literal texts, 'home-pisazos-apartamento', L %} {% literal texts, 'home-pisazos-privado', L %}</option>
        <option value="Residencia">{% literal texts, 'home-pisazos-residencia', L %} {% literal texts, 'home-pisazos-universitaria', L %}</option>
      </select>

      <div class="calendar pure-u-1">
        <div class="pure-u-1" onclick="open_calendar('dates');">
          <label class="label" for="from">{% literal texts, 'home-bienvenido-cuando', L %}:</label>
          <div class="date">
            {% if L == 'es' %}
            <input class="input" type="text" id="dates" name="dates" onchange="localStorage.setItem('dates', this.value);" required disabled>
            {% else %}
            <input class="input" type="text" id="dates" name="dates" onchange="localStorage.setItem('dates', this.value);" required disabled>
            {% endif %}
            <em class="icon-calendar"></em>
          </div>
        </div>
      </div>
    </div>

    <div class="button-search">
      <a href="#" onclick="go();">
      <button class="btn-primary search desktop"><em class="icon-search"></em>{% literal texts, 'button-buscar', L %}</button>
      <button class="btn-secondary search mobile"><em class="icon-search"></em>{% literal texts, 'button-buscar', L %}</button>
      </a>
    </div>

  </div>

  <div id="video" class="video featured-bg-image">
    <div class="text-container mobile pure-u-1-2">
      <h1 class="pure-u-1">{% literal texts, 'home-bienvenido', L %}</h1>
    </div>
    <div class="video-home">
      <!-- Image-->
      {% image
          constants.SERVER + "/wopi/files/Marketing/Media/" + images['home'].id +"/Image/contents?access_token=" + token,
          "home", "home", "",
          [1280], ""
      %}
      <!-- Video -->
      <!--
      <video playsinline="true" width="100%" style="object-fit: cover;" autoplay="true" muted="true" loop="true" preload="auto" controls="1">
        Sorry, your browser doesn't support embedded videos.
        <source type="video/mp4" src="...">
      </video>
      -->
    </div>
  </div>

</section>

<!-- Calendar-->
{% include 'shared/sections/common/calendar.html.njk' %}

{% block footer %}
{% set script %}
// Types
const types = [
{% for l in locations-%}
{% set rs = false-%}
{% set pc = false-%}
{% set ap = false-%}
{% for b in buildings | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'lt', 4)-%}
  {% if b.Building_type_id == 3-%}
    {% set rs = true-%}
  {% else-%}
    {% set ra = b.Resources | find('Sale_type', 'eq', 'ambos') | length > 0-%}
    {% set rp = b.Resources | find('Sale_type', 'eq', 'plazas') | length > 0-%}
    {% set rc = b.Resources | find('Sale_type', 'eq', 'completo') | length > 0-%}
    {% if ra > 0 or rp > 0 %}{% set pc = true %}{% endif-%}
    {% if ra > 0 or rc > 0 %}{% set ap = true %}{% endif-%}
  {% endif-%}
{% endfor-%}
{% if pc %}{ 
  city:'{{l | translate('Name', L)}}', 
  type:'Piso compartido',
  link: '{{langs[L].folder}}/{{langs[L].pages.rooms.url}}-{{l | translate("Name", L) | slugify}}.html',
  value:'{{texts["home-pisazos-piso"][L]}} {{texts["home-pisazos-compartido"][L]}}'
},{% endif-%}
{% if ap %}{
  city:'{{l | translate('Name', L)}}', 
  type:'Apartamento privado',
  link: '{{langs[L].folder}}/{{langs[L].pages.flats.url}}-{{l | translate("Name", L) | slugify}}.html',
  value:'{{texts["home-pisazos-apartamento"][L]}} {{texts["home-pisazos-privado"][L]}}'
},{% endif-%}
{% if rs %}{
  city:'{{l | translate('Name', L)}}', 
  type:'Residencia universitaria',
  link: '{{langs[L].folder}}/{{langs[L].pages.residences.url | slugify}}.html',
  value:'{{texts["home-pisazos-residencia"][L]}} {{texts["home-pisazos-universitaria"][L]}}'
},{% endif-%}
{% endfor-%}
];

// Link
function go() {
  list = document.getElementById("type");
  if (list) location.href = list.value;
}

// Populate 
function get_types(value) {

  // Empty list
  list = document.getElementById("type");
  list.innerHTML = "";

  // Get city
  if (!value) return;
  localStorage.setItem('city', value);

  // Fill building listid
  for (var i = 0; i < types.length; i++) {
    if (types[i].city == value) {
      var opt = document.createElement("option");
      opt.value = types[i].link;
      opt.text = types[i].type;
      list.add(opt);
    }
  }
}

document.getElementById('city').value  = localStorage.getItem('city');
get_types(localStorage.getItem('city'));
document.getElementById('type').value  = localStorage.getItem('type');
document.getElementById('dates').value = localStorage.getItem('dates');
document.getElementById('in').value    = localStorage.getItem('checkin');
document.getElementById('out').value   = localStorage.getItem('checkout');
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}