<section class="partners
 {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
  <div class="text-container">
    <h2 class="head2 title">
      {% literal texts, 'home-partners-titulo', L %}
    </h2>
  </div>

  <div class="splide-partners splide" role="group">
    <div class="splide__track">
      <ul class="splide__list">
        {% for p in partners %}
        <li class="img splide__slide">
          {% image
            constants.SERVER + "/wopi/files/Marketing/Partner/" + p.id +"/Image/contents?access_token=" + token,
            L, p.Name, p.Name, p.Name + '-' + p.id | slugify, "",
            [300], ""
          %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</section>
