{% set show = true %}
{% for r in prices | find('id', 'eq', building.id) %}
{% for p in r.Place_types %}
{% if p.Code[0] == type %}

{% if show %}
{% set show = false %}
<div class="title pure-u-1 pure-u-lg-21-24">
  <h2>{{typetitle}}</h2>
</div>
{% endif %}

<anchor class="anchor" id="{{type}}"></anchor> 
<section class="card-room pure-u-1 pure-u-lg-22-24">

  <!-- LEFT -->
  <div class="left-carousel pure-u-1 pure-u-lg-11-24">

    <section id="main-carousel-{{p.Code}}" class="splide rooms-carousel" aria-label="Gallery">
      <div class="splide__track">
        <ul class="splide__list">
          {% for rp in room_photos  | find('Building.id', 'eq', building.id) | find('Place_type.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, rp.Name|ascii, "",
              [500], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section id="thumbnail-carousel-{{p.Code}}" class="splide" aria-label="Thumbnails">
      <div class="splide__track">
        <ul class="splide__list">
          {% for rp in room_photos  | find('Building_id', 'eq', building.id)  | find('Place_type.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, rp.Name|ascii, "",
              [300], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

  </div>

  <!-- RIGHT -->
  <div class="right-data pure-u-11-12 pure-u-lg-11-24">

    <!-- Title -->
    <div class="title-favorite pure-u-1">
      <p>{{place_types[p.Code] | translate('Name', L)}}</p>
      <!--
      <em class="icon-heart"></em>
      -->
    </div>

    <!-- Description -->
    <div class="text pure-u-1">
      <p>{{place_types[p.Code] | translate('Description', L)}}</p>
    </div>

    <!--
    {% for f in p.Flat_types %}
    <div class="option pure-u-1">
      <p class="bold">{% literal texts, 'price-desde', L %} {{f.Rent_long}}€/{% literal texts, 'price-mes', L %}</p>
    </div>
    {% endfor %}
    -->

    <div class="buttons pure-u-1">
      <button class="btn-secondary">Reservar</button>
      <button class="btn-primary">Agendar Visita</button>
    </div>

  </div>

  <!-- TEXT EXPANSION -->
  <div class="description text pure-u-23-24">
      <div class="expansion pure-u-1">
        <p>Información adicional</p>
        <input type="checkbox" class="tab pure-u-1-2" id="tab1" tabindex="0"/>
        <label name="tab" for="tab1" tabindex="-1" class="tab_lab pure-u-1-2" role="tab">
          <span class="open-close-icon"><em class="icon-corchete-down"></em></span>
        </label>
        <div class="content pure-u-1">
          <p>Se deberá abonar en único pago, una fianza de 900€ o el equivalente a una mensualidad si la renta supera los 900€. Este depósito será devuelto en un plazo máximo de 30 días posterior a la fecha de salida siempre y cuando no haya habido ningún desperfecto en el apartamento. ​Se deberán abonar en un único pago, 375€ en calidad de gastos de gestión de contrato. ​Si necesitas más información acerca de las condiciones de reserva, puedes hacerlo mediante este enlace</p>
        </div>
      </div>
  </div>

</section>
{% endif %}
{% endfor %}
{% endfor %}