{% set show = true %}
{% for r in flats | find('id', 'eq', building.id) %}
{% for p in r.Flat_subtypes %}
{% set subtype_texts = flat_subtypes[p.Code].Texts[0] %}
{% if f.Rent_pct %}{% set pct = f.Rent_pct %}{% else %}{% set pct = 1.0 %}{% endif %}

<!-- Big photos -->
<section id="big-{{p.Code}}" class="splide hidden-div">
  <div class="photos">
    <div class="close" onclick="document.getElementById('big-{{p.Code}}').style.display = 'none';"><em class="icon-close"></em></div>
    <div class="splide__track">
      <ul class="splide__list">
        {% for rp in photos | find('Building.id', 'eq', building.id) | find('Flat_subtype.Code', 'eq', p.Code) %}
        <li class="splide__slide">
        <div class="bigdiv">
        {% image
          constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
          L, rp.Name, rp.Name, building.Code + '-' + p.Code + '-' + rp.id, "bigimage",
          [1280], ""
        %}
        </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="card-room pure-u-1 pure-u-lg-22-24">

  <!-- Left -->
  <div class="left-carousel pure-u-1 pure-u-lg-11-24">
   
    {% if subtype_texts.Tour %}

    <section class="rooms-carousel">
      <iframe style="width:100%; height:400px;" src="{{subtype_texts.Tour}}" frameborder="0" allowfullscreen>
    </section>

    {% else %}

    <section id="main-carousel-{{p.Code}}" class="splide rooms-carousel" aria-label="Gallery">
      <div class="splide__track" onclick="thumb('big-{{p.Code}}', big_{{p.id}}, main_{{p.id}})">
        <ul class="splide__list">
          {% for rp in photos | find('Building.id', 'eq', building.id) | find('Flat_subtype.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              L, rp.Name, rp.Name, building.Code + '-' + p.Code + '-' + rp.id, "",
              [1280], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <section id="thumbnail-carousel-{{p.Code}}" class="splide" aria-label="Thumbnails">    
      <div class="splide__track">
        <ul class="splide__list">
          {% for rp in photos | find('Building.id', 'eq', building.id) | find('Flat_subtype.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              L, rp.Name, rp.Name, building.Code + '-' + p.Code + '-' + rp.id, "",
              [1280], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    {% literal texts, 'photo-note', L, true %}

    {% endif %}

  </div>

  <!-- Right -->
  <div class="right-data pure-u-11-12 pure-u-lg-11-24">

    <!-- Title -->
    <div class="title-favorite pure-u-1">
      <h3 class="head3">{{flat_subtypes[p.Code] | translate('Name', L)}}</h3>
      <!--!
      <em class="icon-heart"></em>
      -->
    </div>

    <!-- Description -->
    <div class="text pure-u-1">
    {{ subtype_texts | translate('Description', L) | markdown | safe }}
    {% if building.District.Location.id == 1 %}
    {% set legal = texts['texto-legal'][L].replace('{legal}', 'https://back.cotown.com/api/v1/legal/ap/' + siteid + '/' + building.Code + '.pdf') %}
    {{ legal | markdown | safe }}
    {% endif %}
    </div>

    <div class="option pure-u-1">
    <!--! >> BCN -->
    {% if building.District.Location.id != 999 %}
      {% for f in flats | find('id', 'eq', building.id) %}
      {% for t in f.Flat_subtypes | find('Code', 'eq', p.Code) %}
      {% if loop.index == 1 %}      
      {% if site == 'vanguard' %}
        {% if t.Rent_pct %}{% set pct = t.Rent_pct %}{% else %}{% set pct = 1.0 %}{% endif %}
        {% if pct != 1 %}
        <p data-price="f"  class="right light linethru">{% literal texts, 'price-desde', L %} {{t.Rent_long|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="l"  class="right light linethru hidden">{{t.Rent_long       |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="m"  class="right light linethru hidden">{{t.Rent_medium     |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="s"  class="right light linethru hidden">{{t.Rent_short      |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="ln" class="right light linethru hidden">{{t.Rent_long_next  |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="mn" class="right light linethru hidden">{{t.Rent_medium_next|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="sn" class="right light linethru hidden">{{t.Rent_short_next |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="f"  class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_long       *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="l"  class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_long       *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="m"  class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_medium     *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="s"  class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_short      *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="ln" class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_long_next  *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="mn" class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_medium_next*pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="sn" class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_short_next *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        {% else %}
        <p data-price="f"  class="bold">{% literal texts, 'price-desde', L %} {{t.Rent_long|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="l"  class="right bold hidden">{{t.Rent_long       |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="m"  class="right bold hidden">{{t.Rent_medium     |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="s"  class="right bold hidden">{{t.Rent_short      |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="ln" class="right bold hidden">{{t.Rent_long_next  |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="mn" class="right bold hidden">{{t.Rent_medium_next|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="sn" class="right bold hidden">{{t.Rent_short_next |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        {% endif %}
      {% else %}
      {% endif %}     
      {% endif %}
      {% endfor %}
      {% endfor %}
    {% endif %}
    <!--! << BCN -->
    </div> 

    <div id="{{p.Code}}" data-id="{{p.Code}}" class="pure-u-1 text-red"><p>...</p></div>
    
    <section class="apartment-services pure-u-1">
      <div id="amenities-carousel-{{p.Code}}" class="splide splide-services" role="group">
        <div class="splide__track">
          <ul class="splide__list">
            {% for s in flat_subtypes[p.Code].Amenities %}
            <li class="splide__slide">
              <div class="slide">
                <div class="img">                
                  {% svg
                    constants.SERVER + "/wopi/files/Marketing/Media_amenity/" + s.Amenity.Icons[0].id +"/Icon/contents?access_token=" + token,
                    s.Amenity.Name
                  %}
                </div>
              <p class="title">{{s.Amenity | translate('Name', L)}}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <div class="align-end pure-u-1">
     <!--! >> BCN -->
    {% if building.District.Location.id != 999 %}
      {% for f in flats | find('id', 'eq', building.id) %}
      {% for t in f.Flat_subtypes | find('Code', 'eq', p.Code) %}
      {% if loop.index == 1 %}
      {% if site != 'vanguard' %}
        {% if t.Rent_pct %}{% set pct = t.Rent_pct %}{% else %}{% set pct = 1.0 %}{% endif %}
        {% if pct != 1 %}
        <p data-price="f"  class="right light linethru">{% literal texts, 'price-desde', L %} {{t.Rent_long|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="l"  class="right light linethru hidden">{{t.Rent_long       |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="m"  class="right light linethru hidden">{{t.Rent_medium     |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="s"  class="right light linethru hidden">{{t.Rent_short      |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="ln" class="right light linethru hidden">{{t.Rent_long_next  |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="mn" class="right light linethru hidden">{{t.Rent_medium_next|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="sn" class="right light linethru hidden">{{t.Rent_short_next |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="f"  class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_long       *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="l"  class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_long       *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="m"  class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_medium     *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="s"  class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_short      *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="ln" class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_long_next  *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="mn" class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_medium_next*pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="sn" class="right bold hidden">{% literal texts, 'price-desde', L %} {{(t.Rent_short_next *pct)|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        {% else %}
        <p data-price="f"  class="bold">{% literal texts, 'price-desde', L %} {{t.Rent_long|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="l"  class="right bold hidden">{{t.Rent_long       |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="m"  class="right bold hidden">{{t.Rent_medium     |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="s"  class="right bold hidden">{{t.Rent_short      |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="ln" class="right bold hidden">{{t.Rent_long_next  |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="mn" class="right bold hidden">{{t.Rent_medium_next|round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        <p data-price="sn" class="right bold hidden">{{t.Rent_short_next |round|number(L)}} €/{% literal texts, 'price-mes', L %}</p>
        {% endif %}
      {% else %}
      {% endif %}     
      {% endif %}
      {% endfor %}
      {% endfor %}
    {% endif %}
    <!--! << BCN -->
    </div>
    
    {% if site != 'vanguard' %}
    <div class="border-division"></div>
    {% endif %}    

    <div class="buttons pure-u-1 {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
      <button id="btn-check-{{p.Code}}" name="btn-check" class="invisible btn-secondary" onclick="go_check();">
        {% literal texts, 'button-solicitar', L %}
      </button>
      <button id="btn-book-{{p.Code}}" name="btn-book" class="btn-secondary" onclick="go_book({{p.id}}, {{p.Flat_type_id}}, '{{p.Code}}', 'ap');">
        {% literal texts, 'button-reservar', L %}
      </button>
      <button id="btn-info-{{p.Code}}" name="btn-info" class="{% if site == 'vanguard' %} btn-primary {% else %} btn-text {% endif %}" onclick="go_info({{p.id}}, {{p.Flat_type_id}}, '{{p.Code}}');">
        {% literal texts, 'button-mas-info', L %}
        {% if site != 'vanguard' %}
          <div class="mini-border"></div>
        {% endif %}
      </button>
      <button id="btn-visit-{{p.Code}}" name="btn-visit" class="btn-primary" onclick="go_visit({{p.id}}, {{p.Flat_type_id}}, '{{p.Code}}');">
        {% literal texts, 'button-visita', L %}
      </button>
    </div>

  </div>

  <!-- Expansion -->
  <!--!
  <div class="description text pure-u-23-24">
      <div class="expansion pure-u-1">
        <p>{% literal texts, 'informacion-adicional-titulo', L %}</p>
        <input type="checkbox" class="tab pure-u-1-2" id="tab1" tabindex="0"/>
        <label name="tab" for="tab1" tabindex="-1" class="tab_lab pure-u-1-2" role="tab">
          <span class="open-close-icon"><em class="icon-corchete-down"></em></span>
        </label>
        <div class="content pure-u-1">
          <p>{% literal texts, 'informacion-adicional-texto', L %}</p>
        </div>
      </div>
  </div>
  -->

</section>
{% endfor %}
{% endfor %}