{% set show = true %}
{% for r in flats | find('id', 'eq', building.id) %}
{% for p in r.Flat_subtypes %}
<section class="card-room pure-u-1 pure-u-lg-22-24">

  <!-- LEFT -->
  <div class="left-carousel pure-u-1 pure-u-lg-11-24">

    <section id="main-carousel-{{p.Code}}" class="splide rooms-carousel" aria-label="Gallery">
      <div class="splide__track">
        <ul class="splide__list">
          {% for rp in photos | find('Building.id', 'eq', building.id) | find('Flat_subtype.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, rp.Name + '_' + rp.id | slugify, "",
              [500], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section id="thumbnail-carousel-{{p.Code}}" class="splide" aria-label="Thumbnails">
      <div class="splide__track">
        <ul class="splide__list">
          {% for rp in photos | find('Building.id', 'eq', building.id) | find('Flat_subtype.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, rp.Name + '_' + rp.id | slugify, "",
              [300], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

  </div>

  <!-- RIGHT -->
  <div class="right-data pure-u-11-12 pure-u-lg-11-24">

    <!-- Title -->
    <div class="title-favorite pure-u-1">
      <p>{{flat_subtypes[p.Code] | translate('Name', L)}}</p>
      <!--
      <em class="icon-heart"></em>
      -->
    </div>

    <!-- Description -->
    <div class="text pure-u-1">
      <p>{{flat_subtypes[p.Code].Texts[0] | translate('Description', L)}}</p>
    </div>

    <div class="option pure-u-1">
      <p class="persons">
        {{flat_subtypes[p.Code].Texts[0] | translate('Description', L)}}
      </p>
      <p class="bold">
        {% literal texts, 'price-desde', L %} 740€/{% literal texts, 'price-mes', L %}
      </p>
    </div>

    <section class="apartment-services pure-u-1">
      <div id="splideApartment" class="splide splide-services" role="group">
        <div class="splide__track">
          <ul class="splide__list">
            {% for s in services %}
            <li class="splide__slide">
              <div class="slide">
                <div class="img">
                  {% svg
                    constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Icons[0].id +"/Icon/contents?access_token=" + token,
                    s.Name
                  %}
                </div>
              <p class="title">{{s | translate('Name', L)}}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <div class="buttons pure-u-1">
      <button class="btn-secondary" onclick="go_book('{{p.Code}}');">{% literal texts, 'button-reservar', L %}</button>
      <button class="btn-primary" onclick="go_visit('{{p.Code}}');">{% literal texts, 'button-visita', L %}</button>
    </div>

  </div>

  <!-- Expansion -->
  <div class="description text pure-u-23-24">
      <div class="expansion pure-u-1">
        <p>{% literal texts, 'informacion-adicional-titulo', L %}</p>
        <input type="checkbox" class="tab pure-u-1-2" id="tab1" tabindex="0"/>
        <label name="tab" for="tab1" tabindex="-1" class="tab_lab pure-u-1-2" role="tab">
          <span class="open-close-icon"><em class="icon-corchete-down"></em></span>
        </label>
        <div class="content pure-u-1">
          <p>{% literal texts, 'informacion-adicional-texto', L %}</p>
        </div>
      </div>
  </div>

</section>
{% endfor %}
{% endfor %}

{% block footer %}
{% set script %}
function go_book(id) {
}
function go_visit(id) {
}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}