{% set show = true %}
{% for r in flats | find('id', 'eq', building.id) %}
{% for p in r.Flat_subtypes %}

<!-- Big photos -->
<section id="big-{{p.Code}}" class="splide hidden-div">
  <div class="photos">
    <div class="close" onclick="document.getElementById('big-{{p.Code}}').style.display = 'none';"><em class="icon-close"></em></div>
    <div class="splide__track">
      <ul class="splide__list">
        {% for rp in photos | find('Building.id', 'eq', building.id) | find('Flat_subtype.Code', 'eq', p.Code) %}
        <li class="splide__slide">
        {% image
          constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
          rp.Name, building.Code + '-' + p.Code + '-' + rp.id, "",
          [1280], ""
        %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="card-room pure-u-1 pure-u-lg-22-24">

  <!-- LEFT -->
  <div class="left-carousel pure-u-1 pure-u-lg-11-24">

    <section id="main-carousel-{{p.Code}}" class="splide rooms-carousel" aria-label="Gallery">
      <div class="splide__track" onclick="document.getElementById('big-{{p.Code}}').style.display = 'flex';">
        <ul class="splide__list">
          {% for rp in photos | find('Building.id', 'eq', building.id) | find('Flat_subtype.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, building.Code + '-' + p.Code + '-' + rp.id, "",
              [500], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section id="thumbnail-carousel-{{p.Code}}" class="splide" aria-label="Thumbnails">    
      <div class="splide__track">
        <ul class="splide__list">
          {% for rp in photos | find('Building.id', 'eq', building.id) | find('Flat_subtype.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, building.Code + '-' + p.Code + '-' + rp.id, "",
              [500], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    {% literal texts, 'photo-note', L, true %}

  </div>

  <!-- RIGHT -->
  <div class="right-data pure-u-11-12 pure-u-lg-11-24">

    <!-- Title -->
    <div class="title-favorite pure-u-1">
      <p>{{flat_subtypes[p.Code] | translate('Name', L)}}</p>
      <!--
      <em class="icon-heart"></em>
      -->
    </div>

    <!-- Description -->
    <div class="text pure-u-1">
    {{ flat_subtypes[p.Code] | translate('Description', L) | markdown | safe }}
    </div>

    <div class="option pure-u-1">
      <p class="bold">
        {% for f in flats | find('id', 'eq', building.id) %}
        {% for t in f.Flat_subtypes | find('Code', 'eq', p.Code) %}
        {% if loop.index == 1 %}
        {% literal texts, 'price-desde', L %} {{t.Rent_long}} €/{% literal texts, 'price-mes', L %}
        {% endif %}
        {% endfor %}
        {% endfor %}
      </p>
    </div> 
    <div id="{{p.Code}}" class="pure-u-1 text-red"><p>...</p></div>
    
    <section class="apartment-services pure-u-1">
      <div id="amenities-carousel-{{p.Code}}" class="splide splide-services" role="group">
        <div class="splide__track">
          <ul class="splide__list">
            {% for s in flat_subtypes[p.Code].Amenities %}
            <li class="splide__slide">
              <div class="slide">
                <div class="img">                
                  {% svg
                    constants.SERVER + "/wopi/files/Marketing/Media_amenity/" + s.Amenity.Icons[0].id +"/Icon/contents?access_token=" + token,
                    s.Amenity.Name
                  %}
                </div>
              <p class="title">{{s.Amenity | translate('Name', L)}}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <div class="buttons pure-u-1">
      <button id="btn-check-{{p.Code}}" name="btn-check" class="hidden btn-secondary" onclick="go_check();">
        {% literal texts, 'button-solicitar', L %}
      </button>
      <button id="btn-book-{{p.Code}}" name="btn-book" class="btn-secondary" onclick="go_book({{p.id}}, {{p.Flat_type_id}}, '{{p.Code}}');">
        {% literal texts, 'button-reservar', L %}
      </button>
      <button id="btn-visit-{{p.Code}}" name="btn-visit" class="btn-primary" onclick="go_visit({{p.id}}, {{p.Flat_type_id}}, '{{p.Code}}');">
        {% literal texts, 'button-visita', L %}
      </button>
    </div>

  </div>

  <!-- Expansion -->
  <!--
  <div class="description text pure-u-23-24">
      <div class="expansion pure-u-1">
        <p>{% literal texts, 'informacion-adicional-titulo', L %}</p>
        <input type="checkbox" class="tab pure-u-1-2" id="tab1" tabindex="0"/>
        <label name="tab" for="tab1" tabindex="-1" class="tab_lab pure-u-1-2" role="tab">
          <span class="open-close-icon"><em class="icon-corchete-down"></em></span>
        </label>
        <div class="content pure-u-1">
          <p>{% literal texts, 'informacion-adicional-texto', L %}</p>
        </div>
      </div>
  </div>
  -->

</section>
{% endfor %}
{% endfor %}