<section class="last-content pure-u-11-12 pure-u-lg-22-24">
    <div class="pure-u-1-1">
        <h2>bienvenid@ a <span>VALENCIA</span></h2>
    </div>

    <div class="left pure-u-1 pure-u-lg-7-12">
        <div class="text pure-u-23-24">
            <p>
            Prepárate para sumergirte en el peculiar y vibrante barrio de la Dreta de l'Eixample en Barcelona, donde la arquitectura modernista te hará pensar que has aterrizado en una versión hipster de la Tierra Media. ​
            Aquí encontrarás la mítica Pedrera y la Casa Batlló, dos de las joyas arquitectónicas de Gaudí que, además de dejarte con la boca abierta, te permitirán presumir en tus redes sociales. ​
            ¿Eres un/a fanátic@ de las compras? ¡Excelente! Porque aquí encontrarás desde tiendas de diseño hasta boutiques de segunda mano, y todo a una distancia que ni la batería de tu patinete eléctrico notará. Además, si te gusta la comida, prepárate para disfrutar de restaurantes de todo el mundo, donde podrás probar desde tapas hasta sushi, y todo ello sin salir del barrio. ​
            ¿Y qué hay de la vida nocturna? Bueno, la Dreta de l'Eixample te ofrecerá bares y clubs donde podrás bailar y beber algo hasta que tus pies rueguen clemencia, o hasta que el sol salga, lo que ocurra primero. ​
            Así que, querido nómada digital, prepara tu portátil y tus gafas de sol, porque en la Dreta de l'Eixample encontrarás la mezcla perfecta de trabajo, arte, cultura y diversión, todo aderezado con un toque de locura arquitectónica que te hará preguntarte por qué no llegaste aquí antes. ¡Bienvenido al barrio!
            </p>
        </div>
    </div>
    <div class="right pure-u-1 pure-u-lg-5-12">
        <div class="pure-u-1">
            <section id="main-gallery" class="splide rooms-carousel" aria-label="Gallery">
            <div class="splide__track">
                <ul class="splide__list">
                <li class="splide__slide">
                    <img src="/assets/img/cotownity-big.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="/assets/img/cotownity-big.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="/assets/img/cotownity-big.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="/assets/img/cotownity-big.png" alt="">
                </li>
                </ul>
            </div>
            </section>
            <section id="thumbnail-gallery" class="splide" aria-label="Thumbnails">
            <div class="splide__track">
                <ul class="splide__list">
                <li class="splide__slide">
                    <img src="/assets/img/cotownity-big.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="/assets/img/cotownity-big.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="/assets/img/cotownity-big.png" alt="">
                </li>
                <li class="splide__slide">
                    <img src="/assets/img/cotownity-big.png" alt="">
                </li>
                </ul>
            </div>
            </section>
        </div>
    </div>


</section>





