<section class="first-contain pure-u-1 {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}" >

  <!-- Photo carousel -->
  <section id="image-carousel" class="splide first-slider pure-u-1" aria-label="Beautiful Images">
    <div class="title-button {% if building.Tour %} with-tour {% else %} no-tour {% endif %}">
      <h1>{{building.Name}}</h1>
      {% if site == 'vanguard' %}
      {% else %}
      <div class="sello-cotown pure-u-1">
        <img class="img-sello" alt="sello" src="{{root}}/assets/img/sello.svg">
      </div>    
      {% endif %}
      {% if building.Tour %}
      <button class="btn-secondary" onclick="open_tour('{{building.Tour}}')">
        {% literal texts, 'rooms-tour-virtual', L %}
        {% if site == 'vanguard' %}
        {% else %}
          <div class="mini-border"></div>
        {% endif %}
      </button>
      {% endif %}

    </div>
    <div class="splide__track" onclick="document.getElementById('big').style.display = 'flex';">
      <ul class="splide__list">
        {% for i in building.Photos | find('Image_type', 'eq', 'habitacion') %}
        <li class="splide__slide">
          {% image
            constants.SERVER + "/wopi/files/Marketing/Media_building/" + i.id +"/Image/contents?access_token=" + token,
            building.Name, building.Name + '-' + i.id | slugify, "",
            [1600], ""
          %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <!-- Big photos -->
  <section id="big" class="splide hidden-div">
    <div class="photos">
      <div class="close" onclick="document.getElementById('big').style.display = 'none';"><em class="icon-close"></em></div>
      <div class="splide__track">
        <ul class="splide__list">
          {% for i in building.Photos | find('Image_type', 'eq', 'habitacion') %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_building/" + i.id +"/Image/contents?access_token=" + token,
              building.Name, building.Name + '-' + i.id | slugify, "",
              [1600], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <div class="pure-u-1 after-slide">

    <!-- Description -->
    <div class="text-first pure-u-23-24 pure-u-lg-12-24">
    {{ building | translate('Details', L) | markdown | safe }}
    </div>

    <!-- Services -->
    <section class="flat-services pure-u-23-24 pure-u-lg-9-24">
      <div id="splideServices" class="splide splide-services" role="group">
        <div class="splide__track">
          <ul class="splide__list">

            {% for s in building.Services %}
              {% if loop.first %}
              <li class="splide__slide">
              <div class="slide">
              {% endif %}
                <div class="img">
                  {% svg
                    constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Service.Images[0].id +"/Icon/contents?access_token=" + token,
                    s.Service.Name
                  %}
                </div>
                <p class="title">{{s.Service | translate('Name', L)}}</p>
              {% if loop.last %}
              </div>
              </li>
              {% else %}
              {% if loop.index % 2 == 0%}
              </div>
              </li>
              <li class="splide__slide">
              <div class="slide">
              {% endif %}
              {% endif %}
            {% endfor %}

          </ul>
        </div>
      </div>
    </section>
  
  </div>

  <div class="pure-u-1 after-slide bottom">

    <div class="text-first pure-u-23-24 pure-u-lg-12-24">
      {% if building.Tour %}
      <button class="btn-text">
        <a href="#" onclick="open_tour('{{building.Tour}}')">{% literal texts, 'rooms-tour-virtual', L %}
          {% if site == 'vanguard' %}
          {% else %}
            <div class="mini-border"></div>
          {% endif %}</a>
      </button>
      {% endif %}
      {% if flats | find('id', 'eq', building.id) | length > 0 %}
      <button class="btn-text">
        <a href="{{root}}{{langs[L].folder}}/{{langs[L].pages.flats.url}}-{{building.Name | slugify}}.html">
        {% literal texts, 'rooms-nuestros-apartamentos-privados', L %}
          {% if site == 'vanguard' %}
          {% else %}
            <div class="mini-border"></div>
          {% endif %}
        </a>
      </button>
      {% endif %}
      <button class="btn-text">
        <a href="#barrio">
          {% literal texts, 'rooms-tu-barrio', L %}
          {% if site == 'vanguard' %}
          {% else %}
            <div class="mini-border"></div>
          {% endif %}
        </a>
      </button>
    </div>

    <!-- Dates -->
    <section id="selected-dates" class="right-calendar pure-u-23-24 pure-u-lg-9-24 hidden">
      <div class="calendar pure-u-1">
        <div class="reservas pure-u-1">
          <div class="button-calendar" onclick="go_check();">
            <div class="checkin pure-u-1-2"> 
              <p class="label">{% literal texts, 'dates-entrada', L %}</p>
              <p id="checkin" class="dates"></p>
            </div> 
            <div class="checkout pure-u-1-2"> 
              <p class="label">{% literal texts, 'dates-salida', L %}</p>
              <p id="checkout" class="dates"></p>
            </div> 
          </div>        
        </div>
      </div>
    </section>
    
  </div>

</section>

<div id="tour" class="tour-modal">
	<div class="tour-modal-content">
    <div class="close" onclick="close_tour();">
      <em class="icon-close"></em>
    </div>
    <iframe id="tourframe" width="100%" frameborder="0" allowfullscreen="allowfullscreen">
    </iframe>
  </div>
</div>