<!-- Additional HEAD content -->
{% block head %}
<!--{% set css %}{% include "shared/css/rooms.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="/assets/css/rooms.css">
{% endblock %}

<!-- Main -->
<main class="flat pure-u-1">
  <div class="container-main pure-u-1">

    <!-- First -->
    <section class="first pure-u-1">
    {% include 'shared/sections/building/rooms/first.html.njk' %}
    </section>

    <!-- Rooms -->
    <section class="rooms pure-u-1">
      <section class="all-rooms pure-u-1">

        {% set type = 'I' %}
        {% set typetitle = texts['rooms-individuales'][L] %}
        {% include 'shared/sections/building/rooms/rooms.html.njk' %}

        {% set type = 'D' %}
        {% set typetitle = texts['rooms-compartidas'][L] %}
        {% include 'shared/sections/building/rooms/rooms.html.njk' %}

      </section>
    </section>

    <!-- Rest of info -->
    <section class="last pure-u-1">

      <!-- Last -->
      <div class="last-zone pure-u-1">
        {% include 'shared/sections/building/last.html.njk' %}
      </div>

      <!-- Map -->
      <section class="map"><div class="map" id="map">
      </div></section>

    </section>

  </div>
</main>

{% block footer %}
{% set script %}
// Slider inicio
new Splide( '#image-carousel', {
  type  : 'fade',
  rewind: true,
  perPage: 1,
  pagination: true,
  cover: true,
}).mount();

// Slider servicios
new Splide("#splideServices", {
  type: 'loop',
  autoHeight: true,
  focus: 0,
  perPage: 3,
  perMove: 1,
  gap: '1em',
  pagination: false,
  breakpoints: {
    767: { perPage: 2, padding: '0.5em' },
  },
}).mount();

// Sliders tipos de habitacion
{% for r in rooms | find('id', 'eq', building.id) %}
{% for p in r.Place_types %}
new Splide('#big-{{p.Code}}', { 
  type: 'loop', 
  height: '90vh',
  arrows: true 
}).mount();
var main_{{p.id}} = new Splide( '#main-carousel-{{p.Code}}', {
  type: 'fade',
  rewind: true,
  pagination: false,
  height: '400px',
  arrows: true,
  breakpoints: {
    1023: {
      autoplay: true,
      arrows: false,
    },
  },
});
var thumbnails_{{p.id}} = new Splide('#thumbnail-carousel-{{p.Code}}', {
  fixedWidth: 240,
  fixedHeight: 180,
  rewind: true,
  pagination: false,
  arrows: false,
  isNavigation: true,
});
main_{{p.id}}.sync(thumbnails_{{p.id}});
main_{{p.id}}.mount();
thumbnails_{{p.id}}.mount();
{% endfor %}
{% endfor %}

// Slider barrio
var main = new Splide('#main-gallery', {
  type: 'fade',
  rewind: true,
  pagination: true,
  arrows: true,
  breakpoints: {
    1023: {
      autoplay: true,
      arrows: false,
      pagination: false,
    },
  },
});
var thumbnails = new Splide('#thumbnail-gallery', {
  fixedWidth: 296,
  fixedHeight: 212,
  rewind: true,
  pagination: false,
  arrows: false,
  isNavigation: true,
  gap: 10,
});
main.sync(thumbnails);
main.mount();
thumbnails.mount();

// Tour
function open_tour() {
  document.getElementById("tourframe").src="{{building.Tour}}" 
  document.getElementById("tour").style.display = "block";
}
function close_tour() {
  document.getElementById("tour").style.display = "none";
}

// Buttons
// /booking/3?lang=en&segment=1&book_building_id=1&book_flat_type_id=1&book_place_type_id=100&book_checkin=2023-11-01&book_checkout=2024-03-31
function go_book(code) {
  radio = document.querySelector('input[name="radio-' + code + '"]:checked');
  flat  = radio.getAttribute('data-flat');
  place = radio.getAttribute('data-place');
  sessionStorage.setItem('city', '{{building.District.Location.Name}}');
  sessionStorage.setItem('building', '{{building.Name}}');
  sessionStorage.setItem('book_city_id', '{{building.District.Location.id}}');
  sessionStorage.setItem('book_building_id', '{{building.id}}');
  sessionStorage.setItem('book_type', code);
  //location.href = '/booking/3?'
  //  + 'lang={{L}}&segment={{siteid}}&book_building_id={{building.id}}'
  //  + '&book_flat_type_id=' + flat 
  //  + '&book_place_type_id=' + place 
  //  + '&book_checkin=' + sessionStorage.getItem('book_checkin') 
  //  + '&book_checkout=' + sessionStorage.getItem('book_checkout');
  location.href = "{{root}}{{langs[L].folder}}/{{langs[L].pages['book'].url}}.html";
}

function go_visit(code) {
  sessionStorage.setItem('city', '{{building.District.Location.Name}}');
  sessionStorage.setItem('building', '{{building.Name}}');
  sessionStorage.setItem('book_city_id', '{{building.District.Location.id}}');
  sessionStorage.setItem('book_building_id', '{{building.id}}');
  sessionStorage.setItem('book_type', code);
  location.href = "{{root}}{{langs[L].folder}}/{{langs[L].pages['visit'].url}}.html";
}

// Show selected dates block
dates = sessionStorage.getItem('book_dates') || '';
if (dates != '') {
  document.getElementById("selected-dates").classList.remove("hidden");
  document.getElementById("checkin").textContent = dates.split(" - ")[0];
  document.getElementById("checkout").textContent = dates.split(" - ")[1];
}
else {
  document.getElementById("selected-dates").classList.add("hidden");
}

// Activate/Deactivate booking buttons
function buttons(radio, btn) {
  console.log(radio);
  console.log(btn);
  document.getElementById('btn-book-' + btn).disabled = radio.checked;
}

// Availability
const divs = document.querySelectorAll('.text-red');
divs.forEach((div) => { div.firstChild.textContent = " "; });
const date_from = sessionStorage.getItem('book_checkin');
const date_to = sessionStorage.getItem('book_checkout');
if (date_from && date_to) {
  fetch('https://back.cotown.com/api/v1/availability/1/{{building.id}}?date_from=' + date_from + '&date_to=' + date_to)
  .then(resp => resp.text())
  .then(data => {
    json = JSON.parse(data);
    const divs = document.querySelectorAll('.text-red');
    divs.forEach(function(div) {
      const avail = json.find((e) => (e.id === div.id));
      if (avail) {
        document.getElementById('radio-' + div.id).disabled = false;
        if (avail.Qty === 1) {
          div.firstChild.textContent = {%if L=='en'%}"ONLY " + avail.Qty + " LEFT"{%else%}"SÓLO QUEDA " + avail.Qty{%endif%};
        } else if (avail.Qty <= 5) {
          div.firstChild.textContent = {%if L=='en'%}"ONLY " + avail.Qty + " LEFT"{%else%}"SÓLO QUEDAN " + avail.Qty{%endif%};
        }
      } else {
        document.getElementById('radio-' + div.id).disabled = true;
        document.getElementById('radio-' + div.id).checked = false;
        div.firstChild.textContent = {%if L=='en'%}"SOLD OUT"{%else%}"AGOTADO"{%endif%};
      }
    });
  });
}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}
