<!-- Additional HEAD content -->
{% block head %}
<!--{% set css %}{% include "shared/css/rooms.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="/assets/css/rooms.css">
{% endblock %}

<!-- Main -->
<main class="flat pure-u-1">
  <div class="container-main pure-u-1">

    <!-- First -->
    <section class="first pure-u-1">
    {% include 'shared/sections/building/rooms/first.html.njk' %}
    </section>

    <!-- Rooms -->
    <section class="rooms pure-u-1">
      <section class="all-rooms pure-u-1">

        {% set type = 'I' %}
        {% set typetitle = texts['rooms-individuales'][L] %}
        {% include 'shared/sections/building/rooms/rooms.html.njk' %}

        {% set type = 'D' %}
        {% set typetitle = texts['rooms-compartidas'][L] %}
        {% include 'shared/sections/building/rooms/rooms.html.njk' %}

      </section>
    </section>

    <!-- Rest of info -->
    <section class="last pure-u-1">

      <!-- Last -->
      <div class="last-zone pure-u-1">
        {% include 'shared/sections/building/last.html.njk' %}
      </div>

      <!-- Map -->
      <section class="map"><div class="map" id="map">
      </div></section>

    </section>

  </div>
</main>

{% block footer %}
{% set script %}
// Slider inicio
new Splide( '#image-carousel', {
  type  : 'fade',
  rewind: true,
  perPage: 1,
  pagination: true,
  cover: true,
}).mount();

// Slider servicios
new Splide("#splideServices", {
  type: 'loop',
  autoHeight: true,
  focus: 0,
  perPage: 3,
  perMove: 1,
  gap: '1em',
  pagination: false,
  breakpoints: {
    767: { perPage: 2, padding: '0.5em' },
  },
}).mount();

// Sliders tipos de habitacion
{% for r in rooms | find('id', 'eq', building.id) %}
{% for p in r.Place_types %}
new Splide('#big-{{p.Code}}', { 
  type: 'loop', 
  height: '90vh',
  arrows: true 
}).mount();
var main_{{p.id}} = new Splide( '#main-carousel-{{p.Code}}', {
  type: 'fade',
  rewind: true,
  pagination: false,
  height: '400px',
  arrows: true,
  breakpoints: {
    1023: {
      autoplay: true,
      arrows: false,
    },
  },
});
var thumbnails_{{p.id}} = new Splide('#thumbnail-carousel-{{p.Code}}', {
  fixedWidth: 240,
  fixedHeight: 180,
  rewind: true,
  pagination: false,
  arrows: false,
  isNavigation: true,
});
main_{{p.id}}.sync(thumbnails_{{p.id}});
main_{{p.id}}.mount();
thumbnails_{{p.id}}.mount();
{% endfor %}
{% endfor %}

// Slider barrio
var main = new Splide('#main-gallery', {
  type: 'fade',
  rewind: true,
  pagination: true,
  arrows: true,
  breakpoints: {
    1023: {
      autoplay: true,
      arrows: false,
      pagination: false,
    },
  },
});
var thumbnails = new Splide('#thumbnail-gallery', {
  fixedWidth: 296,
  fixedHeight: 212,
  rewind: true,
  pagination: false,
  arrows: false,
  isNavigation: true,
  gap: 10,
});
main.sync(thumbnails);
main.mount();
thumbnails.mount();

// Tour
function open_tour() {
  document.getElementById("tourframe").src="{{building.Tour}}" 
  document.getElementById("tour").style.display = "block";
}
function close_tour() {
  document.getElementById("tour").style.display = "none";
}

// Buttons
function go_book(id) {
  localStorage.setItem('city', '{{building.District.Location.Name}}');
  localStorage.setItem('building', '{{building.Name}}');
  localStorage.setItem('type', id);
  location.href = "{{root}}{{langs[L].folder}}/{{langs[L].pages['book'].url}}.html";
}
function go_visit(id) {
  localStorage.setItem('city', '{{building.District.Location.Name}}');
  localStorage.setItem('building', id);
  location.href = "{{root}}{{langs[L].folder}}/{{langs[L].pages['visit'].url}}.html";
}
{% endset %}<script>{{ script | jsmin | safe }}</script>
{% endblock %}