{% set show = true %}
{% for r in rooms | find('id', 'eq', building.id) %}
{% for p in r.Place_types %}
{% if p.Code[0] == type %}

{% if show %}
{% set show = false %}
<div class="title pure-u-1 pure-u-lg-21-24">
  <h2>{{typetitle}}</h2>
</div>
{% endif %}

<!-- Big photos -->
<section id="big-{{p.Code}}" class="splide hidden-div">
  <div class="photos">
    <div class="close" onclick="document.getElementById('big-{{p.Code}}').style.display = 'none';"><em class="icon-close"></em></div>
    <div class="splide__track">
      <ul class="splide__list">
        {% for rp in photos | find('Building.id', 'eq', building.id) | find('Place_type.Code', 'eq', p.Code) %}
        <li class="splide__slide">
        {% image
          constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
          rp.Name, building.Code + '-' + p.Code + '-' + rp.id, "",
          [1280], ""
        %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<anchor class="anchor" id="{{type}}"></anchor> 
<section class="card-room pure-u-1 pure-u-lg-22-24">

  <!-- LEFT -->
  <div class="left-carousel pure-u-1 pure-u-lg-11-24">

    <section id="main-carousel-{{p.Code}}" class="splide rooms-carousel" aria-label="Gallery">
      <div class="splide__track" onclick="document.getElementById('big-{{p.Code}}').style.display = 'flex';">
        <ul class="splide__list">
          {% for rp in photos | find('Building.id', 'eq', building.id) | find('Place_type.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, building.Code + '-' + p.Code + '-' + rp.id, "",
              [500], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section id="thumbnail-carousel-{{p.Code}}" class="splide" aria-label="Thumbnails">
      <div class="splide__track">
        <ul class="splide__list">
          {% for rp in photos | find('Building.id', 'eq', building.id) | find('Place_type.Code', 'eq', p.Code) %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, building.Code + '-' + p.Code + '-' + rp.id, "",
              [500], ""
            %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    {% literal texts, 'photo-note', L, true %}

  </div>

  <!-- RIGHT -->
  <div class="right-data pure-u-11-12 pure-u-lg-11-24">

    <!-- Title -->
    <div class="title-favorite pure-u-1">
      <p>{{place_types[p.Code] | translate('Name', L)}}</p>
      <!--
      <em class="icon-heart"></em>
      -->
    </div>

    <!-- Description -->
    <div class="text pure-u-1">
    {{ place_types[p.Code].Texts[0] | translate('Description', L) | markdown | safe }}
    </div>

    <form class="pure-form">
      <fieldset>

      <!-- Share -->
      <div class="share">
        {% if p.Flat_types | length > 1 %}
        <div class="title">
          <p>{% literal texts, 'rooms-quiero-compartir', L %}:</p>
        </div>
        {% endif %}
        {% for f in p.Flat_types %}
        <div class="sharing">
          <div class="left">
            <label for="radio-{{p.Code}}_{{f.Code}}" 
                   class="pure-radio {% if p.Flat_types | length < 2 %}hidden{% endif %}">
            <input id="radio-{{p.Code}}_{{f.Code}}"{% if p.Flat_types | length == 1 %} checked{% endif %}
                   name="radio-{{p.Code}}" 
                   data-flat="{{f.id}}" type="radio"/>
            {{flat_types[f.Code] | translate('Name', L)}}
            </label>
          </div>
          <div class="right">
            <p>{% literal texts, 'price-desde', L %} {{f.Rent_long}} €/{% literal texts, 'price-mes', L %}</p>
          </div>
          <div id="{{p.Code}}_{{f.Code}}" class="text-red"><p>...</p></div>
        </div>
        {% endfor %}
      </div>

      <!-- Extra -->
      <div class="extra">
        {% set eshow = false %}
        {% for a in amenities | find('id', 'eq', building.id) | find('Place_type', 'eq', p.Code) %}
        {% if not eshow %}
        {% set eshow = true %}
        <div class="title">
          <p>Servicios extra</p>
        </div>
        {% endif %}
        <div class="extras">
          <div class="left">
            <label for="extra_{{a.Name}}" class="pure-checkbox">
              <input type="checkbox" 
                     data-place="{{p.Code}}"
                     id="extra_{{p.Code}}_{{a.Name}}" 
                     name="extra_{{p.Code}}_{{a.Name}}" 
                     value="{{a.Name}}"/>
              {{a | translate('Name', L)}}
            </label>
          </div>
          <div class="right">
            <p>+{{a.Increment}}%/{% literal texts, 'price-mes', L %}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      </fieldset>
    </form>

    <div class="buttons pure-u-1">
      <button id="btn-check-{{p.Code}}" name="btn-check" class="hidden btn-secondary" onclick="go_check();">
        {% literal texts, 'button-solicitar', L %}
      </button>
      <button id="btn-book-{{p.Code}}" name="btn-book" class="btn-secondary" onclick="go_book({{p.id}}, -1, '{{p.Code}}');">
        {% literal texts, 'button-reservar', L %}
      </button>
      <button id="btn-info-{{p.Code}}" name="btn-info" class="btn-primary" onclick="go_info({{p.id}}, -1, '{{p.Code}}');">
        {% literal texts, 'button-mas-info', L %}
      </button>
      <button id="btn-visit-{{p.Code}}" name="btn-visit" class="btn-primary" onclick="go_visit({{p.id}}, -1, '{{p.Code}}');">
        {% literal texts, 'button-visita', L %}
      </button>
    </div>

  </div>

  <!-- Expansion -->
  <!--
  <div class="description text pure-u-23-24">
      <div class="expansion pure-u-1">
        <p>{% literal texts, 'informacion-adicional-titulo', L %}</p>
        <input type="checkbox" class="tab pure-u-1-2" id="tab1" tabindex="0"/>
        <label name="tab" for="tab1" tabindex="-1" class="tab_lab pure-u-1-2" role="tab">
          <span class="open-close-icon"><em class="icon-corchete-down"></em></span>
        </label>
        <div class="content pure-u-1">
          <p>{% literal texts, 'informacion-adicional-texto', L %}</p>
        </div>
      </div>
  </div>
  -->

</section>
{% endif %}
{% endfor %}
{% endfor %}