<section id="image-carousel" class="splide first-slider" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list">
      <li class="splide__slide">
        <img src="./assets/img/pisos/napoles-slider.png">
      </li>
      <li class="splide__slide">
        <img src="./assets/img/cotownity-big.png">
      </li>
      <li class="splide__slide">
        <img src="./assets/img/apartm.png">
      </li>
		</ul>
  </div>
</section>



<div class="text-first">
  <p>
  ¿Hay algo más barcelonés y mítico que la Sagrada Família? Ahora imagina vivir a tan sólo 5 minutos andando de semejante monumento. Nàpols 206 es el lugar perfecto tanto para callejear por las calles más interesantes de toda la ciudad como para ser todo un/a Bill Gates petándolo en tu negocio/trabajo desde casa. 
  Disfrutarás de un pisazo con zonas comunes dignas de un “House Tour” de revista y habitaciones totalmente equipadas para que tus jornadas laborales se conviertan en una zona de confort y relax.
  Un consejo: si quieres ser un auténtic@ #feelinglocal, deja el brunch a un lado y pásate al tapeo por la Dreta de l’Eixample. ​
  </p>

</div>

