      <section
      id="first-slider"
      class="splide"
      aria-label="thumbnails"
    >
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img src="/assets/img/cotownity-big.png">
          </li>
          <li class="splide__slide">
            <img src="/assets/img/piso.png">
          </li>
          <li class="splide__slide">
            <img src="/assets/img/apartm.png">
          </li>
        </ul>
      </div>
    </section>