ROOMS



<!-- 
<section id="main-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
    <ul class="splide__list">
        <li class="splide__slide">
        <img src="./assets/img/cotownity-big.png">
        </li>
        <li class="splide__slide">
        <img src="./assets/img/piso.png">
        </li>
        <li class="splide__slide">
        <img src="./assets/img/apartm.png">
        </li>
    </ul>
  </div>
</section>
<section
  id="thumbnail-carousel"
  class="splide"
  aria-label="Thumbnails"
>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="./assets/img/cotownity-big.png">
        </li>
        <li class="splide__slide">
        <img src="./assets/img/piso.png">
        </li>
        <li class="splide__slide">
        <img src="./assets/img/apartm.png">
        </li>
    </ul>
  </div>
</section>
-->

