<section class="card-room pure-u-1">
<!-- LEFT -->
<div class="title pure-u-1">
 <h2>HABITACIONES INDIVIDUALES</h2>
</div>
  <div class="left-carousel pure-u-1 pure-u-lg-1-2">

<section id="main-slider" class="splide rooms" aria-label="My Awesome Gallery">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img src="./assets/img/cotownity-big.png" alt="">
          </li>
          <li class="splide__slide">
           <img src="./assets/img/cotownity-big.png" alt="">
          </li>
          <li class="splide__slide">
            <<img src="./assets/img/cotownity-big.png" alt="">
          </li>
          <li class="splide__slide">
            <img src="./assets/img/cotownity-big.png" alt="">
          </li>
        </ul>
      </div>
    </section>

    <ul id="thumbnails" class="thumbnails">
      <li class="thumbnail">
        <img src="./assets/img/cotownity-big.png" alt="">
      </li>
      <li class="thumbnail">
        <img src="./assets/img/cotownity-big.png" alt="">
      </li>
      <li class="thumbnail">
        <img src="./assets/img/cotownity-big.png" alt="">
      </li>
      <li class="thumbnail">
        <img src="./assets/img/cotownity-big.png" alt="">
      </li>
    </ul>


<!-- RIGHT -->
  <div class="right-data pure-u-1 pure-u-lg-1-2">
  Texto
  </div>
</section>





