/* ADVANTAGES PAGE
-------------------------------- \*/
/* BLOQUE 1 NO HOME
-------------------------------- \*/
main.cotown .container-main .first-contain {
	background-color: var(--new-bg);
}
main .container-main .first-contain .img-right {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	top: -50px;
}

main.cotown .container-main .first-contain .img-right {
	display: none;	
}

main .container-main .first-contain .advantages.title-big {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 16em auto 2em;
}

main.cotown .container-main .first-contain .advantages.title-big {	
	margin: 4em auto 2em;
	padding-bottom: 2em;
	justify-content: space-between;
}

main .container-main .first-contain .advantages.title-big .h1-big {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

main.cotown .container-main .first-contain .advantages.title-big .h1-big  {	
	padding: 0 0 0 1em;
}

main .container-main .first-contain .advantages.title-big .h1-big h1 {
	font-family: var(--title-font);
	font-size: var(--big-title);
	font-weight: var(--400);
	line-height: 95%;
	letter-spacing: -3.31px;
	text-transform: uppercase;
}
main.vanguard .container-main .first-contain .advantages.title-big .h1-big h1 {
	font-size: 92px;
}
main.cotown .container-main .first-contain .advantages.title-big .h1-big h1 {
	font-family: var(--text-font);
	text-transform: none;
	font-weight: var(--semibold);
	line-height: 1;
	letter-spacing: 0px;
}

main .container-main .first-contain .advantages.title-big .h1-big h1 span.h2-border {
	font-family: var(--title-font);
	color: var(--primary-text);
	text-shadow: var(--h2-border);
	font-weight: var(--400);
	line-height: 95%;
	letter-spacing: -2;
}

main.cotown .container-main .first-contain .advantages.title-big .h1-big h1 span.h2-border {
	font-family: var(--text-font);
	font-weight: var(--semibold);
	color: var(--black);	
	text-shadow: none;
	text-transform: uppercase;
}

main .container-main .first-contain .advantages.title-big .text p {
	font-size: 22px;
	line-height: 150%;
	font-weight: 400;
	margin: 0 0 0.5em;
	text-align: left;
}

main.cotown .container-main .first-contain .advantages.title-big .text .feeling.cotown {
	text-align: end;
}

main.cotown .container-main .first-contain .advantages.title-big .text .feeling.cotown h2.title-feel {
	text-align: end;
	font-size: var(--subtitle);
	font-weight: var(--bold);
	color: var(--primary-old);
	text-transform: lowercase;
}

main.cotown .container-main .first-contain .advantages.title-big .text {
	padding-left: 1em;
}

main.cotown .container-main .first-contain .advantages.title-big .text p {
	font-size: var(--text);
	font-weight: var(--400);
	line-height: 1.5;
}

main.cotown .container-main .first-contain .sello-cotown {
	position: relative;
	width: 100%;
	display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
main.cotown .container-main .first-contain .sello-cotown img.img-sello {
	position: absolute;
	top: -64px
}
main .container-main section.banner {
	margin-bottom: 2em;
}
main .container-main section.banner.vanguard h2 {
	font-family: var(--title-font);
	font-size: 78px;
	font-weight: 400;
	margin-bottom: 0;
}

/* BLOQUE 2 GRID NO HOME
-------------------------------- */
main .container-main section.container-advantages {
	padding: 2em 4em;
}
main.cotown .container-main section.container-advantages {
	padding: 6em 4em 2em;
}

main .container-main section.container-advantages .grid {
	padding: 0;
	max-width: 1280px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

main .container-main section.container-advantages .grid .promo-contain {
	width: calc(33.33% - 2em);
	margin: 1em 1em;
}

main .container-main section.container-advantages .grid .promo-contain .over.ar-16-9 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	cursor: pointer;
	background-color: var(--primary-bg);
}

main .container-main section.container-advantages .grid .promo-contain .over.ar-16-9::before {
	content: "";
	display: block;
	padding-bottom: 56.25%;
	height: auto;
	position: relative;
	z-index: 1;
}

main .container-main section.container-advantages .grid .promo-contain .over.ar-16-9 .img1 {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	object-fit: cover;
}

main .container-main section.container-advantages .grid .promo-contain .over.ar-16-9 .img2 {
	display: none;
}

main .container-main section.container-advantages .grid .promo-contain .over.ar-16-9:hover .img1 {
	display: none;
}

main .container-main section.container-advantages .grid .promo-contain .over.ar-16-9:hover .img2 {
	width: 100%;
	height: 100%;
	display: block !important;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	object-fit: cover;
	opacity: 1.0;
}

main .container-main section.container-advantages .grid.show {
	display: none;
}

main .container-main section.container-advantages .button-more {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1.5em 0;
}

main .container-main section.container-advantages select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Some browsers will not display the caret when using calc, so we put the fallback first */
	background: url("..//img/br_down.png") white no-repeat 95% !important;
	/* !important used for overriding all other customisations */
	background: url("..//img/br_down.png") white no-repeat calc(100% - 30px) !important;
	/* Better placement regardless of input width */
}

button.btn-secondary {
	padding: 20px 40px;
}

/* RESPONSIVE
-------------------------------- */
@media only screen and (min-width: 1280px) and (max-width: 1599px) {
	/* main .container-main .first-contain .advantages.title-big .h1-big h1 {
		font-size: 96px;
	}

	main .container-main .first-contain .advantages.title-big .h1-big h1 span.h2-border {
		font-size: 96px;
		letter-spacing: -2px;
	} */

	main .container-main section.container-advantages .grid .promo-contain {
		width: calc(25% - 2em);
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1279.9px) {
	main .container-main section.container-advantages .grid {
		max-width: 100%;
	}

	/* main .container-main .first-contain .advantages.title-big .h1-big h1 {
		font-size: 80px;
	} */

	main .container-main .first-contain .advantages.title-big .h1-big h1 span.h2-border {
		/* font-size: 80px; */
		letter-spacing: -2px;
	}
}

@media only screen and (max-width: 1023.9px) {
	main.cotown .container-main .first-contain .sello-cotown {
		display: none;
	}
	main .container-main .first-contain .advantages.title-big {
		margin: 8em auto 2em;
	}
	main.cotown .container-main .first-contain .advantages.title-big {
		margin: 2em auto;
		padding-bottom: 0;
	}
	main .container-main .first-contain .img-right img {
		width: 30%;
	}
	main.cotown .container-main .first-contain .advantages.title-big .h1-big  {	
		padding: 0;
	}
	main .container-main .first-contain .advantages.title-big .h1-big h1 {
		font-size: var(--resp-title);
		line-height: 1;
		letter-spacing: -1.2px;
		width: 100%;
	}
	main.vanguard .container-main .first-contain .advantages.title-big .h1-big h1 {
		font-size: 40px;
	}
	main.cotown .container-main .first-contain .advantages.title-big .h1-big h1 {
		font-size: var(--resp-title);
		letter-spacing: -1.2px;
	}

	main .container-main .first-contain .advantages.title-big .h1-big h1 span.h2-border {
		font-size: var(--resp-title);
		line-height: 1;
		letter-spacing: 2.4px;
	}
	
	main.cotown .container-main .first-contain .advantages.title-big .h1-big h1 span.h2-border {
		line-height: 1.5;
		letter-spacing: 1px;
	}

	main.cotown .container-main .first-contain .advantages.title-big .text .feeling.cotown {
		text-align: start;
		margin-bottom: 2em;
	}
	
	main.cotown .container-main .first-contain .advantages.title-big .text .feeling.cotown h2.title-feel {
		text-align: start;		
	}	
	main.cotown .container-main .first-contain .advantages.title-big .text {
		padding-left: 0;
	}
	main.cotown .container-main .first-contain .advantages.title-big .text p {
		font-weight: var(--semibold);
	}
	main .container-main .first-contain .advantages.title-big .text p {
		font-size: var(--resp-text);
		font-weight: var(--400);
		line-height: 1.5;
	}
	main.vanguard .container-main .first-contain .advantages.title-big .text p {
		font-size: 16px;
	}
	main .container-main section.container-advantages, main.cotown .container-main section.container-advantages {
		padding: 1em 0;
	}

	main .container-main section.container-advantages .grid {
		padding: 0 0.2em;
		justify-content: flex-start;
	}

	main .container-main section.container-advantages .grid .promo {
		height: auto;
		border-radius: 8px;
		margin: 0.5em;
		padding: 1em 0.5%;
	}
	main.cotown .container-main section.banner,main .container-main section.banner.vanguard {
		margin: 0;
	}
	main .container-main section.banner h2, main .container-main section.banner.vanguard h2 {
		font-size: 30px;
		padding-top: 3px;
	}
	
}

@media only screen and (max-width: 768px) {
	main .container-main .first-contain .img-right img {
		width: 40%;
	}

	main .container-main section.container-advantages .grid .promo {
		height: auto;
		border-radius: 8px;
		margin: 0.5em;
		padding: 1em 0.2%;
	}

	main .container-main section.container-advantages .grid .promo .promo-contain .promo-title {
		font-size: 36px;
	}

	main .container-main section.container-advantages .grid .promo .promo-contain .promo-text {
		font-size: 14px;
	}

	main .container-main section.container-advantages .grid .promo-contain {
		width: calc(50% - 2em);
	}
}

@media only screen and (max-width: 599px) {
	main .container-main .first-contain .img-right {
		top: 0px;
	}
}