/* BLOG
-------------------------------- \*/
main.blog .container-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 2em;
}

main.blog .container-main .first-contain {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
}

main.blog .container-main .first-contain .bigh {
	margin-top: 1em;
}

main.blog .container-main .first-contain .bigh .head1 {
	font-family: var(--title-font);
	color: var(--black);
	font-weight: var(--400);
	font-size: var(--big-title);
	line-height: 1;	
}

main.blog .container-main .first-contain .search {
	margin: 0 0 1.5em;
}

main.blog .container-main .first-contain .search .search-form {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	gap: 2em;
}

main.blog .container-main .first-contain .search select,
main.blog .container-main .first-contain .search .search-container label {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid var(--grey-light);
	box-shadow: 0px 2.93014px 5.86028px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	padding: 8px 24px;
	background-color: var(--white);
	outline: none;
	font-family: var(--text-font);
	font-size: 22px;
	margin: 0;
	color: var(--grey-light);
}

main.blog .container-main .first-contain .search .search-container label input {
	font-size: 22px;
	font-weight: 400;
	line-height: 150%;
	color: var(--grey-light);
}

main.blog .container-main .first-contain .search select {
	padding: 12px 16px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* Some browsers will not display the caret when using calc, so we put the fallback first */
	background: url("..//img/br_down.png") white no-repeat 98.5% !important;
	/* !important used for overriding all other customisations */
	background: url("..//img/br_down.png") white no-repeat calc(100% - 10px) !important;
	/* Better placement regardless of input width */
}

/*For IE*/
select::-ms-expand {
	display: none;
}

main.blog .container-main .first-contain .search .search-container label input,
main.blog .container-main .first-contain .search .search-container label input:focus-visible {
	border: 0;
	padding: 0;
	outline-offset: 0;
	outline: -webkit-focus-ring-color auto 0px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

main.blog .container-main .first-contain .search .search-container label em.icon-search {
	font-size: 32px;
	color: var(--primary);
	margin-right: 20px;
}

main.blog .container-main .posts {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 0 2em;
}

main.blog .container-main .posts .post {
	position: relative;
	min-height: 380px;
	height: fit-content;
	background-color: var(--white);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	background-color: transparent;
}

main.blog .container-main .posts .post a {
	width: 100%;
	cursor: pointer;
	color: var(--black);
}

main.blog.vanguard .container-main .posts .post .img-container {
	position: relative;
	width: 100%;
	height: fit-content;
	min-height: 260px;
}

main.blog .container-main .posts .post img {
	width: 100%;
	object-fit: cover;
	height: 200px;
}

main.blog .container-main .posts .post .mark-content {
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
}

main.blog .container-main .posts .post .mark {
	position: absolute;
	z-index: 200;
	top: -42px;
	right: 13px;
	width: 18px;
	height: 115px;
	padding: 1em 0.2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background: var(--primary);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

main.blog .container-main .posts .post .mark .stars-container {
	width: 14px;
	height: 50px;
}

main.blog .container-main .posts .post .mark .icon-star {
	color: var(--white);
	font-size: 16px;
}

main.blog .container-main .posts .post .date {
	position: absolute;
	top: 152px;
	left: 0;
	background-color: var(--primary);
	color: var(--white);
	padding: 0 1em;
	margin: 0;
}
main.blog.vanguard .container-main .posts .post .date {
	top: 146px;
}

main.blog .container-main .posts .post .data-post {
	position: absolute;
	top: 50%;
	left: 0;
	height: 45%;
	background-color: var(--white);
	padding: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0.5em auto 1em;
	gap: 0.4em;
}

main.blog .container-main .posts .post .data-post.primary {
	background-color: var(--primary);
}

main.blog .container-main .posts .post .data-post .head1 {
	margin-bottom: 0;
	font-size: 24px;
	line-height: 25px;
}

main.blog .container-main .posts .post .data-post.primary .head1 {
	color: var(--white);
}

main.blog .container-main .posts .post .data-post .p-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 4px;

}

main.blog .container-main .posts .post .data-post p,
main.blog .container-main .posts .post .data-post a {
	border: 1px solid var(--primary);
	border-radius: 49px;
	padding: 0.2em 0.8em;
	margin: 0;
}

main.blog .container-main .posts .post .data-post.primary p,
main.blog .container-main .posts .post .data-post.primary a {
	color: var(--white);
	border: 1px solid var(--white);

}

main.blog .container-main .posts .pag {
	margin: 0 0 2em;
}

main.blog .container-main .posts .pag ul.pagination {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

main.blog .container-main .posts .pag ul.pagination li {
	display: inline;
}

main.blog .container-main .posts .pag ul.pagination li a {
	color: var(--primary);
	background-color: var(--primary-light);
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	margin: 0 8px;
}

main.blog .container-main .posts .pag ul.pagination li a.active,
main.blog .container-main .posts .pag ul.pagination li a:hover {
	color: var(--white);
	background-color: var(--primary);
	cursor: pointer;
}

main.blog .container-main .posts .pag ul.pagination li a.more {
	background-color: transparent;
	padding: 8px 0;
}

main.blog .container-main .posts .pag ul.pagination li a.arrow {
	background-color: transparent;
	font-size: 30px;
	margin: 0;
	padding: 8px 0;
}

main.blog .container-main .posts .pag ul.pagination li a.arrow:hover {
	color: var(--primary);
}

main.blog .container-main .posts .pag ul.pagination li a.arrow.disable {
	color: var(--grey-light);
}

/* COTOWN BLOG NEW */

main.blog.cotown .container-main .first-contain .bigh .head1 {
	font-family: var(--text-font);
	color: var(--black);
	font-weight: var(--regular);
	font-size: var(--big-title);
	line-height: 1;	
}

main.blog.cotown .container-main .first-contain .search select,
main.blog.cotown .container-main .first-contain .search .search-container label {
	border: 0;
	border-bottom: 1px solid var(--black);
	box-shadow: none;
	border-radius: 0;
	padding: 12px 0 12px 0;
	background-color: transparent;
	color: var(--black);
	font-size: var(--text);
}

main.blog.cotown .container-main .posts {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 2em;
	background-color: var(--new-bg);
	padding: 2em 4em;
	width: 100%;
}
main.blog.cotown .container-main .posts .inner-post.cotown{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: calc(100% - 8em);
	margin: 0 auto;
}
main.blog.vanguard .container-main .posts .inside-post.vanguard {
	padding:0;
	margin:5px;
}
main.blog.cotown .container-main .posts .inner-post.cotown .inside-post {
	padding:0;
	margin:5px 5px 10px;
	width: calc(100% - 10px);
}
main.blog.cotown .container-main .posts .post {
	position: relative;
	min-height: fit-content;
	height: fit-content;
	background-color: var(--new-bg);
	box-shadow: none;
	overflow: hidden;
	padding-top: 20px;
	width: 100%;
}

main.blog.cotown .container-main .posts .post.primary {	
	background-color: var(--white);	
}

main.blog.cotown .container-main .posts .post a {
	width: 100%;
	cursor: pointer;
	color: var(--black);
	position: relative;
}

main.blog.cotown .container-main .posts .post .img-container {
	width: 100%;
	height: fit-content;
}

main.blog.cotown .container-main .posts .post img {
	width: 100%;
	object-fit: cover;
	height: 240px;
}

main.blog.cotown .container-main .posts .post .mark-content {
	/* position: relative;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center; */
	display: none;
}

main.blog.cotown .container-main .posts .post .mark {
	position: absolute;
	z-index: 200;
	top: -42px;
	right: 13px;
	width: 18px;
	height: 115px;
	padding: 1em 0.2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background: var(--primary);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

main.blog.cotown .container-main .posts .post .mark .stars-container {
	width: 14px;
	height: 50px;
}

main.blog.cotown .container-main .posts .post .mark .icon-star {
	color: var(--white);
	font-size: 16px;
}

main.blog.cotown .container-main .posts .post .date {
	position: absolute;
	top: -2.2em;
	left: 0.5em;
	background-color: transparent;
	color: var(--primary);
	padding: 0;
	margin: 0;
}

main.blog.cotown .container-main .posts .post .data-post {   
	position: relative;
	width: 100%;
	height: 116px;
	background-color: var(--new-bg);
	padding: 1em 0.1em 0;
	display: flex;
	flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
	margin: 0;
	gap: 0.4em;
}

main.blog.cotown .container-main .posts .post .data-post.primary {
	background-color: var(--white);
	color: var(--black);
}

main.blog.cotown .container-main .posts .post .data-post .head1 {
	font-size: var(--text-title);
	font-family: var(--text-font);
	margin-bottom: 0;
	line-height: 25px;
	width: 100%;
}

main.blog.cotown .container-main .posts .post .data-post.primary .head1 {
	color: var(--black);
}

main.blog.cotown .container-main .posts .post .data-post .p-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 4px;
	padding-bottom: 1em;
}

main.blog.cotown .container-main .posts .post .data-post p,
main.blog.cotown .container-main .posts .post .data-post a {
	border: none;
	border-radius: 0;
	padding: 0.2em 0.8em 0.2em 0;
	margin: 0;
	color: var(--primary-old);
}

main.blog.cotown .container-main .posts .post .data-post.primary p,
main.blog.cotown .container-main .posts .post .data-post.primary a {
	color: var(--primary-old);
	border: none;

}

/* ___________________________________  */


/* POST
-------------------------------- \*/
main.post-page .container-main .post-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

main.post-page .container-main .post-content .head1 {
	font-weight: 400;
	font-size: 64px;
	line-height: 100%;
	text-align: center;
}

main.post-page.vanguard .container-main .post-content img {
	width: 100%;
	max-width: 1024px;
	margin-bottom: 2em;
}

main.post-page.cotown .container-main .post-content img {
	width: 100%;
	margin-bottom: 2em;
}

main.post-page .container-main .post-content .other {
	max-width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main.post-page .container-main .post-content .text .text-content .head1 {
	font-family: var(--title-font);
	font-size: var(--big-title);
	font-weight: var(--semibold);
	line-height: 1.1;
	text-align: center;
}
main.post-page .container-main .post-content .text .text-content .head2 {
	font-size: var(--title);
	font-weight: var(--semibold);
	line-height: 1.1;
	text-align: left;
}
main.post-page .container-main .post-content .text .text-content .head3 {
	font-size: var(--big-subtitle);
	font-weight: var(--semibold);
	line-height: 1.1;
	text-align: left;
}
main.post-page .container-main .post-content .text .text-content .head4 {
	font-size: var(--subtitle);
	font-weight: var(--semibold);
	line-height: 1.1;
	text-align: left;
}

main.post-page .container-main .post-content .text .text-content p,
main.post-page .container-main .post-content .text .text-content strong,
main.post-page .container-main .post-content .text .text-content a,
main.post-page .container-main .post-content .text .text-content ul li,
main.post-page .container-main .post-content .text .text-content ol li {
	line-height: 1.5;
}

main.post-page .container-main .post-content .text .text-content a {
	color: var(--primary-old);
	text-decoration: underline;
	font-size: var(--mini-title)
}

main.post-page .container-main .post-content .text .text-content ul li,
main.post-page .container-main .post-content .text .text-content ol li {
	padding-left: 12px;
}

main.post-page .container-main .post-content .text .text-content ul li::marker {
	content: "·";
}

main.post-page .container-main .post-content .text .text-content p strong {
	font-weight: var(--bold);
}

main.post-page .container-main .post-content .text .text-content p em {
	font-size: var(--mini-title);
}

main.post-page .container-main .like-content {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 0 0 4em;
}

main.post-page .container-main .like-content .like {
	background-color: var(--primary);
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 2em;
	gap: 1em;
}

main.post-page .container-main .like-content .like .text {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
}

main.post-page .container-main .like-content .like .text .head3 {
	font-weight: 400;
	font-size: 32px;
	line-height: 100%;
	color: var(--white);
	margin: 0;
}

main.post-page .container-main .like-content .like .text p {
	color: var(--white);
	margin: 0;
	font-size: var(--text-title);
}

main.post-page .container-main .like-content .like .redes {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

main.post-page .container-main .like-content .like .redes a {
	width: 25%;
}

main.post-page .container-main .like-content .like .redes a em {
	color: var(--white);
	font-size: var(--subtitle);
}

/* COTOWN POST NEW */

main.post-page.cotown .container-main .post-content .first-contain {
	position: relative;
}
main.post-page.cotown .container-main .post-content .first-contain .title-big {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--box-bg);
	padding: 2em;
}
main.post-page.cotown .container-main .post-content .first-contain .title-big .green-title.cotown {
	text-align: end;
}
main.post-page.cotown .container-main .post-content .first-contain .title-big .bigh .head1 {
	text-align: start;
	font-family: var(--text-font);
	color: var(--black);
	font-weight: var(--semibold);
	font-size: var(--big-subtitle);
	line-height: 1.2;
	width: 100%;
}
main.post-page.cotown .container-main .post-content .first-contain .title-big .green-title.cotown .head2.title {
	text-align: end;
	font-size: var(--text-title);
	color: var(--primary-old);
	font-weight: var(--semibold);
}
main.post-page.cotown .container-main .post-content .first-contain .title-big .title p.subtitle {
	font-size: var(--text);
}
main.post-page.cotown .container-main .post-content .text .text-content .head1 {
	margin: 1em 0;
	font-family: var(--text-font);
	text-align: left;
}
main.post-page.cotown .container-main .post-content .other {
	width: 66%;
	max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main.post-page.cotown .container-main .like-content {
	margin: 2em 0 0;
}
main.post-page.cotown .container-main .like-content .like {
	justify-content: space-between;
	background-color: var(--new-bg);
	padding: 2em 6em;
}
main.post-page.cotown .container-main .like-content .like .text .head3,
main.post-page .container-main .like-content .like .text p {
	color: var(--black);
}
main.post-page.cotown .container-main .like-content .like .text .head3 {
	font-size: var(--title);
	font-weight: var(--semibold);
}
main.post-page.cotown .container-main .like-content .like .text p {
	font-size: var(--title);
}
main.post-page.cotown .container-main .like-content .like .redes {
	justify-content: flex-end;
}
main.post-page.cotown .container-main .like-content .like .redes a {
	width: 50px;
}
main.post-page.cotown .container-main .like-content .like .redes a em {
	color: var(--primary-old);
	font-size: var(--icon-redes);
	align-items: flex-end;
	text-align: end;
}
main.post-page.cotown .container-main .post-content .text .text-content p,
main.post-page.cotown .container-main .post-content .text .text-content strong {
	font-size: var(--mini-title);
}

main.post-page.vanguard .container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
}
main.post-page.vanguard .container-main .post-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
}
main.post-page.vanguard .container-main .post-content .text .text-content .head2, 
main.post-page.vanguard .container-main .post-content .text .text-content .head3{
	font-family: var(--title-font);
	font-weight: var(--400);
	line-height: 1.1;
}

main.post-page.vanguard .container-main .like-content .like .text .head3 {
	font-family: var(--title-font);
	font-weight: var(--400);
}
main.post-page.vanguard .container-main .like-content .like .text p {
    color: var(--white);
    margin: 0;
    font-size: 20px;
}
main.post-page.vanguard .container-main .post-content .text .text-content p, 
main.post-page.vanguard .container-main .post-content .text .text-content a, 
main.post-page.vanguard .container-main .post-content .text .text-content ul li, 
main.post-page.vanguard .container-main .post-content .text .text-content ol li {
		font-size: 22px;
    	line-height: 1.5;
}

/* COTOWN POST END
-------------------------------- \*/


/* RESPONSIVE \*/
@media only screen and (min-width: 1600px) {
	main.blog.vanguard .container-main .first-contain .bigh .head1 {
		font-size: 76px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -1.2px;
	}
}

@media only screen and (max-width: 1279.9px) {
	main.blog .container-main .posts .post .data-post {
		position: absolute;
		left: 0;
		height: 50%;
		background-color: var(--white);
		padding: 1em;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0.5em auto 1em;
		gap: 0.4em;
	}
	main.blog.cotown .container-main .posts .post .data-post {
		padding: 0.2em 0.1em 0;
	}
	main.blog.cotown .container-main .posts .post .data-post .head1 {
		font-size: var(--mini-title);
		line-height: 1.2;
	}
}

@media only screen and (max-width: 1023.9px) {

	main.blog .container-main {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: 0 1em;
	}

	main.blog .container-main .first-contain {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding-left: 1em;
		margin: 0;
	}

	main.blog .container-main .first-contain .bigh .head1 {
		font-size: 40px;
		line-height: 100%;
	}

	main.blog .container-main .first-contain .search {
		margin: 0 0 1em;
	}

	main.blog.vanguard .container-main .first-contain .search select {
		display: none;
	}

	main.blog .container-main .first-contain .search .search-container label {
		padding: 8px 14px;
	}

	main.blog .container-main .first-contain .search .search-container label input {
		font-size: 16px;
	}

	main.blog .container-main .first-contain .search .search-container label em.icon-search {
		font-size: 22px;
		margin-right: 12px;
	}

	main.blog .container-main .posts .post {
		border-radius: 16px;
		filter: drop-shadow(0px 20px 30px rgba(22, 22, 22, 0.06));
	}

	main.blog .container-main .posts .post .data-post {
		position: absolute;
		top: 50%;
		left: 0;
		height: 50%;
		background-color: var(--white);
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0.5em auto 1em;
		gap: 0.4em;
		width: 100%;
		border-radius: 0 0 16px 16px;
	}
	main.blog.vanguard .container-main .posts .post .data-post {		
		height: 48%;
		padding: 0;		
	}

	main.blog .container-main .posts .post .data-post.primary {
		box-shadow: none;
	}

	main.blog.vanguard .container-main .posts .post .img-container {
		height: 100%;
		min-height: 400px;
	}

	main.blog .container-main .posts .post .date {
		top: 38%;
	}
	main.blog.vanguard .container-main .posts .post .date {
		top: 156px;
	}
	main.blog .container-main .posts .post .data-post .head1,
	main.blog .container-main .posts .post .data-post .p-container {
		padding: 3% 4% 0;
	}

	main.blog.cotown .container-main .posts .post .data-post .head1 {
		padding: 0;
		font-size: var(--resp-mini-title);
	}

	/* __________________________ POST  ___________________________\*/

	main.post-page.vanguard .container-main {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin: 0 1em;
	}
	main.post-page.vanguard .container-main .post-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		margin: 6em auto;
	}
	main.post-page.vanguard .container-main .post-content .head1 {
		font-weight: 400;
		font-size: 32px;
		line-height: 110%;
		text-align: left;
		margin-bottom: 1em;
	}
	main.post-page.vanguard .container-main .post-content .text .text-content .head2, 
	main.post-page.vanguard .container-main .post-content .text .text-content .head3 {
		font-size: 25px;
	}

	main.post-page.vanguard .container-main .post-content .text .text-content p, 
	main.post-page.vanguard .container-main .post-content .text .text-content a, 
	main.post-page.vanguard .container-main .post-content .text .text-content ul li, 
	main.post-page.vanguard .container-main .post-content .text .text-content ol li {
		font-size: 16px;
	}



	main.post-page .container-main .post-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		margin: 0 auto;
	}

	main.post-page .container-main .post-content .head1 {
		font-size: var(--resp-big-subtitle);
	}

	main.post-page .container-main .post-content .text .text-content .head2,
	main.post-page .container-main .post-content .text .text-content .head3 {
		font-size: var(--resp-title);
	}

	main.post-page .container-main .post-content .text .text-content p,
	main.post-page .container-main .post-content .text .text-content a,
	main.post-page .container-main .post-content .text .text-content ul li,
	main.post-page .container-main .post-content .text .text-content ol li {
		font-size: var(--resp-mini-title)
	}

	main.post-page .container-main .post-content .text .text-content ul li {
		padding-left: 12px;
	}

	main.post-page .container-main .post-content .text .text-content p strong,
	main.post-page .container-main .post-content .text .text-content p em {
		font-size: var(--resp-mini-title);
	}

	main.post-page .container-main .like-content {
		margin: 0;
	}

	main.post-page .container-main .like-content .like {
		align-items: center;
		justify-content: center;
	}

	main.post-page .container-main .like-content .like .text {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	main.post-page .container-main .like-content .like .text .head3 {
		font-weight: 400;
		font-size: 35.4257px;
		line-height: 36px;
	}

	main.post-page .container-main .like-content .like .redes a {
		text-align: center;
	}

	main.post-page .container-main .like-content .like .redes a em {
		font-size: 25px;
	}

	/* COTOWN BLOG NEW */
	main.blog.cotown {
		margin: 0;
		padding: 0;
	}
	main.blog.cotown .container-main {		
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	main.blog.cotown .container-main .first-contain {
		display: flex;
		flex-flow: column;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	main.blog.cotown .container-main .first-contain .bigh {
		padding: 0 1em;
		width: calc(100% - 2em);
	}
	main.blog.cotown .container-main .first-contain .bigh .head1 {
		font-size: var(--resp-title);
		text-transform: uppercase;
		line-height: 1;
	}

	main.blog.cotown .container-main .first-contain .search {
		margin: 0 auto 1em;
		padding: 0;
		width: calc(100% - 2em);
	}

	main.blog.cotown .container-main .first-contain .search select, 
	main.blog.cotown .container-main .first-contain .search .search-container label {
		width: 100%;
	}

	main.blog.cotown .container-main .posts {
		padding: 2em 0;
		width: 100%;
		margin: 0;
	}

	main.blog.cotown .container-main .posts .inner-post.cotown {
		width: calc(100% - 2em);
		margin: 0;
		padding: 0;
	}

	main.blog.cotown .container-main .posts .post {
		border-radius: 0;
		filter: none;
		margin-bottom: 1em;
	}
	/* main.blog.cotown .container-main .posts .post .data-post {
		width: calc(100% - 2em);
	} */
	main.blog.cotown .container-main .posts .post .data-post {   
		height: fit-content;
		min-height: 76px;
	}
	main.blog.cotown .container-main .posts .post .data-post .p-container {
		padding: 0 0 1em 0;
		margin: 0;
	}



	/* COTOWN POST NEW */
	main.post-page.cotown .container-main .post-content .first-contain .title-big {
		padding: 1em;
	}
	main.post-page.cotown .container-main .post-content .first-contain .title-big .green-title.cotown .head2.title {
		font-size: var(--resp-text-title);
	}
	main.post-page.cotown .container-main .post-content .first-contain .title-big .bigh .head1 {
		font-size: var(--resp-big-subtitle);
		margin-bottom: 0;
	}
	main.post-page.cotown .container-main .post-content .first-contain .title-big .title p.subtitle {
		font-size: var(--resp-text);
	}
	main.post-page.cotown .container-main .post-content .text {
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
	}
	main.post-page.cotown .container-main .post-content .text .text-content .head1 {
		margin: 1em 0;
		font-size: var(--resp-title);
	}
	main.post-page.cotown .container-main .post-content .text .text-content .head2, 	main.post-page.cotown .container-main .post-content .text .text-content .head3 {
		font-size: var(--resp-subtitle);
	}
	main.post-page.cotown .container-main .post-content .text .text-content p,
	main.post-page.cotown .container-main .post-content .text .text-content strong {
			font-size: var(--text);
	}
	main.post-page.cotown .container-main .post-content .text .text-content ul {
		padding-inline-start: 10px;
	}
	main.post-page .container-main .post-content .text .text-content ul li {
		padding-left: 4px;
	}
	main.post-page.cotown .container-main .post-content .other {
		width: 100%;
		max-width: 640px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	main.post-page.cotown .container-main .like-content {
		margin: 2em 0 0;
	}
	main.post-page.cotown .container-main .like-content .like {
		justify-content: space-between;
		background-color: var(--new-bg);
		padding: 2em 6em;
	}
	main.post-page.cotown .container-main .like-content .like .text .head3,
	main.post-page .container-main .like-content .like .text p {
		color: var(--black);
	}
	main.post-page.cotown .container-main .like-content .like .text .head3 {
		font-size: var(--resp-title);
		font-weight: var(--semibold);
	}
	main.post-page.cotown .container-main .like-content .like .text p {
		font-size: var(--resp-title);
	}
	main.post-page.cotown .container-main .like-content .like .redes {
		justify-content: flex-end;
	}
	main.post-page.cotown .container-main .like-content .like .redes a {
		width: 50px;
	}
	main.post-page.cotown .container-main .like-content .like .redes a em {
		color: var(--primary-old);
		font-size: var(--icon-redes);
		align-items: flex-end;
		text-align: end;
	}

	/* COTOWN POST END
	-------------------------------- \*/



}

@media only screen and (max-width: 768px) {
	main.blog .container-main .posts .post .data-post {
		top: 50%;
		height: 50%;
	}

	main.blog .container-main .posts .post .date {
		top: 40%;
	}
}

.ql-align-center {
	text-align: center;
}
.ql-align-right {
	text-align: right;
}
.ql-align-justify {
	text-align: justify;
}

pre.ql-syntax {
	background-color: #23241f;
	color: #f8f8f2;
	overflow: visible;
	padding: 10px 10px;
}

blockquote {
	border-left: 4px solid #ccc;
	margin-left: 0;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 16px;
}

.ql-indent-1 {
	margin-left: 2em;
}
.ql-indent-2 {
	margin-left: 4em;
}
.ql-indent-3 {
	margin-left: 6em;
}

ol {
    list-style: none;
}
ol li {
	counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
	counter-increment: list-0;
}
ol li:before {
	content: counter(list-0, decimal) '. ';
}
ol li.ql-indent-1 {
	padding-left: 2em;
	counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
	counter-increment: list-1;
}
ol li.ql-indent-1:before {
	content: counter(list-1, lower-alpha) '. ';
}
ol li.ql-indent-2 {
	padding-left: 4em;
	counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
	counter-increment: list-2;
}
ol li.ql-indent-2:before {
	content: counter(list-2, lower-roman) '. ';
}

ul li.ql-indent-1 {
	padding-left: 2em;
}
ul li.ql-indent-2 {
	padding-left: 4em;
}
ul li.ql-indent-3 {
	padding-left: 6em;
}