/* CONTACTO
-------------------------------- */

.first-contact {
	background-color: var(--primary);
	height: 8em;
}

.first-contact h1 {
	color: var(--white);
	padding: 0.2em 0.8em 0;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 76px;
	line-height: 1.4em;
}
.contact.vanguard .first-contact h1 {
	font-family: var(--title-font);
}
.contact.cotown .first-contact h1 {
	font-family: var(--text-font);
}

.contact-main h2 {
	padding: 1em 1.5em 0;
	font-weight: 400;
	font-size: 46px;
	line-height: 100%;
}
.contact.vanguard .contact-main h2 {
	font-family: var(--title-font);
}
.contact.cotown .contact-main h2 {
	font-family: var(--text-font);
}

.contact-main .img-content {
	border-bottom: 1px solid var(--grey-light);
	padding: 2em 0;
}

.contact-main .img-content:last-child {
	border-bottom: 0px solid var(--grey-light);
}

.contact-main .img-content .contact-content {
	align-items: flex-start;
}

.contact-main .img-content .contact-content .text-location {
	padding-top: 2em;
}

.contact-main .img-content .contact-content .img-city {
	color: var(--primary-light);
}

.contact-main .img-content .contact-content .text-location h3 {
	font-weight: 800;
	font-size: 36px;
	line-height: 140%;
}

.contact-main .img-content .contact-content .text-location p {
	font-weight: 500;
	font-size: 24px;
	line-height: 130%;
}
.contact.vanguard .img-content .contact-content .text-location h3 {
	font-family: var(--title-font);
}
.contact.cotown .img-content .contact-content .text-location h3 {
	font-family: var(--text-font);
}
.contact-main .img-content .contact-content .text-location p em::before {
	vertical-align: bottom;
}

.contact-main .img-content .contact-content .text-location p span a {
	text-decoration: 1px underline;
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	color: var(--black);
}







.office {
	position: relative;
	left: -150px;
	width: 400px;
	height: 400px;
	overflow: hidden;
	z-index: -9999;
}

.svg_base {
	fill: #e0e0e0 !important;
}



@media only screen and (min-width: 1600px) {
/* .contact-main h2 {
		font-size: 64px;
	}

	.contact-main .img-content .contact-content .text-location h3 {
		font-size: 40px;
	}

	.contact-main .img-content .contact-content .text-location p {
		font-size: 30px;
	}

	.contact-main .img-content .contact-content .text-location p span a {
		font-size: 30px;
	} */
}

@media only screen and (max-width: 1023.99px) {

	/* CONTACTO TABLET Y MOBILE  ___________________________\*/
	.first-contact {
		height: 4.5em;
	}

	.first-contact h1 {
		color: var(--white);
		padding: 0.2em 0.2em 0;
		font-weight: 400;
		font-size: 40px;
		line-height: 1.5em;
	}

	.contact-main h2 {
		padding: 1em 0 0 0.5em;
		font-size: 32px;
		line-height: 100%;
		text-align: left;
	}

	.contact-main .img-content {
		padding: 0 0 1em;
		margin: 0 1em;
	}

	.contact-main .contact-content .text-location {
		padding-top: 0;
	}

	.contact-main .img-content .img-city {
		display: none;
	}

	.contact-main .img-content .contact-content .text-location h3 {
		font-size: 24px;
	}

	.contact-main .img-content .contact-content .text-location p {
		font-size: var(--mini-title);
	}

	.contact-main .img-content .contact-content .text-location p span {
		font-size: var(--mini-title);
		font-weight: bold;
		text-decoration-line: underline;
	}

	.contact-main .img-content .contact-content .text-location p span a {
		font-weight: bold;
		text-decoration-line: underline;
		font-size: var(--mini-title);
	}
}