/* LOCALIZACIONES 
-------------------------------- */

.locations  {
    width: 100%;
}
.locations .container-main .all-locations {    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}
.locations .container-main .all-locations .locations-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: var(--align-title);
  align-items: flex-start;
  padding: 40px 2em 2em 4em;
}
.locations .container-main .all-locations .locations-container .text-container h1.title-where {
  font-family: var(--title-font);
  font-size: var(--big-title);
  font-weight: var(--400);
  margin: 0 0 0.3em;
  text-align: var(--align-title);
}

.locations .container-main .all-locations .locations-container .locations-list {
  padding: 0;
}
.locations .container-main .all-locations .locations-container .locations-list .list-container .location .img-text {
  width: 66%!important;
  margin: 0 2em 0 0;
}
.locations .container-main .all-locations .locations-container .locations-list .list-container .location .img-text .text-content {
  width: calc(100% - 200px)!important;
}
.locations .container-main .all-locations .locations-container .locations-list .list-container .location .types {
  width: 30%!important;
} 
.locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a .label-content {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: var(--semibold);
  margin-top: 16px;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4%;
}

/* SOLO VANGUARD */

.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: flex-start;
  width: 100%; 
  margin: 0 0 20px;
  position: relative;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .text-content h2.location-title {
  font-family: var(--title-font);
  font-size: var(--title);
  font-weight: var(--400);
  line-height: 1.2;
  letter-spacing: -0.6px;
  margin: 20px 0 0;
  text-align: start;
  text-transform: uppercase;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .text-content p {
  font-size: var(--text);
  font-weight: var(--400);
  line-height: 1.2; 
  margin: 0;
  padding-right: 20px;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--grey-light);
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container:last-child {
  border-bottom: 0px;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .img-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;
  margin: 0;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .img-text .img-cont {   
  width: fit-content;
  margin-right: 24px;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .img-text .img-cont .img {
  border-radius: var(--radius-2);
  overflow: hidden;
  width: 240px;
  max-height: 240px;
  object-fit: cover;
  object-position: center center;  
}

.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .text-content a {
  color: var(--black);
  text-decoration: none;
}

/* .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4%;
} */
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list a {
  position: relative;
  display: inline-block;
  padding: 0;
  outline: 1px solid var(--grey-light);
  border-radius: var(--slider-cards-small);
  cursor: pointer;
  max-width: 156px;
  min-width: 136px;
  width: 28%;
  max-height: 156px;
  height: auto;
  margin: 0 0 10px;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list a:last-child {
  margin-right: 20px;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list a:checked, .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list a:hover {
  outline: 2px solid var(--primary);
  background-color: var(--location-label-bg);
  color: var(--black);
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list a img.img {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 24px;
}
/* .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list a .label-content {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  margin-top: 16px;
} */
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list a .label-content img.icon {
  width: 60px;
}
.locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list a .label-content p {
  font-size: 16px;
  text-align: center;
  margin: 0 8px 16px;
}


/* COTOWN NEW */

.locations .container-main .all-locations .locations-container .text-container.cotown h1.title-where {
  font-family: var(--text-font);
  font-size: var(--big-title);
  font-weight: var(--semibold);
  margin: 0 0 0.3em;
  text-align: var(--align-title);
}
  /* SOLO COTOWN */
.locations .container-main .all-locations.cotown .locations-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: var(--align-title);
  align-items: flex-start;
  padding: 40px 0 0;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list {
  background-color: var(--new-bg);
  padding: 40px 2em 2em 4em;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: flex-start;
  width: 100%; 
  margin: 0;
  position: relative;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: flex-start;
  width: 100%; 
  border: none;
  padding-bottom: 2em;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location:last-of-type {
margin-bottom: 0;
padding-bottom: 0;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .text-content.cotown h2.location-title {
  font-family: var(--text-font);
  font-size: var(--subtitle);
  font-weight: var(--400);
  line-height: 1.2;
  letter-spacing: -0.6px;
  margin: 0 0 16px 0;
  text-align: start;
  text-transform: none;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .text-content p {
  font-size: var(--text);
  font-weight: var(--regular);
  line-height: 1.5; 
  margin: 0;
  padding-right: 20px;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .img-text .img-cont {   
  width: 25%;
  margin-right: 24px;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .img-text .img-cont .img {
  border-radius: var(--radius-2);
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;  
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .img img {  
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .text-content {
  padding-top: 0;
  width: calc(75% - 24px) !important;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .text-content h2 {
  font-weight: var(--regular);
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types .type-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4%;
  margin-left: 3em;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types .type-list a {
  position: relative;
  display: inline-block;
  padding: 0;
  outline: 0px;
  cursor: pointer;
  max-width: 156px;
  width: 28%;
  max-height: 156px;
  height: auto;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types .type-list a .label-content .mini-border {
  width: 20px;
  height: 1px;
  margin: 0.5em auto 0.8em;
  background-color: var(--primary-old);
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types .type-list a img.img {
  display: none;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types .type-list a .label-content img.icon {
  width: 64px;
}
.locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types .type-list a .label-content p {
 text-align: center;
 margin-top: 0;
 text-transform: uppercase;
 font-weight: var(--regular);
 font-size: var(--resp-text);
}


/* RESPONSIVE
-------------------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1279.99px) {
  .locations .container-main .all-locations .locations-container {    
    padding: 40px 2em 2em 2em;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .text-content h2.location-title {  
    font-size: var(--resp-title);
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .text-content p {
    padding-right: 24px;
  }
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list a {
    width: 38%;
    margin-bottom: 4%;
  }
  
  /* COTOWN NEW */
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types .type-list a {
    width: 38%;
    margin-bottom: 4%;
  }
}


/* TABLET */
@media only screen and (max-width: 1023.9px) {

  .locations .container-main .all-locations {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .locations .container-main .all-locations .locations-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 1em 2em 2em;
  } 
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .text-content h2.location-title {
    font-size: var(--resp-subtitle);
    margin-top: 0.5em;
  }  
  .locations .container-main .all-locations .locations-container .text-container h1.title-where {
    font-size: var(--resp-title);
    line-height: 1;
    margin: 1em 0 0.5em 0;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .img-text {
    width: 60%!important;
    margin: 0;
    flex-flow: row wrap;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .img-text .img-cont .img {
    width: 100%;
    height: auto;
  }
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .img-text .img-cont .img {
    border-radius: var(--radius-2);
    overflow: hidden;
    width: 170px;
    max-height: 170px;
    object-fit: cover;
    object-position: center center;  
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .text-content p {
  font-size: var(--resp-text);
  }
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types {
    width: 40%!important;
  }
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types .type-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .text-content h2.location-title {
    font-size: var(--resp-subtitle);
    font-weight: var(--semibold);
    text-align: start;
    margin: 16px 0 12px;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a {
    width: 33%!important;
    margin-bottom: 1em;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a .label-content img.icon {
    width: 46px;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a .label-content p {
    font-size: var(--resp-text);
  }


  /* COTOWN NEW */

  .locations .container-main .all-locations.cotown .locations-container .locations-list {
    background-color: var(--new-bg);
    padding: 1em 2em 2em;
  }
  .locations .container-main .all-locations.cotown .locations-container, .locations .container-main .all-locations.cotown .locations-container .text-container.cotown {
    background-color: var(--new-bg);
  } 
  .locations .container-main .all-locations.cotown .locations-container .text-container.cotown h1.title-where {
    font-family: var(--text-font);
    font-size: var(--resp-title);
    font-weight: var(--semibold);
    margin: 0 0 0.3em 1em;
    text-align: start;
  }
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .img-text {
    width: 100%!important;
    margin: 0;
    flex-flow: row wrap;
  }
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .img-text .img-cont .img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .img-text .img-cont {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .text-content {
    padding-top: 0;
    width: 100%!important;
  }
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types .type-list {
    margin-left: 0;
    justify-content: space-evenly;
  }
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types {
    width: 100% !important;
  }
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .text-content.cotown h2.location-title {
    font-size: var(--resp-subtitle);
    margin: 16px 0;
  }
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .text-content p {
    padding-right: 0px;
    line-height: 1.4;
  }
  .locations .container-main .all-locations.cotown .locations-container .locations-list .list-container .location .types .type-list a {
    width: 48%!important;
    margin-bottom: 1em;
  }
}

/* MOVIL*/
@media only screen and (max-width: 767.99px) {
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .img-text {
    width: 100%!important;
    margin: 0;
    flex-flow: row wrap;
  }
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .img-text .text-content {
    margin-bottom: 1em;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .img-text .img-cont .img img {
    width: 100%;
    height: auto;
  }
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .types {
    width: 100%!important;
  }
  /* .locations .container-main .all-locations .locations-container .locations-list .list-container .location .img-text .img-cont .img {    
    width: 120px;
    height: 120px;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .text-content h2.location-title {
    font-size: 18px;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .text-content p {
    font-size: 18px;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a img.img {
    width: 16px;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a .label-content {
    margin-top: 14px;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a .label-content img.icon {
    width: 46px;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a .label-content p {
    font-size: 16px;
    margin: 0 0 12px;
  } 
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a {    
    max-width: 110px;
    max-height: 110px;
    min-width: 96px;
    min-height: 96px;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .types .type-list a:hover {    
    min-width: 92px;
    min-height: 92px;
  }*/
}
/* MOVIL XS*/

@media only screen and (max-width: 399.99px) {
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .img-text {
    flex-flow: column;
  }
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .img-text .img-cont {
    width: 100%;
    margin: 0;
  }
  .locations .container-main .all-locations.vanguard .locations-container .locations-list .list-container .location .img-text .img-cont .img {
    width: 100%;
    max-height: auto;
  }
  .locations .container-main .all-locations .locations-container .locations-list .list-container .location .img-text .text-content {
    width: 100%!important;
  }
}