.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first .first-contain {
  box-shadow: 0px 20px 30px rgba(22, 22, 22, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first .first-contain .first-slider {
  position: relative;
}
.first .first-contain .first-slider .title-button {
  position: absolute;
  z-index: 2;
  text-align: center;  
  top: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first .first-contain .first-slider .title-button h1 { 
  text-align: center;  
  width: 100%;
  font-size: 120px;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
  color: var(--white);
}
.first .first-contain .first-slider .title-button button.btn-secondary {  
  text-align: center;
  height: 36px;
}
.first .first-contain .first-slider .splide__slide {
  max-height: 70vh;
  object-fit: cover;
}
.first .first-contain .first-slider .splide__slide img {
  width: 100%;
  height: 560px;
}
.first .first-contain .first-slider .splide__arrow--prev {
  left: 38%;
  top: 90%;
}
.first .first-contain .first-slider .splide__arrow--next {
  right: 38%;
  top: 90%;
}
.first .first-contain .first-slider .splide__pagination {
  bottom: 17%;
}
.first .first-contain .first-slider .splide__pagination .splide__pagination__page {
  width: 10px;
  height: 10px;
}
.first .first-contain .after-slide {
  background-color: var(--primary-light);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: top;
}
.first .first-contain .after-slide.bottom {
  align-items: start;
  padding: 1em 0;
  background-color: var(--grey-background);
	min-height: 70px;
}
.first .first-contain .text-first {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: top;
  margin: 0 0 0 4em;
  padding: 1em 0 0;
}
.first .first-contain .text-first p {
  font-size: 18px;
  line-height: 1.5;
}
.first .first-contain .flat-services {
  text-align: center;
  padding: 2em;
}
.first .first-contain .flat-services .splide-services {
  margin: 0 0 2em;
}
.first .first-contain .flat-services .splide-services .splide__list .splide__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first .first-contain .flat-services .splide-services .splide__list .splide__slide .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.first .first-contain .flat-services .splide-services .splide__list .splide__slide .slide .img {
  width: 50px;
}
.first .first-contain .flat-services .splide-services .splide__list .splide__slide .slide p {
  font-size: 16px;
  text-align: center;
	min-height: 55px;
}
.first .first-contain .right-calendar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2em;
}

/* RESERVAS */
.first .first-contain .right-calendar .calendar {
  margin: 0;
  width: 100%;
}
.first .first-contain .right-calendar .calendar .reservas {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.first .first-contain .right-calendar .calendar .reservas .button-calendar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  background-color: #fcfcfc;
  border: 1.5px solid var(--grey-light);
  box-sizing: border-box;
  border-radius: var(--radius-2);
  padding: 16px;
  cursor: pointer;
}
.first .first-contain .right-calendar .calendar .reservas .button-calendar p.label {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: start;
  margin: 0;
}
.first .first-contain .right-calendar .calendar .reservas .button-calendar p.dates {	
  height: 18px;
  text-align: start;
  font-size: 18px;
  background-color: transparent;
  border: none;
  margin: 10px 0 0;
}
.first .first-contain .right-calendar .calendar .reservas .button-calendar .checkout {	
  box-sizing: border-box;
  border-left: 1.5px solid var(--grey-dark);
  padding-left: 20px;
}

.text-red {
  display: flex;
  flex-flow: row;
  width: 100%;
  padding-right: 1em;
}
.text-red p {
  font-weight: 500 !important;
  font-size: 16px !important;
  color: var(--red-error-dark);
  letter-spacing: 0.125em;
  margin: 0;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- ROOMS ---------- \*/
.flat.vanguard h2 {
  font-family: var(--title-font);
  font-weight: var(--400);
}
.rooms .all-rooms {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--grey-light-background);
  box-shadow: 0px 20px 30px rgba(22, 22, 22, 0.06);
}
.rooms .all-rooms .title h2 {
  margin-top: 2rem;
}
.rooms .all-rooms .card-room {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: flex-start;
  padding: 1em 0;
  margin: 0 auto 2em;
}
.rooms .all-rooms .card-room .left-carousel {
  margin-right: 4em;
}
.rooms .all-rooms .card-room .left-carousel p {
  margin: 5px 15px;
}
.left-carousel #main-carousel .splide__pagination {
  bottom: 4em;
}
.left-carousel #main-carousel .splide__pagination .splide__pagination__page {
  width: 10px;
  height: 10px;
}

.right-data {
  gap: 2em;
}
.right-data .title-favorite {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.right-data .title-favorite p {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
.right-data .title-favorite em {
  font-size: 18px;
  cursor: pointer;
}
.right-data .text p {
  font-size: 16px;
  line-height: 1.5;
}
.right-data .option {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.right-data .option p {
  margin: 0;
}
.right-data .option p.persons {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}
.right-data .option p.bold {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}
.right-data .share .title p, .right-data .extra .title p {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}
.right-data .share .sharing .right, .right-data .extra .extras .right  {
  margin-right: 1em;
}
.right-data .share .sharing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--white-background);
  border-radius: 4px;
  padding: 10px 0;
}
.right-data .share .sharing label, .right-data .extra .extras label  {
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
  align-items: center;
  display: flex;
  padding: 0 10px;
  margin: 0;
}
.disabled {
  color: gray;
}
.disabled input {
  color: gray;
}
.right-data .share .sharing label input {
  margin: 0 0.4em;
  font-size: 24px;
  width: 30px;
  height: 30px;
}
.right-data .share .sharing p, .right-data .extra .extras p {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
.right-data .extra .extras label input {
  margin: 0.1em 0.4em 0;
  font-size: 24px;
}
.right-data input[type=checkbox], .right-data input[type=checkbox]:focus, .right-data input[type=radio], .right-data input[type=radio]:focus {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;
  cursor: pointer;
}
.right-data input[type=checkbox]:before {	
  font-family: 'icons';
  content: "\e906";
}
.right-data input[type=checkbox]:checked:before {
	content: "\e907";
}
.right-data input[type=radio]:before {	
  font-family: 'icons';
  content: "\e928";
}
.right-data input[type=radio]:checked:before {
	content: "\e929";
}
.right-data .extra {
  border-top: 1px solid var(--grey-light);
  margin-top: 2em;
}
.right-data .extra .extras {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.right-data .buttons {
  display: flex;
  flex-flow:  column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
  margin: 1em 0 2em 0;
}
.right-data .buttons a {
  width: 100%;
}
.right-data .buttons button.btn-secondary,
.right-data .buttons button.btn-primary {
  width: 100%;
  height: 50px;
  justify-content: center;
  text-transform: none;
}
.card-room .description.text {
  border-bottom: 1px solid var(--grey-light);
}
.card-room .description.text .expansion {
  padding: 0;
  position: relative;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.card-room .description.text .expansion p {
font-weight: 600;
font-size: 20px;
line-height: 1.5;
margin-bottom: 0.5em;
}
.card-room .description.text .expansion label[class^="tab"]{
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
  margin: 18px 0 0 30px;
  max-width: 40px;
}
.card-room .description.text .expansion .content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 2em;
}
.last {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2em;
  padding: 0 auto;
}
.last .last-zone {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2em auto;
}
.last .last-zone .last-content {
  padding: 1em 0 0;
}
.last h2 {
  text-transform: uppercase;
}
.last h2 span {
  color: var(--primary);
  font-family: inherit;
}
.last .left .text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 1em 0;
}

#main-gallery.rooms-carousel .splide__pagination {
  bottom: 4em;
}
#main-gallery.rooms-carousel .splide__pagination .splide__pagination__page {
  width: 10px;
  height: 10px;
}

/* XL DESKTOP */
@media only screen and (min-width: 1600px) {
  .first .first-contain .first-slider .splide__pagination {
    bottom: 12%;
  }
  .first .first-contain .first-slider .splide__arrow--prev {
    left: 42%;
    top: 93%;
  }
  .first .first-contain .first-slider .splide__arrow--next {
    right: 42%;
    top: 93%;
  }
  .first .first-contain .text-first p {
    font-size: 22px;
  }
  .right-data .title-favorite p {
    font-size: 30px;
  }
  .right-data .title-favorite em {
    font-size: 28px;
  }
  .right-data .text p {
    font-size: 16px;
  }
  .right-data .option p.persons {
    font-size: 22px;
  }
  .right-data .option p.bold {
    font-size: 30px;
  }
  .right-data .share .title p, .right-data .extra .title p {
    font-size: 22px;
  }
  .right-data .share .sharing label, .right-data .extra .extras label  {
    font-size: 22px;
  }
  .right-data .share .sharing label input {
    font-size: 30px;
  }
  .right-data .share .sharing p, .right-data .extra .extras p {
    font-size: 22px;
  }
  .right-data .extra .extras label input {
    font-size: 30px;
  }
  .card-room .description.text .expansion p {
    font-size: 24px;
  }
  .last .left .text p {
    font-size: 22px;
  }

}

/* DESKTOP SMALL */
@media only screen and (min-width: 1024px) and (max-width: 1279.9px) {
  .first .first-contain .first-slider .splide__pagination {
    bottom: 17%;
  }
  .first .first-contain .after-slide .text-first {
    margin-left: 2em;
  }
  .last .last-zone .last-content {
    width: 98%;
  }
}

/* RESPONSIVE \*/
@media only screen and (max-width: 1023.9px) {
  .first .first-contain .first-slider .title-button h1 { 
    font-size: 96px;
  }
  .first .first-contain .after-slide .text-first {
    margin: 0 1em 0 1em;
  }
  .first .first-contain .text-first p {
    font-size: 14px;
  }
  .first .first-contain .flat-services {
    text-align: center;
    padding: 0;
  }
  .first .first-contain .after-slide.bottom .text-first {
    display: none;
  }
  
  .rooms {
    padding: 0;
  }
  .rooms .all-rooms .title h2 {
    margin: 1em 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
  }
  .rooms .all-rooms .card-room{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .rooms .all-rooms .card-room .left-carousel {
    margin-right: 0;
  }
  .first .first-contain .first-slider .splide__arrow--prev {
    left: 32%;
  }
  .first .first-contain .first-slider .splide__arrow--next {
    right: 32%;
  }
  .first .first-contain .first-slider .splide__pagination {
    bottom: 17%;
  }
  .right-data .title-favorite {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .rooms .all-rooms .card-room .right-data .title-favorite p {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
  }
  .right-data .option p.persons {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
  }
  .right-data .option p.bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
  .card-room .description.text .expansion {
    justify-content: space-between;
  }
  .card-room .description.text .expansion p {
  font-size: 16spx;
  }
  .card-room .description.text .expansion .content p {
    font-size: 16px;
  }
  .right-data .buttons button {
    height: 46px;
  }
  .right-data .title-favorite em {
    font-size: 18px;
  }
  #thumbnail-carousel {
    display: none;
  }
  .last h2 {
    text-align: left;
  }
  .last h2 span {
    width: 100%;
  }
  .last .left .text p {
    font-weight: 400;
    font-size: 16px;
    margin: 1em 0 2em;
  }

}

/* MOVIL */
@media only screen and (max-width: 767px) {
  .first .first-contain .first-slider .splide__arrow--prev {
    left: 18%; 
    top: 88%;
  }
  .first .first-contain .first-slider .splide__arrow--next {
    right: 18%; 
    top: 88%;
  }
  .first .first-contain .first-slider .splide__pagination {
    bottom: 20%;
  }

  .cotownity .container-cotownity {
      padding-left: 0!important;
  }

}




/* COTOWN NEW */
.first .first-contain.cotown .first-slider .title-button {
  position: absolute;
  z-index: 2;
  top: 0;
	left: 0;
  width: 28%;
  height: 74%;
	background-color: var(--box-bg);
	padding: 2em 2em 2em 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.first .first-contain.cotown .first-slider .title-button.with-tour {
	justify-content: space-between;
	align-items: flex-end;
}
.first .first-contain.cotown .first-slider .title-button.no-tour {
	justify-content: space-between;
	align-items: flex-end;
}
.first .first-contain.cotown .first-slider .title-button h1 {
  font-size: var(--big-title);
  color: var(--black);
  text-transform: none;
  text-align: start;
  font-family: var(--text-font);
}
.first .first-contain.cotown .first-slider .title-button button.btn-secondary {
  font-size: var(--text-title);
  color: var(--primary-old);
  font-weight: var(--light);
  text-transform: none;
  text-align: start;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  padding: 0;
  height: 24px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.first .first-contain.cotown .first-slider .title-button .mini-border {
  width: 24px;
  height: 1px;
  margin: 0.1em auto 0;
  background-color: var(--primary-old);
}

.first .first-contain.cotown .first-slider .title-button .sello-cotown {
	position: relative;
    height: 0;
    width: 100%;
	align-items: end;
}
.first .first-contain.cotown .first-slider .title-button .sello-cotown img.img-sello {
    position: absolute;
    top: -60px;
    right: -90px;
}



.first .first-contain.cotown .first-slider .splide__pagination {
  bottom: 4%;
}
.first .first-contain.cotown .first-slider .splide__arrow--prev, .first .first-contain.cotown .first-slider .splide__arrow--next {
  top: 104%;
  background-color: transparent;
  opacity: 1;
}
.first .first-contain.cotown .after-slide {
  margin-top: 2em;
}
.first .first-contain.cotown .after-slide .text-first {
  font-size: var(--text);
}
.first .first-contain.cotown .after-slide .text-first p {
  font-size: var(--text);
}
.first .first-contain.cotown .after-slide.bottom {
  background-color: var(--white);  
}
.first .first-contain.cotown .after-slide.bottom .text-first button.btn-text a {
  color: var(--primary-old);
  font-weight: var(--regular);
}
.first .first-contain.cotown .after-slide.bottom .text-first button.btn-text a .mini-border {
  width: 24px;
  height: 1px;
  margin: 0.1em auto 0;
  background-color: var(--primary-old);
}
.first .first-contain.cotown .flat-services .splide-services .splide__list .splide__slide .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.first .first-contain.cotown .flat-services .splide-services .splide__list .splide__slide .slide p {
  font-size: var(--text);
  font-weight: var(--regular);
  text-transform: uppercase;
  text-align: start;
}
.first .first-contain.cotown .flat-services .splide-services .splide__arrows button.splide__arrow {
  background: transparent;
  opacity: 1;
}
.first .first-contain.cotown .flat-services .splide-services .splide__arrows button.splide__arrow.splide__arrow--prev {
  left: -50px;
}
.first .first-contain.cotown .flat-services .splide-services .splide__arrows button.splide__arrow.splide__arrow--next {
  right: -20px;
}

/* ---------- ROOMS COTOWN ---------- \*/
main.flat.cotown .rooms .all-rooms {
  background-color: var(--new-bg);
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .title-favorite p {
  font-size: var(--text-title);
  font-weight: var(--semibold);
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .text p {
  font-size: var(--text);
  font-weight: var(--regular);
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .share .sharing {
  background-color: transparent;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .share .title p{
  font-size: var(--mini-title);
  font-weight: var(--semibold);
  margin: 0;
}
main.flat.cotown .apartments .all-rooms .card-room .right-data .share .sharing {
  margin: 0;
  padding: 0.5em 0 0 0;
  background: transparent;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .share .sharing .text-red {
  padding: 0.2em 0 0;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .share .sharing .left label {
  font-size: var(--mini-title);
  font-weight: var(--regular);
  line-height: 1;
  margin: 0;
  padding: 0;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .share .sharing .right {
  margin: 0;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .share .sharing .right p {
  font-size: var(--mini-title);
  font-weight: var(--regular);
  line-height: 1;
  margin: 0;
  padding: 0;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .extra {
  border-top: 1px solid var(--primary);
  margin-top: 1em; 
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .extra .title p {
  font-size: var(--mini-title);
  font-weight: var(--semibold);
  margin: 0.5em 0 0;
  line-height: 1.5;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .share .sharing .right, main.flat.cotown .rooms .all-rooms .card-room .right-data .extra .extras .right {
  margin: 0;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .share .sharing label, main.flat.cotown .rooms .all-rooms .card-room .right-data .extra .extras label {
  font-size: var(--mini-title);
  font-weight: var(--regular);
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .share .sharing p, main.flat.cotown .rooms .all-rooms .card-room .right-data .extra .extras p {
  font-size: var(--mini-title);
  font-weight: var(--regular);
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons.cotown {
  display: flex;
  flex-flow:  row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
  margin: 0;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons.cotown a {
  width: 100%;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons.cotown button.btn-secondary,
main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons.cotown button.btn-primary {
  width: fit-content;
  height: auto;
  justify-content: center;
  text-transform: none;
  padding: 0.5em;
  border: 0;
  border-radius: 5px;
  background-color: var(--primary-old);
  color: var(--white);
  font-weight: var(--regular);
  box-shadow: none;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons button.btn-text {
  color: var(--primary-old);
  font-weight: var(--regular);
  width: fit-content;
  justify-content: center;
  text-transform: none;
}
main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons button.btn-text .mini-border {
  width: 24px;
  height: 1px;
  margin: 0.1em auto 0;
  background-color: var(--primary-old);
}
main.flat.cotown .last {
  background-color: var(--white);
  padding-top: 2em;
}
main.flat.cotown .last .last-zone .last-content .left h2 {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: none;
}
main.flat.cotown .last .last-zone .last-content .left h2 span {
  width: 100%;
}
main.flat.cotown .last .last-zone .last-content .left .text p {
  font-size: var(--text);
  font-weight: var(--400);
  line-height: 1.4
}

/* COTOWN RESPONSIVE \*/
@media only screen and (max-width: 1023.9px) {
  .first .first-contain.cotown .first-slider .title-button {    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .first .first-contain.cotown .first-slider .title-button.with-tour {
    justify-content: center;
    align-items: center;
  }
  .first .first-contain.cotown .first-slider .title-button h1 {
    text-align: center;
    color: var(--white);
    font-size: var(--resp-big-title);
  }
  .first .first-contain.cotown .first-slider .title-button .sello-cotown {
    display: none;
  }
  .first .first-contain.cotown .first-slider .title-button button.btn-secondary {
    justify-content: center;
    align-items: center;
    border-radius: 63px;
    font-weight: var(--semibold);
    font-size: var(--resp-mini-title);
    padding: 1em 1.5em;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
  }
  .first .first-contain.cotown .first-slider .title-button button.btn-secondary .mini-border {
    display: none;
  }

  .first .first-contain.cotown .flat-services {
    margin: 0 auto;
  }
  .first .first-contain.cotown .flat-services .splide-services {
    padding: 0 1em;
  }
  .first .first-contain.cotown .flat-services .splide-services .splide__arrows button.splide__arrow.splide__arrow--prev {
    left: -14px;
  }
  .first .first-contain.cotown .flat-services .splide-services .splide__arrows button.splide__arrow.splide__arrow--next {
    right: -10px;
  }
  .first .first-contain.cotown .flat-services .splide-services .splide__list .splide__slide .slide {
    align-items: center;
  }
  .first .first-contain.cotown .flat-services .splide-services .splide__list .splide__slide .slide p {
    text-align: center;
    font-size: var(--resp-text);
    text-transform: none;
  }
  main.flat.cotown .rooms .all-rooms .card-room {
    background-color: var(--white);   
  }
  main.flat.cotown .rooms .all-rooms .card-room .right-data {
    margin-bottom: 2em;
  }
  main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons.cotown button.btn-secondary,
  main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons.cotown button.btn-primary {
    width: 100%;
    height: auto;
    font-size: var(--text);
    font-weight: var(--semibold);
    padding: 0.8em 0;
    border-radius: 25px; 
  }
  main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons button.btn-text {
    color: var(--primary);
    font-weight: var(--semibold);
    width: 100%;
    justify-content: center;
    text-transform: none;
    border: 1px solid var(--primary);
    border-radius: 25px;
    background-color: var(--white);    
  }
  main.flat.cotown .rooms .all-rooms .card-room .right-data .buttons button.btn-text .mini-border {
    display: none;
  }
  main.flat.cotown .last .last-zone .last-content .left h2 {
    font-size: var(--resp-text-title);
    font-weight: var(--semibold);
  }
  main.flat.cotown .last .last-zone .last-content .left h2 span {
    color: var(--primary-old);
  }
}