/* ABOUT PAGE 
-------------------------------- */

/* TEAM */
main .container-main section.members {
    padding: 2em 4em;
}
main .container-main section.members .grid {
    padding: 0 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
main .container-main section.members .grid .member {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
main .container-main section.members .grid .member .img-member {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
main .container-main section.members .grid .member .img-grid {
    width: 100%;
}
main .container-main section.members .grid .member .data {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
main .container-main section.members .grid .member .data p.name {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    margin: 0;
    width: 100%;
}
main .container-main section.members .grid .member .data p.job {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    width: 100%;
}
main .container-main section.members .grid.show {
    display: none;
}
main .container-main section.members .button-more {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em 0;
}
