/* LEGAL PAGES
-------------------------------- */

.legal {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 6em;
}
.legal .container-main {
    width: 60%;
    flex-flow: row wrap;
    justify-content: center;
    text-align: justify;
    align-items: center;
}
.legal .container-main h1 {
    font-size: 78px;
    font-weight: 400;
    margin: 1.5em 0 1em;
}
.legal .container-main h2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 1em 0; 
}
.legal .container-main p, a, ul, li, th, td {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}
.legal .container-main p span {
    font-weight: 700;
    margin: 0.2em 0;
}
.legal .container-main ul li {
    font-weight: 500;
    padding-left: 8px;
}
.legal .container-main table {
    margin: 3em 0;
    text-align: left;
    border-collapse: collapse;
}
.legal .container-main table thead tr th,
.legal .container-main table tbody tr td {
    padding: .5em 1em;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
.legal .container-main table thead tr th:first-child, 
.legal .container-main table tbody tr td:first-child {
    font-weight: 700;
    border-left: none !important;
}
.legal .container-main table tbody tr:last-child td { 
    border-bottom: none !important;
}

/* RESPONSIVE
-------------------------------- */

/* TABLET */
@media only screen and (max-width: 1023.9px) {
    .legal .container-main {
        font-size: 22px;
        width: 80%;
        flex-flow: row wrap;
        justify-content: center;
        text-align: justify;
        align-items: center;
    }
    .legal .container-main h1 {
        font-size: 48px;
    }
    .legal .container-main h2 {
        font-size: 18px;
    }
    .legal .container-main p, a, ul, li {
        font-size: 20px;
        line-height: 25px;
    }    
}

/* MOVIL */
@media only screen and (max-width: 767.9px) {
    .legal .container-main {
        font-size: 22px;
        width: 90%;
        flex-flow: row wrap;
        justify-content: center;
        text-align: justify;
        align-items: center;
    }
    .legal .container-main h1 {
        font-size: 48px;
    }
    .legal .container-main h2 {
        font-size: 18px;
    }
    .legal .container-main p, a, ul, li, th, td {
        font-size: 18px;
        line-height: 22px;
    }    
}