/* __________________________ LEGAL PAGES ___________________________*/

h1 {
    font-family: "Bebas Neue", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 78px;
    line-height: 110%;
    font-weight: 400;
}

main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 6em;
}
main .container-main {
    width: 60%;
    /*display: flex;*/
    flex-flow: row wrap;
    justify-content: center;
    text-align: justify;
    align-items: center;
}
main .container-main h1 {
    width: 100%;
    font-family: "Bebas Neue", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 78px;
    line-height: 110%;
    font-weight: 400;
    margin: 1.5em 0 1em;
}

main .container-main h2 {
    font-family: "Open Sans", "Bebas Neue", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px; 
    font-weight: 700;
    line-height: 16px;
    width: 100%;    
    margin: 1em 0; 
}
main .container-main p, a {
    width: 100%;
    font-family: "Open Sans", "Bebas Neue", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    margin: 0.2em 0 1em;
}
main .container-main p span {
    font-family: "Open Sans", "Bebas Neue", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    width: 100%;
    margin: 0.2em 0;
}
main .container-main ul li {
    font-family: "Open Sans", "Bebas Neue", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px; 
    font-weight: 500;
    line-height: 33px;
    padding-left: 8px;
}
main .container-main table {
    width: 100%;
    margin: 3em 0;
}
main .container-main table thead tr {
    background-color: transparent;
    border: none;
}
main .container-main table thead tr th {
    font-family: "Open Sans", "Bebas Neue", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    padding: 0.5em;
}
main .container-main table tbody tr td {
    font-family: "Open Sans", "Bebas Neue", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    padding: .5em .5em 1em;
}

main .container-main table thead tr th {
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
main .container-main table tbody tr td {
    border-left: 1px solid var(--black);
}
main .container-main table thead tr th:first-child, main .container-main table tbody tr td:first-child {
    border-top: none!important;
    border-left: none!important; 
}
main .container-main table thead tr th:last-child, main .container-main table tbody tr td:last-child {
    border-right: none!important; 
}