/* _________________________ LOCATION _________________________ */

main .location .container-main .first-contain {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 4em;
}
main .location .container-main .first-contain h1 {
    width: 100%;
    text-align: center;
    font-size: 170px;
    line-height: 1em;
    padding: 0.2em 0 0;
}
main .location .container-main .first-contain .video-loc {
    width: 100%;
    position: relative;
    min-height: fit-content;
}

main .location .container-main .first-contain .video-loc .description {
    width: 50%;
    min-height: fit-content;
    background-color: var(--white);
    position: relative;
    top: -100px;
    left: 100px;
    padding: 1.5em 3.5em 1.5em 2em;
}
main .location .container-main .first-contain .video-loc .description .text {
    font-size: 30px;
    line-height: 150%;
    font-weight: 500;
    margin: 0;   
}
main .location .container-main .first-contain .video-loc .description p {
    font-size: 30px;
    line-height: 150%;
    font-weight: 500;
    margin: 0;
}
.expansion {
    padding: 0;
    position: relative;
    height: fit-content;
    width: 100%;
}
.content{
    height: auto;
    max-height: 0;
    max-width: 100%;
    position: relative;
    top: -20px;
    overflow: hidden;
    transform: translateY(20px);
    transition: all 180ms ease-in-out 0ms; 
}
input[class^="tab"]:checked ~ .content {
    max-height: 360px;
    height: fit-content;
    transition: all 200ms ease-in-out 0ms;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    margin: 0;
    padding: 0;
}
input[class^="tab"]{   
    width: 300px;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
}
input[class^="tab"]:hover{
    cursor: pointer;
}
.open-close-icon {
    margin-right: 20px;
}
.open-close-icon em::before {    
    transition: transform 150ms ease-in-out 0ms;
}
input[class^="tab"]:checked ~ label .open-close-icon em::before {
    content:"\e90d";
    transition: transform 150ms ease-in-out 0ms;
}
label[class^="tab"]{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;  
    width: 300px;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    margin-top: 20px;
}
label[class^="tab"] p {
    text-decoration: underline;
} 
label[class^="tab"]:hover{
    cursor: pointer;
}
label span.more {
    display: block;
}
input[class^="tab"]:checked ~ label p span.more {
    display: none;
}
label span.less {
    display: none;
}
input[class^="tab"]:checked ~ label span.less {
    display: block;
}


/* CARRUSEL */

.pisos-slider {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 4em;
}
.pisos-slider h2 {
    text-align: center;
    width: 100%;
    margin: 0;
}
.pisos-slider h2 span {
    font-weight: 300!important;
}
.pisos-slider .carousel {
    padding: 10% 0;
}
.pisos-slider .splide {
    visibility: visible;
}
.carousel-list.splide__list {
    gap: 6em;
    position: relative;
    /* padding: 0 30%!important; */
}
.splide__slide {
    background-color: var(--white-background);
    max-width: 748px;
}
.splide__slide .ratio img {
    vertical-align: bottom;
    width: 100%;
}
.splide__slide h3 {
    font-size: 78px;
    text-align: left;
    position: absolute;
    top: 35%;
    left: 7%;
    color: var(--white);
}
.splide__slid .card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.card-body {
    padding: 0;
    width: max-content;
    padding: 0 0 2em;
}
.types {
    max-width: 748px;
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.flex-grow-1 {
    padding-left: 2em;
}
.room-type {
    width: 26%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1.5em 0 0.5em;
    height: 180px;
}
.room-type h4, .room-type p {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    margin: 0;
}
.room-type h4 {
    font-size: 20px;
    font-weight: 600;
}
.room-type p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}
.room-type .text-green p {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--turquoise-dark);
    letter-spacing: 0.145em;
}
.room-type button.green-button {

}

.arrow-nav.splide__arrow {
    height: 4em;
    width: 4em;
    background-color: var(--grey-background);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.arrow-nav.splide__arrow.splide__arrow--prev {
    left: 39%;
}
.arrow-nav.splide__arrow.splide__arrow--next {
    right: 39%;
}
.arrow-nav.splide__arrow.splide__arrow--prev i, .arrow-nav.splide__arrow.splide__arrow--next i {
    font-size: 34px;
}

.carousel-mini {
    position: relative;
    max-width: 748px;
}
.splide.mini {
    padding: 6%;
}
.carousel-mini.splide__list {
    gap: 2em;
    position: relative;
    padding: 0 2em!important;
}
.splide__slide .ratio.carousel-ratio {
    max-width: 120px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0;
}
.splide__slide .ratio.carousel-ratio img {
    width: 40px;
}
.splide__slide .ratio.carousel-ratio p {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5em 0;
    margin: 0;
}
.arrow-mini.splide__arrow--prev {
    left: 0;
}
.arrow-mini.splide__arrow--next {
    right: 0;
}
.arrow-mini.splide__arrow.splide__arrow--prev i, .arrow-mini.splide__arrow.splide__arrow--next i {
    font-size: 20px;
}

#map {
    margin: 6em 0;
}

section.necesidades {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0 4em;
    margin: 0 0 6em;
}
section.necesidades .contain {
    display: flex;
    flex-flow: row wrap;    
}
section.necesidades .contain .title h2 {
    width: 60%;
    padding: 0 0 0 2em;
}
section.necesidades .contain .text p {
    font-weight: 300;
    font-size: 22px;
    line-height: 150%;
    width: 80%;
}
section.necesidades .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 0 10em;
}

section.necesidades .grid .necesidad img {
    width: 75px;
    padding: 1em 0 .5em;
}
section.necesidades .grid .necesidad .p-title p {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    margin: 0;
}

section.necesidades .grid .necesidad .p-text p {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    margin: 0;
}
@media only screen and (min-width: 1024px) and (max-width: 1665px){
    section.necesidades {
        padding: 0 2em;
    }
    section.necesidades .grid {
        padding: 0 0 0 5em;
    }
    section.necesidades .contain .title h2 {
        width: 70%;
        padding: 0 0 0 1em;
    }
}

@media only screen and (max-width: 1023.9px) {    
    section.necesidades .grid {
        align-items: center;
        padding: 0;
    }

    section.necesidades .contain .title h2 {
        width: 100%;
        padding: 0;
    }
    section.necesidades .contain .text p {
        width: 100%;
    }
}