<div class="logo pure-u-1">
<a class="desktop" href="{{root}}{{langs[L].folder}}/">
    <h1 class="head1"><img class="img-logo cotown" alt="Cotown" src="{{root}}/assets/img/cotown-logo-black.svg"></h1>
</a>
<a class="mobile" href="{{root}}{{langs[L].folder}}/">
    <h1 class="head1"><img class="img-logo cotown" alt="Cotown" src="{{root}}/assets/img/cotown-logo-black.svg"></h1>
</a>
</div>