<div class="logo pure-u-1-3">
<a class="desktop" href="{{root}}{{langs[L].folder}}/">
    <h1><img class="img-logo" alt="Cotown" src="{{root}}/assets/img/cotown.svg"></h1>
</a>
<a class="mobile" href="{{root}}{{langs[L].folder}}/">
    <h1><img class="img-logo" alt="Cotown" src="{{root}}/assets/img/cotown.svg"></h1>
</a>
</div>