main .container-main .first-contain.home {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
main .container-main .first-contain.home.cotown {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--new-bg);
    top: -5px;
    position: relative;
    padding-bottom: 2em;
}
main .container-main .first-contain.home .title-big.home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 6em auto 2em;
}
main .container-main .first-contain.home .title-big.home .text {
    font-size: var(--fs-x-large);
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 0.5em;
    text-align: left;
}
main .container-main .first-contain.home .text {
    padding: 0 0.5em;
}
main .container-main .first-contain.home .text p {
    font-weight: var(--regular);
    font-size: var(--fs-xx-small);
    line-height: 1.3;
}
main .container-main .first-contain.home.cotown .text p {
    font-weight: var(--light);
}
@media only screen and (max-width: 63.99em) {
	main .container-main .first-contain.home .title-big.home {
        margin: 4em auto 2em
    }
	main .container-main .first-contain.home .title-big.home .bigh .fs-x-large,
    main .container-main .first-contain.home .title-big.home .borderh .fs-x-large {
        text-align: left;
    }
	main .container-main .first-contain.home .title-big.home p {
        font-size: var(--fs-xx-small);
        line-height: 30px;
        margin: 0 0 0.5em;
        text-align: left;
    }
	main .container-main .first-contain.home.cotown {
        background-color: var(--white);
    }
	main .container-main .first-contain.home.cotown .title-big.home {
        margin: 4em auto 0;
    }
	main .container-main .first-contain.home.cotown .title-big.home .bigh.cotown .fs-hero {
        width: 100%;
    }
	main .container-main .first-contain.home.cotown .title-big.home .text {
        padding: 0;
    }
	main .container-main .first-contain.home.cotown .title-big.home p {
        font-size: var(--fs-xx-small);
        font-weight: var(--regular);
        line-height: 1.5;
        margin: 0 0 0.5em;
        text-align: left;
    }
}
