{% for r in rooms %}
{% if r.id == building.id %}
{% for p in r.Place_types %}
{% if p.Code[0] == type %}
<section class="card-room pure-u-1 pure-u-lg-22-24">

  <!-- LEFT -->   
  <div class="left-carousel pure-u-1 pure-u-lg-11-24">

    <section id="main-carousel-{{p.Code}}" class="splide rooms-carousel" aria-label="Gallery">
      <div class="splide__track">
        <ul class="splide__list">
          {% for rp in room_photos %}
          {% if rp.Building.id == building.id and rp.Place_type.Code == p.Code %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, rp.Name|ascii, "",
              [500], ""
            %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </section>

    <section id="thumbnail-carousel-{{p.Code}}" class="splide" aria-label="Thumbnails">
      <div class="splide__track">
        <ul class="splide__list">
          {% for rp in room_photos %}
          {% if rp.Building.id == building.id and rp.Place_type.Code == p.Code %}
          <li class="splide__slide">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_resource_type/" + rp.id +"/Image/contents?access_token=" + token,
              rp.Name, rp.Name|ascii, "",
              [300], ""
            %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </section>

  </div>

  <!-- RIGHT -->
  <div class="right-data pure-u-11-12 pure-u-lg-11-24">

    <!-- Title -->
    <div class="title-favorite pure-u-1">
      <p>{{place_types[p.Code] | translate('Name', L)}}</p>
      <em class="icon-heart"></em>
    </div>

    <!-- Description -->
    <div class="text pure-u-1">
      <p>{{place_types[p.Code] | translate('Description', L)}}</p>
    </div>

    <!--
    {% for f in p.Flat_types %}
    <div class="option pure-u-1">
      <p class="persons">{{flat_types[f.Code] | translate('Name', L)}}</p>
      <p class="bold">Desde {{f.Rent_long}}€/mes</p>
    </div>
    {% endfor %}
    -->

    <form class="pure-form">
      <fieldset>

      <!-- Share -->
      <div class="share">
        <div class="title">
            <p>Quiero compartir piso con:</p>
        </div>
        {% for f in p.Flat_types %}
        <div class="sharing">
          <div class="left">
            <label for="checkbox-radio-option" class="pure-radio">
                <input type="radio" id="checkbox-radio-option" name="optionsRadios" value="option"/>{{flat_types[f.Code] | translate('Name', L)}}
            </label>             
          </div>
          <div class="right">
            <p>Desde {{f.Rent_long}}/mes</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Extra -->
      <div class="extra">
        <div class="title">
          <p>Servicios extra</p>
        </div>
        <div class="extras">
          <div class="left">
            <label for="default-remember" class="pure-checkbox">
              <input type="checkbox" id="default-Kitchenette" value="option"/>
              Kitchenette
            </label>           
          </div>
          <div class="right">
            <p>XXX€/mes</p>
          </div>
        </div> 
      </div>

      </fieldset>
    </form>
    
    <div class="buttons pure-u-1">
      <button class="btn-secondary">Reservar</button>
      <button class="btn-primary">Agendar Visita</button>
    </div>

  </div>

  <!-- TEXT EXPANSION -->
  <div class="description text pure-u-23-24">     
      <div class="expansion pure-u-1">
        <p>Información adicional</p>
        <input type="checkbox" class="tab pure-u-1-2" id="tab1" tabindex="0"/>
        <label name="tab" for="tab1" tabindex="-1" class="tab_lab pure-u-1-2" role="tab">
          <span class="open-close-icon"><em class="icon-corchete-down"></em></span>
        </label>
        <div class="content pure-u-1">
          <p>Se deberá abonar en único pago, una fianza de 900€ o el equivalente a una mensualidad si la renta supera los 900€. Este depósito será devuelto en un plazo máximo de 30 días posterior a la fecha de salida siempre y cuando no haya habido ningún desperfecto en el apartamento. ​Se deberán abonar en un único pago, 375€ en calidad de gastos de gestión de contrato. ​Si necesitas más información acerca de las condiciones de reserva, puedes hacerlo mediante este enlace</p>
        </div>       
      </div>
  </div>

</section>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}  