// Tour
function open_tour() {
  document.getElementById("tourframe").src="{{building.Tour}}" 
  document.getElementById("tour").style.display = "block";
}
function close_tour() {
  document.getElementById("tour").style.display = "none";
}

// Months interval
function calculateMonths(date_from, date_to) {
    let dt_curr = new Date(date_from);
    let dt_to = new Date(date_to);
    dt_to.setDate(dt_to.getDate() + 1);
    let months = dt_to.getMonth() - dt_curr.getMonth() + (12 * (dt_to.getFullYear() - dt_curr.getFullYear()));
    if (dt_to.getDate() < dt_curr.getDate()) {
      months--;
    }
    return months;
}

// Availability
function availability(lang, option) {
  // Show selected dates block
  checkin = sessionStorage.getItem('book_checkin') || '';
  checkout = sessionStorage.getItem('book_checkout') || '';
  if (checkin != '') {
    document.getElementById("selected-dates").classList.remove("hidden");
    document.getElementById("checkin").textContent = format_date(checkin, "{{L}}");
    document.getElementById("checkout").textContent = format_date(checkout, "{{L}}");
  }
  else {
    document.getElementById("selected-dates").classList.add("hidden");
  }
  
  // Clear texts
  document.querySelectorAll('.text-red').forEach((div) => { div.firstChild.textContent = " "; });

  // Check dates
  const date_from = sessionStorage.getItem('book_checkin');
  const date_to = sessionStorage.getItem('book_checkout');

  // Months/Prices
  const m = calculateMonths(date_from, date_to);
  let t = 'f';
  if (date_to) {
    if (m >= 7) t = 'l'; 
    else if (m >= 3 && m < 7) t = 'm';
    else t = 's';
  };
  document.querySelectorAll('[data-price]').forEach(el => {
    if (t == el.getAttribute('data-price')) 
      el.classList.remove("hidden"); 
    else 
      el.classList.add("hidden"); 
  });

  // No dates, enable request availability buttons
  if (!date_from || !date_to) {
    document.querySelectorAll('button[name="btn-check"]').forEach((btn) => { btn.classList.remove("hidden"); });
    document.querySelectorAll('button[name="btn-book"]').forEach((btn) => { btn.classList.add("hidden"); });
    document.querySelectorAll('button[name="btn-visit"]').forEach((btn) => { btn.classList.add("hidden"); });
    return;
  }

  // Get availability
  document.querySelectorAll('button[name="btn-check"]').forEach((btn) => { btn.classList.add("hidden"); });
  document.querySelectorAll('button[name="btn-book"]').forEach((btn) => { btn.classList.remove("hidden"); });
  document.querySelectorAll('button[name="btn-visit"]').forEach((btn) => { btn.classList.remove("hidden"); });
  filter = '{{building.id}}' == '' ? '/0' : '/{{building.id}}'
  url = 'https://back.cotown.com/api/v1/availability/' + option + filter + '?date_from=' + date_from + '&date_to=' + date_to;
  fetch(url).then(resp => resp.text()).then(data => {
    // Parse response
    json = JSON.parse(data);

    // Loop thru all resources
    document.querySelectorAll('.text-red').forEach(function(div) {
      // Get availability
      const avail = json.find((e) => (e.id === div.id));
      const qty = avail ? avail.Qty : 0;
      try { document.getElementById('radio-' + div.id).setAttribute('data-qty', qty); } catch {}

      // Not available? show sold out and disable buttons
      if (qty == 0) {
        try { document.getElementById('radio-' + div.id).disabled = true; } catch {}
        div.firstChild.textContent = lang == 'en' ? "SOLD OUT" : "AGOTADO";
      }

      // Available? show quantity and enable buttons
      else {
        try { document.getElementById('radio-' + div.id).disabled = false; } catch {}
        if (qty == 1) {
          div.firstChild.textContent = lang == 'en' ? "ONLY " + avail.Qty + " LEFT" : "SÓLO QUEDA " + avail.Qty;
        } else if (qty <= 5) {
          div.firstChild.textContent = lang == 'en' ? "ONLY " + avail.Qty + " LEFT" : "SÓLO QUEDAN " + avail.Qty;
        }
      }
    });
  });
}

// Button INFO
function go_info(pid, fid, code) {
  // Save in session
  sessionStorage.setItem('city', '{{building.District.Location.Name}}');
  sessionStorage.setItem('building', '{{building.Name}}');
  sessionStorage.setItem('book_city_id', '{{building.District.Location.id}}');
  sessionStorage.setItem('book_building_id', '{{building.id}}');
  sessionStorage.setItem('book_type', code);

  // Form
  location.href = "{{root}}{{langs[L].folder}}/{{langs[L].pages['info'].url}}.html";
  return;
}  

// Button BOOK
function go_book(pid, fid, code) {
  // Save in session
  sessionStorage.setItem('city', '{{building.District.Location.Name}}');
  sessionStorage.setItem('building', '{{building.Name}}');
  sessionStorage.setItem('book_city_id', '{{building.District.Location.id}}');
  sessionStorage.setItem('book_building_id', '{{building.id}}');
  sessionStorage.setItem('book_type', code);

  // Rooms?
  radio = document.querySelector('input[name="radio-' + code + '"]:checked');
  if (radio) { 
    // No availability
    qty  = radio.getAttribute('data-qty');
    if (!qty || qty == "0") {
      //?location.href = "{{root}}{{langs[L].folder}}/{{langs[L].pages['info'].url}}.html";
      return;
    }

    // Get flat data
    flat = radio.getAttribute('data-flat');
    document.getElementById('overlay').style.display = 'flex';

    // Get extras
    extras = ""
    const inputs = document.querySelectorAll('input[data-place="' + code + '"]:checked')
    if (inputs) {
      inputs.forEach((el) => { 
        if (extras != "") extras += ","
        extras += el.value
      });
    };

    // Go booking
    location.href = '/booking/3?'
      + 'lang={{L}}&segment={{siteid}}&book_building_id={{building.id}}'
      + '&book_acom=pc'
      + '&book_flat_type_id=' + flat
      + '&book_place_type_id=' + pid
      + '&book_checkin=' + sessionStorage.getItem('book_checkin') 
      + '&book_checkout=' + sessionStorage.getItem('book_checkout')
      + '&book_extras=' + extras;
    return;
  }

  // Flats
  location.href = '/booking/3?'
    + 'lang={{L}}&segment={{siteid}}&book_building_id={{building.id}}'
    + '&book_acom=ap'
    + '&book_flat_type_id=' + fid
    + '&book_place_type_id=' + pid
    + '&book_checkin=' + sessionStorage.getItem('book_checkin') 
    + '&book_checkout=' + sessionStorage.getItem('book_checkout');
}

// Button VISIT
function go_visit(id, code) {
  sessionStorage.setItem('city', '{{building.District.Location.Name}}');
  sessionStorage.setItem('book_city_id', '{{building.District.Location.id}}');
  sessionStorage.setItem('building', '{{building.Name}}');
  sessionStorage.setItem('book_building_id', '{{building.id}}');
  sessionStorage.setItem('book_type', code);
  location.href = "{{root}}{{langs[L].folder}}/{{langs[L].pages['visit'].url}}.html";
}

// Button CHECK
function go_check() {
  open_calendar();
  //?window.addEventListener("calendar", function(e) {
  //?  location.reload();
  //?});
}