    <!-- Reservas popup -->
    <div id="booking-overlay" class="booking-overlay">
      <div class="popup">

        <a class="close" href="#">
          <em class="icon-close"></em>
        </a>

        <div class="content-booking">

          <section>
            <h2>
              {% literal texts, 'home-donde', L %}
            </h2>
            <div class="city-selector">
              <!--
              <select class="select" type="select" id="city-select" name="city-select">
                <option>{% literal texts, 'home-donde-seleccionar', L %}</option>
                {% for l in locations %}
                <option>{{ l | translate('Name', L)}}</option>
                {% endfor %}
              </select>
              -->
              <div class="city-icons">

              <!-- Look for matching type resources -->
              {% for l in locations %}
              {% if buildings | find('District.Location.id', 'eq', l.id) | find('Building_type_id', 'le', 3) | length > 0 %}
                <div class="city">
                  <div class="content-selector">
                    {% for f in l.Images | find('Image_type', 'eq', 'icono') %}
                    {% image
                      constants.SERVER + "/wopi/files/Marketing/Media_location/" + f.id +"/Image/contents?access_token=" + token,
                      l.Name, l.Name + '-' + f.id | slugify, "img",
                      [400], ""
                    %}
                    {% endfor %}
                    <p>{{l | translate('Name', L)}}</p>
                  </div>
                </div>
              {% endif %}
              {% endfor%}

              </div>
            </div>
          </section>

          <section>
            <h2>
              ¿Qué estás buscando?
            </h2>
            <div class="city-selector">
              <div class="city-icons">
                 <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="{{root}}/assets/img/icono__tipo_piso_compartido.svg">
                    <p>PISO COMPARTIDO</p>
                  </div>
                </div>
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="{{root}}/assets/img/icono__tipo_apartamento_privado.svg">
                    <p>APARTAMENTO PRIVADO</p>
                  </div>
                </div>
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="{{root}}/assets/img/icono__tipo_residencia_universitaria.svg">
                    <p>RESIDENCIA</p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <h2>
              ¿Qué tipo de habitación?
            </h2>
            <div class="city-selector">
              <div class="city-icons">
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="{{root}}/assets/img/icono__hab_habitacion_individual.svg">
                    <p>HABITACIÓN INDIVIDUAL</p>
                  </div>
                </div>
                <div class="city">
                  <div class="content-selector">
                    <img class="img" alt="city" src="{{root}}/assets/img/icono__hab_habitacion_compartida.svg">
                    <p>HABITACIÓN COMPARTIDA</p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <h2>
              ¿Cuándo?
            </h2>
             <!-- CALENDAR -->
            <div class="calendar pure-u-1">
              <div class="reservas_form_div pure-u-1 pure-u-lg-1-2">
                <form id="reservas_form" name="form_multi" method="GET">
                  <button class="date-button">
                    <label class="labels">Entrada</label>
                    <input type="text" id="in" onfocus="(this.type='date')" class="inputs" name="in" placeholder="dd/mm/aaaa"/>
                  </button>
                  <button class="date-button">
                    <label class="labels">Salida</label>
                    <input type="text" id="out" onfocus="(this.type='date')" class="inputs" name="out" placeholder="dd/mm/aaaa"/>
                  </button>
                </form>
              </div>
            </div>
          </section>

          <section class="results">
            <button class="btn-secondary">
                Ver Resultados
            </button>
          </section>

        </div>

      </div>
    </div>

