{% block head %}
<!--{% set css %}{% include "shared/css/calendar.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="{{root}}/assets/css/calendar.css">
{% endblock %}

{% if L == 'es' %}
{% set days = ['L','M','X','J','V','S','D'] %}
{% else %}
{% set days = ['Mo','Tu','We','Th','Fr','Sa','Su'] %}
{% endif %}

<div id="calendar" class="calendar-modal">
	<div class="calendar-modal-content">

    <div class="calendar-container">
    <section class="dates-selector">
      
      <div class="mobile">
        <div class="close" onclick="close_calendar();">
          <em class="icon-close"></em>
        </div>
        <div class="clean-dates">
          <a onclick="empty('', '');">{% literal texts, 'cal-borrar-fechas', L %}</a>
        </div>
      </div>
      
      <div class="selector-header">

        <div class="left">
          <h2>{% literal texts, 'cal-seleccionar-fechas', L %}</h2>
          <p>{% literal texts, 'cal-estancia-minima', L %}</p>
        </div>        

        <div class="right">
          <div class="calendar">
            <div class="reservas_form_div">           
              <form id="reservas_form" name="form_multi" method="GET">
                <button class="date-button">
                <label class="labels">{% literal texts, 'dates-entrada', L %}</label>
                <input type="text" id="in" class="inputs" name="in" disabled/>
                </button>   
                <button class="date-button">
                <label class="labels">{% literal texts, 'dates-salida', L %}</label>
                <input type="text" id="out" class="inputs" name="out" disabled/>
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>
      
      <div class="selector-main">

        <div class="left">

          <table id="daysleft" summary="a calendar">
            <thead class="mobile">
              <tr>
                {% for d in days %}
                <th scope="col">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <caption>
              <div class="calendar-header">
                <a class="icon-left" rel="prev" onclick="back();">
                  <em class="icon-corchete-left"></em>
                </a>
                <p id="monthleft"></p>
              </div>
            </caption>
            <thead class="desktop">
              <tr>
                {% for d in days %}
                <th scope="col">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <!-- TODO: - No encuentras lo que buscas?
          <div class="no-dates">
            <p>¿No encuentras lo que buscas?</p>
            <a>Avísame cuando tengas disponibilidad</a>
          </div>
          -->
          
          <div id="calerror" class="error">
            {% literal texts, 'cal-error', L %}
          </div>

        </div>
        
        <div class="right">

          <table id="daysright" summary="a calendar">
            <caption>
              <div class="calendar-header">						
                <p id="monthright"></p>
                <a class="icon-right" rel="next" onclick="forward();">
                  <em class="icon-corchete-right"></em>
                </a>
              </div>
            </caption>
            <thead class="desktop">
              <tr>
                {% for d in days %}
                <th scope="col">{{d}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <div class="buttons">
            <a onclick="empty('', '');">{% literal texts, 'cal-borrar-fechas', L %}</a>
            <button id="ok" class="btn-secondary" onclick="close_calendar();">{% literal texts, 'cal-cerrar', L %}</button>
          </div>

          <!-- TODO: - No encuentras lo que buscas? Movil
          <div class="sticky-mobile">
            <div class="left">
              <p>¿No encuentras lo que buscas?</p>
              <a>Avísame cuando tengas disponibilidad</a>
            </div>
            <div class="right">
              <button class="btn-primary">Aplicar</button>
            </div>
          </div>
          -->

        </div>
      
      </div>

    </section>
    </div>

	</div>
</div>

{% block footer %}
<script>
// Numero de meses entre dos fechas
function months(fi, fo) {
    f1 = new Date(fi);
    f2 = new Date(fo);
    f2.setDate(f2.getDate() + 1)
    const meses = (f2.getFullYear() - f1.getFullYear()) * 12 + (f2.getMonth() - f1.getMonth());
    if (meses < 1 || meses > 11) return false;
    if (meses == 1 && f2.getDate() < f1.getDate()) return false;
    if (meses == 11 && f2.getDate() > f1.getDate()) return false;
    return true;
}

// Formato de fecha interno
function internal_date(yy, mm, dd) {
    return yy + '-' + mm.toString().padStart(2, '0') + '-' + dd.toString().padStart(2, '0');
}

// Formato de fecha visualizacion
function format_date(str, l) {
  if (l == 'es')
    return str.slice(8,10) + '/' + str.slice(5,7) + '/' + str.slice(0,4);
  return str.slice(5,7) + '/' + str.slice(8,10) + '/' + str.slice(0,4);
}

// Formato de 2 fechas visualizacion
function format_dates(fin, fout, l) {
  if (fout)
    return format_date(fin, l) + " - " + format_date(fout, l);
  return "";
}

// Nombre del mes, en el idioma deseado
function month(mes) {
    var d = new Date(1965, mes);
    var text = d.toLocaleString(idioma, { month: 'long' });
    return text.charAt(0).toUpperCase() + text.slice(1);
}

// Pinta los dias de un mes
function pm(cal, yy, mm) {

    // Tabla
    var c = document.querySelector('#days' + cal + ' tbody');
    c.innerHTML = '';

    // Nombre del mes
    var name = document.querySelector('#month' + cal);
    name.textContent = month(mm, 'es-ES') + ' ' + yy;

    // Rango de días
    var ud = new Date(yy, mm + 1, 0).getDate(); // Obtiene el último día del mes
    var pd = new Date(yy, mm, 1).getDay();      // Obtiene el primer día del mes
    pd = (pd === 0 ? 7 : pd) - 1;               // Ajusta el primer día de la semana a Lunes

    // Crea la cuadrícula del calendario
    var dd = 1;
    for (var y = 0; y < 6; y++) {
        var rowHTML = document.createElement('tr');
        for (var x = 0; x < 7; x++) {
        var colHTML = document.createElement('td');
        if (y === 0 && x < pd || dd > ud) {
            colHTML.textContent = '';
        } else {
            colHTML.textContent = dd;
            colHTML.id = internal_date(yy, mm + 1, dd);
            if (colHTML.id > itoday) {
            colHTML.classList.add('hover');
            colHTML.addEventListener('click', select);
            if (colHTML.id == fin.dataset.id || colHTML.id == fout.dataset.id) {
                colHTML.classList.add('selected');
            }
            if (colHTML.id > fin.dataset.id && colHTML.id < fout.dataset.id) {
                colHTML.classList.add('inside-selected');
            }
            }
            dd++;
        }
        rowHTML.appendChild(colHTML);
        }
        c.appendChild(rowHTML);
    }
}

// Pinta ambos meses
function cal(date) {
    yy = Math.floor(date / 12);
    mm = date % 12
    pm('left', yy, mm)

    yy = Math.floor((date + 1) / 12);
    mm = (date + 1) % 12
    pm('right', yy, mm)
    }

    // Mes anterior
    function back() {
    if (ftoday > fnow) {
        ftoday -= 1;
        cal(ftoday);
    }
}

// Mes posterior
function forward() {
    ftoday += 1;
    cal(ftoday);
}

// Borrar fechas
function empty(i, o) {
    fin.value = i;
    fout.value = o;
    fin.dataset.id = '';
    fout.dataset.id = '';
    ftoday = fnow
    document.getElementById("calerror").style.display = "none";
    cal(ftoday);
    return true;
}

// Selecciona fecha
function select(event) {
    event.preventDefault();
    date = event.target.id;
    if (!flag || date < fin.dataset.id) {
        document.getElementById("calerror").style.display = "none";
        fin.dataset.id = event.target.id;
        fout.dataset.id = event.target.id;
        fin.value = format_date(event.target.id, idioma);
        document.getElementById("ok").innerHTML = "{% literal texts, 'cal-cerrar', L %}";
        fout.value = '';
        flag = true;
    } else {
        fout.dataset.id = event.target.id;
        fout.value = format_date(event.target.id, idioma);
        document.getElementById("ok").innerHTML = "{% literal texts, 'cal-seleccionar', L %}";
        flag = false;
        close_calendar();
    }
    cal(ftoday);
    return true;
}

// Abre el calendario
function open_calendar() {
  flag = false;
  calendar.style.display = "block";
}

// Valida y cierra el calendario
function close_calendar(event) {
  sessionStorage.removeItem("book_checkin");
  sessionStorage.removeItem("book_checkout");
  if (fout.value == '') {
    fin.value = '';
    document.getElementById("calerror").style.display = "none";
  }
  if (!months(fin.dataset.id, fout.dataset.id)) {
    document.getElementById("calerror").style.display = "flex";
    return;
  }
  sessionStorage.setItem('book_checkin', fin.dataset.id);
  sessionStorage.setItem('book_checkout', fout.dataset.id);
  calendar.style.display = "none";
  window.dispatchEvent(new CustomEvent("calendar", {
    detail: {
      'checkin': fin.dataset.id, 
      'checkout': fout.dataset.id
    }
  }));
}

// Calendar
calendar = document.getElementById("calendar");

// Today
fnow   = new Date().getFullYear() * 12 + new Date().getMonth();
itoday = internal_date(new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDate())
ftoday = fnow

// Params
{% if L == 'es' %}idioma = 'es-ES';{% else %}idioma = 'en-US';{% endif %}
fdesde = "";
fhasta = "";
flag = false;

// Fields
const fin = document.getElementById('in');
const fout =  document.getElementById('out');

// Start calendar
empty('', '');
</script>
{% endblock %}