<footer>

<section class="container-footer">

  <div class="contain pure-g">

      <!-- Logo e info -->
      <div class="left pure-u-2-5">
        {% include site + '/sections/common/footer-logo.html.njk' %}
        <div class="footer-info mobile">
          <div class="info">
            {% for o in offices %}
            {% if loop.index == 1 %}
            <p>{{o.Address}}</p>
            <p>{{o.Phones}}</p>
            <p>{{o.Email}}</p>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="right pure-u-3-5">

        <!-- Links desktop -->
        <div class="footer-contain pure-g ">
          <div class="pure-u-1-3">
            <ul>
              <li class="bold"><a href="{{langs[L].pages['locations'].url}}.html">{{langs[L].pages['locations'].text}}</a></li>
              <li class="bold"><a href="{{langs[L].pages['about'].url}}.html">{{langs[L].pages['about'].text}}</a></li>
              <li class="bold"><a href="{{langs[L].pages['advantages'].url}}.html">{{langs[L].pages['advantages'].text}}</a></li>
            </ul>
          </div>
          <div class="pure-u-1-3">
            <ul>
              <li class="bold"><a href="{{langs[L].pages['faqs'].url}}.html">{{langs[L].pages['faqs'].text}}</a></li>
              <li class="bold"><a href="{{langs[L].pages['blog'].url}}.html">{{langs[L].pages['blog'].text}}</a></li>
              <li class="bold"><a href="{{langs[L].pages['contact'].url}}.html">{{langs[L].pages['contact'].text}}</a></li>
            </ul>
          </div>
          <div class="pure-u-1-3">
            <ul>
              <li><a href="{{langs[L].pages['privacy'].url}}.html">{{langs[L].pages['privacy'].text}}</a></li>
              <li><a href="{{langs[L].pages['legal'].url}}.html">{{langs[L].pages['legal'].text}}</a></li>
              <li><a href="{{langs[L].pages['datasecurity'].url}}.html">{{langs[L].pages['datasecurity'].text}}</a></li>
            </ul>
          </div>
        </div>

        <!-- Redes sociales movil -->
        <div class="redes-mobile pure-u-1">
          {% for r in rrss %}
          <a href="{{r.Link}}" rel="noopener, noreferrer" target="_blank"><em class="icon-{{r.Name}}"></em></a>
          {% endfor %}
        </div>

        <!-- Links movil -->
        <div class="mobile-listado">
            <a href="{{langs[L].pages['rooms'].url}}.html">{{langs[L].pages['rooms'].text}}</a><span class="sep">| </span>
            <a href="{{langs[L].pages['advantages'].url}}.html">{{langs[L].pages['advantages'].text}}</a><span class="sep"> | </span>
            <a href="{{langs[L].pages['about'].url}}.html">{{langs[L].pages['about'].text}}</a><span class="sep"> | </span>
            <a href="{{langs[L].pages['faqs'].url}}.html">{{langs[L].pages['faqs'].text}}</a><span class="sep"> | </span>
            <a href="{{langs[L].pages['contact'].url}}.html">{{langs[L].pages['contact'].text}}</a><span class="sep"> | </span>
            <a href="{{langs[L].pages['privacy'].url}}.html">{{langs[L].pages['privacy'].text}}</a><span class="sep"> | </span>
            <a href="{{langs[L].pages['legal'].url}}.html">{{langs[L].pages['legal'].text}}</a><span class="sep"> | </span>
            <a href="{{langs[L].pages['datasecurity'].url}}.html">{{langs[L].pages['datasecurity'].text}}</a>
        </div>

      </div>

  </div>

  <div class="footer-info desktop pure-g">

    <!-- Redes sociales -->
    <div class="redes pure-u-2-5">
      {% for r in rrss %}
      <a href="{{r.Link}}" rel="noopener, noreferrer" target="_blank"><em class="icon-{{r.Name}}"></em></a>
      {% endfor %}
    </div>

    <!-- Headquarters -->
    <div class="info-desktop pure-u-3-5">
      {% for o in offices %}
      {% if loop.index == 1 %}
      <p>{{o.Phone}}</p>
      <p>{{o.Email}}</p>
      <p>{{o.Address}}</p>
      {% endif %}
      {% endfor %}
    </div>

  </div>

</section>

</footer>

{% set script %}

<!-- JS / Common -->
{% include "shared/js/common.js" %}

<!-- JS / UTM -->
// Coming from somewhere
if (!document.referrer.includes('{{globals.url}}')) {

  // Get UTM from querystring
  var urlParams = new URLSearchParams(window.location.search);
  var utmSource = urlParams.get('utm_source');
  var utmCampaign = urlParams.get('utm_campaign');
  var utmMedium = urlParams.get('utm_medium');

  // Generate UTM if not passed
  if (!utmSource && !utmCampaign && !utmMedium) {
    if (!document.referrer) {
      utmMedium='direct';
    } else if (document.referrer.includes('google')) {
      utmMedium='organic'
      utmSource='google';
    } else if (document.referrer.includes('bing')) {
      utmMedium='organic'
      utmSource='bing';
    } else {
      utmMedium='referral'
      utmSource=document.referrer;
    };
  }

  // Save
  sessionStorage.setItem('utm_source', utmSource);
  sessionStorage.setItem('utm_campaign', utmCampaign);
  sessionStorage.setItem('utm_medium', utmMedium);
}

// Debug
utmSource   = sessionStorage.getItem('utm_source');
utmCampaign = sessionStorage.getItem('utm_campaign');
utmMedium   = sessionStorage.getItem('utm_medium');

<!-- JS / Banner -->
{% for b in banners | find('Page', 'eq', 'home') %}
{% if loop.index == 1 and b | length > 0 %}
// Banner
window.onload = function() {
  const item = "banner_{{b.id}}"
  if (sessionStorage.getItem('banner') != item)
    document.getElementById(item).classList.remove("hidden");
}
{% endif %}
{% endfor %}
function ocultarBannerMobile(item) {
    document.getElementById(item).style.display = 'none';
    document.getElementById(item).classList.add('hidden');
    sessionStorage.setItem('banner', item);
}
{% endset %}<script>{{ script | jsmin | safe }}</script>