<!-- Additional HEAD content -->
{% block head %}
<!--{% set css %}{% include "shared/css/blog.css" %}{% endset %}<style>{{ css | cssmin | safe }}</style>-->
<link rel="stylesheet" href="{{root}}/assets/css/blog.css">
{% endblock %}

<!-- Main -->
<main class="post-page {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}">
  <div class="container-main">
    <section class="post-content">

      {% if site == 'vanguard' %}
        <div class="h1-container">
          <h1>{{post | translate('Title', L)}}</h1>
        </div>
        {% image
          constants.SERVER + "/wopi/files/Marketing/Post/" + post.id +"/Image/contents?access_token=" + token,
          post.Title, post.Slug | slugify, "",
          [1280], ""
        %}
        <div class="text pure-u-1 pure-u-18-24">
          <div class="text-content">
            {{ post | translate('Content', L) | markdown | images(L, post.Images, constants.SERVER + "/wopi/files/Marketing/Media_post/{ID}/Image/contents?access_token=" + token) | safe }}
          </div>
        </div>
      {% else %}
        <section class="first-contain pure-u-1">
          <div class="img-post pure-u-1">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Post/" + post.id +"/Image/contents?access_token=" + token,
              post.Title, post.Slug | slugify, "",
              [1280], ""
            %}
          </div>       
          <div class="title-big pure-u-8-24 pure-u-lg-6-24">       
            <div class="green-title cotown">
              <h2 class="title">{% for t in post.Tags %}{% if loop.index > 1 %}, {% endif %}{{t.Tag | translate('Name', L)}}{% endfor %}</h2>
            </div>
            <div class="h1-big">
              <h1>{{post | translate('Title', L)}}</h1>
            </div>
            <div class="title pure-u-1">        
              <p class="subtitle">
                {{post | translate('Subtitle', L)}}
              </p>
            </div>
          </div>         
        </section>
        <div class="text pure-u-1 {% if site == 'vanguard' %} pure-u-lg-18-24 {% else %} pure-u-lg-20-24 {% endif %}">
          <div class="text-content pure-u-23-24">
            {{ post | translate('Content', L) | markdown | images(L, post.Images, constants.SERVER + "/wopi/files/Marketing/Media_post/{ID}/Image/contents?access_token=" + token) | safe }}
          </div>
        </div>
      {% endif %}
    </section>

    





    <section class="like-content pure-u-1">
      <div class="like pure-u-1 {% if site == 'vanguard' %} pure-u-lg-7-12 {% else %} cotown {% endif %} ">

        <div class="text pure-u-22-24 pure-u-lg-15-24">
          <h3>{% literal texts, 'post-te-ha-gustado', L %}</h3>
          <p>{% literal texts, 'post-comparte', L %}</p>
        </div>

        <!-- TODO: link para compartir, no a la RRSS -->
        <div class="redes pure-u-22-24 pure-u-lg-7-24">
          <a href="whatsapp://send?text={{page.url}}" rel="noopener, noreferrer" target="_blank"><em class="icon-whatsapp"></em></a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=#{{page.url}}" rel="noopener, noreferrer" target="_blank"><em class="icon-facebook"></em></a>
          <a href="https://www.instagram.com/?url={{page.url}}" rel="noopener, noreferrer" target="_blank"><em class="icon-instagram"></em></a>
          <a href="https://www.tiktok.com/share?url={{page.url}}" rel="noopener, noreferrer" target="_blank"><em class="icon-tiktok"></em></a>
        </div>

      </div>
    </section>

  </div>
</main>
