<section class="first-contain">   
  <div id="video" class="video-loc">
  <div class="text-container">
    <div class="description text">        
      {{location.Texts[0] | translate('Details', L) | markdown | safe }}
    </div>
    <h2>{{location | translate('Name', L)}}</h2>
  </div>
    <!--
    <div class="opacity"></div> 
    -->
    <div>
      {% for i in location.Images | find ('Image_type', 'eq', 'landing') %}
      {% if loop.index == 1 %}
      {% image
        constants.SERVER + "/wopi/files/Marketing/Media_location/" + i.id +"/Image/contents?access_token=" + token,
        location.Name, location.Name + '-' + i.id | slugify, "video",
        [1600], ""
      %}
      {% endif %}
      {% endfor %}
      <!--
      <video 
        playsinline="true" width="100%" style="object-fit: cover;" 
        autoplay="true" muted="true" loop="true" preload="auto" controls="1">
        Sorry, your browser doesn't support embedded videos.
        <source type="video/mp4" src="{{root}}/assets/video/{{location.Name | slugify}}.mp4">
      </video>
      <div class="img only-mobile pure-u-1">
        {% for i in location.Images | find ('Image_type', 'eq', 'landing') %}
        {% if loop.index == 1 %}
        {% image
          constants.SERVER + "/wopi/files/Marketing/Media_location/" + i.id +"/Image/contents?access_token=" + token,
          location.Name, location.Name + '-' + i.id | slugify, "",
          [600], ""
        %}
        {% endif %}
        {% endfor %}
      </div>
      -->
    </div>    
  </div>
</section>