<section class="photos">

  <div class="splide splide-gallery" role="group">
    <div class="splide__track">
      <ul class="splide__list">
        {% for f in location.Images | find('Image_type', 'eq', 'galeria') %}
        <li class="splide__slide">
          <div class="img">
          {% image
            constants.SERVER + "/wopi/files/Marketing/Media_location/" + f.id +"/Image/contents?access_token=" + token,
            f.Name, location.Name + '_' + f.id | slugify, "",
            [400], ""
          %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</section>