<section class="servicios">
 <div class="text-container">
    <h2 class="title">
      Todos nuestros servicios
      {% literal texts, 'locations-todos-nuestros-servicios', L %}
    </h2>
    <p class="subtitle">
      Descubre todo lo que tendrás en tu nuevo hogar
      {% literal texts, 'locations-descubre-todo', L %}
    </p>
  </div>
  <div class="swiffy-slider slider-item-show4 slider-item-show2-sm slider-item-reveal slider-item-ratio slider-item-ratio-16x9 slider-nav-visible slider-indicators-round">
      <ul class="slider-container">

        {% for s in services %}
        <div class="img-container">
          <div class="img-content">
            {% image 
                constants.SERVER + "/wopi/files/Building/Building_service_type/" + s.id +"/Icon/contents?access_token=" + token, 
                s.Name, s.Name|slug, "service",
                [100], ""
            %}
            <h3 class="title">{{s | translate('Name', L)}}</h3>
            <p class="text">{{s | translate('Description', L)}}</p>
          </div>            
        </div>
        {% endfor %}

        <!--
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/common-areas-cleaning.svg" class="service">
          <h3 class="title">SERVICIO DE LIMPIEZA</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/maintenance.svg" class="service">
          <h3 class="title">SERVICIO DE MANTENIMIENTO</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/wifi.svg" class="service">
          <h3 class="title">WI-FI</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/bathroom.svg" class="service">
          <h3 class="title">SUMINISTROS: AGUA, LUZ Y GAS</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/air-conditioner.svg" class="service">
          <h3 class="title">SERVICIO DE LIMPIEZA</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/air-conditioner.svg" class="service">
          <h3 class="title">SERVICIO DE LIMPIEZA</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/air-conditioner.svg" class="service">
          <h3 class="title">SERVICIO DE LIMPIEZA</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        -->

      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>

      <ul class="slider-indicators">
        {% for s in services %}
        <li {% if loop.index == 1 %}class="active"{% endif%}></li>
        {% endfor %}
      </ul>

  </div>

  <div class="swiffy-slider slider-item-show4 slider-item-show2-sm slider-item-reveal slider-item-ratio slider-item-ratio-16x9 slider-nav-visible slider-indicators-round slider-nav-animation slider-nav-mousedrag">
      <ul class="slider-container">
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/common-areas-cleaning.svg" class="service">
          <h3 class="title">SERVICIO DE LIMPIEZA</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/maintenance.svg" class="service">
          <h3 class="title">SERVICIO DE MANTENIMIENTO</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/wifi.svg" class="service">
          <h3 class="title">WI-FI</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/bathroom.svg" class="service">
          <h3 class="title">SUMINISTROS: AGUA, LUZ Y GAS</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/air-conditioner.svg" class="service">
          <h3 class="title">SERVICIO DE LIMPIEZA</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/air-conditioner.svg" class="service">
          <h3 class="title">SERVICIO DE LIMPIEZA</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>
        <div class="img-container">
          <div class="img-content">
          <img src="./../../../..//src/assets/images/icons-green/air-conditioner.svg" class="service">
          <h3 class="title">SERVICIO DE LIMPIEZA</h3>
          <p class="text">Mary Poppins se largó por la ventana, pero tenemos reemplazo. Todo controlado, tu descansa.</p>
          </div>            
        </div>

      </ul>
      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>
      <ul class="slider-indicators">
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
  </div>

</section>